<!-- ========================= About our section start ========================= -->
<section class="py-110">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="position-relative">
                    <span data-aos="zoom-in" data-aos-duration="1500">
                        <img src="assets/images/thumbs/about-our-seven-img1.png" alt="img" >
                    </span>
                    <div class="position-absolute bottom-0 tw-start-0" data-aos="fade-right" data-aos-duration="600">
                        <h2 class="fw-medium text-main-600 tw-mb-2 counter tw-text-108-px">45+</h2>
                        <span class="fw-medium tw-text-4 text-main-600 fst-italic">Years Of Experience</span>
                    </div>
                    <img src="assets/images/shape/about-our-seven-sahpe1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt-17 d-lg-block d-none animation-upDown">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="max-w-550-px w-100">
                    <span class="fw-medium tw-text-305 text-main-600 fst-italic tw-mb-6 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">ABOUT OUR UNIVERSITY</span>
                    <h2 class="fw-medium text-main-two-600 tw-text-52-px tw-mb-10" data-aos="fade-up" data-aos-duration="800">We are One of The Largest, Most Diverse Universities in the USA</h2>
                    <div class="d-flex align-items-center tw-gap-6 tw-mb-8" data-aos="fade-up" data-aos-duration="1000">
                        <span class="tw-w-1 tw-h-74-px bg-main-600 flex-shrink-0 d-md-block d-none"></span>
                        <p class="fw-normal text-neutral-400 tw-text-405">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust, and grow with confidence.</p>
                    </div>
                    <div class="d-flex align-items-start tw-gap-5 flex-sm-nowrap flex-wrap tw-mb-10" data-aos="fade-up" data-aos-duration="1200">
                        <img src="assets/images/icon/about-our-seven-icon1.png" alt="icon">
                        <div>
                            <h2 class="h6 fw-semibold text-neutral-800 tw-mb-3">Classified Certificate</h2>
                            <p class="fw-normal tw-text-4 text-neutral-400">World-class training and programs developed by top teachers Habitant duis voluptate.</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-start tw-gap-5 flex-sm-nowrap flex-wrap" data-aos="fade-up" data-aos-duration="1300">
                        <img src="assets/images/icon/about-our-seven-icon2.png" alt="icon">
                        <div>
                            <h2 class="h6 fw-semibold text-neutral-800 tw-mb-3">Trusted by Students</h2>
                            <p class="fw-normal tw-text-4 text-neutral-400">World-class training and programs developed by top teachers Habitant duis voluptate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= About our section end ========================= -->