<!-- ==================== About me top section start ================== -->
<section class="pt-120 tw-mb-106-px position-relative">
    <img src="assets/images/shape/about-me-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-160px animated-upDown d-lg-block d-none z-n1">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-4 col-sm-6" data-aos="zoom-in" data-aos-duration="600">
                 <div class="bg-white tw-rounded-md tw-pt-7 tw-pb-5 tw-px-6 about-me-two-shadow animation-item">
                    <div class="d-flex tw-gap-3 justify-content-between flex-md-nowrap flex-wrap tw-mb-10">
                            <img src="assets/images/icon/about-me-icon1.png" alt="icon" class="tw-w-11 tw-h-11 animate__swing">
                        <div>
                            <h4 class="fw-semibold text-neutral-800 tw-mb-7">Online Coures</h4>
                            <p class="fw-normal tw-text-4 text-neutral-300">You can learn any lesson on the go. You will confident creatin your own healthy meals</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="fw-bold tw-text-4 text-neutral-500 tw-w-8">01</span>
                        <span class="w-100 border-gray-50 tw-border-dashed border tw-h-px tw-ms-1"></span>
                        <div class="position-relative z-2">
                            <a href="javascript:void(0)" class="online-coures-link tw-w-9 tw-h-9 bg-warning-500 rounded-circle d-flex align-items-center justify-content-center tw-text-4 text-neutral-700">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="zoom-in" data-aos-duration="800">
                 <div class="bg-white tw-rounded-md tw-pt-7 tw-pb-5 tw-px-6 about-me-two-shadow animation-item">
                    <div class="d-flex tw-gap-3 justify-content-between flex-md-nowrap flex-wrap tw-mb-10">
                            <img src="assets/images/icon/about-me-icon2.png" alt="icon" class="tw-w-11 tw-h-11 animate__swing">
                        <div>
                            <h4 class="fw-semibold text-neutral-800 tw-mb-7">Master Skills</h4>
                            <p class="fw-normal tw-text-4 text-neutral-300">You can learn any lesson on the go. You will confident creatin your own healthy meals</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="fw-bold tw-text-4 text-neutral-500 tw-w-8">02</span>
                        <span class="w-100 border-gray-50 tw-border-dashed border tw-h-px tw-ms-1"></span>
                        <div class="position-relative z-2">
                            <a href="javascript:void(0)" class="online-coures-link tw-w-9 tw-h-9 bg-warning-500 rounded-circle d-flex align-items-center justify-content-center tw-text-4 text-neutral-700">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="zoom-in" data-aos-duration="1000">
                 <div class="bg-white tw-rounded-md tw-pt-7 tw-pb-5 tw-px-6 about-me-two-shadow animation-item">
                    <div class="d-flex tw-gap-3 justify-content-between flex-md-nowrap flex-wrap tw-mb-10">
                            <img src="assets/images/icon/about-me-icon3.png" alt="icon" class="tw-w-11 tw-h-11 animate__swing">
                        <div>
                            <h4 class="fw-semibold text-neutral-800 tw-mb-7">Recipes</h4>
                            <p class="fw-normal tw-text-4 text-neutral-300">You can learn any lesson on the go. You will confident creatin your own healthy meals</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="fw-bold tw-text-4 text-neutral-500 tw-w-8">03</span>
                        <span class="w-100 border-gray-50 tw-border-dashed border tw-h-px tw-ms-1"></span>
                        <div class="position-relative z-2">
                            <a href="javascript:void(0)" class="online-coures-link tw-w-9 tw-h-9 bg-warning-500 rounded-circle d-flex align-items-center justify-content-center tw-text-4 text-neutral-700">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== About me top section end =================== -->

<!-- ================= About me section start ===================== -->
<section class="position-relative">
    <img src="assets/images/shape/about-me-shape2.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-220px tw-ms-190px d-lg-block d-none animated-upDown z-n1">
    <img src="assets/images/shape/arrow-shape.png" alt="shape" class="position-absolute bottom-0 tw-end-0 d-lg-block d-none tw-mb-7 tw-me-134px animate__wobble__two z-n1">
    <img src="assets/images/shape/about-me-shape3.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt--160px tw-me-150px scale-animation z-n1 d-lg-block d-none">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6">
                <span class="bg-white tw-rounded-xl tw-px-305 tw-py-305 about-me-two-shadow tw-mb-15" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/thumbs/about-me-img1.png" alt="" class="tw-rounded-xl">
                </span>
                <h4 class="fw-semibold text-neutral-800 tw-mb-7" data-aos="fade-up" data-aos-duration="600">Welcome To Professional Kitchen
                <br>
                Coach Courses</h4>
                <div class="d-flex align-items-center tw-gap-7 flex-wrap" data-aos="fade-up" data-aos-duration="800">
                    <div>
                        <div class="d-flex align-items-center tw-gap-105 tw-mb-5">
                            <span class="text-danger-600 tw-text-505">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-405 text-neutral-300">Cooking award achived</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-105">
                            <span class="text-danger-600 tw-text-505">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-405 text-neutral-300">Online Certification</span>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center tw-gap-105 tw-mb-5">
                            <span class="text-danger-600 tw-text-505">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-405 text-neutral-300">Available online courses</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-105">
                            <span class="text-danger-600 tw-text-505">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-medium tw-text-405 text-neutral-300">Online Certifications</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <span class="tw-py-1 tw-px-5 bg-danger-50 tw-rounded-sm fw-medium tw-text-305 text-danger-600 tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">ABOUT ME</span>
                <h3 class="fw-semibold text-neutral-600 tw-mb-5" data-aos="fade-up" data-aos-duration="800">Best Online Program and Course to Enroll for Exchange</h3>
                <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-8" data-aos="fade-up" data-aos-duration="1000">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust, and grow with confidence.</p>
                <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-17" data-aos="fade-up" data-aos-duration="1200">
                    <a href="account-page.html" class="banner-two-link btn btn-main-five text-white hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 rounded-pill tw-border-bottom-7-px" data-block="button">
                        <span class="button__flair"></span>
                        <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-danger-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                            <i class="ph ph-caret-right"></i>
                        </span>
                        <span class="button__label fw-medium">Request a Menu</span>
                    </a>
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-text-11 text-danger-600">
                            <i class="ph ph-headset"></i>
                        </span>
                        <div>
                            <span class="text-neutral-900 d-block tw-mb-2">Call Us</span>
                            <a href="tel:(635)5258-4250" class="fw-semibold tw-text-405 text-neutral-800">(635) 5258-4250</a>
                        </div>
                    </div>
                </div>
                <span class="bg-white tw-rounded-xl tw-px-3 tw-py-3 about-me-two-shadow" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/thumbs/about-me-img2.png" alt="img" class="tw-rounded-xl">
                </span>
            </div>
        </div>
    </div>
</section>
<!-- ================= About me section end ===================== -->