<!-- ============================== about eduly section start ============================ -->
<section class="pb-100">
    <div class="mb-100">
        <div class="container">
            <div class="position-relative">
                <div class="max-w-900-px w-100 position-absolute bottom-0 tw-start-0 w-100 tw-mb--90-px d-md-block d-none">
                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-5">
                        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <h3 class="fw-semibold text-main-600 tw-mb-2 counter">
                                689+
                            </h3>
                            <span class="fw-normal tw-text-405 text-neutral-400">
                                Courses
                            </span>
                        </div>
                        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            <h3 class="fw-semibold text-main-600 tw-mb-2 counter">
                                90%
                            </h3>
                            <span class="fw-normal tw-text-405 text-neutral-400">
                                Success Rate
                            </span>
                        </div>
                        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                            <h3 class="fw-semibold text-main-600 tw-mb-2 counter">
                                36K+
                            </h3>
                            <span class="fw-normal tw-text-405 text-neutral-400">
                                Five-star Reviews
                            </span>
                        </div>
                        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                            <h3 class="fw-semibold text-main-600 tw-mb-2 counter">
                                5843+
                            </h3>
                            <span class="fw-normal tw-text-405 text-neutral-400">
                                Students worldwide
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row gy-4">
                    <div class="col-xl-6">
                        <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-main-50 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                                <i class="ph-fill ph-star-four"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-main-600">
                               About Eduly
                            </span>
                        </div>
                        <h3 class="fw-semibold text-neutral-950 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            Online Learning Solutions That Meet Your Needs.
                        </h3>
                        <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-9" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                           Take classes on the go with the educrat app. Stream or download to watch on the plane, the subway, or wherever you learn best.
                        </p>
                        <div class="d-flex align-items-center tw-gap-4 animation-item flex-sm-nowrap flex-wrap tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                            <span class="tw-w-88-px tw-h-88-px rounded-circle border-main-100 border d-flex align-items-center justify-content-center flex-shrink-0">
                                <img src="assets/images/icon/about-eduly-icon1.png" alt="icon" class="animate__bounce">
                            </span>
                            <div>
                                <h5 class="fw-semibold text-neutral-500 tw-mb-3">
                                    Top Instructors
                                </h5>
                                <p class="fw-normal tw-text-405 text-neutral-400">
                                    Take classes on the go with the educrat app. Stream or download to watch on the plane, the subway, or wherever you learn best.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                            <div class="d-flex flex-column tw-gap-3">
                                <div class="d-flex align-items-center tw-gap-1">
                                    <span class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-check-fat"></i>
                                    </span>
                                    <span class="fw-normal tw-text-405 text-neutral-400">
                                        Full lifetime access
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-1">
                                    <span class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-check-fat"></i>
                                    </span>
                                    <span class="fw-normal tw-text-405 text-neutral-400">
                                        20+ downloadable resources
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex flex-column tw-gap-3">
                                <div class="d-flex align-items-center tw-gap-1">
                                    <span class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-check-fat"></i>
                                    </span>
                                    <span class="fw-normal tw-text-405 text-neutral-400">
                                        Certificate of completion
                                    </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-1">
                                    <span class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-check-fat"></i>
                                    </span>
                                    <span class="fw-normal tw-text-405 text-neutral-400">
                                       Free Trial 7 Days
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a href="about-us.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-5 tw-px-6 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-main-600 border" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                            <span class="button__flair"></span>
                            <span class="button__label fw-bold tw-text-4">More About Us</span>
                        </a>
                    </div>
                    <div class="col-xl-6" data-aos="zoom-in" data-aos-duration="1500">
                        <span class="d-flex justify-content-center">
                            <img src="assets/images/thumbs/about-eduly-img1.png" alt="images">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== about eduly section end ============================ -->

