<!-- ======================== about us section start ======================== -->
<div class="bg-main-50 tw-pt-300-px tw-mt--200-px pb-100">
    <div class="container max-w-1700-px">
        <span class="fw-semibold tw-text-148-px text-main-100 d-flex justify-content-center">
            UNIVERSITY OVERVIEW
        </span>
    </div>
    <div class="tw-mt--70-px position-relative">
        <img src="assets/images/shape/about-us-three-shap1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt-120-px tw-me-134px d-xl-block d-none animation-rotate-right">
        <div class="container">
            <div class="row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 row gy-4">
                <div class="col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="group bg-img">
                        <div class="bg-white bg-img tw-px-6 tw-pt-10 tw-pb-13 tw-rounded-xl animation-item text-center position-relative group-hover-shadow-about-us-three tw-duration-300">
                            <img src="assets/images/icon/about-us-three-icon1.png" alt="icon" class="tw-mb-5 animate__swing">
                            <h6 class="fw-semibold text-neutral-500 tw-mb-6">
                                Why study at Eduly?
                            </h6>
                            <p class="fw-normal tw-text-4 text-neutral-400">
                                Learn how to create by structuring.
                            </p>
                            <button type="button" class="tw-w-14 tw-h-14 bg-main-50 rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 translate-middle-x tw-start-50 tw-mb--28-px">
                                <span class="tw-w-11 tw-h-11 bg-white rounded-circle  d-flex align-items-center justify-content-center tw-text-405 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="group bg-img">
                        <div class="bg-white bg-img tw-px-6 tw-pt-10 tw-pb-13 tw-rounded-xl animation-item text-center position-relative group-hover-shadow-about-us-three tw-duration-300">
                            <img src="assets/images/icon/about-us-three-icon2.png" alt="icon" class="tw-mb-5 animate__swing">
                            <h6 class="fw-semibold text-neutral-500 tw-mb-6">
                               Certification Guarantee
                            </h6>
                            <p class="fw-normal tw-text-4 text-neutral-400">
                                Learn how to create by structuring.
                            </p>
                            <button type="button" class="tw-w-14 tw-h-14 bg-main-50 rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 translate-middle-x tw-start-50 tw-mb--28-px">
                                <span class="tw-w-11 tw-h-11 bg-white rounded-circle  d-flex align-items-center justify-content-center tw-text-405 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="group bg-img">
                        <div class="bg-white bg-img tw-px-6 tw-pt-10 tw-pb-13 tw-rounded-xl animation-item text-center position-relative group-hover-shadow-about-us-three tw-duration-300">
                            <img src="assets/images/icon/about-us-three-icon3.png" alt="icon" class="tw-mb-5 animate__swing">
                            <h6 class="fw-semibold text-neutral-500 tw-mb-6">
                               Graduate Admissions
                            </h6>
                            <p class="fw-normal tw-text-4 text-neutral-400">
                                Learn how to create by structuring.
                            </p>
                            <button type="button" class="tw-w-14 tw-h-14 bg-main-50 rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 translate-middle-x tw-start-50 tw-mb--28-px">
                                <span class="tw-w-11 tw-h-11 bg-white rounded-circle  d-flex align-items-center justify-content-center tw-text-405 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <div class="group bg-img">
                        <div class="bg-white bg-img tw-px-6 tw-pt-10 tw-pb-13 tw-rounded-xl animation-item text-center position-relative group-hover-shadow-about-us-three tw-duration-300">
                            <img src="assets/images/icon/about-eduly-icon1.png" alt="icon" class="tw-mb-5 animate__swing">
                            <h6 class="fw-semibold text-neutral-500 tw-mb-6">
                              Scholarships & fees
                            </h6>
                            <p class="fw-normal tw-text-4 text-neutral-400">
                                Learn how to create by structuring.
                            </p>
                            <button type="button" class="tw-w-14 tw-h-14 bg-main-50 rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 translate-middle-x tw-start-50 tw-mb--28-px">
                                <span class="tw-w-11 tw-h-11 bg-white rounded-circle  d-flex align-items-center justify-content-center tw-text-405 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <div class="group bg-img">
                        <div class="bg-white bg-img tw-px-6 tw-pt-10 tw-pb-13 tw-rounded-xl animation-item text-center position-relative group-hover-shadow-about-us-three tw-duration-300">
                            <img src="assets/images/icon/about-us-three-icon4.png" alt="icon" class="tw-mb-5 animate__swing">
                            <h6 class="fw-semibold text-neutral-500 tw-mb-6">
                              Campus Life of University
                            </h6>
                            <p class="fw-normal tw-text-4 text-neutral-400">
                                Learn how to create by structuring.
                            </p>
                            <button type="button" class="tw-w-14 tw-h-14 bg-main-50 rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 translate-middle-x tw-start-50 tw-mb--28-px">
                                <span class="tw-w-11 tw-h-11 bg-white rounded-circle  d-flex align-items-center justify-content-center tw-text-405 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>      
<!-- ======================== about us section end ======================== -->



