<!-- ======================= about us banner section start ========================== -->
<section style="background-image: url(assets/images/bg/about-us-bg-img.png);" class="bg-img py-140 z-2 overflow-hidden">
    <div class="container">
        <div class="position-relative">
            <img src="assets/images/shape/banner-five-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 z-n1 d-lg-block d-none animation-scalation">
            <img src="assets/images/shape/about-us-five-shape2.png" alt="shape" class="position-absolute tw-end-0 bottom-0 tw-mb-80-px animation-scalation d-lg-block d-none">
            <div class="text-center">
                <div class="d-flex align-items-center justify-content-center tw-gap-2 tw-mb-6">
                    <a href="index.html" class="fw-normal tw-text-405 text-neutral-300">
                        Home
                    </a>
                    <span class="tw-text-405 text-neutral-300">/</span>
                    <span class="fw-normal tw-text-405 text-neutral-300">
                        About eduly
                    </span>
                </div>
                <h3 class="fw-bold text-neutral-600">About eduly</h3>
            </div>
        </div>
    </div>
</section>
<!-- ======================= about us banner section end ========================== -->