<!-- ========================== about us section start ================================ -->
 <section class="py-110 position-relative ">
    <img src="assets/images/shape/about-us-five-shape2.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-100px tw-me-180px d-lg-block d-none animation-scalation">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="position-relative">
                    <div class="d-flex align-items-start justify-content-start ">
                        <img src="assets/images/thumbs/about-us-five-img1.png" alt="img" data-aos="zoom-in" data-aos-duration="1500">
                    </div>
                    <img src="assets/images/shape/about-us-five-shape1.png" alt="shape" class="position-absolute tw-start-0 bottom-0 tw-mb-17 tw-ms-17 d-lg-block d-none ">
                    <img src="assets/images/shape/banner-five-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt-17 z-n1 tw-mt-130-px d-lg-block d-none animation-scalation">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex justify-content-end">
                    <div class="max-w-590-px w-100">
                        <span class="tw-py-1 tw-px-5 bg-main-50 text-main-600 tw-rounded-sm tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                            ABOUT US
                        </span>
                        <h3 class="fw-medium text-neutral-600 tw-mb-7" data-aos="fade-up" data-aos-duration="800">Best Online Learn & Course to Enroll for Exchange</h3>
                        <p class="fw-normal tw-text-405 text-neutral-400 tw-mb-8" data-aos="fade-up" data-aos-duration="1000">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust, and grow with confidence.</p>
                        <div class="tw-mb-10" data-aos="fade-up" data-aos-duration="1200">
                            <div class="d-flex align-items-center tw-gap-205 tw-mb-5">
                                <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                <span class="fw-medium tw-text-405 text-neutral-400">Global Learning Program</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-205 tw-mb-5">
                                <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                <span class="fw-medium tw-text-405 text-neutral-400">Interactive Online Learning Course</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-205">
                                <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                <span class="fw-medium tw-text-405 text-neutral-400">Daily Online Practice App</span>
                            </div>
                        </div>
                        <a href="about-us.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="1300">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Get Started Today</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ========================== about us section end =============================== -->