<!-- ========================== about tab section start ========================= -->
<div class="row gy-4">
    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
        <div class="tw-py-1 tw-px-1 tw-rounded-xl border-main-200 border animation-item">
            <div class="position-relative tw-mb-5">
                <span class="w-100 overflow-hidden tw-rounded-xl">
                    <img src="assets/images/thumbs/about-univercity-three-tab-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                </span>
                <div class="position-absolute top-0 tw-start-0 tw-mt-2 tw-ms-2">
                    <span class="bg-white tw-py-2 tw-ps-4 tw-pe-5 rounded-pill d-flex align-items-center tw-gap-1 text-main-600 fw-medium tw-text-4">
                        <span class="tw-text-4 text-main-600">
                            <i class="ph-bold ph-clock"></i>
                        </span>
                        Online + Onsite
                    </span>
                </div>
            </div>
            <div class="tw-px-5 tw-pb-7">
                <span class="bg-main-50 text-main-600 fw-medium tw-text-4 tw-py-2 tw-px-5 rounded-pill tw-mb-3">
                    Programing
                </span>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-text-405 text-main-600 tw-mt-1">
                            <i class="ph-fill ph-graduation-cap"></i>
                        </span>
                        <span class="fw-normal  tw-text-4 text-neutral-100">
                            Lessons: <strong class="text-neutral-300">34</strong>
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-text-405 text-main-600 tw-mt-1">
                            <i class="ph-fill ph-graduation-cap"></i>
                        </span>
                        <span class="fw-normal  tw-text-4 text-neutral-100">
                            Students : <strong class="text-neutral-300">654+</strong>
                        </span>
                    </div>
                </div>
                <h5>
                    <a href="course-details.html" class="fw-semibold text-neutral-500 tw-mb-3">
                        Advanced Java Programming with Eclipse
                    </a>
                </h5>
                <p class="fw-normal tw-text-4 text-neutral-500 tw-mb-6">
                    Take classes on the go with the educrat app. Stream or download to watch on the plane, the subway, or wherever...
                </p>
                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                    <h5 class="fw-semibold text-main-600">
                        $645.00
                    </h5>
                    <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">View Details</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
        <div class="tw-py-1 tw-px-1 tw-rounded-xl border-main-200 border animation-item">
            <div class="position-relative tw-mb-5">
                <span class="w-100 overflow-hidden tw-rounded-xl">
                    <img src="assets/images/thumbs/about-univercity-three-tab-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                </span>
                <div class="position-absolute top-0 tw-start-0 tw-mt-2 tw-ms-2">
                    <span class="bg-white tw-py-2 tw-ps-4 tw-pe-5 rounded-pill d-flex align-items-center tw-gap-1 text-main-600 fw-medium tw-text-4">
                        <span class="tw-text-4 text-main-600">
                            <i class="ph-bold ph-clock"></i>
                        </span>
                        Motivation
                    </span>
                </div>
            </div>
            <div class="tw-px-5 tw-pb-7">
                <span class="bg-main-50 text-main-600 fw-medium tw-text-4 tw-py-2 tw-px-5 rounded-pill tw-mb-3">
                    Programing
                </span>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-text-405 text-main-600 tw-mt-1">
                            <i class="ph-fill ph-graduation-cap"></i>
                        </span>
                        <span class="fw-normal  tw-text-4 text-neutral-100">
                            Lessons: <strong class="text-neutral-300">34</strong>
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-text-405 text-main-600 tw-mt-1">
                            <i class="ph-fill ph-graduation-cap"></i>
                        </span>
                        <span class="fw-normal  tw-text-4 text-neutral-100">
                            Students : <strong class="text-neutral-300">654+</strong>
                        </span>
                    </div>
                </div>
                <h5>
                    <a href="course-details.html" class="fw-semibold text-neutral-500 tw-mb-3">
                        Effective Teamwork & Project Management
                    </a>
                </h5>
                <p class="fw-normal tw-text-4 text-neutral-500 tw-mb-6">
                    Take classes on the go with the educrat app. Stream or download to watch on the plane, the subway, or wherever...
                </p>
                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                    <h5 class="fw-semibold text-main-600">
                        $645.00
                    </h5>
                    <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">View Details</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
        <div class="tw-py-1 tw-px-1 tw-rounded-xl border-main-200 border animation-item">
            <div class="position-relative tw-mb-5">
                <span class="w-100 overflow-hidden tw-rounded-xl">
                    <img src="assets/images/thumbs/about-univercity-three-tab-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                </span>
                <div class="position-absolute top-0 tw-start-0 tw-mt-2 tw-ms-2">
                    <span class="bg-white tw-py-2 tw-ps-4 tw-pe-5 rounded-pill d-flex align-items-center tw-gap-1 text-main-600 fw-medium tw-text-4">
                        <span class="tw-text-4 text-main-600">
                            <i class="ph-bold ph-clock"></i>
                        </span>
                        Online + Onsite
                    </span>
                </div>
            </div>
            <div class="tw-px-5 tw-pb-7">
                <span class="bg-main-50 text-main-600 fw-medium tw-text-4 tw-py-2 tw-px-5 rounded-pill tw-mb-3">
                    Programing
                </span>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-text-405 text-main-600 tw-mt-1">
                            <i class="ph-fill ph-graduation-cap"></i>
                        </span>
                        <span class="fw-normal  tw-text-4 text-neutral-100">
                            Lessons: <strong class="text-neutral-300">34</strong>
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="tw-text-405 text-main-600 tw-mt-1">
                            <i class="ph-fill ph-graduation-cap"></i>
                        </span>
                        <span class="fw-normal  tw-text-4 text-neutral-100">
                            Students : <strong class="text-neutral-300">654+</strong>
                        </span>
                    </div>
                </div>
                <h5>
                    <a href="course-details.html" class="fw-semibold text-neutral-500 tw-mb-3">
                        Web Development Masterclass & Certifications
                    </a>
                </h5>
                <p class="fw-normal tw-text-4 text-neutral-500 tw-mb-6">
                    Take classes on the go with the educrat app. Stream or download to watch on the plane, the subway, or wherever...
                </p>
                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                    <h5 class="fw-semibold text-main-600">
                        $645.00
                    </h5>
                    <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">View Details</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================== about tab section end ========================= -->