<!-- ======================= about section start ======================= -->
<section class="py-100 position-relative ">
    <img src="assets/images/shape/working-process-two-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 tw-mb-150-px d-lg-block d-none animation-upDown">
    <img src="assets/images/shape/about-univercity-three-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt-120-px animation-upDown d-xl-block d-none">
    <div class="container">
        <div class="position-relative">
            <img src="assets/images/shape/banner-shape-3.png" alt="shape" class="position-absolute top-0 tw-start-0 animation-scalation d-xl-block d-none">
            <div class="d-flex justify-content-center">
                <div class="max-w-680-px text-center">
                    <div class="bg-main-50 tw-py-1 tw-ps-105 tw-pe-4 rounded-pill d-inline-flex align-items-center tw-gap-205 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <span class="tw-w-6 tw-h-6 bg-white border-main-100 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-305">
                            <i class="ph-fill ph-star-four"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-main-600">
                            About Our University
                        </span>
                    </div>
                    <h3 class="fw-semibold text-neutral-950 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        Academic Programs of Eduly
                    </h3>
                    <p class="fw-normal tw-text-405 text-neutral-400 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        The ability to learn at my own pace was a game-changer for me. The flexible schedule allowed me to balance my studies with work and personal life
                    </p>
                    <ul class="nav nav-tabs d-flex border-bottom-0 flex-wrap tw-gap-5 tw-mb-12" id="myTabtwo" role="tablist" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <li class="nav-item">
                            <button class="nav-link rounded-pill active" id="undergraduate" data-bs-toggle="tab" data-bs-target="#undergraduate-pane" type="button" role="tab" aria-controls="undergraduate-pane" aria-selected="true">Undergraduate Program</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link rounded-pill" id="graduate-tab" data-bs-toggle="tab" data-bs-target="#graduate-tab-pane" type="button" role="tab" aria-controls="graduate-tab-pane" aria-selected="false">Graduate Program</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link rounded-pill" id="online-tab" data-bs-toggle="tab" data-bs-target="#online-tab-pane" type="button" role="tab" aria-controls="online-tab-pane" aria-selected="false">Online Program</button>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="tab-content" id="myTabtwoContent">
                <div class="tab-pane fade show active" id="undergraduate-pane" role="tabpanel" aria-labelledby="undergraduate" tabindex="0">
                    @@include('../partials/_about-univercity-three-tab.html')
                </div>
                <div class="tab-pane fade" id="graduate-tab-pane" role="tabpanel" aria-labelledby="graduate-tab" tabindex="0">
                    @@include('../partials/_about-univercity-three-tab.html')
                </div>
                <div class="tab-pane fade" id="online-tab-pane" role="tabpanel" aria-labelledby="online-tab" tabindex="0">
                    @@include('../partials/_about-univercity-three-tab.html')
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= about section end ======================= -->