<!-- ======================== about eduly section start ======================== -->
<section class="py-100 position-relative ">
    <img src="assets/images/shape/about-eduly-three-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt--200-px d-xxl-block d-none">
    <img src="assets/images/shape/about-eduly-three-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-me-580-px d-xxl-block animation-scalation d-none tw-mt--60-px">
    <img src="assets/images/shape/about-eduly-three-shape4.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-me-400-px animation-scalation d-xxl-block d-none tw-mt--30-px">
    <img src="assets/images/shape/about-eduly-three-shape3.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-me-700-px animation-scalation d-xxl-block d-none">
    <div class="tw-mx-15">
        <div class="d-flex align-items-center tw-gap-4 justify-content-between">
            <div class="d-xl-block d-none">
                <span class="d-block tw-mb-138-px"  data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/thumbs/about-eduly-three-img1.png" alt="img">
                </span>
                <span class="d-flex justify-content-end"  data-aos="fade-up" data-aos-duration="1500">
                    <img src="assets/images/thumbs/about-eduly-three-img2.png" alt="img">
                </span>
            </div>
            <div class="d-flex justify-content-center">
                <div class="max-w-770-px w-100 text-center">
                     <div class="bg-main-50 tw-py-1 tw-ps-105 tw-pe-4 rounded-pill d-inline-flex align-items-center tw-gap-205 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-6 tw-h-6 bg-white border-main-100 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-305">
                            <i class="ph-fill ph-star-four"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-main-600">
                            About Eduly
                        </span>
                    </div>
                    <h3 class="fw-semibold text-neutral-950 tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Find Your Right Learning Path
                        For Your Future 
                    </h3>
                    <p class="fw-normal tw-text-405 text-neutral-400 tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        Take classes on the go with the educrat app. Stream or download to watch on the plane, the subway, or wherever you learn best. Take classes on the go with the educrat app
                    </p>
                    <div class="d-flex align-items-center tw-gap-5 flex-wrap justify-content-center tw-mb-15" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                            <span class="tw-text-5 text-main-600">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-semibold tw-text-405 text-neutral-600">
                                Full lifetime access
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                            <span class="tw-text-5 text-main-600">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <span class="fw-semibold tw-text-405 text-neutral-600">
                                Certificate of completion
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap tw-mb-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <div>
                            <h3 class="text-main-600 tw-mb-2 d-block counter">
                                90%
                            </h3>
                            <span class="fw-normal tw-text-405 text-neutral-400">
                                Success Rate
                            </span>
                        </div>
                        <div>
                            <h3 class="text-main-600 tw-mb-2 d-block counter">
                                36K+
                            </h3>
                            <span class="fw-normal tw-text-405 text-neutral-400">
                                Five-star Reviews
                            </span>
                        </div>
                        <div>
                            <h3 class="text-main-600 tw-mb-2 d-block counter">
                                5843+
                            </h3>
                            <span class="fw-normal tw-text-405 text-neutral-400">
                                Students worldwide
                            </span>
                        </div>
                    </div>
                    <a href="about-us.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-5 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border mb-120" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">Find Your Courses</span>
                    </a>
                </div>
            </div>
            <div class="d-xl-block d-none">
                <div>
                    <span class="tw-mb-17 d-block">
                        <img src="assets/images/thumbs/about-eduly-three-img3.png" alt="img" class="" data-aos="zoom-in" data-aos-duration="1500">
                    </span>
                    <span class="d-flex justify-content-start align-items-start"  data-aos="fade-up" data-aos-duration="1500">
                        <img src="assets/images/thumbs/about-eduly-three-img4.png" alt="img">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== about eduly section end ======================== -->