<!-- ======================= about us section start ======================= -->
 <section class="py-120 position-relative">
    <img src="assets/images/shape/about-us-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-12 z-n1 d-lg-block d-none animated-upDown">
    <div class="container">
        <div class="row gy-5 align-items-center">
            <div class="col-lg-6">
                <div class="position-relative">
                    <img src="assets/images/thumbs/about-us-img1.png" alt="img" class="" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/shape/about-us-shape-2.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-17 tw-ms--30px animation-scalation">
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <span class="tw-px-5 tw-py-205 bg-main-50 text-main-600 fw-medium tw-text-305 tw-rounded-sm tw-mb-7 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">ABOUT US</span>
                    <h2 class="h3 fw-normal text-neutral-600 tw-mb-9" data-aos="fade-up" data-aos-duration="800">Best Online Program and Course to Enroll for Exchange</h2>
                    <p class="fw-normal tw-text-405 text-neutral-500 tw-mb-9" data-aos="fade-up" data-aos-duration="1000">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust, and grow with confidence.</p>
                    <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-7" data-aos="fade-up" data-aos-duration="1100">
                        <div class="max-w-250-px w-100 d-flex align-items-center tw-gap-5">
                            <img src="assets/images/icon/about-us-icon7.png" alt="icon">
                            <h2 class="h5 fw-medium text-neutral-800">Expert Trainer To Learn Course</h2>
                        </div>
                        <div class="max-w-250-px w-100 d-flex align-items-center tw-gap-5">
                            <img src="assets/images/icon/about-us-icon8.png" alt="icon">
                            <h2 class="h5 fw-medium text-neutral-800">Expert Trainer To Learn Course</h2>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 tw-mb-8 flex-wrap" data-aos="fade-up" data-aos-duration="1200">
                        <div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="text-main-400 tw-text-505">
                                    <i class="ph ph-check"></i>
                                </span>
                                <span class="fw-medium tw-text-405 text-neutral-400">Lifetime Access</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="text-main-400 tw-text-505">
                                    <i class="ph ph-check"></i>
                                </span>
                                <span class="fw-medium tw-text-405 text-neutral-400">Management consultation</span>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="text-main-400 tw-text-505">
                                    <i class="ph ph-check"></i>
                                </span>
                                <span class="fw-medium tw-text-405 text-neutral-400">Specialized Support</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="text-main-400 tw-text-505">
                                    <i class="ph ph-check"></i>
                                </span>
                                <span class="fw-medium tw-text-405 text-neutral-400">Instant Operation</span>
                            </div>
                        </div>
                    </div>

                    <a href="about-us.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="1300">
                        <span class="button__flair"></span>
                        <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                            <i class="ph ph-caret-right"></i>
                        </span>
                        <span class="button__label fw-medium">More About us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ======================= about us section end ======================= -->