<!-- =========================== Academic program bottom section start =========================== -->
<div class="pb-110">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="600">
                <div class="max-w-240-px w-100">
                    <h2 class="fw-medium text-main-600 tw-mb-4 counter">23K+</h2>
                    <div class="d-flex align-items-center tw-gap-405">
                        <span class="tw-w-05 tw-h-10 bg-main-600 flex-shrink-0"></span>
                        <p class="fw-normal tw-text-405 text-neutral-500">Undergraduate & Graduate Students</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="max-w-240-px w-100">
                    <h2 class="fw-medium text-main-600 tw-mb-4 counter">539+</h2>
                    <div class="d-flex align-items-center tw-gap-405">
                        <span class="tw-w-05 tw-h-10 bg-main-600 flex-shrink-0"></span>
                        <p class="fw-normal tw-text-405 text-neutral-500">EduPro University Faculty And Staff</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="max-w-240-px w-100">
                    <h2 class="fw-medium text-main-600 tw-mb-4 counter">28K+</h2>
                    <div class="d-flex align-items-center tw-gap-405">
                        <span class="tw-w-05 tw-h-10 bg-main-600 flex-shrink-0"></span>
                        <p class="fw-normal tw-text-405 text-neutral-500">EduPro University Alumni In Worldwide</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="max-w-240-px w-100">
                    <h2 class="fw-medium text-main-600 tw-mb-4 counter">23K+</h2>
                    <div class="d-flex align-items-center tw-gap-405">
                        <span class="tw-w-05 tw-h-10 bg-main-600 flex-shrink-0"></span>
                        <p class="fw-normal tw-text-405 text-neutral-500">Building a vibrant community of creative</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================== Academic program bottom section end =========================== -->