<!-- ========================== Academic program section start ========================== -->
<section class="py-110">
    <div class="container">
        <div class="max-w-570-px w-100 text-center mx-auto tw-mb-10">
            <span class="fw-medium tw-text-305 text-main-600 tw-mb-6 tw-letter-space-2-px fst-italic" data-aos="fade-up" data-aos-duration="600">Academic Programs</span>
            <h2 class="fw-semibold text-neutral-600 tw-mb-8" data-aos="fade-up" data-aos-duration="800">Our Academic Programs</h2>
            <p class="fw-normal tw-text-4 text-neutral-300" data-aos="fade-up" data-aos-duration="1000">At University eduly, we believe in the transformative power of education and the boundless potential within every individual. Established in 1971</p>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600">
                <div class="bg-neutral-30 tw-rounded-xl animation-item">
                    <span class="tw-rounded-top-12px overflow-hidden w-100 position-relative">
                        <img src="assets/images/thumbs/academic-program-img1.png" alt="img" class="tw-duration-300 w-100 course-item__img">
                        <span class="tw-py-2 tw-px-4 bg-main-600 text-white rounded-pill position-absolute bottom-0 tw-start-0 tw-ms-6 tw-mb-6">Data Science</span>
                    </span>
                    <div class="tw-pt-7 tw-pb-5 tw-px-5">
                        <h5 class="fw-medium text-neutral-600 tw-mb-3">M.A. in Education</h5>
                        <p class="fw-normal tw-text-4 text-neutral-300 tw-line-height-28-px tw-mb-5">
                            World-class training and programs developed by top teachers Habitant duis...
                        </p>
                        <a href="about-us.html" class="text-main-600 tw-py-3 fw-bold tw-text-4 bg-white d-flex align-items-center tw-gap-3 justify-content-center rounded-pill hover-bg-main-600 hover-text-white tw-duration-300">
                            About Faculity
                            <span>
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="bg-neutral-30 tw-rounded-xl animation-item">
                    <span class="tw-rounded-top-12px overflow-hidden w-100 position-relative">
                        <img src="assets/images/thumbs/academic-program-img2.png" alt="img" class="tw-duration-300 w-100 course-item__img">
                        <span class="tw-py-2 tw-px-4 bg-main-600 text-white rounded-pill position-absolute bottom-0 tw-start-0 tw-ms-6 tw-mb-6">Data Science</span>
                    </span>
                    <div class="tw-pt-7 tw-pb-5 tw-px-5">
                        <h5 class="fw-medium text-neutral-600 tw-mb-3">Major In Programs</h5>
                        <p class="fw-normal tw-text-4 text-neutral-300 tw-line-height-28-px tw-mb-5">
                            World-class training and programs developed by top teachers Habitant duis...
                        </p>
                        <a href="about-us.html" class="text-main-600 tw-py-3 fw-bold tw-text-4 bg-white d-flex align-items-center tw-gap-3 justify-content-center rounded-pill hover-bg-main-600 hover-text-white tw-duration-300">
                            About Faculity
                            <span>
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="bg-neutral-30 tw-rounded-xl animation-item">
                    <span class="tw-rounded-top-12px overflow-hidden w-100 position-relative">
                        <img src="assets/images/thumbs/academic-program-img3.png" alt="img" class="tw-duration-300 w-100 course-item__img">
                        <span class="tw-py-2 tw-px-4 bg-main-600 text-white rounded-pill position-absolute bottom-0 tw-start-0 tw-ms-6 tw-mb-6">Data Science</span>
                    </span>
                    <div class="tw-pt-7 tw-pb-5 tw-px-5">
                        <h5 class="fw-medium text-neutral-600 tw-mb-3">Economics, BA</h5>
                        <p class="fw-normal tw-text-4 text-neutral-300 tw-line-height-28-px tw-mb-5">
                            World-class training and programs developed by top teachers Habitant duis...
                        </p>
                        <a href="about-us.html" class="text-main-600 tw-py-3 fw-bold tw-text-4 bg-white d-flex align-items-center tw-gap-3 justify-content-center rounded-pill hover-bg-main-600 hover-text-white tw-duration-300">
                            About Faculity
                            <span>
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Academic program section end ========================== -->



<!-- =========================== Academic program bottom section start =========================== -->
<div class="pb-110">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="600">
                <div class="max-w-240-px w-100">
                    <h2 class="fw-medium text-main-600 tw-mb-4 counter">23K+</h2>
                    <div class="d-flex align-items-center tw-gap-405">
                        <span class="tw-w-05 tw-h-10 bg-main-600 flex-shrink-0"></span>
                        <p class="fw-normal tw-text-405 text-neutral-300">Undergraduate & Graduate Students</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="max-w-240-px w-100">
                    <h2 class="fw-medium text-main-600 tw-mb-4 counter">539+</h2>
                    <div class="d-flex align-items-center tw-gap-405">
                        <span class="tw-w-05 tw-h-10 bg-main-600 flex-shrink-0"></span>
                        <p class="fw-normal tw-text-405 text-neutral-300">eduly University Faculty And Staff</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="max-w-240-px w-100">
                    <h2 class="fw-medium text-main-600 tw-mb-4 counter">28K+</h2>
                    <div class="d-flex align-items-center tw-gap-405">
                        <span class="tw-w-05 tw-h-10 bg-main-600 flex-shrink-0"></span>
                        <p class="fw-normal tw-text-405 text-neutral-300">eduly University Alumni In Worldwide</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="max-w-240-px w-100">
                    <h2 class="fw-medium text-main-600 tw-mb-4 counter">23K+</h2>
                    <div class="d-flex align-items-center tw-gap-405">
                        <span class="tw-w-05 tw-h-10 bg-main-600 flex-shrink-0"></span>
                        <p class="fw-normal tw-text-405 text-neutral-300">Building a vibrant community of creative</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================== Academic program bottom section end =========================== -->