<!-- ========================== account page section start ========================== -->
<div class="py-110">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="border-main-600 border tw-rounded-xl tw-px-11 tw-py-15">
                    <div class="text-center tw-mb-7">
                        <a href="index.html" class="tw-mb-6">
                            <img src="assets/images/logo/logo.png" alt="logo" >
                        </a>
                        <h2 class="h5 tw-text-9 fw-bold text-neutral-800 tw-mb-3 d-block">Sign Up Now</h2>
                        <span class="fw-normal tw-text-3 text-neutral-100">already have an account?</span>
                    </div>
                    <form action="#">
                        <input type="text" placeholder="Enter name" class="fw-normal tw-text-305 tw-text-neutral-90 tw-px-7 tw-py-4 w-100 tw-border-neutral-40 tw-border-gray-80 focus-visible-border-main-600 focus-visible-border-none rounded-pill tw-mb-5">
                        <input type="text" placeholder="Enter user name" class="fw-normal tw-text-305 tw-text-neutral-90 tw-px-7 tw-py-4 w-100 tw-border-neutral-40 tw-border-gray-80 focus-visible-border-main-600 focus-visible-border-none rounded-pill tw-mb-5">
                        <input type="email" placeholder="Enter email" class="fw-normal tw-text-305 tw-text-neutral-90 tw-px-7 tw-py-4 w-100 tw-border-neutral-40 tw-border-gray-80 focus-visible-border-main-600 focus-visible-border-none rounded-pill tw-mb-5">
                        <div class="position-relative">
                            <input type="password" class="form-control fw-normal tw-text-305 tw-text-neutral-90 tw-px-7 tw-py-4 w-100 tw-border-neutral-40 tw-border-gray-80 focus-visible-border-main-600 focus-visible-border-none rounded-pill" id="createPassword" placeholder="Enter password">
                            <span class="toggle-password position-absolute top-50 tw-end-0 tw-me-4 tw-text-xl text-neutral-600 translate-middle-y ph-bold ph-eye-slash" id="#createPassword"></span>
                        </div>
                        <div class="form-check ps-0 d-flex tw-gap-3 tw-mt-6 tw-mb-6">
                            <input class="form-check-input rounded-circle" type="checkbox" value="" id="checkDefault">
                            <label class="form-check-label fw-normal" for="checkDefault">
                                I agree with your <a href="javscript:void(0)" class="fw-medium tw-text-neutral-90 hover-underline">Privacy Policy</a>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 rounded-pill tw-mb-10 d-block" data-block="button" data-aos="fade-up" data-aos-duration="1300">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Register Now</span>
                        </button>
                        <span class="fw-medium tw-text-4 text-neutral-100 tw-mb-6 text-center d-block">Or Sign Up with</span>
                        <ul class="d-flex align-items-center justify-content-center tw-gap-205">
                            <li>
                                <a href="https://www.google.com/" class="tw-w-16 tw-h-16 bg-danger-50 d-flex align-items-center justify-content-center rounded-circle">
                                    <img src="assets/images/icon/account-page-icon1.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" class="tw-w-16 tw-h-16 bg-prymary-10 d-flex align-items-center justify-content-center rounded-circle">
                                    <img src="assets/images/icon/account-page-icon2.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="tw-w-16 tw-h-16 bg-prymary-20 d-flex align-items-center justify-content-center rounded-circle">
                                    <img src="assets/images/icon/account-page-icon3.png" alt="icon">
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="border-main-600 border tw-rounded-xl tw-px-11 tw-py-15 h-100">
                    <div class="text-center tw-mb-7">
                        <a href="index.html" class="tw-mb-6">
                            <img src="assets/images/logo/logo.png" alt="logo" >
                        </a>
                        <h2 class="h5 tw-text-9 fw-bold text-neutral-800 tw-mb-3 d-block">Login Now</h2>
                        <span class="fw-normal tw-text-3 text-neutral-100">Didn’t create an account?</span>
                    </div>
                    <form action="#">
                        <input type="text" placeholder="Enter user name" class="fw-normal tw-text-305 tw-text-neutral-90 tw-px-7 tw-py-4 w-100 tw-border-neutral-40 tw-border-gray-80 focus-visible-border-main-600 focus-visible-border-none rounded-pill tw-mb-5">
                        <div class="position-relative">
                            <input type="password" class="form-control fw-normal tw-text-305 tw-text-neutral-90 tw-px-7 tw-py-4 w-100 tw-border-neutral-40 tw-border-gray-80 focus-visible-border-main-600 focus-visible-border-none rounded-pill" id="createPassword2" placeholder="Enter password">
                            <span class="toggle-password position-absolute top-50 tw-end-0 tw-me-4 tw-text-xl text-neutral-600 translate-middle-y ph-bold ph-eye-slash" id="#createPassword2"></span>
                        </div>
                        <div class="form-check ps-0 d-flex tw-gap-3 tw-mt-6 tw-mb-6">
                            <input class="form-check-input rounded-circle" type="checkbox" value="" id="checkDefault-two">
                            <label class="form-check-label fw-normal" for="checkDefault-two">
                                I agree with your <a href="javascript:void(0)" class="fw-medium tw-text-neutral-90 hover-underline">Privacy Policy</a>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 rounded-pill tw-mb-10 d-block" data-block="button" data-aos="fade-up" data-aos-duration="1300">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Login Now</span>
                        </button>
                        <span class="fw-medium tw-text-4 text-neutral-100 tw-mb-6 text-center d-block">Or Sign Up with</span>
                        <ul class="d-flex align-items-center justify-content-center tw-gap-205">
                            <li>
                                <a href="https://www.google.com/" class="tw-w-16 tw-h-16 bg-danger-50 d-flex align-items-center justify-content-center rounded-circle">
                                    <img src="assets/images/icon/account-page-icon1.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" class="tw-w-16 tw-h-16 bg-prymary-10 d-flex align-items-center justify-content-center rounded-circle">
                                    <img src="assets/images/icon/account-page-icon2.png" alt="icon">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="tw-w-16 tw-h-16 bg-prymary-20 d-flex align-items-center justify-content-center rounded-circle">
                                    <img src="assets/images/icon/account-page-icon3.png" alt="icon">
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================== account page section end ========================== -->