<!-- ======================== apply here section start ======================== -->
<div style="background-image: url(assets/images/bg/apply-here-three-bg-img.png);" class="bg-img pt-100 position-relative">
    <span class="fw-semibold text-white-55-persent tw-text-148-px position-absolute bottom-0 tw-end-0 tw-me-80-px tw-mb-180px d-lg-block d-none">
        APPLY HERE
    </span>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="bg-white tw-py-10 tw-px-12 tw-rounded-lg tw-apply-here-three-shadow">
                    <div class="bg-main-50 tw-py-1 tw-ps-105 tw-pe-4 rounded-pill d-inline-flex align-items-center tw-gap-205 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <span class="tw-w-6 tw-h-6 bg-white border-main-100 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-305">
                            <i class="ph-fill ph-star-four"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-main-600">
                            About Our University
                        </span>
                    </div>
                    <h3 class="fw-semibold text-neutral-950 tw-mb-12" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        Apply Now to University
                    </h3>
                    <form action="#">
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <input type="text" placeholder="Full name" class="fw-normal tw-text-305 text-blue-300 w-100 tw-pb-4 border-danger-800 border-bottom border-top-0 border-start-0 border-end-0 focus-visible-border-bottom-main-600">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" placeholder="Phone" class="fw-normal tw-text-305 text-blue-300 w-100 tw-pb-4 border-danger-800 border-bottom border-top-0 border-start-0 border-end-0 focus-visible-border-bottom-main-600">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Address" class="fw-normal tw-text-305 text-blue-300 w-100 tw-pb-4 border-danger-800 border-bottom border-top-0 border-start-0 border-end-0 focus-visible-border-bottom-main-600">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Country" class="fw-normal tw-text-305 text-blue-300 w-100 tw-pb-4 border-danger-800 border-bottom border-top-0 border-start-0 border-end-0 focus-visible-border-bottom-main-600">
                            </div>
                            <div class="col-12">
                                <input type="text" placeholder="dd/mm/yy" class="fw-normal tw-text-305 text-blue-300 w-100 tw-pb-4 border-danger-800 border-bottom border-top-0 border-start-0 border-end-0 focus-visible-border-bottom-main-600">
                            </div>
                            <div class="col-12">
                                <input type="email" placeholder="Enter your email" class="fw-normal tw-text-305 text-blue-300 w-100 tw-pb-4 border-danger-800 border-bottom border-top-0 border-start-0 border-end-0 focus-visible-border-bottom-main-600">
                            </div>
                            <div class="col-12">
                                <input type="text" placeholder="Enter your comment..." class="fw-normal tw-text-305 text-blue-300 w-100 tw-pb-4 border-danger-800 border-bottom border-top-0 border-start-0 border-end-0 focus-visible-border-bottom-main-600">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-5 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border tw-my-7 " data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label fw-bold tw-text-4">Apply Now</span>
                        </button>
                        <div class="form-check ps-0 d-flex tw-gap-3">
                            <input class="form-check-input rounded-circle" type="checkbox" value="" id="checkDefault">
                            <label class="form-check-label fw-normal" for="checkDefault">
                                I agree with your <a href="javscript:void(0)" class="fw-medium tw-text-neutral-90 hover-underline hover-text-main-600">Privacy Policy</a>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================== apply here section end ======================== -->