<!-- =========================== banner section start =========================== -->
<section class="bg-img tw-banner-two-musk-img1">
    <div class="pt-120 position-relative mediy-pb-80-px">
        <img src="assets/images/shape/banner-two-shape1.png" alt="shape"
            class="position-absolute bottom-0 tw-end-0 z-n1 d-xxl-block d-none">
        <img src="assets/images/shape/banner-two-shape3.png" alt="shape"
            class="position-absolute top-0 tw-mt-360-px tw-start-0 z-n1 d-xxl-block d-none animation-upDown opacity-25">
        <img src="assets/images/shape/banner-two-shape5.png" alt="shape"
            class="position-absolute top-0 tw-start-0 tw-ms-134px tw-mt-70-px  z-n1 d-xxl-block d-none animation-scalation">
        <img src="assets/images/shape/banner-two-shape4.png" alt="shape"
            class="position-absolute bottom-0 tw-mb-100px tw-start-0 tw-ms-430-px  z-n1 d-xxl-block d-none animation-scalation">
        <img src="assets/images/shape/banner-two-shape2.png" alt="shape"
            class="position-absolute bottom-0 tw-mb-100px tw-end-0 tw-me-600-px  z-n1 d-xxl-block d-none animation-upDown">
        <img src="assets/images/shape/banner-two-shape7.png" alt="shape"
            class="position-absolute top-0 tw-end-0 tw-me-500-px animation-scalation z-n1 d-xxl-block d-none tw-mt-262px">

        <div class="container max-w-1450-px">
            <div class="row gy-5">
                <div class="col-lg-6">
                    <div class="max-w-770-px w-100">
                        <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-5"
                            data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <span
                                class="tw-w-6 tw-h-6 border-main-100 border bg-main-50 rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                                <i class="ph-fill ph-star-four"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-main-600">
                                Welcome to Online Education
                            </span>
                        </div>
                        <h2 class="fw-semibold text-neutral-950 tw-mb-6">
                            Enroll Your Perfect and Best Course for Exchange
                        </h2>
                        <p class="fw-normal tw-text-405 text-neutral-400 tw-mb-10 max-w-620-px">
                            Compellingly procrastinate equity invested markets with efficient process improvements.
                            actualize mission-critical partnerships.
                        </p>
                        <form action="#" class="position-relative">
                            <input type="text" placeholder="What do you want to learn?"
                                class="fw-medium tw-text-4 text-neutral-300 bg-white w-100 tw-py-5 tw-ps-6 tw-pe-184-px rounded-pill border-main-50 border focus-border-main-600 new-shadow-two focus-outline-0">
                            <button type="submit"
                                class="fw-semibold tw-text-4 text-white bg-main-600 tw-py-4 tw-px-6 rounded-pill d-flex align-items-center tw-gap-2 position-absolute top-0 tw-end-0 top-50 translate-middle-y tw-me-1 hover-bg-black tw-duration-300">
                                Find Courses
                                <span>
                                    <i class="ph-bold ph-magnifying-glass"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                    <div class="tw-mt-146px max-w-550-px d-flex tw-gap-6 justify-content-between flex-wrap tw-pb-6">
                        <div class="d-flex align-items-center tw-gap-405">
                            <span class="d-flex">
                                <img src="assets/images/icon/banner-two-icon1.png" alt="Banner Icon">
                            </span>
                            <div class="">
                                <h6 class="tw-mb-2">Flexible classes</h6>
                                <span class="">You pick schedule.</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-405">
                            <span class="d-flex">
                                <img src="assets/images/icon/banner-two-icon2.png" alt="Banner Icon">
                            </span>
                            <div class="">
                                <h6 class="tw-mb-2">Educator help</h6>
                                <span class="">Always get answers.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-lg-block d-none">
                    <div class="position-relative">
                        <div class="text-end">
                            <img src="assets/images/thumbs/banner-two-img1.png" alt="images">
                        </div>
                        <img src="assets/images/shape/banner-two-shape6.png" alt="shape"
                            class="position-absolute top-0 tw-mt-190px start-0 z-n1 d-xxl-block d-none animation-upDown tw-ms-15">
                        <div
                            class="bg-white tw-rounded-lg tw-p-5 text-center position-absolute start-0 bottom-0 tw-ms-15 tw-mb-120-px tw-media-ms-0 ">
                            <div class="d-flex align-items-center justify-content-center tw-mb-3">
                                <span class="hover-scale-2 tw-duration-300">
                                    <img src="assets/images/thumbs/banner-two-img3.png" alt="img" class="">
                                </span>
                                <span class="tw-ms--10-px hover-scale-2 tw-duration-300">
                                    <img src="assets/images/thumbs/banner-two-img4.png" alt="img" class="">
                                </span>
                                <span class="tw-ms--10-px hover-scale-2 tw-duration-300">
                                    <img src="assets/images/thumbs/banner-two-img5.png" alt="img" class="">
                                </span>
                            </div>
                            <h6 class="fw-bold text-main-600 tw-mb-2">
                                45355+
                            </h6>
                            <span class="fw-normal tw-text-4 text-neutral-400">
                                Happy Students
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== banner section end =========================== -->