<!-- =========================== banner section start =========================== -->
 <section style="background-image: url(assets/images/bg/banner-five-bg1.png);" class="bg-img tw-pt-240-px position-relative z-2">
    <img src="assets/images/shape/banner-five-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 tw-ms-10 tw-mb-17 animation-scalation d-lg-block d-none z-n1">
    <img src="assets/images/shape/banner-five-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 tw-mb-13 tw-ms-35-persent animation-upDown d-lg-block d-none">
    <div class="container max-w-1500-px">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="max-w-715-px w-100">
                    <h2 class="fw-bold tw-text-82-px text-neutral-950 tw-mb-12" data-aos="fade-up" data-aos-duration="600">Smart Online <br> Learning System</h2>
                    <div class="d-flex align-items-center tw-gap-6 tw-mb-14" data-aos="fade-up" data-aos-duration="800">
                        <span class="tw-h-11 tw-w-1 bg-main-600"></span>
                        <p class="tw-text-405 fw-normal text-neutral-400">We are experienced in educationl platform and skilled strategies <br> for the success of our online learning.</p>
                    </div>
                    <div class="d-flex align-items-center tw-gap-7 flex-wrap" data-aos="fade-up" data-aos-duration="1000">
                        <div>
                            <h3 class="fw-bold text-neutral-800 tw-text-56-px tw-mb-2 counter">4.6</h3>
                            <span class="fw-medium tw-tet-305 text-neutral-200">3223+ Reviews</span>
                        </div>
                        <span class="tw-h-92-px tw-w-05 bg-neutral-100"></span>
                        <div>
                            <span class="fw-medium tw-text-4 text-neutral-700 tw-mb-2">Average Rating</span>
                            <ul class="d-flex align-items-center tw-gap-1">
                                <li class="tw-w-605 tw-h-605 bg-main-600 tw-rounded-md tw-tet-4 text-white d-flex align-items-center justify-content-center">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-w-605 tw-h-605 bg-main-600 tw-rounded-md tw-tet-4 text-white d-flex align-items-center justify-content-center">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-w-605 tw-h-605 bg-main-600 tw-rounded-md tw-tet-4 text-white d-flex align-items-center justify-content-center">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-w-605 tw-h-605 bg-main-600 tw-rounded-md tw-tet-4 text-white d-flex align-items-center justify-content-center">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-w-605 tw-h-605 bg-main-600 tw-rounded-md tw-tet-4 text-white d-flex align-items-center justify-content-center">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                        </div>
                        <span class="tw-h-92-px tw-w-05 bg-neutral-100"></span>
                        <div class="d-flex align-items-center tw-gap-2 flex-sm-nowrap flex-wrap">
                            <img src="assets/images/icon/banner-five-icon1.png" alt="">
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-2">
                                    <h6 class="tw-text-6 fw-semibold text-neutral-800 counter">4.9</h6>
                                    <img src="assets/images/icon/banner-five-star-icon1.png" alt="">
                                </div>
                                <span class="fw-medium tw-text-305 text-neutral-200 line-clamp-1">Based on 67 reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1500">
                <div class="position-relative">
                    <div class="banner-five-card max-w-520-px w-100 bg-white tw-px-11 tw-py-11 tw-rounded-md marketing-shadow tw-ms-17">
                        <h5 class="tw-text-8 fw-medium text-neutral-800 tw-mb-10">Get a Free EduPro Online Masterclass Course</h5>
                        <form action="#" class="">
                            <input type="text" class="tw-py-3 tw-px-505 fw-medium tw-text-305 text-neutral-500 w-100 tw-rounded-md border-gray-200 border focus-visible-border-main-600 tw-mb-5 " placeholder="Name">
                            <input type="email" class="tw-py-3 tw-px-505 fw-medium tw-text-305 text-neutral-500 w-100 tw-rounded-md border-gray-200 border focus-visible-border-main-600 tw-mb-5" placeholder="Email">
                            <select class="tw-py-3 tw-px-505 fw-medium tw-text-305 text-neutral-500 w-100 tw-rounded-md border-gray-200 border focus-visible-border-main-600 form-select tw-mb-5">
                                <option value="1">Mathematics</option>
                                <option value="1">English</option>
                                <option value="1">Science</option>
                                <option value="1">History</option>
                                <option value="1">Geography</option>
                                <option value="1">Physics</option>
                                <option value="1">Chemistry</option>
                            </select>
                            <textarea class="tw-py-3 tw-px-505 fw-medium tw-text-305 text-neutral-500 w-100 tw-rounded-md border-gray-200 border focus-visible-border-main-600 tw-mb-5 tw-h-156-px" placeholder="Message"></textarea>
                            <button type="submit" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill w-100 tw-py-3" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-medium">Get In Now</span>
                                <span class="tw-text-5 z-1 position-relative tw-duration-500 group-hover-text-white">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                    <h2 class="text-gradient-600 fw-bold position-absolute bottom-0 tw-end-0 tw-transform--90-deg tw-mb-210-px tw-me--180-px z-n1 d-lg-block d-none tw-text-148-px">EDUPRO</h2>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- =========================== banner section end =========================== -->