<!-- ================== Banner section start =================== -->
<section class="py-80 z-2 overflow-hidden position-relative">
    <img src="assets/images/shape/banner-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 z-n1 d-lg-block d-none animation-upDown d-lg-block d-none">
    <img src="assets/images/shape/banner-shape-4.png" alt="shape" class="position-absolute top-0 animation-scalation tw-mt-120-px tw-ms-80-px tw-start-0 d-lg-block d-none">
    <div class="container max-w-1360-px">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <div class="position-relative">
                    <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-6 tw-h-6 border-main-100 border bg-main-50 rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                            <i class="ph-fill ph-star-four"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-main-600">
                            Welcome to Online Education
                        </span>
                    </div>
                    <h2 class="h1 fw-semibold text-neutral-950 tw-line-height-77-px tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Learn New Skills Online for Your Future Life
                    </h2>
                    <p class="fw-normal tw-text-405 text-neutral-500 tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        Compellingly procrastinate equity invested markets with efficient process improvements. actualize mission-critical partnerships.
                    </p>
                    <a href="course-details.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-5 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border mb-120" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">Find Your Courses</span>
                    </a>
                   <div class="d-flex align-items-center tw-gap-74-px flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                       <div>
                            <h2 class="fw-semibold text-neutral-950 counter tw-mb-2">
                                94%
                            </h2>
                            <span class="fw-normal tw-text-405 text-neutral-400">
                                Success Rate
                            </span>
                       </div>
                       <div class="d-flex align-items-center tw-gap-3 ">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/thumbs/banner-img2.png" alt="img" class="hover-scale-205 tw-duration-300">
                                <img src="assets/images/thumbs/banner-img3.png" alt="img" class="tw-ms--10-px hover-scale-205 tw-duration-300">
                                <img src="assets/images/thumbs/banner-img4.png" alt="img" class="tw-ms--10-px hover-scale-205 tw-duration-300">
                            </div>
                            <div>
                                <h5 class="fw-bold text-main-600 tw-mb-2">
                                    45355+
                                </h5>
                                <span class="fw-normal tw-text-4 text-neutral-400">
                                    Happy Students
                                </span>
                            </div>
                       </div>
                   </div>
                   <img src="assets/images/shape/banner-shape-2.png" alt="shape" class="position-absolute bottom-0 tw-end-0 d-lg-block d-none tw-me-13 tw-mb-100px">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <span class="d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-duration="1500">
                        <img src="assets/images/thumbs/banner-img1.png" alt="images">
                    </span>
                    <img src="assets/images/shape/banner-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 z-n1 tw-mb-12 tw-ms-90-px d-lg-block d-none" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/shape/banner-shape3.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-8 tw-me--90px z-n1 d-lg-block d-none animation-scalation">
                    <img src="assets/images/shape/banner-shape-3.png" alt="shape" class="position-absolute top-0 tw-start-0 d-lg-block d-none tw-ms-150-px animation-scalation">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================== Banner section end =================== -->