<!-- ============================= banner section start ============================= -->
<section class="banner-six-card bg-img overflow-hidden z-2 position-relative">
    <img src="assets/images/shape/about-us-five-shape2.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-134px d-xl-block d-none animation-scalation">
    <img src="assets/images/shape/footer-five-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 tw-transform-90-deg d-lg-block d-none">
    <img src="assets/images/shape/about-us-five-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-end-50 d-lg-block d-none">
    <img src="assets/images/shape/banner-six-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-176-px tw-me--26px d-lg-block d-none animation-scalation">
        <div class="container max-w-1500-px">
            <div class="row gy-4 align-items-center">
                <div class="col-lg-6">
                    <div class="py-110">
                        <h2 class="fw-normal tw-text-82-px text-neutral-950 tw-mb-13" data-aos="fade-up" data-aos-duration="600">
                            Grow Your <span class="fw-bold ">Language Skill</span> With Certificate
                        </h2>
                        <a href="course-details.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="800">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Get Our Online Courses</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1300">
                    <div class="position-relative">
                        <div class="d-flex justify-content-center tw-mt-9 overflow-hidden">
                            <img src="assets/images/thumbs/banner-five-img1.png" alt="img" class="overflow-hidden">
                        </div>
                        <div class="position-absolute top-0 tw-start-0 w-100 tw-mt-300-px">
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                <div>
                                    <button type="button" class="bg-white tw-p-1 rounded-pill d-flex align-items-center tw-gap-3 tw-pe-5 tw-mb-94-px tw-ms-80-px">
                                        <span class="bg-warning-100 tw-w-12 tw-h-12 rounded-circle d-flex align-items-center justify-content-center">
                                            <img src="assets/images/thumbs/online-crouse-flag3.png" alt="Image" >
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-800">Mandarin Chinese</span>
                                    </button>
                                    <button type="button" class="bg-white tw-p-1 rounded-pill d-flex align-items-center tw-gap-3 tw-pe-5 tw-mb-94-px">
                                        <span class="bg-warning-100 tw-w-12 tw-h-12 rounded-circle d-flex align-items-center justify-content-center">
                                            <img src="assets/images/thumbs/online-crouse-flag1.png" alt="Image" >
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-800">English</span>
                                    </button>
                                    <button type="button" class="bg-white tw-p-1 rounded-pill d-flex align-items-center tw-gap-3 tw-pe-5 tw-mb-94-px tw-ms-80-px">
                                        <span class="bg-warning-100 tw-w-12 tw-h-12 rounded-circle d-flex align-items-center justify-content-center">
                                            <img src="assets/images/thumbs/online-crouse-flag2.png" alt="Image" >
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-800">Hindi</span>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="bg-white tw-p-1 rounded-pill d-flex align-items-center tw-gap-3 tw-pe-5 tw-mb-94-px">
                                        <span class="bg-warning-100 tw-w-12 tw-h-12 rounded-circle d-flex align-items-center justify-content-center">
                                            <img src="assets/images/thumbs/online-crouse-flag4.png" alt="Image" >
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-800">Spanish</span>
                                    </button>
                                    <button type="button" class="bg-white tw-p-1 rounded-pill d-flex align-items-center tw-gap-3 tw-pe-5 tw-mb-94-px">
                                        <span class="bg-warning-100 tw-w-12 tw-h-12 rounded-circle d-flex align-items-center justify-content-center">
                                            <img src="assets/images/thumbs/online-crouse-flag6.png" alt="Image" >
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-800">French</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <img src="assets/images/shape/footer-five-shape2.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-13 d-lg-block d-none animation-scalation">
                        <img src="assets/images/shape/banner-five-shape-1.png" alt="shape" class="bg-img z-n1 position-absolute top-0 tw-start-0 top-50 translate-middle-y translate-middle-x tw-ms--170-px d-lg-block d-none">
                        <img src="assets/images/shape/banner-six-shape3.png" alt="shape" class="bg-img z-n1 position-absolute top-0 tw-end-0 tw-me--150-px d-lg-block d-none">
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- ============================= banner section end ============================= -->