<!-- ======================= banner section start ======================= -->
<section class="py-234 bg-main-two-600 position-relative overflow-hidden">
    <img src="assets/images/thumbs/banner-seven-img1.png" alt="img" class="position-absolute bottom-0 tw-start-0 tw-mb-80-px d-xl-block d-none tw-ms-88-px" data-aos="zoom-in" data-aos-duration="1200">
    <img src="assets/images/thumbs/banner-seven-img3.png" alt="img" class="position-absolute bottom-0 tw-end-0 d-xl-block d-none tw-mb-15" data-aos="zoom-in" data-aos-duration="1500">
    <img src="assets/images/shape/search-courses-seven-shape3.png" alt="shape" class="position-absolute bottom-0 tw-end-0 bottom-50 animation-upDown d-xl-block d-none">
    <img src="assets/images/shape/banner-seven-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 d-xl-block d-none">
    <div class="container max-w-1500-px">
        <div class="position-relative">
            <img src="assets/images/thumbs/banner-seven-img2.png" alt="img" class="position-absolute top-0 tw-end-0 tw-mt--150-px tw-me-17 d-xl-block d-none" data-aos="zoom-in" data-aos-duration="1400">
            <div class="max-w-970-px w-100">
                <div class="d-flex align-items-center tw-gap-8 flex-wrap tw-mb-3 justify-content-center" data-aos="fade-up" data-aos-duration="600">
                    <h2 class="fw-semibold text-white tw-text-108-px">Eduly</h2>
                    <span>
                        <img src="assets/images/shape/banner-seven-shape1.png" alt="img">
                    </span>
                </div>
                <h2 class="fw-semibold text-white tw-mb-3 tw-text-108-px" data-aos="fade-up" data-aos-duration="800">The Best University</h2>
                <h2 class="fw-semibold text-white text-center tw-text-108-px" data-aos="fade-up" data-aos-duration="1000">In New, York</h2>
                <div class="d-flex justify-content-center tw-mt-17">
                    <a href="javascript:void(0)" class="fw-bold tw-text-4 text-main-two-600 tw-py-4 tw-px-7 bg-white tw-rounded-md d-flex align-items-center tw-gap-4 max-w-250-px w-100 justify-content-center hover-bg-main-600 hover-text-white tw-duration-500" data-aos="fade-up" data-aos-duration="1200">
                        View Our Programs
                        <span>
                            <i class="ph-bold ph-caret-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= banner section end ======================= -->