<!-- ================== Banner section start =================== -->
 <section class="bg-img overflow-hidden tw-rounded-xl position-relative z-2" style="background-image: url(assets/images/bg/banner-bg-img1.png);">
    <img src="assets/images/shape/banner-shape.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-250-px animated-upDown d-lg-block d-none z-n1">
    <img src="assets/images/shape/banner-shape-two.png" alt="shape" class="position-absolute top-0 tw-end-0 animation-scalation d-lg-block d-none">
    <div class="tw-pt-9">
        <div class="container max-w-1599-px">
            <div class="row gy-5 align-items-center">
                <div class="col-lg-6">
                    <div class="max-w-620-px w-100">
                        <h1 class="fw-normal text-white tw-mb-12" data-aos="fade-up" data-aos-duration="600">Grow Skill For 
                            <span class="fw-bold">Better Future</span>
                             With EduPro Courses</h1>
                        <p class="fw-medium tw-text-405 text-white tw-mb-11" data-aos="fade-up" data-aos-duration="800">EduPro is a reliable kidcare platform that matches parents Perfect for Online Courses, University, College, School,</p>
                        <form action="#" class="position-relative" data-aos="fade-up" data-aos-duration="1000">
                            <input type="text" placeholder="Search here..." class="banner-search bg-white w-100 tw-py-6 border-0 rounded-pill tw-ps-178-px focus-visible-border-none tw-text-305 fw-medium text-gray-600 tw-pe-178-px ">
                            <select class="fw-medium tw-text-305 text-gray-700 position-absolute top-50 translate-middle-y tw-start-30-px border-0 border-end tw-pe-8 d-md-block d-none focus-visible-border-none form-select w-auto rounded-0 tw-focus-shadow-none">
                               <option value="1">Category</option>
                               <option value="1">Technology</option>
                                <option value="1">Health</option>
                                <option value="1">Education</option>
                                <option value="1">Business</option>
                            </select>

                            <button type="submit" class="btn btn-main-five hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill position-absolute top-50 tw-end-0 translate-middle-y tw-me-205" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-medium">Search</span>
                                <span class="tw-w-10 tw-h-10 bg-neutral-950 rounded-circle text-warming-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                    <i class="ph ph-magnifying-glass"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative z-2">
                        <img src="assets/images/thumbs/banner-six-img1.png" alt="Image" class="w-100 h-100" data-aos="fade-up" data-aos-duration="1500">
                        <div class="d-md-block d-none">
                            <div class="banner-shape-one tw-w-120-px tw-h-120-px rounded-circle bg-main-500 d-flex align-items-center justify-content-center text-center position-absolute tw-start-30-px tw-mt-262px top-0 animated-upDown">
                            <div class="">
                                <h1 class="fw-bold tw-text-8 text-neutral-950 counter">12K</h1>
                                <span class="fw-medium tw-text-405 text-neutral-500">Courses</span>
                            </div>
                        </div>
                        </div>
                        <div class="banner-shape-two bg-white tw-px-7 tw-py-5 tw-rounded-lg max-w-270-px w-100 position-absolute bottom-0 tw-mb-17 tw-end-84-px animated-upDown">
                            <div class="">
                                <div class="d-flex align-items-center justify-content-center tw-mb-305">
                                    <img src="assets/images/thumbs/banner-img5.png" alt="Image" class="tw-z-hover-1 tw-duration-300">
                                    <img src="assets/images/thumbs/banner-img4.png" alt="Image" class="tw-ms--20-px tw-z-hover-1 tw-duration-300">
                                    <img src="assets/images/thumbs/banner-img3.png" alt="Image" class="tw-ms--20-px tw-z-hover-1 tw-duration-300">
                                    <img src="assets/images/thumbs/banner-img2.png" alt="Image" class="tw-ms--20-px tw-z-hover-1 tw-duration-300">
                                </div>
                                <span class="text-neutral-700 tw-text-405 fw-bold text-center">36k+ Enrolled Students</span>
                            </div>
                        </div>
                        <span class="d-lg-block d-none">
                            <img src="assets/images/shape/banner-six-shape2.png" alt="Image" class="position-absolute bottom-0 tw-mb-12 tw-start-0 tw-ms--20-px z-n1 animation-rotate-right">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
 <!-- ================== Banner section end =================== -->