<!-- =========================== banner section start =========================== -->
<section class="tw-pt-200-px tw-pb-238-px position-relative">
    <img src="assets/images/shape/banner-three-shape-1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 tw-mb-4 tw-ms-540-px d-lg-block d-none animation-Rotate-Right">
    <div class="container max-w-1700-px">
        <div class="max-w-715-px w-100 tw-mb-158-px">
            <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                    <i class="ph-fill ph-star-four"></i>
                </span>
                <span class="fw-normal tw-text-4 text-main-600">
                   Welcome to Online Education
                </span>
            </div>
            <h2 class="h1 fw-semibold text-white tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                Welcome to Our Global Eduly University
            </h2>
            <p class="fw-normal tw-text-405 text-white tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                Compellingly procrastinate equity invested markets with efficient process improvements. actualize mission-critical partnerships.
            </p>
            <a href="course-details.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-5 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                <span class="button__flair"></span>
                <span class="button__label fw-bold tw-text-4">Find Your Courses</span>
            </a>
        </div>
        <div class="max-w-900-px w-100 d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
            <div>
                <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-4">
                    <span class="fw-bold tw-text-5 text-white ">
                        Start Career
                    </span>
                    <span class="tw-text-5 text-white">
                        <i class="ph ph-arrow-right"></i>
                    </span>
                </a>
                <span class="tw-w-200-px tw-h-px bg-white-44-persent"></span>
            </div>
            <div>
                <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-4">
                    <span class="fw-bold tw-text-5 text-white ">
                        Student’s Life
                    </span>
                    <span class="tw-text-5 text-white">
                        <i class="ph ph-arrow-right"></i>
                    </span>
                </a>
                <span class="tw-w-200-px tw-h-px bg-white-44-persent"></span>
            </div>
            <div>
                <a href="javascript:void(0)" class="d-flex align-items-center tw-gap-4">
                    <span class="fw-bold tw-text-5 text-white ">
                        Our Alumni
                    </span>
                    <span class="tw-text-5 text-white">
                        <i class="ph ph-arrow-right"></i>
                    </span>
                </a>
                <span class="tw-w-200-px tw-h-px bg-white-44-persent"></span>
            </div>
        </div>
    </div>
</section>
<!-- =========================== banner section end =========================== -->