<!-- ====================== blog section start =================== -->
<section class="py-100">
    <div class="container max-w-1400-px mx-auto">
        <div class="d-flex align-items-center justify-content-between tw-mb-15 flex-wrap">
            <div class="">
                <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                        <i class="ph-fill ph-star-four"></i>
                    </span>
                    <span class="fw-normal tw-text-4 text-main-600">
                        Popular Categories
                    </span>
                </div>
                <h3 class="fw-semibold text-neutral-950 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    People Who Understands You
                </h3>
            </div>
            <p class="fw-normal tw-text-405 text-neutral-500 max-w-500-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                Stream or download to watch on the plane, the subway, or wherever you learn best for your news.
            </p>
        </div>
        <div class="d-flex align-items-center tw-gap-11 flex-sm-nowrap flex-wrap">
            <button type="button" id="blog-two-button-prev" class="tw-w-13 tw-h-13 bg-white tw-student-two-shadow d-flex align-items-center justify-content-center text-main-600 tw-text-505 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 flex-shrink-0">
                <i class="ph-bold ph-arrow-left"></i>
            </button>
            <div class="swiper blog-two-slider tw-pb-5">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="tw-mt-12">
                            <div class="tw-p-205 bg-white tw-rounded-xl animation-item">
                                <div class="position-relative tw-mb-5">
                                    <span class="w-100 tw-rounded-xl overflow-hidden">
                                        <img src="assets/images/thumbs/blog-news-two-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    </span>
                                    <div class="tw-py-5 tw-px-6 bg-main-600 tw-rounded-top-bottom-12-px position-absolute top-0 tw-start-0">
                                        <h5 class="tw-text-details-two-32-px d-block fw-bold text-white tw-leading-none">
                                            12
                                        </h5>
                                        <span class="fw-normal tw-text-4 text-white">
                                            JUN
                                        </span>
                                    </div>
                                </div>
                                <div class="tw-px-4 tw-pb-3">
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-505 text-main-600 d-flex">
                                                <i class="ph ph-user-circle"></i>
                                            </span>
                                            <span class="fw-normal tw-text-4 text-blue-200">
                                                <strong>By</strong> Admin
                                            </span>
                                        </div>
                                        <span class="tw-w-px tw-h-7 bg-neutral-12-persent"></span>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-505 text-main-600 d-flex">
                                                <i class="ph ph-chat-text"></i>
                                            </span>
                                            <span class="fw-normal tw-text-4 text-blue-200">
                                                <strong>02</strong> Comments
                                            </span>
                                        </div>
                                    </div>
                                    <span class="w-100 tw-h-px bg-neutral-12-persent tw-mt-4 tw-mb-4"></span>
                                    <a href="javascript:void(0)" class="fw-semibold tw-text-5 text-neutral-500 tw-mb-6 hover-text-main-600 tw-duration-300">
                                        5 Parameters to a Comfortable Contemporary Best House
                                    </a>
                                    <a href="course-details.html" class="btn btn-main-two hover-style-four button--stroke active-scale-094 tw-duration-100 tw-py-305 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label fw-bold tw-text-4">View Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="">
                            <div class="tw-p-205 bg-white tw-rounded-xl animation-item">
                                <div class="position-relative tw-mb-5">
                                    <span class="w-100 tw-rounded-xl overflow-hidden">
                                        <img src="assets/images/thumbs/blog-news-two-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    </span>
                                    <div class="tw-py-5 tw-px-6 bg-main-600 tw-rounded-top-bottom-12-px position-absolute top-0 tw-start-0">
                                        <h5 class="tw-text-details-two-32-px d-block fw-bold text-white tw-leading-none">
                                            08
                                        </h5>
                                        <span class="fw-normal tw-text-4 text-white">
                                            JUN
                                        </span>
                                    </div>
                                </div>
                                <div class="tw-px-4 tw-pb-3">
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-505 text-main-600 d-flex">
                                                <i class="ph ph-user-circle"></i>
                                            </span>
                                            <span class="fw-normal tw-text-4 text-blue-200">
                                                <strong>By</strong> Admin
                                            </span>
                                        </div>
                                        <span class="tw-w-px tw-h-7 bg-neutral-12-persent"></span>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-505 text-main-600 d-flex">
                                                <i class="ph ph-chat-text"></i>
                                            </span>
                                            <span class="fw-normal tw-text-4 text-blue-200">
                                                <strong>02</strong> Comments
                                            </span>
                                        </div>
                                    </div>
                                    <span class="w-100 tw-h-px bg-neutral-12-persent tw-mt-4 tw-mb-4"></span>
                                    <a href="javascript:void(0)" class="fw-semibold tw-text-5 text-neutral-500 tw-mb-6 hover-text-main-600 tw-duration-300">
                                        How to Avoid the Biggest College Admission Mistakes
                                    </a>
                                    <a href="course-details.html" class="btn btn-main-two hover-style-four button--stroke active-scale-094 tw-duration-100 tw-py-305 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label fw-bold tw-text-4">View Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="tw-mt-12">
                            <div class="tw-p-205 bg-white tw-rounded-xl animation-item">
                                <div class="position-relative tw-mb-5">
                                    <span class="w-100 tw-rounded-xl overflow-hidden">
                                        <img src="assets/images/thumbs/blog-news-two-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    </span>
                                    <div class="tw-py-5 tw-px-6 bg-main-600 tw-rounded-top-bottom-12-px position-absolute top-0 tw-start-0">
                                        <h5 class="tw-text-details-two-32-px d-block fw-bold text-white tw-leading-none">
                                            04
                                        </h5>
                                        <span class="fw-normal tw-text-4 text-white">
                                            JUN
                                        </span>
                                    </div>
                                </div>
                                <div class="tw-px-4 tw-pb-3">
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-505 text-main-600 d-flex">
                                                <i class="ph ph-user-circle"></i>
                                            </span>
                                            <span class="fw-normal tw-text-4 text-blue-200">
                                                <strong>By</strong> Admin
                                            </span>
                                        </div>
                                        <span class="tw-w-px tw-h-7 bg-neutral-12-persent"></span>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-505 text-main-600 d-flex">
                                                <i class="ph ph-chat-text"></i>
                                            </span>
                                            <span class="fw-normal tw-text-4 text-blue-200">
                                                <strong>02</strong> Comments
                                            </span>
                                        </div>
                                    </div>
                                    <span class="w-100 tw-h-px bg-neutral-12-persent tw-mt-4 tw-mb-4"></span>
                                    <a href="javascript:void(0)" class="fw-semibold tw-text-5 text-neutral-500 tw-mb-6 hover-text-main-600 tw-duration-300">
                                        How Digital Platforms Are Shaping Business Schools
                                    </a>
                                    <a href="course-details.html" class="btn btn-main-two hover-style-four button--stroke active-scale-094 tw-duration-100 tw-py-305 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label fw-bold tw-text-4">View Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                        <div class="">
                            <div class="tw-p-205 bg-white tw-rounded-xl animation-item">
                                <div class="position-relative tw-mb-5">
                                    <span class="w-100 tw-rounded-xl overflow-hidden">
                                        <img src="assets/images/thumbs/blog-news-two-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    </span>
                                    <div class="tw-py-5 tw-px-6 bg-main-600 tw-rounded-top-bottom-12-px position-absolute top-0 tw-start-0">
                                        <h5 class="tw-text-details-two-32-px d-block fw-bold text-white tw-leading-none">
                                            08
                                        </h5>
                                        <span class="fw-normal tw-text-4 text-white">
                                            JUN
                                        </span>
                                    </div>
                                </div>
                                <div class="tw-px-4 tw-pb-3">
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-505 text-main-600 d-flex">
                                                <i class="ph ph-user-circle"></i>
                                            </span>
                                            <span class="fw-normal tw-text-4 text-blue-200">
                                                <strong>By</strong> Admin
                                            </span>
                                        </div>
                                        <span class="tw-w-px tw-h-7 bg-neutral-12-persent"></span>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-505 text-main-600 d-flex">
                                                <i class="ph ph-chat-text"></i>
                                            </span>
                                            <span class="fw-normal tw-text-4 text-blue-200">
                                                <strong>02</strong> Comments
                                            </span>
                                        </div>
                                    </div>
                                    <span class="w-100 tw-h-px bg-neutral-12-persent tw-mt-4 tw-mb-4"></span>
                                    <a href="javascript:void(0)" class="fw-semibold tw-text-5 text-neutral-500 tw-mb-6 hover-text-main-600 tw-duration-300">
                                        How to Avoid the Biggest College Admission Mistakes
                                    </a>
                                    <a href="course-details.html" class="btn btn-main-two hover-style-four button--stroke active-scale-094 tw-duration-100 tw-py-305 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label fw-bold tw-text-4">View Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="blog-two-button-next" class="tw-w-13 tw-h-13 bg-white tw-student-two-shadow d-flex align-items-center justify-content-center text-main-600 tw-text-505 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 flex-shrink-0">
                <i class="ph-bold ph-arrow-right"></i>
            </button>
        </div>
        <div class="tw-mt-9 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <a href="course-details.html" class="btn btn-main-four hover-style-four button--stroke active-scale-094 tw-duration-100 tw-py-405 tw-px-10 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                <span class="button__flair"></span>
                <span class="button__label fw-bold tw-text-4">View All News</span>
            </a>
        </div>
    </div>
</section>
<!-- ====================== blog section end =================== -->