<!-- ======================= Blog section start ===================== -->
 <section class="py-120">
    <div class="container">
        <div class="text-center tw-mb-15">
            <span class="bg-main-50 text-main-600 tw-text-305 fw-medium tw-rounded-sm tw-px-5 tw-py-1 tw-mb-3 tw-letter-space-2-px"  data-aos="fade-up" data-aos-duration="600">OUR BLOG</span>
            <h3 class="fw-medium text-neutral-400"  data-aos="fade-up" data-aos-duration="800">Get News with EduPro</h3>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="100">
                <div class="animation-item z-1">
                    <div class="position-relative overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        <span class="tw-py-1 tw-px-5 bg-warming-500 text-neutral-800 fw-medium tw-text-4 tw-rounded-sm position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-4">
                            Education
                        </span>
                    </div>
                    <div class="position-relative z-1">
                        <div class="tw-ms-5 tw-mt--40px">
                            <div class="tw-h-132-px bg-white tw-rounded-lg tw-ps-7 tw-pt-6 tw-pb-5 tw-pe-305 border-start border-main-600">
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-3">
                                    <span class="tw-text-405 text-main-600">
                                        <i class="ph-bold ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-305 text-neutral-400">
                                        09 May, 2025
                                    </span>
                                </div>
                                <a href="blog-details.html" class="fw-medium tw-text-5 text-neutral-950 line-clamp-2">
                                    Profitable Business Makes Your Profit in Suitability
                                </a>
                            </div>
                            <p class="fw-normal tw-text-405 text-neutral-400 tw-ps-7 tw-mt-2 line-clamp-2">We offer end-to-end creative services that help you engage...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="200">
                <div class="animation-item z-1">
                    <div class="position-relative overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        <span class="tw-py-1 tw-px-5 bg-warming-500 text-neutral-800 fw-medium tw-text-4 tw-rounded-sm position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-4">
                            Education
                        </span>
                    </div>
                    <div class="position-relative z-1">
                        <div class="tw-ms-5 tw-mt--40px">
                            <div class="tw-h-132-px bg-white tw-rounded-lg tw-ps-7 tw-pt-6 tw-pb-5 tw-pe-305 border-start border-main-600">
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-3">
                                    <span class="tw-text-405 text-main-600">
                                        <i class="ph-bold ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-305 text-neutral-400">
                                        09 May, 2025
                                    </span>
                                </div>
                                <a href="blog-details.html" class="fw-medium tw-text-5 text-neutral-950 line-clamp-2">
                                    How to Stay Motivated and Succeed in Online Courses
                                </a>
                            </div>
                            <p class="fw-normal tw-text-405 text-neutral-400 tw-ps-7 tw-mt-2 line-clamp-2">We offer end-to-end creative services that help you engage...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="300">
                <div class="animation-item z-1">
                    <div class="position-relative overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        <span class="tw-py-1 tw-px-5 bg-warming-500 text-neutral-800 fw-medium tw-text-4 tw-rounded-sm position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-4">
                            Education
                        </span>
                    </div>
                    <div class="position-relative z-1">
                        <div class="tw-ms-5 tw-mt--40px">
                            <div class="tw-h-132-px bg-white tw-rounded-lg tw-ps-7 tw-pt-6 tw-pb-5 tw-pe-305 border-start border-main-600">
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-3">
                                    <span class="tw-text-405 text-main-600">
                                        <i class="ph-bold ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-305 text-neutral-400">
                                        09 May, 2025
                                    </span>
                                </div>
                                <a href="blog-details.html" class="fw-medium tw-text-5 text-neutral-950 line-clamp-2">
                                    Choosing the Right Online Course for Your Goals
                                </a>
                            </div>
                            <p class="fw-normal tw-text-405 text-neutral-400 tw-ps-7 tw-mt-2 line-clamp-2">We offer end-to-end creative services that help you engage...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ======================= Blog section end ====================== -->