<!-- =============================== blog section start ============================= -->
<section class="">
    <div class="tw-mt-330-px">
        <div class="py-100">
            <div class="container">
                <div class="text-center tw-mb-11">
                    <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-6 tw-h-6 border-main-100 border bg-main-50 rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                            <i class="ph-fill ph-star-four"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-main-600">
                            Blog & News
                        </span>
                    </div>
                    <h3 class="fw-semibold text-neutral-950 tw-line-height-77-px tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        Our Latest News Updates
                    </h3>
                    <p class="fw-normal tw-text-405 text-neutral-500" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        The ability to learn at my own pace was a game-changer for me. The flexible schedule<br> allowed me to balance my studies with work and personal life
                    </p>
                </div>
                <div class="row gy-4">
                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="animation-item">
                            <span class="bg-img overflow-hidden tw-rounded-xl tw-mb-6 position-relative">
                                <img src="assets/images/thumbs/blog-news-img1.png" alt="images" class="bg-img course-item__img tw-duration-300">
                                <span class="bg-main-600 text-center tw-rounded-xl tw-py-4 tw-px-6 position-absolute bottom-0 tw-end-0 flex-shrink-0">
                                    <span class="tw-text-36-px tw-mb-1 text-white fw-bold">
                                        09
                                    </span>
                                    <span class="text-white fw-normal tw-text-4">
                                        JUN
                                    </span>
                                </span>
                            </span>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph-bold ph-user-circle"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-neutral-400">
                                        <strong class="fw-bold">By</strong> Admin
                                    </span>
                                </div>
                                <span class="tw-w-px tw-h-6 bg-neutral-100"></span>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph-bold ph-chat-text"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-neutral-400">
                                        <strong class="fw-bold">02</strong> Comments
                                    </span>
                                </div>
                            </div>
                            <span class="w-100 tw-h-px bg-neutral-100 tw-my-4"></span>
                            <h5>
                                <a href="blog-details.html" class="fw-semibold text-neutral-500 tw-mb-8">
                                    How Digital Platforms Are Shaping Business Schools
                                </a>
                            </h5>
                            <a href="blog-details.html" class="text-main-600 fw-bold tw-text-4 d-flex align-items-center tw-gap-3 hover-text-main-600 hover-underline">
                                Read Details
                                <span>
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="animation-item">
                            <span class="bg-img overflow-hidden tw-rounded-xl tw-mb-6 position-relative">
                                <img src="assets/images/thumbs/blog-news-img2.png" alt="images" class="bg-img course-item__img tw-duration-300">
                                <span class="bg-main-600 text-center tw-rounded-xl tw-py-4 tw-px-6 position-absolute bottom-0 tw-end-0 flex-shrink-0">
                                    <span class="tw-text-36-px tw-mb-1 text-white fw-bold">
                                        28
                                    </span>
                                    <span class="text-white fw-normal tw-text-4">
                                        JUN
                                    </span>
                                </span>
                            </span>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph-bold ph-user-circle"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-neutral-400">
                                        <strong class="fw-bold">By</strong> Admin
                                    </span>
                                </div>
                                <span class="tw-w-px tw-h-6 bg-neutral-100"></span>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph-bold ph-chat-text"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-neutral-400">
                                        <strong class="fw-bold">02</strong> Comments
                                    </span>
                                </div>
                            </div>
                            <span class="w-100 tw-h-px bg-neutral-100 tw-my-4"></span>
                            <h5>
                                <a href="blog-details.html" class="fw-semibold text-neutral-500 tw-mb-8">
                                    5 Parameters to Craft a Comfortable Contemporary Best House Design
                                </a>
                            </h5>
                            <a href="blog-details.html" class="text-main-600 fw-bold tw-text-4 d-flex align-items-center tw-gap-3 hover-text-main-600 hover-underline">
                                Read Details
                                <span>
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="animation-item">
                            <span class="bg-img overflow-hidden tw-rounded-xl tw-mb-6 position-relative">
                                <img src="assets/images/thumbs/blog-news-img3.png" alt="images" class="bg-img course-item__img tw-duration-300">
                                <span class="bg-main-600 text-center tw-rounded-xl tw-py-4 tw-px-6 position-absolute bottom-0 tw-end-0 flex-shrink-0">
                                    <span class="tw-text-36-px tw-mb-1 text-white fw-bold">
                                        12
                                    </span>
                                    <span class="text-white fw-normal tw-text-4">
                                        JUN
                                    </span>
                                </span>
                            </span>
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph-bold ph-user-circle"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-neutral-400">
                                        <strong class="fw-bold">By</strong> Admin
                                    </span>
                                </div>
                                <span class="tw-w-px tw-h-6 bg-neutral-100"></span>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph-bold ph-chat-text"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-neutral-400">
                                        <strong class="fw-bold">02</strong> Comments
                                    </span>
                                </div>
                            </div>
                            <span class="w-100 tw-h-px bg-neutral-100 tw-my-4"></span>
                            <h5>
                                <a href="blog-details.html" class="fw-semibold text-neutral-500 tw-mb-8">
                                    How to Avoid the Biggest College Admission Mistakes 
                                </a>
                            </h5>
                            <a href="blog-details.html" class="text-main-600 fw-bold tw-text-4 d-flex align-items-center tw-gap-3 hover-text-main-600 hover-underline">
                                Read Details
                                <span>
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== blog section end ============================= -->