<!-- ========================= blog section start ========================= -->
<section class="py-100 position-relative">
    <img src="assets/images/shape/reviews-bottom-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-120-px tw-ms-178-px d-xl-block d-none animation-scalation">
    <img src="assets/images/shape/blog-three-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-120-px animation-upDown d-xl-block d-none">
    <div class="container">
        <div class="d-flex justify-content-center tw-mb-12">
            <div class="max-w-680-px text-center">
                <div class="bg-main-50 tw-py-1 tw-ps-105 tw-pe-4 rounded-pill d-inline-flex align-items-center tw-gap-205 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-6 tw-h-6 bg-white border-main-100 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-305">
                        <i class="ph-fill ph-star-four"></i>
                    </span>
                    <span class="fw-normal tw-text-4 text-main-600">
                       Blog & News
                    </span>
                </div>
                <h3 class="fw-semibold text-neutral-950 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Our Latest News Updates
                </h3>
                <p class="fw-normal tw-text-405 text-neutral-400" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    The ability to learn at my own pace was a game-changer for me. The flexible schedule allowed me to balance my studies with work and personal life
                </p>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="tw-p-105 border-neutral-20 border tw-rounded-xl animation-item">
                    <span class="w-100 overflow-hidden tw-rounded-xl tw-mb-5">
                        <img src="assets/images/thumbs/blog-three-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div class="tw-px-4 tw-pb-5">
                        <div class="tw-px-4 tw-pb-3">
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph ph-user-circle"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-blue-200">
                                        <strong>By</strong> Admin
                                    </span>
                                </div>
                                <span class="tw-w-px tw-h-7 bg-neutral-12-persent"></span>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph ph-chat-text"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-blue-200">
                                        <strong>02</strong> Comments
                                    </span>
                                </div>
                            </div>
                            <span class="w-100 tw-h-px bg-neutral-12-persent tw-mt-4 tw-mb-4"></span>
                            <a href="blog-details.html" class="fw-semibold tw-text-5 text-neutral-500 tw-mb-4 hover-text-main-600 tw-duration-300">
                                How to Avoid the Biggest College Admission Mistakes
                            </a>
                            <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-8">
                                Take classes on the go with the educrat app. Stream or download to watch...
                            </p>
                            <a href="blog-details.html" class="fw-bold tw-text-4 text-main-600 hover-text-main-600 hover-underline d-flex align-items-center tw-gap-2">
                                Read Details
                                <span>
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="tw-p-105 border-neutral-20 border tw-rounded-xl animation-item">
                    <span class="w-100 overflow-hidden tw-rounded-xl tw-mb-5">
                        <img src="assets/images/thumbs/blog-three-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div class="tw-px-4 tw-pb-5">
                        <div class="tw-px-4 tw-pb-3">
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph ph-user-circle"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-blue-200">
                                        <strong>By</strong> Admin
                                    </span>
                                </div>
                                <span class="tw-w-px tw-h-7 bg-neutral-12-persent"></span>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph ph-chat-text"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-blue-200">
                                        <strong>02</strong> Comments
                                    </span>
                                </div>
                            </div>
                            <span class="w-100 tw-h-px bg-neutral-12-persent tw-mt-4 tw-mb-4"></span>
                            <a href="blog-details.html" class="fw-semibold tw-text-5 text-neutral-500 tw-mb-4 hover-text-main-600 tw-duration-300">
                                How Digital Platforms Are Shaping Business Schools
                            </a>
                            <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-8">
                                Take classes on the go with the educrat app. Stream or download to watch...
                            </p>
                            <a href="blog-details.html" class="fw-bold tw-text-4 text-main-600 hover-text-main-600 hover-underline d-flex align-items-center tw-gap-2">
                                Read Details
                                <span>
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="tw-p-105 border-neutral-20 border tw-rounded-xl animation-item">
                    <span class="w-100 overflow-hidden tw-rounded-xl tw-mb-5">
                        <img src="assets/images/thumbs/blog-three-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </span>
                    <div class="tw-px-4 tw-pb-5">
                        <div class="tw-px-4 tw-pb-3">
                            <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph ph-user-circle"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-blue-200">
                                        <strong>By</strong> Admin
                                    </span>
                                </div>
                                <span class="tw-w-px tw-h-7 bg-neutral-12-persent"></span>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <span class="tw-text-505 text-main-600">
                                        <i class="ph ph-chat-text"></i>
                                    </span>
                                    <span class="fw-normal tw-text-4 text-blue-200">
                                        <strong>02</strong> Comments
                                    </span>
                                </div>
                            </div>
                            <span class="w-100 tw-h-px bg-neutral-12-persent tw-mt-4 tw-mb-4"></span>
                            <a href="blog-details.html" class="fw-semibold tw-text-5 text-neutral-500 tw-mb-4 hover-text-main-600 tw-duration-300">
                                5 Parameters to a Comfortable Contemporary Best House
                            </a>
                            <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-8">
                                Take classes on the go with the educrat app. Stream or download to watch...
                            </p>
                            <a href="blog-details.html" class="fw-bold tw-text-4 text-main-600 hover-text-main-600 hover-underline d-flex align-items-center tw-gap-2">
                                Read Details
                                <span>
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= blog section end ========================= -->