<!-- =================== brand section start =================== -->
  <div class="py-100">
    <div class="container">

        <span class="fw-semibold tw-text-405 text-neutral-400 tw-mb-13 text-center d-flex justify-content-center ">
            Trusted by the world’s best
        </span>
        <div class="position-relative">
          <div class="swiper brand-slider left-right-gradient gradient-width-200">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div
                  class="element-double-animation"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="100"
                >
                  <div
                    class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300 text-center"
                  >
                    <img src="assets/images/thumbs/brand-img1.png" alt="Logo">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="element-double-animation"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="200"
                >   
                  <div
                    class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300 text-center"
                  >
                    <img src="assets/images/thumbs/brand-img2.png" alt="Logo">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="element-double-animation"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="300"
                >
                  <div
                    class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300 text-center"
                  >
                    <img src="assets/images/thumbs/brand-img3.png" alt="Logo">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="element-double-animation"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="400"
                >
                  <div
                    class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300 text-center"
                  >
                    <img src="assets/images/thumbs/brand-img4.png" alt="Logo">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="element-double-animation"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="500"
                >
                  <div
                    class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300 text-center"
                  >
                    <img src="assets/images/thumbs/brand-img5.png" alt="Logo">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="element-double-animation"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="600"
                >
                  <div
                    class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300 text-center"
                  >
                    <img src="assets/images/thumbs/brand-img3.png" alt="Logo">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div
                  class="element-double-animation"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="300"
                >
                  <div
                    class="filter-grayscale-100 hover-filter-grayscale-0 tw-duration-300 text-center"
                  >
                    <img src="assets/images/thumbs/brand-img3.png" alt="Logo">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
<!-- =================== brand section end =================== -->