<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="bg-img py-140 z-2 overflow-hidden" style="background-image: url(assets/images/bg/about-us-bg-img.png);">
    <div class="container">
        <div class="position-relative">
            <img src="assets/images/shape/banner-five-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 z-n1 d-lg-block d-none animation-scalation">
            <img src="assets/images/shape/about-us-five-shape2.png" alt="shape" class="position-absolute tw-end-0 bottom-0 tw-mb-80-px animation-scalation d-lg-block d-none">

            <div class="text-center">
                <ul class="d-inline-flex align-items-center justify-content-center tw-gap-2 bg-white-08 rounded-pill tw-px-5 tw-py-2">
                    <li><a href="index.html" class="fw-normal tw-text-405 text-neutral-500"> <i class="las la-home"></i> Home</a> </li>
                    <li class="tw-text-405 text-neutral-500">/</li>
                    <li> <span class="tw-text-405 text-neutral-500"> @@breadcrumbText </span> </li>
                </ul>
                <h3 class="fw-bold text-neutral-950"> @@breadcrumbTitle</h3>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->