<!-- ==================== campus life section start ======================== -->
<section class="py-100 bg-neutral-50 position-relative">
    <img src="assets/images/shape/courses-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-110-px animation-upDown d-xl-block d-none">
    <img src="assets/images/shape/campus-three-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt-190px tw-me-150px animation-scalation d-xl-block d-none">
    <div class="container">
        <div class="position-relative">
            <div class="position-absolute top-0 tw-start-0 text-center tw-start-50 translate-middle-x w-100 d-lg-block d-none">
                <span class="tw-text-148-px text-main-100 fw-semibold text-center tw-mt-104-px">
                    CAMPUS LIFE
                </span>
            </div>
            <div class="text-center tw-mb-13">
                <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                        <i class="ph-fill ph-star-four"></i>
                    </span>
                    <span class="fw-normal tw-text-4 text-main-600">
                        Campus Life
                    </span>
                </div>
                <h3 class="fw-semibold text-neutral-950 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Our Most Popular Courses
                </h3>
                <p class="fw-normal tw-text-4 text-neutral-400" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    The ability to learn at my own pace was a game-changer for me. The flexible schedule<br> allowed me to balance my studies with work and personal life
                </p>
            </div>
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="group tw-mt-15 tw-mt-mediy-0">
                        <div class="tw-p-105 bg-white tw-rounded-xl animation-item position-relative group-hover-shadow-about-us-three tw-duration-300"> 
                            <span class="w-100 overflow-hidden tw-rounded-xl tw-mb-6">
                                <img src="assets/images/thumbs/campus-life-three-img1.png" alt="img" class="w-100 tw-duration-300 course-item__img">
                            </span>
                            <div class="text-center tw-px-5 tw-pb-90-px">
                                <h5 class="fw-semibold text-neutral-500 tw-mb-4">
                                    Student Life
                                </h5>
                                <p class="fw-normal tw-text-405 text-neutral-400">
                                    Learn about how them you went down prying the wedding ring off his cold.
                                </p>
                            </div>
                            <a href="about-us.html" class="tw-w-92-px tw-h-92-px bg-neutral-50 rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--46-px">
                                <span class="tw-w-16 tw-h-16 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-405 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="group">
                        <div class="tw-p-105 bg-white tw-rounded-xl animation-item position-relative group-hover-shadow-about-us-three tw-duration-300"> 
                            <span class="w-100 overflow-hidden tw-rounded-xl tw-mb-6">
                                <img src="assets/images/thumbs/campus-life-three-img2.png" alt="img" class="w-100 tw-duration-300 course-item__img">
                            </span>
                            <div class="text-center tw-px-5 tw-pb-90-px">
                                <h5 class="fw-semibold text-neutral-500 tw-mb-4">
                                    Arts & Culture
                                </h5>
                                <p class="fw-normal tw-text-405 text-neutral-400">
                                    Learn about how them you went down prying the wedding ring off his cold.
                                </p>
                            </div>
                            <a href="about-us.html" class="tw-w-92-px tw-h-92-px bg-neutral-50 rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--46-px">
                                <span class="tw-w-16 tw-h-16 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-405 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="group tw-mt-15 tw-mt-mediy-0">
                        <div class="tw-p-105 bg-white tw-rounded-xl animation-item position-relative group-hover-shadow-about-us-three tw-duration-300"> 
                            <span class="w-100 overflow-hidden tw-rounded-xl tw-mb-6">
                                <img src="assets/images/thumbs/campus-life-three-img3.png" alt="img" class="w-100 tw-duration-300 course-item__img">
                            </span>
                            <div class="text-center tw-px-5 tw-pb-90-px">
                                <h5 class="fw-semibold text-neutral-500 tw-mb-4">
                                    Athletics
                                </h5>
                                <p class="fw-normal tw-text-405 text-neutral-400">
                                    Learn about how them you went down prying the wedding ring off his cold.
                                </p>
                            </div>
                            <a href="about-us.html" class="tw-w-92-px tw-h-92-px bg-neutral-50 rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--46-px">
                                <span class="tw-w-16 tw-h-16 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-405 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                                    <i class="ph-bold ph-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <a href="about-us.html" class="btn btn-main-four hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-5 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill tw-mt-10" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <span class="button__flair"></span>
                    <span class="button__label fw-bold tw-text-4">About University</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ==================== campus life section end ======================== -->



<!-- ===================== campus life bottom section start ===================== -->
<div class="position-relative">
    <span class="w-100">
        <img src="assets/images/thumbs/campus-life-bottom-three-img1.png" alt="img" class="w-100">
    </span>
    <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button tw-w-156-px tw-h-156-px bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-10 text-main-600 position-absolute top-0 tw-start-0 top-50 tw-start-50 translate-middle">
        <i class="ph-fill ph-play"></i>
    </a>
</div>
<!-- ===================== campus life bottom section end ===================== -->