<!-- =========================== campus section start =========================== -->
<div style="background-image: url(assets/images/bg/campus-seven-bg-img1.png);" class="bg-img">
    <div class="pb-110 tw-pt-380-px">
        <div class="container">
            <div class="d-flex align-items-center tw-gap-6 justify-content-between flex-wrap">
                <h2 class="max-w-680-px w-100 text-white tw-text-108-px fw-normal" data-aos="fade-up" data-aos-duration="600">The Campus Experience</h2>
                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button tw-w-110-px tw-h-110-px bg-white rounded-circle d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="800">
                    <span class="tw-w-104-px tw-h-104-px rounded-circle bg-main-600 tw-text-7 d-flex align-items-center justify-content-center text-white">
                        <i class="ph-fill ph-play"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- =========================== campus section end =========================== -->