<!-- ====================== categories section start ====================== -->
<section class="py-100">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-main-50 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                        <i class="ph-fill ph-star-four"></i>
                    </span>
                    <span class="fw-normal tw-text-4 text-main-600">
                    Popular Categories
                    </span>
                </div>
                <h3 class="fw-semibold text-neutral-950 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    We can teach you well now
                </h3>
                <p class="fw-normal tw-text-4 text-neutral-400 max-w-550-px tw-mb-15" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    Take classes on the go with the educrat app. Stream or download to watch on the plane, the subway, or wherever you learn best.
                </p>
                <div class="tw-mb-12" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <span class="text-lg fw-semibold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                        Painting Course
                    </span>
                    <div
                    class="progress-container style-yellow"
                    data-percentage="77"
                    >
                    <div class="progress active"></div>
                    <div class="percentage active cursor-small">0%</div>
                    </div>
                </div>
                <div class="tw-mb-12" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <span class="text-lg fw-semibold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                        Financial Course
                    </span>
                    <div
                    class="progress-container style-yellow"
                    data-percentage="66"
                    >
                    <div class="progress active"></div>
                    <div class="percentage active cursor-small">0%</div>
                    </div>
                </div>
                <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <span class="text-lg fw-semibold tw-mb-3 d-block text-heading text-capitalize cursor-small">
                        Marketing Course
                    </span>
                    <div
                    class="progress-container style-yellow"
                    data-percentage="90"
                    >
                    <div class="progress active"></div>
                    <div class="percentage active cursor-small">0%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-main-600 tw-py-17 tw-px-48-px tw-rounded-2xl">
                    <h3 class="fw-semibold text-white tw-mb-6" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        Online Registration
                    </h3>
                    <p class="fw-normal tw-text-4 text-white tw-mb-10" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                        Classes on the go with the educrat app. Stream or download to watch on the plane.
                    </p>
                    <form action="#">
                        <input type="text" placeholder="Your name" class="fw-normal tw-text-4 text-neutral-100 tw-py-4 tw-px-5 w-100 tw-rounded-md focus-visible-border-main-600 border-white border tw-mb-3" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <input type="email" placeholder="Your email" class="fw-normal tw-text-4 text-neutral-100 tw-py-4 tw-px-5 w-100 tw-rounded-md focus-visible-border-main-600 border-white border tw-mb-3" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                        <input type="number" placeholder="Your phone" class="fw-normal tw-text-4 text-neutral-100 tw-py-4 tw-px-5 w-100 tw-rounded-md focus-visible-border-main-600 border-white border tw-mb-10" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <button type="submit" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-5 tw-px-6 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-white border" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                            <span class="button__flair"></span>
                            <span class="button__label fw-bold tw-text-4">Submit Information</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== categories section end ====================== --> 