<!-- ========================= contact width us section start ========================= -->
<section class="py-110">
    <div class="container">
        <div>
            <div class="tw-ms-15">
                <span class="fw-medium tw-text-305 tw-py-2 tw-px-5 bg-main-50 text-main-600 tw-rounded-sm tw-mb-6">CONTACT WITH US</span>
                <h2 class="h4 fw-normal text-neutral-600 tw-mb-15" data-aos="fade-up" data-aos-duration="600">Let’s Contact Us for Your Admission!</h2>
                <div class="row gy-4">
                    <div class="col-lg-4">
                        <div class="d-flex tw-gap-4 tw-mb-10" data-aos="fade-up" data-aos-duration="1000">
                            <span class="tw-text-10 text-main-600">
                                <i class="ph-bold ph-headset"></i>
                            </span>
                            <div>
                                <h2 class="h6 fw-medium text-neutral-800 tw-mb-4">Contact us:</h2>
                                <a href="tel:+483939993900" class="fw-normal tw-text-4 text-neutral-500 tw-mb-3 d-block">
                                    +483 9399 939 00
                                </a>
                                <a href="mailto:helloflybed@gmail.com" class="fw-normal tw-text-4 text-neutral-500">helloflybed@gmail.com</a>
                            </div>
                        </div>
                        <div class="d-flex tw-gap-4 tw-mb-10" data-aos="fade-up" data-aos-duration="1100">
                            <span class="tw-text-10 text-main-600">
                                <i class="ph-bold ph-map-pin"></i>
                            </span>
                            <div>
                                <h2 class="h6 fw-medium text-neutral-800 tw-mb-4">Our Location:</h2>
                                <span class="fw-normal tw-text-4 text-neutral-500">2220 Plymouth Rd #302,<br> Hopkins, New York, USA</span>
                            </div>
                        </div>
                        <div class="d-flex tw-gap-4" data-aos="fade-up" data-aos-duration="1200">
                            <span class="tw-text-10 text-main-600">
                                <i class="ph-bold ph-clock"></i>
                            </span>
                            <div>
                                <h2 class="h6 fw-medium text-neutral-800 tw-mb-4">Working Time:</h2>
                                <span class="fw-normal tw-text-4 text-neutral-500">Mon - Fri: 8:00am - 6.00pm
                                <br> Sunday: <span class="text-black">Closed</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <form action="#">
                            <div class="row gy-4">
                                <div class="col-md-6" data-aos="fade-up" data-aos-duration="600">
                                    <input type="text" placeholder="Name" class="fw-medium tw-text-305 tw-text-base-three tw-py-4 tw-px-4 rounded-pill border-gray-100 border w-100 focus-visible-border-main-600">
                                </div>
                                <div class="col-md-6" data-aos="fade-up" data-aos-duration="600">
                                    <input type="email" placeholder="Email" class="fw-medium tw-text-305 tw-text-base-three tw-py-4 tw-px-4 rounded-pill border-gray-100 border w-100 focus-visible-border-main-600">
                                </div>
                                <div class="col-md-6" data-aos="fade-up" data-aos-duration="800">
                                    <input type="number" placeholder="Phone" class="fw-medium tw-text-305 tw-text-base-three tw-py-4 tw-px-4 rounded-pill border-gray-100 border w-100 focus-visible-border-main-600">
                                </div>
                                <div class="col-md-6" data-aos="fade-up" data-aos-duration="800">
                                    <input type="text" placeholder="Company" class="fw-medium tw-text-305 tw-text-base-three tw-py-4 tw-px-4 rounded-pill border-gray-100 border w-100 focus-visible-border-main-600">
                                </div>
                                <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000">
                                    <textarea placeholder="Company" class="fw-medium tw-text-305 tw-text-base-three tw-py-4 tw-px-4 tw-rounded-xl border-gray-100 border w-100 tw-h-132-px h-100 tw-mb-7 focus-visible-border-main-600"></textarea>
                                </div>
                                <div class="" data-aos="fade-up" data-aos-duration="1200">
                                    <button type="submit" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                            <i class="ph ph-caret-right"></i>
                                        </span>
                                        <span class="button__label fw-medium">Send Message</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= contact width us section end ========================= -->


<!-- ======================== map section start ======================== -->
 <!-- Google Map start -->
    <div class="tw-h-500-px">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d18594861.431429405!2d25.097591251485795!3d54.811518433582705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssea!5e0!3m2!1sen!2sbd!4v1752124108423!5m2!1sen!2sbd"
            class="w-100 h-100"></iframe>
    </div>
    <!-- Google Map end -->
<!-- ======================== map section end ======================== -->