<!-- ========================== contact us section start ======================== -->
<section class="py-120">
    <div class="container max-w-1450-px w-100">
        <div class="row gy-4">
            <div class="col-xl-4">
                <div class="w-100 h-100 object-fit-cover" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/thumbs/contact-us-four-img1.png" alt="img" class="w-100 h-100">
                </div>
            </div>
            <div class="col-xl-8">
                <div class="tw-ms-15">
                    <h2 class="fw-normal text-main-two-600 tw-mb-7" data-aos="fade-up" data-aos-duration="600">Let’s Contact with Us</h2>
                    <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-17" data-aos="fade-up" data-aos-duration="800">Deserves results. That’s why we offer end-to-end creative services that help <br> you engage your audience, build trust, and grow with confidence.</p>
                    <div class="row gy-4">
                        <div class="col-lg-4">
                            <div class="d-flex tw-gap-4 tw-mb-10" data-aos="fade-up" data-aos-duration="1000">
                                <span class="tw-text-10 text-black">
                                    <i class="ph-bold ph-headset"></i>
                                </span>
                                <div>
                                    <h6 class="fw-medium text-neutral-800 tw-mb-4">Contact us:</h6>
                                    <a href="tel:+483939993900" class="fw-normal tw-text-4 text-neutral-500 hover-text-main-600 tw-mb-3 d-block">
                                        +483 9399 939 00
                                    </a>
                                    <a href="mailto:helloflybed@gmail.com" class="fw-normal tw-text-4 text-neutral-500">helloflybed@gmail.com</a>
                                </div>
                            </div>
                            <div class="d-flex tw-gap-4 tw-mb-10" data-aos="fade-up" data-aos-duration="1100">
                                <span class="tw-text-10 text-black">
                                    <i class="ph-bold ph-map-pin"></i>
                                </span>
                                <div>
                                    <h6 class="fw-medium text-neutral-800 tw-mb-4">Our Location:</h6>
                                    <span class="fw-normal tw-text-4 text-neutral-500">2220 Plymouth Rd #302,<br> Hopkins, New York, USA</span>
                                </div>
                            </div>
                            <div class="d-flex tw-gap-4" data-aos="fade-up" data-aos-duration="1200">
                                <span class="tw-text-10 text-black">
                                    <i class="ph-bold ph-clock"></i>
                                </span>
                                <div>
                                    <h6 class="fw-medium text-neutral-800 tw-mb-4">Working Time:</h6>
                                    <span class="fw-normal tw-text-4 text-neutral-500">Mon - Fri: 8:00am - 6.00pm
                                    <br> Sunday: <span class="text-black">Closed</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <form action="#">
                                <div class="row gy-4">
                                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="600">
                                        <input type="text" placeholder="Name" class="fw-medium tw-text-305 tw-text-base-three tw-py-4 tw-px-4 tw-rounded-md border-neutral-100 border w-100 focus-visible-border-main-600">
                                    </div>
                                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="600">
                                        <input type="email" placeholder="Email" class="fw-medium tw-text-305 tw-text-base-three tw-py-4 tw-px-4 tw-rounded-md border-neutral-100 border w-100 focus-visible-border-main-600">
                                    </div>
                                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="800">
                                        <input type="number" placeholder="Phone" class="fw-medium tw-text-305 tw-text-base-three tw-py-4 tw-px-4 tw-rounded-md border-neutral-100 border w-100 focus-visible-border-main-600">
                                    </div>
                                    <div class="col-md-6" data-aos="fade-up" data-aos-duration="800">
                                        <input type="text" placeholder="Company" class="fw-medium tw-text-305 tw-text-base-three tw-py-4 tw-px-4 tw-rounded-md border-neutral-100 border w-100 focus-visible-border-main-600">
                                    </div>
                                    <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000">
                                        <textarea placeholder="Company" class="fw-medium tw-text-305 tw-text-base-three tw-py-4 tw-px-4 tw-rounded-md border-neutral-100 border w-100 tw-h-132-px h-100 tw-mb-7 focus-visible-border-main-600"></textarea>
                                    </div>
                                    <div data-aos="fade-up" data-aos-duration="1200">
                                        <button type="submit" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                                            <span class="button__flair"></span>
                                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                                <i class="ph ph-caret-right"></i>
                                            </span>
                                            <span class="button__label fw-medium">Send Message</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== contact us section end ======================== -->