<!-- ========================== our courses section start =========================== -->
 <div class="py-110 position-relative overflow-hidden">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3">
                <div class="course-toggle-item tw-py-7 tw-px-5 bg-main-05 border-main-50 border tw-rounded-xl">
                    <div class="d-xl-none d-block">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="course-crose-button bg-main-50 tw-w-7 tw-h-7 rounded-circle d-flex align-items-center justify-content-center text-neutral-600 hover-bg-main-600 hover-text-white tw-duration-300 tw-text-3 tw-mb-5">
                                <i class="ph-bold ph-x"></i>
                            </button>
                        </div>
                    </div>
                    <div class="">
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                            <span class="fw-medium tw-text-5 text-neutral-800">Search</span>
                            <button type="reset" class="fw-medium tw-text-405 text-danger-500">
                                Clear
                            </button>
                        </div>
                        <form action="#" class="position-relative tw-mb-6">
                            <input type="text" id="search" placeholder="Search here" class="fw-medium tw-text-305 text-neutral-500 w-100 tw-py-3 bg-white tw-ps-5 tw-pe-10 rounded-pill tw-border-about-us focus-visible-border-main-600 focus-visible-border-none">
                            <button type="submit" class="position-absolute top-0 tw-end-0 top-50 translate-middle-y tw-text-405 text-gray-700 tw-me-4">
                                <i class="ph-bold ph-magnifying-glass"></i>
                            </button>
                        </form>
                        <div>
                            <button type="button" class="course-nave-menu d-flex align-items-center justify-content-between">
                                <span class="fw-medium tw-text-5 text-neutral-800">
                                Categories
                                </span>
                                <span class="tw-text-3 text-neutral-950">
                                    <i class="ph-bold ph-caret-down"></i>
                                </span>
                            </button>
                            <div class="course-nave-menu__item tw-mt-5">
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefault">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefault">
                                        Drawing (23)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaulttwo">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaulttwo">
                                        Design (28)
                                    </label>
                                </div> 
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultthree">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultthree">
                                        Coding (08)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultfour">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultfour">
                                        Development (13)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultfive">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultfive">
                                        Marketing (20)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultsix">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultsix">
                                        Cooking (26)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <span class="w-100 tw-h-px bg-gray-50 tw-mt-7 tw-mb-7"></span>
                        <div>
                            <button type="button" class="course-nave-menu d-flex align-items-center justify-content-between">
                                <span class="fw-medium tw-text-5 text-neutral-800">
                                Level
                                </span>
                                <span class="tw-text-3 text-neutral-950">
                                    <i class="ph-bold ph-caret-down"></i>
                                </span>
                            </button>
                            <div class="course-nave-menu__item tw-mt-5">
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultlevel">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultlevel">
                                        All Levels (12)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultleveltwo">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultleveltwo">
                                        Beginner (24)
                                    </label>
                                </div> 
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultlevelthree">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultlevelthree">
                                        Intermediate (10)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultlevelfour">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultlevelfour">
                                        Expert (31)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <span class="w-100 tw-h-px bg-gray-50 tw-mt-7 tw-mb-7"></span>
                        <div>
                            <button type="button" class="course-nave-menu d-flex align-items-center justify-content-between">
                                <span class="fw-medium tw-text-5 text-neutral-800">
                                Price
                                </span>
                                <span class="tw-text-3 text-neutral-950">
                                    <i class="ph-bold ph-caret-down"></i>
                                </span>
                            </button>
                            <div class="course-nave-menu__item tw-mt-5">
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultprice">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultprice">
                                        Free (55)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultpricetwo">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultpricetwo">
                                        Paid (35)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <span class="w-100 tw-h-px bg-gray-50 tw-mt-7 tw-mb-7"></span>
                        <div>
                            <button type="button" class="course-nave-menu d-flex align-items-center justify-content-between">
                                <span class="fw-medium tw-text-5 text-neutral-800">
                                Languages
                                </span>
                                <span class="tw-text-3 text-neutral-950">
                                    <i class="ph-bold ph-caret-down"></i>
                                </span>
                            </button>
                            <div class="course-nave-menu__item tw-mt-5">
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultlanguages">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultlanguages">
                                        Chinese (12)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultlanguagestwo">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultlanguagestwo">
                                        German (08)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultlanguagesthree">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultlanguagesthree">
                                        English (21)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultlanguagesfour">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultlanguagesfour">
                                        Arabian (43)
                                    </label>
                                </div>
                                <div class="form-check align-items-center tw-gap-3 d-flex ps-0 tw-mb-4">
                                    <input class="form-check-input tw-text-5 mt-0" type="checkbox" value="" id="checkDefaultlanguagesfive">
                                    <label class="form-check-label fw-medium tw-text-4 text-neutral-100" for="checkDefaultlanguagesfive">
                                        Spanish (32)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="text-end d-flex align-items-center justify-content-end">
                    <button type="button" class="course-toggle__button tw-text-8 text-neutral-950 d-xl-none d-block tw-mb-10">
                        <i class="ph-bold ph-list"></i>
                    </button>
                </div>
                <div>
                    <div class="row gy-4">
                        <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600">
                            <div class="animation-item marketing-shadow w-100 h-100">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px">
                                    <img src="assets/images/thumbs/our-courses-five-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                        Drawing
                                    </span>
                                </div>
                                <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-405 text-main-600">
                                                <i class="ph-bold ph-book"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                04 Lessons
                                                </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-5 text-warming-600">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                2.4 (67)
                                                </span>
                                        </div>
                                    </div>
                                    <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                        The Ultimate Drawing Course Beginner to Advanced
                                    </a>
                                    <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                                    <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                            <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                        </div>
                                        <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="800">
                            <div class="animation-item marketing-shadow w-100 h-100">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px">
                                    <img src="assets/images/thumbs/our-courses-five-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                        Language
                                    </span>
                                </div>
                                <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-405 text-main-600">
                                                <i class="ph-bold ph-book"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                04 Lessons
                                                </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-5 text-warming-600">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                2.4 (67)
                                                </span>
                                        </div>
                                    </div>
                                    <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                        Essential Language Skills for Travel and Business
                                    </a>
                                    <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                                    <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                            <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                        </div>
                                        <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                            <div class="animation-item marketing-shadow w-100 h-100">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px">
                                    <img src="assets/images/thumbs/our-courses-five-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                        Education
                                    </span>
                                </div>
                                <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-405 text-main-600">
                                                <i class="ph-bold ph-book"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                04 Lessons
                                                </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-5 text-warming-600">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                2.4 (67)
                                                </span>
                                        </div>
                                    </div>
                                    <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                        From Beginner to Fluent in Record Time for Your Education
                                    </a>
                                    <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                                    <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                            <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                        </div>
                                        <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600">
                            <div class="animation-item marketing-shadow w-100 h-100">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px">
                                    <img src="assets/images/thumbs/course-grid-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                        Business
                                    </span>
                                </div>
                                <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-405 text-main-600">
                                                <i class="ph-bold ph-book"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                04 Lessons
                                                </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-5 text-warming-600">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                2.4 (67)
                                                </span>
                                        </div>
                                    </div>
                                    <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                        Instagram Ads Mastery for Business Growth
                                    </a>
                                    <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                                    <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                            <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                        </div>
                                        <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="800">
                            <div class="animation-item marketing-shadow w-100 h-100">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px">
                                    <img src="assets/images/thumbs/course-grid-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                        Design
                                    </span>
                                </div>
                                <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-405 text-main-600">
                                                <i class="ph-bold ph-book"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                04 Lessons
                                                </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-5 text-warming-600">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                2.4 (67)
                                                </span>
                                        </div>
                                    </div>
                                    <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                        UI/UX Design Fundamentals for Beginners
                                    </a>
                                    <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                                    <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                            <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                        </div>
                                        <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                            <div class="animation-item marketing-shadow w-100 h-100">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px">
                                    <img src="assets/images/thumbs/course-grid-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                        Design
                                    </span>
                                </div>
                                <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-405 text-main-600">
                                                <i class="ph-bold ph-book"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                04 Lessons
                                                </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-5 text-warming-600">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                2.4 (67)
                                                </span>
                                        </div>
                                    </div>
                                    <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                        Startup & Entrepreneur Business Strategy Course
                                    </a>
                                    <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                                    <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                            <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                        </div>
                                        <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600">
                            <div class="animation-item marketing-shadow w-100 h-100">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px">
                                    <img src="assets/images/thumbs/course-grid-img4.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                        Marketing
                                    </span>
                                </div>
                                <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-405 text-main-600">
                                                <i class="ph-bold ph-book"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                04 Lessons
                                                </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-5 text-warming-600">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                2.4 (67)
                                                </span>
                                        </div>
                                    </div>
                                    <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                        Email Marketing Essentials for Beginners
                                    </a>
                                    <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                                    <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                            <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                        </div>
                                        <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="800">
                            <div class="animation-item marketing-shadow w-100 h-100">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px">
                                    <img src="assets/images/thumbs/course-grid-img5.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                        Development
                                    </span>
                                </div>
                                <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-405 text-main-600">
                                                <i class="ph-bold ph-book"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                04 Lessons
                                                </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-5 text-warming-600">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                2.4 (67)
                                                </span>
                                        </div>
                                    </div>
                                    <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                        Build Responsive Websites with HTML & CSS
                                    </a>
                                    <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                                    <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                            <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                        </div>
                                        <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                            <div class="animation-item marketing-shadow w-100 h-100">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px">
                                    <img src="assets/images/thumbs/course-grid-img6.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                        Python
                                    </span>
                                </div>
                                <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-405 text-main-600">
                                                <i class="ph-bold ph-book"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                04 Lessons
                                                </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-5 text-warming-600">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                2.4 (67)
                                                </span>
                                        </div>
                                    </div>
                                    <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                        Machine Learning with Python – Hands-On Guide
                                    </a>
                                    <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                                    <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                            <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                        </div>
                                        <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>

                    <ul class="tw-mt-13 d-flex align-items-center justify-content-center tw-gap-2 flex-wrap" data-aos="fade-up" data-aos-duration="1200">
                        <li class="tw-w-11 tw-h-11 bg-neutral-600 rounded-circle tw-text-405 text-main-600 fw-bold d-flex align-items-center justify-content-center hover-text-white hover-bg-main-600 tw-duration-300">
                            01
                        </li>
                        <li class="tw-w-11 tw-h-11 bg-neutral-600 rounded-circle tw-text-405 text-main-600 fw-bold d-flex align-items-center justify-content-center hover-text-white hover-bg-main-600 tw-duration-300">
                            02
                        </li>
                        <li class="tw-w-11 tw-h-11 bg-neutral-600 rounded-circle tw-text-405 text-main-600 fw-bold d-flex align-items-center justify-content-center hover-text-white hover-bg-main-600 tw-duration-300">
                        <i class="ph-bold ph-caret-right"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- ========================== our courses section end =========================== -->