<!-- ======================= course catagory section start ============================= -->
 <section class="pt-110">
    <div class="max-w-620-px w-100 text-center mx-auto tw-mb-16">
        <span class="tw-px-5 tw-py-2 bg-main-50 tw-rounded-sm text-main-600 fw-medium tw-text-305 tw-mb-6 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
            COURSE CATEGORY
        </span>
        <h2 class="h4 fw-medium text-neutral-600" data-aos="fade-up" data-aos-duration="800">Let the Journey of Organizing Your Own Learning Begin</h2>
    </div> 

    <div class="swiper catagory-five-slider tw-mb-10">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="600">
                <div class="max-w-240-px w-100 animation-item">
                    <div class="position-relative tw-mb-14">
                        <span>
                            <img src="assets/images/thumbs/course-catagory-five-img1.png" alt="img">
                        </span>
                        <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute tw-start-0 bottom-0 tw-start-50 translate-middle-x tw-mb--40px">
                            <span class="tw-w-17 tw-h-17 bg-neutral-05 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/course-catagory-five-icon1.png" alt="icon" class="animate__swing">
                            </span>
                        </span>
                    </div>
                    <div class="text-center">
                        <h6 class="fw-medium text-neutral-800 tw-mb-2 d-block tw-text-405">Digital Marketing</h6>
                        <span class="fw-medium tw-text-4 text-neutral-300">05 Courses</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="700">
                <div class="max-w-240-px w-100 animation-item">
                    <div class="position-relative tw-mb-14">
                        <span>
                            <img src="assets/images/thumbs/course-catagory-five-img2.png" alt="img">
                        </span>
                        <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute tw-start-0 bottom-0 tw-start-50 translate-middle-x tw-mb--40px">
                            <span class="tw-w-17 tw-h-17 bg-neutral-05 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/course-catagory-five-icon2.png" alt="icon" class="animate__swing">
                            </span>
                        </span>
                    </div>
                    <div class="text-center">
                        <h6 class="fw-medium text-neutral-800 tw-mb-2 d-block tw-text-405">Web Design</h6>
                        <span class="fw-medium tw-text-4 text-neutral-300">05 Courses</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
                <div class="max-w-240-px w-100 animation-item">
                    <div class="position-relative tw-mb-14">
                        <span>
                            <img src="assets/images/thumbs/course-catagory-five-img3.png" alt="img">
                        </span>
                        <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute tw-start-0 bottom-0 tw-start-50 translate-middle-x tw-mb--40px">
                            <span class="tw-w-17 tw-h-17 bg-neutral-05 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/course-catagory-five-icon3.png" alt="icon" class="animate__swing">
                            </span>
                        </span>
                    </div>
                    <div class="text-center">
                        <h6 class="fw-medium text-neutral-800 tw-mb-2 d-block tw-text-405">Personal Development</h6>
                        <span class="fw-medium tw-text-4 text-neutral-300">05 Courses</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="900">
                <div class="max-w-240-px w-100 animation-item">
                    <div class="position-relative tw-mb-14">
                        <span>
                            <img src="assets/images/thumbs/course-catagory-five-img4.png" alt="img">
                        </span>
                        <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute tw-start-0 bottom-0 tw-start-50 translate-middle-x tw-mb--40px">
                            <span class="tw-w-17 tw-h-17 bg-neutral-05 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/course-catagory-five-icon4.png" alt="icon" class="animate__swing">
                            </span>
                        </span>
                    </div>
                    <div class="text-center">
                        <h6 class="fw-medium text-neutral-800 tw-mb-2 d-block tw-text-405">Quantum Chemistry</h6>
                        <span class="fw-medium tw-text-4 text-neutral-300">05 Courses</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
                <div class="max-w-240-px w-100 animation-item">
                    <div class="position-relative tw-mb-14">
                        <span>
                            <img src="assets/images/thumbs/course-catagory-five-img5.png" alt="img">
                        </span>
                        <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute tw-start-0 bottom-0 tw-start-50 translate-middle-x tw-mb--40px">
                            <span class="tw-w-17 tw-h-17 bg-neutral-05 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/course-catagory-five-icon5.png" alt="icon" class="animate__swing">
                            </span>
                        </span>
                    </div>
                    <div class="text-center">
                        <h6 class="fw-medium text-neutral-800 tw-mb-2 d-block tw-text-405">Mobile Application</h6>
                        <span class="fw-medium tw-text-4 text-neutral-300">05 Courses</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1100">
                <div class="max-w-240-px w-100 animation-item">
                    <div class="position-relative tw-mb-14">
                        <span>
                            <img src="assets/images/thumbs/course-catagory-five-img6.png" alt="img">
                        </span>
                        <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute tw-start-0 bottom-0 tw-start-50 translate-middle-x tw-mb--40px">
                            <span class="tw-w-17 tw-h-17 bg-neutral-05 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/course-catagory-five-icon6.png" alt="icon" class="animate__swing">
                            </span>
                        </span>
                    </div>
                    <div class="text-center">
                        <h6 class="fw-medium text-neutral-800 tw-mb-2 d-block tw-text-405">Graphic Design</h6>
                        <span class="fw-medium tw-text-4 text-neutral-300">05 Courses</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1200">
                <div class="max-w-240-px w-100 animation-item">
                    <div class="position-relative tw-mb-14">
                        <span>
                            <img src="assets/images/thumbs/course-catagory-five-img7.png" alt="img">
                        </span>
                        <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute tw-start-0 bottom-0 tw-start-50 translate-middle-x tw-mb--40px">
                            <span class="tw-w-17 tw-h-17 bg-neutral-05 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/course-catagory-five-icon7.png" alt="icon" class="animate__swing">
                            </span>
                        </span>
                    </div>
                    <div class="text-center">
                        <h6 class="fw-medium text-neutral-800 tw-mb-2 d-block tw-text-405">Art & Humanities</h6>
                        <span class="fw-medium tw-text-4 text-neutral-300">05 Courses</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1300">
                <div class="max-w-240-px w-100 animation-item">
                    <div class="position-relative tw-mb-14">
                        <span>
                            <img src="assets/images/thumbs/course-catagory-five-img4.png" alt="img">
                        </span>
                        <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute tw-start-0 bottom-0 tw-start-50 translate-middle-x tw-mb--40px">
                            <span class="tw-w-17 tw-h-17 bg-neutral-05 rounded-circle d-flex align-items-center justify-content-center">
                                <img src="assets/images/icon/course-catagory-five-icon4.png" alt="icon" class="animate__swing">
                            </span>
                        </span>
                    </div>
                    <div class="text-center">
                        <h6 class="fw-medium text-neutral-800 tw-mb-2 d-block tw-text-405">Quantum Chemistry</h6>
                        <span class="fw-medium tw-text-4 text-neutral-300">05 Courses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="1000">
        <button type="button" id="catagory-five-button-prev" class="tw-w-10 tw-h-10 bg-neutral-05 rounded-circle d-flex align-items-center justify-content-center tw-text-5 text-main-600 tw-duration-300 hover-text-white hover-bg-gradient-600">
            <i class="ph-bold ph-caret-left"></i>
        </button>
        <button type="button" id="catagory-five-button-next" class="tw-w-10 tw-h-10 bg-neutral-05 rounded-circle d-flex align-items-center justify-content-center tw-text-5 text-main-600 tw-duration-300 hover-text-white hover-bg-gradient-600">
            <i class="ph-bold ph-caret-right"></i>
        </button>
    </div>

 </section>
<!-- ======================= course cotagory section end ============================= -->