<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="bg-img py-104 z-2 overflow-hidden position-relative" style="background-image: url(assets/images/bg/about-us-bg-img.png);">
    <img src="assets/images/shape/course-details-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 d-xl-block d-none tw-mb-7 tw-me-222-px animation-scalation">
    <div class="container">
        <div class="max-w-650-px w-100">
            <div class="d-flex align-items-center tw-gap-1 flex-wrap tw-mb-6">
                <a href="index.html" class="fw-medium tw-text-405 text-neutral-300">
                    Home
                </a>
                <span class="fw-medium tw-text-405 text-neutral-300">/</span>
                <span class="fw-medium tw-text-405 text-neutral-300">
                    Course Details
                </span>
            </div>
            <h2 class="h4 fw-medium text-neutral-600 tw-mb-6">Resolving Conflicts Between Designers And Engineers</h2>
            <p class="fw-medium tw-text-405 text-neutral-300">Conversational Spanish for Beginners” introduces essential vocabulary, grammar, and practical speaking skills to help you engage in everyday conversations.</p>
            <span class="w-100 tw-h-px bg-gray-05 tw-mt-8 tw-mb-7"></span>
            <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                <div class="d-flex align-items-center tw-gap-3">
                    <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="tw-w-8 tw-h-8">
                    <span class="fw-normal tw-text-4 text-neutral-100">
                        By David Millar
                    </span>
                </div>
                <span class="tw-w-1 tw-h-1 bg-neutral-100 rounded-circle"></span>
                <div class="d-flex align-items-center tw-gap-1">
                    <span class="tw-text-5 text-warning-500">
                        <i class="ph-fill ph-star"></i>
                    </span>
                    <span class="fw-medium tw-text-305 text-neutral-100">2.4 (67)</span>
                </div>
                <span class="tw-w-1 tw-h-1 bg-neutral-100 rounded-circle"></span>
                <div class="d-flex align-items-center tw-gap-1">
                    <span class="tw-text-5">
                        <i class="ph ph-graduation-cap"></i>
                    </span>
                    <span class="fw-medium tw-text-305 text-neutral-100">2,250 Students</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->