<!-- ============================ exam preparation top section start ======================== -->
<section class="py-104">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
            <div data-aos="fade-up" data-aos-duration="600">
                <h3 class="fw-bold text-gradient-600 tw-text-56-px tw-mb-4 counter">89k+</h3>
                <span class="fw-medium tw-text-4 text-neutral-500">Active Students</span>
            </div>
            <span class="tw-w-px tw-h-17 bg-neutral-100" data-aos="fade-up" data-aos-duration="600"></span>
            <div data-aos="fade-up" data-aos-duration="800">
                <h3 class="fw-bold text-gradient-600 tw-text-56-px tw-mb-4 counter">270K+</h3>
                <span class="fw-medium tw-text-4 text-neutral-500">Faculty Courses</span>
            </div>
            <span class="tw-w-px tw-h-17 bg-neutral-100" data-aos="fade-up" data-aos-duration="800"></span>
            <div data-aos="fade-up" data-aos-duration="1000">
                <h3 class="fw-bold text-gradient-600 tw-text-56-px tw-mb-4 counter">4239+</h3>
                <span class="fw-medium tw-text-4 text-neutral-500">Awards Winning</span>
            </div>
            <span class="tw-w-px tw-h-17 bg-neutral-100" data-aos="fade-up" data-aos-duration="1000"></span>
            <div data-aos="fade-up" data-aos-duration="1200">
                <h3 class="fw-bold text-gradient-600 tw-text-56-px tw-mb-4 counter">654+</h3>
                <span class="fw-medium tw-text-4 text-neutral-500">Best Professors</span>
            </div>
        </div>
    </div>
</section>
<!-- ============================ exam perparation top section end ======================== -->