<!-- ========================= courses section start ====================== -->
<div style="background-image: url(assets/images/bg/courses-two-bg-img.png);" class="bg-img position-relative">
    <img src="assets/images/shape/working-process-two-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt--80-px tw-ms-100-px d-lg-block d-none animation-scalation">
    <img src="assets/images/shape/courses-two-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-ms-202-px tw-mt-330-px d-xxl-block d-none">
    <div class="py-100">
        <div class="container">
            <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap">
                <div class="animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <img src="assets/images/icon/courses-two-icon1.png" alt="icon" class="tw-mb-7 animate__wobble">
                    <div>
                        <h2 class="counter d-block tw-mb-2 fw-medium text-white">
                            6789+
                        </h2>
                        <span class="fw-normal tw-text-405 text-white">
                            Courses
                        </span>
                    </div>
                </div>
                <div class="animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <img src="assets/images/icon/courses-two-icon2.png" alt="icon" class="tw-mb-7 animate__wobble">
                    <div>
                        <h2 class="counter d-block tw-mb-2 fw-medium text-white">
                            980%
                        </h2>
                        <span class="fw-normal tw-text-405 text-white">
                            Success Rate
                        </span>
                    </div>
                </div>
                <div class="animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <img src="assets/images/icon/courses-two-icon3.png" alt="icon" class="tw-mb-7 animate__wobble">
                    <div>
                        <h2 class="counter d-block tw-mb-2 fw-medium text-white">
                            368K+
                        </h2>
                        <span class="fw-normal tw-text-405 text-white">
                            Five-star Reviews
                        </span>
                    </div>
                </div>
                <div class="animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <img src="assets/images/icon/courses-two-icon4.png" alt="icon" class="tw-mb-7 animate__wobble">
                    <div>
                        <h2 class="counter d-block tw-mb-2 fw-medium text-white">
                            5843+
                        </h2>
                        <span class="fw-normal tw-text-405 text-white">
                            Students worldwide
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="position-relative tw-mb--170-px" data-aos="zoom-in" data-aos-duration="1500">
            <span class="w-100">
                <img src="assets/images/thumbs/courses-two-bottom-img1.png" alt="img" class="w-100">
            </span>
            <div class="position-absolute top-0 top-50 tw-start-0 tw-start-50 translate-middle">
                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button tw-w-120-px tw-h-120-px bg-white tw-text-8 text-main-600 d-flex align-items-center justify-content-center rounded-circle">
                    <i class="ph-fill ph-play"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ========================= courses section end ====================== -->