<!-- =========================== course details section start ========================= -->
<section class="tw-mt-12">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div>
                    <nav class="">
                        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                            <button class="nav-link active hover-border-none text-neutral-100 fw-medium tw-text-405 tw-pb-1" id="nav-course-tab" data-bs-toggle="tab" data-bs-target="#nav-course" type="button" role="tab" aria-controls="nav-course" aria-selected="true">Course Info</button>
                            <button class="nav-link hover-border-none text-neutral-100 fw-medium tw-text-405 tw-pb-1" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</button>
                        </div>
                        <span class="border-bottom-neutral-40 tw-mt-7 w-100 tw-h-px"></span>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-course" role="tabpanel" aria-labelledby="nav-course-tab" tabindex="0">
                            @@include('../partials/_course-details-tab.html')
                        </div>
                        <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab" tabindex="0">
                            @@include('../partials/_course-details-review.html')
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="course-details-card tw-mt--500-px z-3 position-relative">
                    <div class="bg-white tw-rounded-xl marketing-shadow">
                        <div class="position-relative">
                            <img src="assets/images/thumbs/our-courses-five-img1.png" alt="img" class="w-100 tw-rounded-xl">
                            <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button tw-w-15 tw-h-15 bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-50 tw-start-50 translate-middle-y">
                                <span class="tw-w-14 tw-h-14 rounded-circle bg-gradient-600 tw-text-5 d-flex align-items-center justify-content-center text-main-600">
                                    <i class="ph-fill ph-play"></i>
                                </span>
                            </a>
                        </div>
                        <div class="tw-py-7 tw-px-7">
                            <h6 class="fw-medium tw-text-6 text-neutral-800 tw-mb-4">Course Includes</h6>
                            <span class="tw-w-80-px tw-h-1 bg-main-600 tw-mb-7 rounded-pill"></span>
                            <div>
                                <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 tw-transform-rotate--180deg">
                                            <i class="ph ph-tag"></i>
                                        </span>
                                        <span class="text-neutral-300 fw-medium tw-text-405">
                                            Price :
                                        </span>
                                    </div>
                                    <h6 class="fw-medium tw-text-6 text-danger-500">$650.00</h6>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-5 tw-mb-5"></span>
                                <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 tw-transform-rotate--180deg">
                                            <i class="ph ph-book"></i>
                                        </span>
                                        <span class="text-neutral-300 fw-medium tw-text-405">
                                            Enrolled :
                                        </span>
                                    </div>
                                    <h6 class="fw-normal tw-text-405 text-neutral-300">7 Students</h6>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-5 tw-mb-5"></span>
                                <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 tw-transform-rotate--180deg">
                                            <i class="ph ph-video"></i>
                                        </span>
                                        <span class="text-neutral-300 fw-medium tw-text-405">
                                            Lessons :
                                        </span>
                                    </div>
                                    <h6 class="fw-normal tw-text-405 text-neutral-300">32 Lessons</h6>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-5 tw-mb-5"></span>
                                <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 tw-transform-rotate--180deg">
                                            <i class="ph ph-balloon"></i>
                                        </span>
                                        <span class="text-neutral-300 fw-medium tw-text-405">
                                            Quiz :
                                        </span>
                                    </div>
                                    <h6 class="fw-normal tw-text-405 text-neutral-300">1 Quiz</h6>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-5 tw-mb-5"></span>
                                <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 tw-transform-rotate--180deg">
                                            <i class="ph ph-battery-vertical-high"></i>
                                        </span>
                                        <span class="text-neutral-300 fw-medium tw-text-405">
                                            Skill Level :
                                        </span>
                                    </div>
                                    <h6 class="fw-normal tw-text-405 text-neutral-300">Beginner</h6>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-5 tw-mb-5"></span>
                                <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 tw-transform-rotate--180deg">
                                            <i class="ph ph-copy"></i>
                                        </span>
                                        <span class="text-neutral-300 fw-medium tw-text-405">
                                            Category :
                                        </span>
                                    </div>
                                    <h6 class="fw-normal tw-text-405 text-neutral-300">Language</h6>
                                </div>
                                <button type="button" class="btn bg-main-600 py-3 hover-style-four button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill w-100 tw-mt-6 tw-mb-10" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label fw-medium">Add To Cart</span>
                                </button>
                                <h6 class="fw-medium tw-text-6 text-neutral-800 tw-mb-4">Share This</h6>
                                <span class="tw-w-80-px tw-h-1 bg-main-600 tw-mb-7 rounded-pill tw-mb-5"></span>
                                <ul class="d-flex align-items-center tw-gap-3 flex-wrap">
                                    <li>
                                        <a href="https://www.facebook.com/" class="tw-w-14 tw-h-14 tw-border-neutral-20 rounded-circle d-flex align-items-center justify-content-center tw-text-5 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-fill ph-facebook-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://x.com/i/flow/login" class="tw-w-14 tw-h-14 tw-border-neutral-20 rounded-circle d-flex align-items-center justify-content-center tw-text-5 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-fill ph-twitter-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/" class="tw-w-14 tw-h-14 tw-border-neutral-20 rounded-circle d-flex align-items-center justify-content-center tw-text-5 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-fill ph-youtube-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" class="tw-w-14 tw-h-14 tw-border-neutral-20 rounded-circle d-flex align-items-center justify-content-center tw-text-5 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                           <i class="ph-fill ph-linkedin-logo"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== course details sectio start ======================== -->