<!-- ========================= courses section start =========================== -->
<section class="overflow-hidden position-relative z-2">
    <img src="assets/images/shape/courses-shape2.png" alt="shape" class="position-absolute top-0 tw-start-0 z-1 tw-mt-130-px tw-ms-134px  animation-scalation d-xl-block d-none">
    <img src="assets/images/shape/courses-shape3.png" alt="shape" class="position-absolute top-0 tw-start-0 z-1 tw-mt-130-px tw-ms-720-px animation-scalation d-xl-block d-none">
    <img src="assets/images/shape/courses-shape4.png" alt="shape" class="position-absolute bottom-0 tw-end-0 z-1 tw-mb-8 tw-me-400-px animation-scalation d-xl-block d-none">
    <img src="assets/images/shape/courses-shape5.png" alt="shape" class="position-absolute top-0 tw-end-0 z-1 tw-mt-140px tw-me-120px animation-rotate-right d-xl-block d-none">
    <div class="media-pb-60-px bg-main-600">
        <div class="container">
            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                <div class="tw-pt-5">
                    <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="tw-w-6 tw-h-6 border-main-100 border bg-main-50 rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                            <i class="ph-fill ph-star-four"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-main-600">
                            Our Student Reviews
                        </span>
                    </div>
                    <h3 class="fw-semibold text-white" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        50% Offer For Very First<br> 100 Student’s & Mentors
                    </h3>
                </div>
                <span class="d-xl-block d-none" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <img src="assets/images/thumbs/courses-img1.png" alt="img">
                </span>
                <a href="course-details.html" class="btn btn-main-three hover-style-five button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-main-600 border" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <span class="button__flair"></span>
                    <span class="button__label fw-bold tw-text-4">Find Your Courses</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ========================= courses section end =========================== -->