<!-- ====================== design courses section start ======================= -->
 <section class="bg-img py-120" style="background-image: url(assets/images/bg/design-courses-four-bg-img1.png);">
    <div class="container">
        <h3 class="fw-normal text-neutral-600 text-center tw-mb-15" data-aos="fade-up" data-aos-duration="600">View Our Popular Art & <br> Design courses</h3>
        <div class="d-flex align-items-center tw-gap-10 flex-sm-nowrap flex-wrap">
            <button type="button" id="design-courses-button-prev" class="tw-w-12 tw-h-12 bg-white rounded-circle tw-text-4 d-flex align-items-center justify-content-center hover-bg-pink-600 hover-text-white tw-duration-300 flex-shrink-0 design-courses-four-shadow">
                <i class="ph-bold ph-caret-left"></i>
            </button>

            <div class="swiper design-courses-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="600">
                        <div class="">
                            <div class="bg-white tw-rounded-lg animation-item">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px tw-mb-7">
                                    <img src="assets/images/thumbs/design-courses-four-img1.png" alt="img" class="w-100  course-item__img tw-duration-300">
                                    <span class="bg-primary-700 text-white tw-py-2 tw-px-305 tw-rounded-md position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">Design</span>
                                </div>
                                <div class="tw-px-5 tw-pb-705">
                                    <div class="d-flex tw-gap-3 align-items-center justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-book"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                                04 Lessons
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-user"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                                Maxwell Ford
                                            </span>
                                        </div>
                                    </div>
                                    <h5 class="tw-mb-5 fw-semibold text-neutral-800 line-clamp-2">
                                            Voices from the Learning Manage Education Hub
                                    </h5>
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <ul class="d-flex align-items-center tw-gap-1">
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph ph-star"></i>
                                            </li>
                                        </ul>
                                        <span class="fw-medium tw-tet-305 text-neutral-200 ">(09 Reviews)</span>
                                    </div>
                                    <span class="w-100 tw-h-px bg-gray-100 tw-mt-6 tw-mb-6"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <h2 class="h5 fw-bold text-pink-600">$643.00</h2>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-graduation-cap"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                            553 Students
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
                        <div class="">
                            <div class="bg-white tw-rounded-lg animation-item">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px tw-mb-7">
                                    <img src="assets/images/thumbs/design-courses-four-img2.png" alt="img" class="w-100  course-item__img tw-duration-300">
                                    <span class="bg-primary-700 text-white tw-py-2 tw-px-305 tw-rounded-md position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">Design</span>
                                </div>
                                <div class="tw-px-5 tw-pb-705">
                                    <div class="d-flex tw-gap-3 align-items-center justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-book"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                                04 Lessons
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-user"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                                Maxwell Ford
                                            </span>
                                        </div>
                                    </div>
                                    <h5 class="tw-mb-5 fw-semibold text-neutral-800 line-clamp-2">
                                        Voices from the Learning Manage Education Hub
                                    </h5>
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <ul class="d-flex align-items-center tw-gap-1">
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph ph-star"></i>
                                            </li>
                                        </ul>
                                        <span class="fw-medium tw-tet-305 text-neutral-200 ">(09 Reviews)</span>
                                    </div>
                                    <span class="w-100 tw-h-px bg-gray-100 tw-mt-6 tw-mb-6"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <h2 class="h5 fw-bold text-pink-600">$643.00</h2>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-graduation-cap"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                            553 Students
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
                        <div class="">
                            <div class="bg-white tw-rounded-lg animation-item">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px tw-mb-7">
                                    <img src="assets/images/thumbs/design-courses-four-img3.png" alt="img" class="w-100  course-item__img tw-duration-300">
                                    <span class="bg-primary-700 text-white tw-py-2 tw-px-305 tw-rounded-md position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">Design</span>
                                </div>
                                <div class="tw-px-5 tw-pb-705">
                                    <div class="d-flex tw-gap-3 align-items-center justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-book"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                                04 Lessons
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-user"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                                Maxwell Ford
                                            </span>
                                        </div>
                                    </div>
                                    <h5 class="tw-mb-5 fw-semibold text-neutral-800 line-clamp-2">
                                        Voices from the Learning Manage Education Hub
                                    </h5>
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <ul class="d-flex align-items-center tw-gap-1">
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph ph-star"></i>
                                            </li>
                                        </ul>
                                        <span class="fw-medium tw-tet-305 text-neutral-200 ">(09 Reviews)</span>
                                    </div>
                                    <span class="w-100 tw-h-px bg-gray-100 tw-mt-6 tw-mb-6"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <h2 class="h5 fw-bold text-pink-600">$643.00</h2>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-graduation-cap"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                            553 Students
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1200">
                        <div class="">
                            <div class="bg-white tw-rounded-lg animation-item">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px tw-mb-7">
                                    <img src="assets/images/thumbs/design-courses-four-img2.png" alt="img" class="w-100  course-item__img tw-duration-300">
                                    <span class="bg-primary-700 text-white tw-py-2 tw-px-305 tw-rounded-md position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">Design</span>
                                </div>
                                <div class="tw-px-5 tw-pb-705">
                                    <div class="d-flex tw-gap-3 align-items-center justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-book"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                                04 Lessons
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-user"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                                Maxwell Ford
                                            </span>
                                        </div>
                                    </div>
                                    <h5 class="tw-mb-5 fw-semibold text-neutral-800 line-clamp-2">
                                        Voices from the Learning Manage Education Hub
                                    </h5>
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <ul class="d-flex align-items-center tw-gap-1">
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warning-500">
                                                <i class="ph ph-star"></i>
                                            </li>
                                        </ul>
                                        <span class="fw-medium tw-tet-305 text-neutral-200 ">(09 Reviews)</span>
                                    </div>
                                    <span class="w-100 tw-h-px bg-gray-100 tw-mt-6 tw-mb-6"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <h2 class="h5 fw-bold text-pink-600">$643.00</h2>
                                        <div class="d-flex align-items-center tw-gap-2">
                                            <span class="tw-text-405 text-neutral-100">
                                                <i class="ph ph-graduation-cap"></i>
                                            </span>
                                            <span class="fw-medium tw-text-305 text-neutral-200 ">
                                            553 Students
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <button type="button" id="design-courses-button-next" class="tw-w-12 tw-h-12 bg-white rounded-circle tw-text-4 d-flex align-items-center justify-content-center hover-bg-pink-600 hover-text-white tw-duration-300 flex-shrink-0 design-courses-four-shadow">
                <i class="ph-bold ph-caret-right"></i>
            </button>
        </div>
    </div>
 </section>
<!-- ====================== design courses section end ======================= -->