<!-- ====================== discount offer section start ====================== -->
 <section class="tw-mt--256px overflow-hidden">
    <div class="container">
        <div class="bg-main-600 tw-rounded-xl">
            <div class="row gy-5 align-items-center">
                <div class="col-xl-7">
                    <div class="discount-text max-w-530-px w-100 tw-ms-90-px">
                        <span class="fw-medium tw-text-305 text-white tw-px-5 tw-py-2 bg-gray-800 tw-rounded-sm tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                            DISCOUNT OFFER
                        </span>
                        <h3 class="fw-medium text-white tw-mb-8" data-aos="fade-up" data-aos-duration="800">A Perfect start of your Distance Learning</h3>
                        <p class="fw-medium tw-text-405 text-white tw-mb-10" data-aos="fade-up" data-aos-duration="1000">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust.</p>
                        <a href="account-page.html" class="btn btn-main-two hover-style-six button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="1200">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-neutral-700 rounded-circle text-warning-500 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-neutral-800 tw-duration-500 group-hover-text-white">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Get Started</span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-5" data-aos="fade-up" data-aos-duration="1500">
                    <div class="position-relative">
                        <img src="assets/images/thumbs/discound-offer-img.png" alt="" class="discount-img">
                        <img src="assets/images/shape/about-us-shape-2.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-me-120px animation-scalation z-n1">
                        <div class="discount-bg__shape position-absolute tw-start--94-px tw-mb-66-px bottom-0 tw-w-158-px tw-h-158-px d-flex align-items-center justify-content-center" style="background-image: url(assets/images/bg/discount-offer-bg-img1.png);">
                            <div>
                                <h3 class="fw-medium text-neutral-700 counter">50%</h3>
                                <span class="fw-medium text-neutral-700 tw-text-605">OFF</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ====================== discount offer section end ====================== -->