<!-- ============================ Download book section start =========================== -->
 <section style="background-image: url(assets/images/bg/download-book-four-bg1.png);" class="bg-img py-120 position-relative">
    <img src="assets/images/shape/download-book-four-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 d-lg-block d-none tw-me-15">
    <img src="assets/images/shape/download-book-four-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 d-lg-block d-none">
    <div class="container">
        <div class="text-center position-relative">
            <img src="assets/images/thumbs/download-book-four-img1.png" alt="img" class="position-absolute tw-start-0 top-0 tw-mt-15 d-lg-block d-none animation-scalation">
            <img src="assets/images/thumbs/download-book-four-img2.png" alt="img" class="position-absolute tw-end-0 bottom-0 d-lg-block d-none animation-scalation">
            <h2 class="fw-normal text-main-two-600 tw-mb-10" data-aos="fade-up" data-aos-duration="800">Learn Anytime On Your <br> Mobile Device Free</h2>
            <a href="account-page.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="1000">
                <span class="button__flair"></span>
                <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                    <i class="ph ph-caret-right"></i>
                </span>
                <span class="button__label fw-medium">Download e-Book Now</span>
            </a>
        </div>
    </div>
 </section>
<!-- ============================ Download book section end =========================== -->