<!-- ============================ event details section start ============================ -->
<section class="py-110 ">
    <div class="container">
        <span class="w-100">
            <img src="assets/images/thumbs/event-details-img1.png" alt="img" class="bg-img">
        </span>
        <div class="row gy-4">
            <div class="col-xl-8">
                <div class="tw-mt-12">
                    <span class="tw-py-2 tw-px-5 text-main-600 border-main-600 border rounded-pill tw-mb-4">
                        Development
                    </span>
                    <h2 class="h4 fw-medium text-neutral-600 tw-mb-7">How To Become ridiculously Self-Aware In 20 Minutes</h2>
                    <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-8 tw-h-8">
                                <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="tw-h-8 tw-w-8">
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-100">
                                By David Millar
                            </span>
                        </div>
                        <span class="tw-w-1 tw-h-1 rounded-circle bg-neutral-100"></span>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-5 tw-h-5 text-warning-500">
                                <i class="ph-fill ph-star"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-100">
                                2.4 (67)
                            </span>
                        </div>
                        <span class="tw-w-1 tw-h-1 rounded-circle bg-neutral-100"></span>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-5 tw-h-5 text-neutral-300">
                                <i class="ph ph-calendar-blank"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-100">
                                26/08/2024
                            </span>
                        </div>
                        <span class="w-100 tw-h-px bg-neutral-40 tw-mt-6 tw-mb-6"></span>
                        <h2 class="h6 tw-text-6 fw-medium text-neutral-800 tw-mb-5">Event Overview</h2>
                        <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-8">Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.dolor sit amet, consectetur adipiscing</p>
                        <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-8">Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.dolor sit amet, consectetur adipiscing</p>
                        <h2 class="h5 fw-medium tw-text-6 text-neutral-800 tw-mb-5">What you'll learn in this event?</h2>
                        <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-10">Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.dolor sit amet, consectetur adipiscing</p>
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-4 tw-mb-10 ">
                            <span>
                                <img src="assets/images/thumbs/event-details-img2.png" alt="img" class="">
                            </span>
                            <div class="max-w-400-px w-100">
                                <h2 class="h5 fw-medium tw-text-6 text-neutral-800 tw-mb-5">Four major elements that we offer for this event</h2>
                                <div>
                                    <div class="d-flex align-items-center tw-gap-2 tw-mb-3">
                                        <span class="tw-text-505 text-main-600">
                                            <i class="ph ph-check"></i>
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-300">
                                            Work with color & Gradients & Grids
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2 tw-mb-3">
                                        <span class="tw-text-505 text-main-600">
                                            <i class="ph ph-check"></i>
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-300">
                                            All the useful shortcuts
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2 tw-mb-3">
                                        <span class="tw-text-505 text-main-600">
                                            <i class="ph ph-check"></i>
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-300">
                                            How to work with Images & Text
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-8">Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.dolor sit amet, consectetur adipiscing</p>
                        <p class="fw-normal tw-text-405 text-neutral-300">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.dolor sit amet, consectetur adipiscing</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="event-details-card bg-white marketing-shadow tw-rounded-xl tw-mt--126-px tw-me-10">
                    <div class="bg-main-600 tw-ps-7 tw-py-6 tw-rounded-top-12px d-flex align-items-start tw-gap-4">
                        <span class="tw-text-11 text-white tw-transform-90-deg">
                            <i class="ph ph-tag"></i>
                        </span>
                        <div>
                            <span class="fw-bold tw-text-405 text-white tw-mb-3">Event Fee</span>
                            <h2 class="h5 tw-text-8 text-white fw-bold">$19.00</h2>
                        </div>
                    </div>
                    <div class="tw-p-7">
                        <div>
                            <h2 class="h5 fw-medium tw-text-6 text-neutral-800 tw-mb-3">Event Information:</h2>
                            <span class=" tw-w-80-px tw-h-1 bg-main-600 rounded-pill tw-mb-6"></span>
                            <div class="tw-mb-5">
                                <div class="d-flex align-items-center flex-wrap tw-gap-3 justify-content-between">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 d-flex align-items-center">
                                            <i class="ph ph-calendar-blank"></i>
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-300">Date :</span>
                                    </div>
                                    <span class="fw-normal tw-text-405 text-neutral-300">26/08/2024</span>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-4 tw-mb-4"></span>
                                <div class="d-flex align-items-center flex-wrap tw-gap-3 justify-content-between">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 d-flex align-items-center">
                                            <i class="ph ph-clock"></i>
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-300">Start Time :</span>
                                    </div>
                                    <span class="fw-normal tw-text-405 text-neutral-300">10.00am</span>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-4 tw-mb-4"></span>
                                <div class="d-flex align-items-center flex-wrap tw-gap-3 justify-content-between">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 d-flex align-items-center">
                                            <i class="ph ph-clock"></i>
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-300">Start Time :</span>
                                    </div>
                                    <span class="fw-normal tw-text-405 text-neutral-300">10.00am</span>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-4 tw-mb-4"></span>
                                <div class="d-flex align-items-center flex-wrap tw-gap-3 justify-content-between">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 d-flex align-items-center">
                                            <i class="ph ph-video"></i>
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-300">T0pics :</span>
                                    </div>
                                    <span class="fw-normal tw-text-405 text-neutral-300">29 Lessons</span>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-4 tw-mb-4"></span>
                                <div class="d-flex align-items-center flex-wrap tw-gap-3 justify-content-between">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 d-flex align-items-center">
                                            <i class="ph ph-balloon"></i>
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-300">Quiz :</span>
                                    </div>
                                    <span class="fw-normal tw-text-405 text-neutral-300">5 Quiz</span>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-4 tw-mb-4"></span>
                                <div class="d-flex align-items-center flex-wrap tw-gap-3 justify-content-between">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 d-flex align-items-center">
                                            <i class="ph ph-certificate"></i>
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-300">Certifications :</span>
                                    </div>
                                    <span class="fw-normal tw-text-405 text-neutral-300">Yes</span>
                                </div>
                                <span class="w-100 tw-h-px bg-gray-40 tw-mt-4 tw-mb-4"></span>
                                <div class="d-flex align-items-center flex-wrap tw-gap-3 justify-content-between">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-neutral-300 d-flex align-items-center">
                                            <i class="ph ph-office-chair"></i>
                                        </span>
                                        <span class="fw-medium tw-text-405 text-neutral-300">Total Seat :</span>
                                    </div>
                                    <span class="fw-normal tw-text-405 text-neutral-300">450</span>
                                </div>
                            </div>
                            <button type="button" class="btn bg-main-600 py-3 hover-style-four button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 rounded-pill w-100 tw-mb-8" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-medium">Add To Cart</span>
                            </button>
                            <h2 class="h5 fw-medium tw-text-6 text-neutral-800 tw-mb-5">Secure Payment:</h2>
                            <span class="tw-mb-12">
                                <img src="assets/images/thumbs/event-details-img4.png" alt="img">
                            </span>
                            <div class="tw-mb-6">
                                <h2 class="h5 fw-medium tw-text-6 text-neutral-800 tw-mb-3">Share This</h2>
                                <span class="tw-w-80-px tw-h-1 bg-main-600 rounded-pill tw-mb-5"></span>
                                <ul class="d-flex align-items-center tw-gap-3">
                                    <li>
                                        <a href="https://www.facebook.com/" class="tw-w-13 tw-h-13 tw-border-neutral-20 rounded-circle d-flex align-items-center justify-content-center tw-text-5 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-fill ph-facebook-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://x.com/login?" class="tw-w-13 tw-h-13 tw-border-neutral-20 rounded-circle d-flex align-items-center justify-content-center tw-text-5 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-fill ph-twitter-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/" class="tw-w-13 tw-h-13 tw-border-neutral-20 rounded-circle d-flex align-items-center justify-content-center tw-text-5 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-fill ph-youtube-logo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" class="tw-w-13 tw-h-13 tw-border-neutral-20 rounded-circle d-flex align-items-center justify-content-center tw-text-5 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300">
                                            <i class="ph-fill ph-linkedin-logo"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <span class="w-100">
                                <img src="assets/images/thumbs/event-details-img3.png" alt="img" class="bg-img">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ event details section end ============================ -->