<!-- =========================== exam preparation section start ======================== -->
 <section class="py-110">
    <div class="max-w-550-px w-100 text-center mx-auto tw-mb-12">
        <span class="tw-py-2 tw-px-5 fw-medium tw-text-305 text-main-600 bg-main-50 tw-rounded-sm tw-mb-5" data-aos="fade-up" data-aos-duration="600">
            EXAM PREPARATION
        </span>
        <h2 class="h4 fw-medium text-neutral-600 tw-mb-6" data-aos="fade-up" data-aos-duration="800">Annual Exam Preparation</h2>
        <p class="fw-normal tw-text-4 text-neutral-300" data-aos="fade-up" data-aos-duration="1000">At University eduly, we believe in the transformative power of education and the boundless potential within every individual. Established in 1971</p>
    </div>

    <div class="swiper exam-preparation-five-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="600">
                <div class="animation-item">
                    <div class="overflow-hidden tw-rounded-top-8px">
                        <img src="assets/images/thumbs/exam-preparation-five-img1.png" alt="img" class="course-item__img tw-duration-300 w-100">
                    </div>
                    <div class="bg-white tw-py-8 tw-px-705">
                        <h5 class="fw-medium text-neutral-600 tw-mb-7">BCS Exam</h5>
                        <p class="fw-normal tw-text-4 text-neutral-300 tw-mb-8">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust.</p>
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-10">
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">Live Class</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">125 Free Video</span>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">MCQ and CQ Bank</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">12 Subjects</span>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn bg-gradient-600 hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Read More</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
                <div class="animation-item">
                    <div class="overflow-hidden tw-rounded-top-8px">
                        <img src="assets/images/thumbs/exam-preparation-five-img2.png" alt="img" class="course-item__img tw-duration-300 w-100">
                    </div>
                    <div class="bg-white tw-py-8 tw-px-705">
                        <h5 class="fw-medium text-neutral-600 tw-mb-7">University Admit Exam</h5>
                        <p class="fw-normal tw-text-4 text-neutral-300 tw-mb-8">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust.</p>
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-10">
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">Live Class</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">125 Free Video</span>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">MCQ and CQ Bank</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">12 Subjects</span>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn bg-gradient-600 hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Read More</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
                <div class="animation-item">
                    <div class="overflow-hidden tw-rounded-top-8px">
                        <img src="assets/images/thumbs/exam-preparation-five-img3.png" alt="img" class="course-item__img tw-duration-300 w-100">
                    </div>
                    <div class="bg-white tw-py-8 tw-px-705">
                        <h5 class="fw-medium text-neutral-600 tw-mb-7">Medical Exam</h5>
                        <p class="fw-normal tw-text-4 text-neutral-300 tw-mb-8">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust.</p>
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-10">
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">Live Class</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">125 Free Video</span>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">MCQ and CQ Bank</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">12 Subjects</span>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn bg-gradient-600 hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Read More</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1200">
                <div class="animation-item">
                    <div class="overflow-hidden tw-rounded-top-8px">
                        <img src="assets/images/thumbs/exam-preparation-five-img4.png" alt="img" class="course-item__img tw-duration-300 w-100">
                    </div>
                    <div class="bg-white tw-py-8 tw-px-705">
                        <h5 class="fw-medium text-neutral-600 tw-mb-7">IELTS Exam</h5>
                        <p class="fw-normal tw-text-4 text-neutral-300 tw-mb-8">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust.</p>
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap tw-mb-10">
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">Live Class</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">125 Free Video</span>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">MCQ and CQ Bank</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                    <img src="assets/images/icon/about-us-five-check-icone1.png" alt="icon">
                                    <span class="fw-medium tw-text-405 text-neutral-300">12 Subjects</span>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn bg-gradient-600 hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Read More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- =========================== exam perparation section end ======================== -->
