<!-- =========================== exam perparation bottom section start ======================== -->
<div class="container">
    <div class="position-relative">
        <img src="assets/images/thumbs/exam-perparation-bottom-five-img1.png" alt="img" class="" data-aos="zoom-in" data-aos-duration="1500">
        <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button tw-w-110-px tw-h-110-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-50 tw-start-50 translate-middle">
            <span class="tw-w-104-px tw-h-104-px rounded-circle bg-main-600 tw-text-7 d-flex align-items-center justify-content-center text-white">
                <i class="ph-fill ph-play"></i>
            </span>
        </a>
    </div>
</div>
<!-- =========================== exam perparation bottom section end ======================== -->