<!-- ================================= FAQ section start =========================== -->
<section class="pb-110">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-5">
                <div class="faq-five-title max-w-520-px w-100">
                    <span class="tw-py-2 tw-px-5 bg-main-50 text-main-600 tw-rounded-sm tw-mb-6 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                        OUR FAQ’S
                    </span>
                    <h3 class="fw-medium text-main-two-700 tw-mb-7" data-aos="fade-up" data-aos-duration="800">Frequently Asked Questions About EduPro</h3>
                    <div class="bg-white tw-p-4 tw-rounded-xl tw-faq-shadow-five">
                        <div class="w-100 position-relative">
                            <img src="assets/images/thumbs/faq-five-img1.png" alt="img" class="w-100" data-aos="zoom-in" data-aos-duration="1500">
                            <div class="tw-p-5 bg-main-600 tw-rounded-lg d-flex align-items-center tw-gap-3 position-absolute bottom-0 tw-start-0 tw-ms-3 tw-mb-305">
                                <span class="tw-text-13 text-white ">
                                    <i class="ph-bold ph-headset"></i>
                                </span>
                                <div>
                                    <span class="fw-medium tw-text-4 text-white tw-mb-3 d-block">For Any Query:</span>
                                    <a href="tel:(635)525-4250" class="text-white fw-medium tw-text-5">
                                        (635) 525-4250
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <button class="accordion-button fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How long it take to create a video course?
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal tw-text-4 ">
                                    Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                        <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Where can I find information on private companies?
                        </button>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal tw-text-4 ">
                                    Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What kind of support does Eduly provide?
                        </button>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal tw-text-4 ">
                                    Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                        <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            How long do I get support & updates?
                        </button>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal tw-text-4 ">
                                    Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How long it take to create a video course?
                        </button>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal tw-text-4 ">
                                    Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= FAQ section end =========================== -->