<!-- =========================== faq section start ======================== -->
<section class="pb-100 tw-pt-270-px position-relative">
    <img src="assets/images/thumbs/faq-two-img2.png" alt="img" class="position-absolute bottom-0 tw-end-0 bottom-50 tw-me-100-px animation-upDown d-xxl-block d-none">
    <div class="container">
        <div class="position-relative">
            <img src="assets/images/shape/faq-two-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-120-px animation-rotate-right d-xxl-block d-none">
            <img src="assets/images/shape/faq-two-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 animation-upDown tw-ms-500-px d-xxl-block d-none">
            <div class="row gy-4 align-items-center">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <span class="w-100">
                            <img src="assets/images/thumbs/faq-two-img1.png" alt="img" class="w-100" data-aos="zoom-in" data-aos-duration="1500">
                        </span>
                        <div class="bg-white tw-py-5 tw-px-8 tw-rounded-left-right-50-px banner-two-shadow-one position-absolute bottom-0 tw-end-0 tw-me-2 tw-mb-70px">
                            <div class="d-flex align-items-center tw-gap-3">
                                <span class="tw-w-15 tw-h-15 bg-main-three-600 rounded-circle d-flex align-items-center justify-content-center text-heading tw-text-2xl">
                                    <i class="ph-fill ph-envelope-simple"></i>
                                </span>
                                <div>
                                    <span class="fw-normal tw-text-4 text-neutral-400 d-block tw-mb-1">
                                        Mail us today!
                                    </span>
                                    <h2 class="h6">
                                        <a href="mailto:eduly@gmail.com" class="fw-semibold text-neutral-500">
                                            eduly@gmail.com
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="tw-max-w-550-px w-100">
                            <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-main-50 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                                    <i class="ph-fill ph-star-four"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-main-600">
                                    Popular Categories
                                </span>
                            </div>
                            <h3 class="fw-semibold text-neutral-950 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                                Frequently Asked Questions
                            </h3>
                            <p class="fw-normal tw-text-4 text-neutral-500 tw-mb-9" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                                Take classes on the go with the educrat app. Stream or download to watch on the plane, the subway, or wherever you learn best.
                            </p>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <button class="accordion-button fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How long it take to create a video course?
                                    </button>
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p class="fw-normal tw-text-4 ">
                                                Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                                    <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Where can I find information on private companies?
                                    </button>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p class="fw-normal tw-text-4 ">
                                                Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                                    <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        What kind of support does Eduly provide?
                                    </button>
                                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p class="fw-normal tw-text-4 ">
                                                Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                                    <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        How long do I get support & updates?
                                    </button>
                                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p class="fw-normal tw-text-4 ">
                                                Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                                    <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        How long it take to create a video course?
                                    </button>
                                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p class="fw-normal tw-text-4 ">
                                                Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== faq section end ======================== -->