<!-- ================================= FAQ section start =========================== -->
<section class="pb-110">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-5">
                <div class="faq-five-title max-w-520-px w-100">
                    <span class="tw-py-2 tw-px-5 bg-main-50 text-main-600 tw-rounded-sm tw-mb-6 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                        OUR FAQ’S
                    </span>
                    <h2 class="h4 fw-medium text-neutral-600 tw-mb-7" data-aos="fade-up" data-aos-duration="800">Frequently Asked Questions About eduly</h2>
                    <div class="bg-white tw-p-4 tw-rounded-xl tw-faq-shadow-five">
                        <div class="w-100 position-relative">
                            <img src="assets/images/thumbs/faq-five-img1.png" alt="img" class="w-100" data-aos="zoom-in" data-aos-duration="1500">
                            <div class="tw-p-5 bg-gradient-600 tw-rounded-lg d-flex align-items-center tw-gap-3 position-absolute bottom-0 tw-start-0 tw-ms-3 tw-mb-305">
                                <span class="tw-text-13 text-white ">
                                    <i class="ph-bold ph-headset"></i>
                                </span>
                                <div>
                                    <span class="fw-medium tw-text-4 text-white tw-mb-3 d-block">For Any Query:</span>
                                    <a href="tel:(635)525-4250" class="text-white fw-medium tw-text-5">
                                        (635) 525-4250
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="accordion tw-ms-17 faq-five-accordion" id="accordionExample">
                    <div class="accordion-item border-0 tw-mb-4" data-aos="fade-up" data-aos-duration="600">
                        <button class="accordion-button-two text-neutral-950 fw-medium tw-text-405 tw-px-4 tw-ps-7 d-flex tw-gap-6 rounded-pill focus-box-shadow-0 line-clamp-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Do I need any prior experience to join your yoga classes?
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body bg-white tw-rounded-bottom-12px marketing-shadow">
                                <p class="fw-normal tw-text-405 text-neutral-300">I specialize in Hatha, Vinyasa, and Restorative Yoga. Each class focuses on breath, alignment, and mindful movement. Meditation & breathwork (pranayama) are also integrated into most sessions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 tw-mb-4" data-aos="fade-up" data-aos-duration="800">
                        <button class="accordion-button-two collapsed text-neutral-950 fw-medium tw-text-405 tw-px-4 tw-ps-7 d-flex tw-gap-6 rounded-pill focus-box-shadow-0 line-clamp-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What should I bring to a yoga session?
                        </button>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-white tw-rounded-bottom-12px marketing-shadow">
                            <p class="fw-normal tw-text-405 text-neutral-300">I specialize in Hatha, Vinyasa, and Restorative Yoga. Each class focuses on breath, alignment, and mindful movement. Meditation & breathwork (pranayama) are also integrated into most sessions.</p>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 tw-mb-4" data-aos="fade-up" data-aos-duration="1000">
                        <button class="accordion-button-two collapsed text-neutral-950 fw-medium tw-text-405 tw-px-4 tw-ps-7 d-flex tw-gap-6 rounded-pill focus-box-shadow-0 line-clamp-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Are the classes available online?
                        </button>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-white tw-rounded-bottom-12px marketing-shadow">
                           <p class="fw-normal tw-text-405 text-neutral-300">I specialize in Hatha, Vinyasa, and Restorative Yoga. Each class focuses on breath, alignment, and mindful movement. Meditation & breathwork (pranayama) are also integrated into most sessions.</p>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 tw-mb-4" data-aos="fade-up" data-aos-duration="1200">
                        <button class="accordion-button-two collapsed text-neutral-950 fw-medium tw-text-405 tw-px-4 tw-ps-7 d-flex tw-gap-6 rounded-pill focus-box-shadow-0 line-clamp-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            How do I book a class or private session?
                        </button>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-white tw-rounded-bottom-12px marketing-shadow">
                           <p class="fw-normal tw-text-405 text-neutral-300">I specialize in Hatha, Vinyasa, and Restorative Yoga. Each class focuses on breath, alignment, and mindful movement. Meditation & breathwork (pranayama) are also integrated into most sessions.</p>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 tw-mb-4" data-aos="fade-up" data-aos-duration="1300">
                        <button class="accordion-button-two collapsed text-neutral-950 fw-medium tw-text-405 tw-px-4 tw-ps-7 d-flex tw-gap-6 rounded-pill focus-box-shadow-0 line-clamp-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            What types of yoga do you teach?
                        </button>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-white tw-rounded-bottom-12px marketing-shadow">
                           <p class="fw-normal tw-text-405 text-neutral-300">I specialize in Hatha, Vinyasa, and Restorative Yoga. Each class focuses on breath, alignment, and mindful movement. Meditation & breathwork (pranayama) are also integrated into most sessions.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= FAQ section end =========================== -->