<!-- ====================== features section start ======================= -->
<section class="py-100 position-relative">
    <img src="assets/images/shape/features-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-190px tw-ms-100-px left-right-animation d-xl-block d-none">
    <img src="assets/images/shape/features-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt-160px tw-me-250-px d-xl-block d-none animation-scalation">
    <div class="container">
        <div class="text-center tw-mb-17">
            <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-main-50 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                    <i class="ph-fill ph-star-four"></i>
                </span>
                <span class="fw-normal tw-text-4 text-main-600">
                   Our Features
                </span>
            </div>
            <h3 class="fw-semibold text-neutral-950 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                Online Coaching Lessons For Remote Learning.
            </h3>
            <p class="fw-normal tw-text-4 text-neutral-400" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                The ability to learn at my own pace was a game-changer for me. The flexible schedule<br> allowed me to balance my studies with work and personal life
            </p>
        </div>
        <div class="row gy-0">
            <div class="col-xl-3 col-lg-6 col-sm-6 px-0"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="feature-item tw-py-15 tw-px-6 text-center animation-item bg-purple-light">
                    <img src="assets/images/icon/features-icon1.png" alt="icon" class="tw-mb-7 animate__wobble">
                    <h5 class="fw-semibold text-neutral-500 tw-mb-7">
                        Learn Anything
                    </h5>
                    <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-8">
                        The ability to learn at my own pace was a game-changer.
                    </p>
                    <a href="javascript:void(0)" class="fw-semibold tw-text-4 text-main-600 hover-underline hover-text-main-600 d-flex align-items-center tw-gap-2 justify-content-center">
                        Start Here
                        <span>
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 px-0"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="feature-item tw-py-15 tw-px-6 text-center animation-item bg-warning-light">
                    <img src="assets/images/icon/features-icon2.png" alt="icon" class="tw-mb-7 animate__wobble">
                    <h5 class="fw-semibold text-neutral-500 tw-mb-7">
                        Self-Development
                    </h5>
                    <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-8">
                        The ability to learn at my own pace was a game-changer.
                    </p>
                    <a href="javascript:void(0)" class="fw-semibold tw-text-4 text-main-600 hover-underline hover-text-main-600 d-flex align-items-center tw-gap-2 justify-content-center">
                        Start Here
                        <span>
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 px-0"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="feature-item tw-py-15 tw-px-6 text-center animation-item bg-cyan-light">
                    <img src="assets/images/icon/features-icon3.png" alt="icon" class="tw-mb-7 animate__wobble">
                    <h5 class="fw-semibold text-neutral-500 tw-mb-7">
                        Unlimited Certificates
                    </h5>
                    <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-8">
                        The ability to learn at my own pace was a game-changer.
                    </p>
                    <a href="javascript:void(0)" class="fw-semibold tw-text-4 text-main-600 hover-underline hover-text-main-600 d-flex align-items-center tw-gap-2 justify-content-center">
                        Start Here
                        <span>
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 px-0"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                <div class="feature-item tw-py-15 tw-px-6 text-center animation-item bg-red-light">
                    <img src="assets/images/icon/features-icon4.png" alt="icon" class="tw-mb-7 animate__wobble">
                    <h5 class="fw-semibold text-neutral-500 tw-mb-7">
                        Flexible Learning
                    </h5>
                    <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-8">
                        The ability to learn at my own pace was a game-changer.
                    </p>
                    <a href="javascript:void(0)" class="fw-semibold tw-text-4 text-main-600 hover-underline hover-text-main-600 d-flex align-items-center tw-gap-2 justify-content-center">
                        Start Here
                        <span>
                            <i class="ph-bold ph-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== features section end ======================= -->