<!-- ========================= features section start ======================= -->
<section class="tw-mt--350-px z-2">
    <div class="container">
        <div class="px-110 pb-110 bg-img tw-rounded-2xl tw-pt-17" style="background-image: url(assets/images/bg/features-five-bg-img1.png);">
            <h1 class="fw-bold text-gray-400 text-center tw-mb-13" data-aos="zoom-in" data-aos-duration="1500">FEATURES</h1>
            <div class="row gy-4">
                <div class="col-xl-3 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600">
                    <div class="animation-item">
                        <img src="assets/images/icon/features-five-icon1.png" alt="icon" class="tw-mb-14 animate__wobble tw-duration-300">
                        <div>
                            <h2 class="h6 fw-medium text-white tw-mb-6">Best Coaching</h2>
                            <p class="fw-normal tw-text-4 text-white">Headquartered in Adelaide, South Australia, where our story began in 1839.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="800">
                    <div class="animation-item">
                        <img src="assets/images/icon/features-five-icon2.png" alt="icon" class="tw-mb-14 animate__wobble tw-duration-300">
                        <div>
                            <h2 class="h6 fw-medium text-white tw-mb-6">Convenient practice</h2>
                            <p class="fw-normal tw-text-4 text-white">Headquartered in Adelaide, South Australia, where our story began in 1839.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                    <div class="animation-item">
                        <img src="assets/images/icon/features-five-icon3.png" alt="icon" class="tw-mb-14 animate__wobble tw-duration-300">
                        <div>
                            <h2 class="h6 fw-medium text-white tw-mb-6">Video Lecture</h2>
                            <p class="fw-normal tw-text-4 text-white">Headquartered in Adelaide, South Australia, where our story began in 1839.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                    <div class="animation-item">
                        <img src="assets/images/icon/features-five-icon4.png" alt="icon" class="tw-mb-14 animate__wobble tw-duration-300">
                        <div>
                            <h2 class="h6 fw-medium text-white tw-mb-6">Live Classes</h2>
                            <p class="fw-normal tw-text-4 text-white">Headquartered in Adelaide, South Australia, where our story began in 1839.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= features section end ======================= -->