<!-- ==================== Footer Start Here ==================== -->
<footer class="footer bg-main-50 position-relative z-2">
    <img src="assets/images/shape/footer-five-shape1.png" alt="shape" class="position-absolute tw-end-0 bottom-0 tw-mb-17 z-n1">
    <img src="assets/images/shape/footer-five-shape2.png" alt="shape" class="position-absolute tw-start-0 bottom-0 tw-mb-100px tw-ms-134px animation-scalation z-n1 d-lg-block d-none">
  <div class="py-110">
    <div class="container container-two">
      <div class="row gy-5">
        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="600">
          <div class="max-w-352-px w-100">
            <a href="index.html" class="tw-mb-7">
              <img src="assets/images/logo/logo.png" alt="logo">
            </a>
            <p class="tw-text-4 fw-medium tw-mb-8 text-neutral-400">
              Our tools make your online learning experience just like a class at a physical studio - but better.
            </p>
            <ul class="d-flex align-items-center tw-gap-2">
              <li class="">
                <a href="https://www.facebook.com/" class="tw-text-5 text-black tw-w-11 tw-h-11 bg-white rounded-circle d-flex align-items-center justify-content-center hover-bg-main-600 tw-duration-300 hover-text-white">
                  <i class="ph-fill ph-facebook-logo"></i>
                </a>
              </li>
              <li class="">
                <a href="https://x.com/login?" class="tw-text-4 text-black tw-w-11 tw-h-11 bg-white rounded-circle d-flex align-items-center justify-content-center hover-bg-main-600 tw-duration-300 hover-text-white">
                  <i class="ph-fill ph-twitter-logo"></i>
                </a>
              </li>
              <li class="">
                <a href="https://www.youtube.com" class="tw-text-5 text-black tw-w-11 tw-h-11 bg-white rounded-circle d-flex align-items-center justify-content-center hover-bg-main-600 tw-duration-300 hover-text-white">
                  <i class="ph-fill ph-youtube-logo"></i>
                </a>
              </li>
              <li class="">
                <a href="https://www.youtube.com" class="tw-text-5 text-black tw-w-11 tw-h-11 bg-white rounded-circle d-flex align-items-center justify-content-center hover-bg-main-600 tw-duration-300 hover-text-white">
                  <i class="ph-fill ph-linkedin-logo"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
          <div class="footer-card-two">
            <h2 class="h4 cursor-big fw-medium text-neutral-800 tw-mb-6">OUR CLASS</h2>
            <ul class="d-flex flex-column tw-gap-4">
              <li>
                <a href="javascript:void(0)"
                  class="text-neutral-400 fw-medium tw-text-4 d-flex align-items-center hover-text-main-600 tw-gap-205 hover-underline tw-duration-300">
                  Ballet Dance Class
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="text-neutral-400 fw-medium tw-text-4 d-flex align-items-center hover-text-main-600 tw-gap-205 hover-underline tw-duration-300">
                  Contemporary Dance Class
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="text-neutral-400 fw-medium tw-text-4 d-flex align-items-center hover-text-main-600 tw-gap-205 hover-underline tw-duration-300">
                  Popping Dance Class
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="text-neutral-400 fw-medium tw-text-4 d-flex align-items-center hover-text-main-600 tw-gap-205 hover-underline tw-duration-300">
                 Hip Hop Dance Class
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="text-neutral-400 fw-medium tw-text-4 d-flex align-items-center hover-text-main-600 tw-gap-205 hover-underline tw-duration-300">
                  Cardio Dance Workout
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
          <div class="max-w-206-px w-100">
            <h2 class="h4 cursor-big fw-medium text-neutral-800 tw-mb-6">Company info</h2>
            <ul class="d-flex flex-column tw-gap-4">
              <li>
                <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-400 hover-underline hover-text-main-600 tw-duration-300">
                  Our Support
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-400 hover-underline hover-text-main-600 tw-duration-300">
                  System Status
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-400 hover-underline hover-text-main-600 tw-duration-300">
                  Knowledge base
                </a>
              </li>
              <li>
                <a href="blog-details.html" class="fw-medium tw-text-4 text-neutral-400 hover-underline hover-text-main-600 tw-duration-300">
                 Blog & News
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="fw-medium tw-text-4 text-neutral-400 hover-underline hover-text-main-600 tw-duration-300">
                 Case Studies
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
          <div class="">
            <h2 class="h4 cursor-big fw-medium text-neutral-800 tw-mb-6">Latest News</h2>
            <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-sm-nowrap flex-wrap tw-mb-4">
                <img src="assets/images/thumbs/footer-five-img1.png" alt="img">
                <div>
                    <span class="fw-medium tw-text-4 text-main-600 tw-mb-4 d-block">12 January, 2026</span>
                    <a href="blog-details.html" class="fw-medium tw-text-405 text-main-two-600 hover-text-main-600">
                        Holistic Healing: for You Exploring Health 
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-sm-nowrap flex-wrap">
                <img src="assets/images/thumbs/footer-five-img1.png" alt="img">
                <div>
                    <span class="fw-medium tw-text-4 text-main-600 tw-mb-4 d-block">12 January, 2026</span>
                    <a href="blog-details.html" class="fw-medium tw-text-405 text-main-two-800 hover-text-main-600 ">
                        Holistic Healing: for You Exploring Health 
                    </a>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
    <!-- bottom Footer -->
    <div class="bg-main-600 tw-py-6">
      <div class="container container-two">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <p class="fw-medium tw-text-4 text-white">Copyright &copy; 2026 WebNextPro. All Rights Reserved</p>
            <div class="d-flex align-items-center tw-gap-3">
                <a href="javascript:void(0)" class="fw-medium tw-text-4 text-white">
                    Privacy Policy 
                </a>
                <span class="text-white">/</span>
                <a href="javascript:void(0)" class="fw-medium tw-text-4 text-white">
                 Terms & Condition
                </a>
            </div>
        </div>
      </div>
    </div>
</footer>
<!-- ==================== Footer End Here ==================== -->