<!-- ==================== Footer top Start Here ==================== -->
<footer class="bg-main-two-600 position-relative">
  <img src="assets/images/shape/footer-shape1.png" alt="shape"
    class="position-absolute top-0 tw-start-0 tw-mt-140px tw-ms-100-px animation-scalation d-xl-block d-none">
  <img src="assets/images/shape/footer-shape2.png" alt="shape"
    class="position-absolute bottom-0 tw-start-0 tw-ms-17 tw-mb-150-px animation-scalation d-xl-block d-none ">
  <img src="assets/images/shape/footer-shape3.png" alt="shape"
    class="position-absolute top-0 tw-end-0  animation-scalation d-xl-block d-none tw-mt-204-px tw-me-134px">
  <img src="assets/images/shape/footer-shape4.png" alt="shape"
    class="position-absolute top-0 tw-end-0  animation-scalation d-xl-block d-none tw-mt-300-px tw-me-8">
  <img src="assets/images/shape/footer-shape5.png" alt="shape"
    class="position-absolute bottom-0 tw-end-0 animation-scalation d-xl-block d-none tw-me-17 tw-mb-106-px">
  <div class="container">

    <div class="py-100">
      <div class="row gy-4">
        <div class="col-xl-4 col-lg-4 col-sm-6">
          <a href="index.html" class="tw-mb-7">
            <img src="assets/images/logo/logo-white.png" alt="logo">
          </a>
          <p class="tw-mt-8 text-neutral-100">The ability to learn at my own pace was a game-changer for me.</p>
          <div class="tw-mt-10">
            <p class="text-white tw-text-lg">Take Your Learning with You</p>
            <div class="d-flex align-items-center tw-gap-3 tw-mt-4">
              <a href="#"
                class="bg-main-600 text-white rounded-pill d-inline-flex align-items-center tw-gap-4 tw-px-6 tw-py-205">
                <span class="">
                  <img src="assets/images/icon/playstore-icon.png" alt="Play store icon">
                </span>
                <span class="">
                  <span class="d-block tw-text-sm text-white">Get it on</span>
                  <span class="d-block tw-text-base text-white">Play Store</span>
                </span>
              </a>
              <a href="#"
                class="bg-main-three-600 text-white rounded-pill d-inline-flex align-items-center tw-gap-4 tw-px-6 tw-py-205">
                <span class="">
                  <img src="assets/images/icon/apple-icon.png" alt="Play store icon">
                </span>
                <span class="">
                  <span class="d-block tw-text-sm text-heading">Get it on</span>
                  <span class="d-block tw-text-base text-heading">Play Store</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <h5 class="fw-medium text-white">
            Useful Links
          </h5>
          <span class="tw-w-13 tw-h-05 bg-main-600 tw-mt-3 tw-mb-10"></span>
          <ul class="d-flex flex-column tw-gap-6">
            <li>
              <a href="about-us.html"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                About Eduly
              </a>
            </li>
            <li>
              <a href="javascript:void(0)"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Resource Center
              </a>
            </li>
            <li>
              <a href="teacher-details.html"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Meet With Teacher
              </a>
            </li>
            <li>
              <a href="our-team.html"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Become a Teacher
              </a>
            </li>
            <li>
              <a href="course-details.html"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Our Careers
              </a>
            </li>
            <li>
              <a href="javascript:void(0)"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Our Reviews
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xl-2 col-lg-4 col-sm-6">
          <h5 class="fw-medium text-white">
            Category
          </h5>
          <span class="tw-w-13 tw-h-05 bg-main-600 tw-mt-3 tw-mb-10"></span>
          <ul class="d-flex flex-column tw-gap-6">
            <li>
              <a href="javascript:void(0)"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Marketing
              </a>
            </li>
            <li>
              <a href="javascript:void(0)"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Development
              </a>
            </li>
            <li>
              <a href="javascript:void(0)"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Finance & Business
              </a>
            </li>
            <li>
              <a href="javascript:void(0)"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Gaming
              </a>
            </li>
            <li>
              <a href="javascript:void(0)"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Design
              </a>
            </li>
            <li>
              <a href="javascript:void(0)"
                class="fw-medium tw-text-4 text-white d-flex align-items-center tw-gap-2 hover-underline">
                <span>
                  <i class="ph-bold ph-arrow-right"></i>
                </span>
                Lifestyle
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <h5 class="fw-medium text-white">
            Join Our Newsletter
          </h5>
          <span class="tw-w-13 tw-h-05 bg-main-600 tw-mt-3 tw-mb-10"></span>
          <p class="fw-normal tw-text-4 text-white tw-mb-5">
            Join our subscribers list to get the latest news and special offers.
          </p>
          <form action="#" class="position-relative tw-mb-8">
            <input type="email" placeholder="Enter email"
              class="fw-normal tw-text-4 text-neutral-400 tw-py-4 tw-ps-6 tw-pe-14 bg-white w-100 rounded-pill focus-visible-border-main-600">
            <button type="submit"
              class="tw-w-9 tw-h-9 bg-main-600 text-white tw-text-5 rounded-circle position-absolute top-0 tw-end-0 top-50 translate-middle-y tw-me-3">
              <i class="ph-bold ph-arrow-up-right"></i>
            </button>
          </form>
          <ul class="d-flex align-items-center tw-gap-4">
            <li>
              <a href="https://www.facebook.com/" class="tw-text-505 text-white hover-text-main-600">
                <i class="ph-bold ph-facebook-logo"></i>
              </a>
            </li>
            <li>
              <a href="https://www.x.com/" class="tw-text-505 text-white hover-text-main-600">
                <i class="ph-bold ph-x-logo"></i>
              </a>
            </li>
            <li>
              <a href="https://www.dribbble.com/" class="tw-text-505 text-white hover-text-main-600">
                <i class="ph-bold ph-dribbble-logo"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" class="tw-text-505 text-white hover-text-main-600">
                <i class="ph-bold ph-instagram-logo"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <!-- ================= footer bottom start ================= -->
  <div class="bg-main-600 tw-py-3">
    <div class="container">
      <p class="text-white text-center">
        © 2026 Eduly - Online Education / All rights reserved
      </p>
    </div>
  </div>
  <!-- ================= footer bottom end ================= -->
</footer>
<!-- ==================== Footer top End Here ==================== -->