
<!-- ========================== footer section start ========================== -->
<footer class="py-110 bg-neutral-950 position-relative z-2">
    <img src="assets/images/shape/footer-seven-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 d-lg-block d-none z-n1">
    <img src="assets/images/shape/footer-seven-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt-11 tw-me-180-px z-n1 d-lg-block d-none animation-scalation">
    <img src="assets/images/shape/about-our-seven-sahpe1.png" alt="shape" class="position-absolute d-lg-block d-none bottom-0 tw-end-0 tw-mb-6 tw-me-5 animation-upDown">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="600">
                <div class="max-w-274-px w-100">
                    <a href="index.html" class="tw-mb-6">
                        <img src="assets/images/logo/logo-white.png" alt="logo">
                    </a>
                    <p class="fw-medium tw-text-4 text-white tw-mb-6">Our tools make your online learning experience just like a class at a physical studio - but better.</p>
                    <ul class="d-flex align-items-center tw-gap-2">
                        <li>
                            <a href="https://www.facebook.com/" class="tw-w-11 tw-h-11 bg-white-7-persent rounded-circle d-flex align-items-center justify-content-center text-white tw-text-405">
                                <i class="ph-fill ph-facebook-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://x.com/login?" class="tw-w-11 tw-h-11 bg-white-7-persent rounded-circle d-flex align-items-center justify-content-center text-white tw-text-405">
                                <i class="ph-fill ph-twitter-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/" class="tw-w-11 tw-h-11 bg-white-7-persent rounded-circle d-flex align-items-center justify-content-center text-white tw-text-405">
                                <i class="ph-fill ph-youtube-logo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login" class="tw-w-11 tw-h-11 bg-white-7-persent rounded-circle d-flex align-items-center justify-content-center text-white tw-text-405">
                                <i class="ph-fill ph-linkedin-logo"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div>
                    <h5 class="fw-semibold text-white">Our Campus</h5>
                    <span class="tw-w-84-px tw-h-1 bg-warning-10 tw-mt-4 tw-mb-8"></span>
                    <div class="d-flex flex-column tw-gap-5">
                        <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white hover-underline tw-duration-300">
                            Planning & Administration
                        </a>
                        <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white hover-underline tw-duration-300">
                            Contemporary Dance Class
                        </a>
                        <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white hover-underline tw-duration-300">
                            Office of the Chancellor
                        </a>
                        <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white hover-underline tw-duration-300">
                            Hip Hop Dance Class
                        </a>
                        <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white hover-underline tw-duration-300">
                            Cardio Dance Workout
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div>
                    <h5 class="fw-semibold text-white">Company info</h5>
                    <span class="tw-w-84-px tw-h-1 bg-warning-10 tw-mt-4 tw-mb-8"></span>
                    <div class="d-flex flex-column tw-gap-5">
                        <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white hover-underline tw-duration-300">
                            Our Support
                        </a>
                        <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white hover-underline tw-duration-300">
                            System Status
                        </a>
                        <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white hover-underline tw-duration-300">
                            Knowledge base
                        </a>
                        <a href="our-blog.html" class="fw-medium tw-text-4 text-white hover-underline tw-duration-300">
                            Blog & News
                        </a>
                        <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white hover-underline tw-duration-300">
                            Case Studies
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div>
                    <h5 class="fw-semibold text-white tw-mb-6">For Admission:</h5>
                    <h3 class="tw-mb-10">
                        <a href="tel:(635)525-4250" class="text-white fw-medium tw-text-32-px">
                            (635) 525-4250
                        </a>
                    </h3>
                    <div class="d-flex align-items-start tw-gap-5">
                        <span class="tw-text-10 text-white">
                            <i class="ph-bold ph-headset"></i>
                        </span>
                        <div>
                            <h6 class="fw-medium text-white tw-mb-3">Our Contact:</h6>
                            <span class="fw-normal tw-text-4 text-white tw-mb-4 d-block">2220 Plymouth Rd #302, Hopkins, New York, USA</span>
                            <a href="mailto:helloedupro@gmail.com" class="fw-normal text-white tw-text-4">helloedupro@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ========================== footer section end ========================== -->



<!-- ========================== footer bottom start ========================== -->
<div class="tw-py-6 bg-main-600">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-5 justify-content-between flex-wrap">
            <p class="fw-medium tw-text-4 text-white">Copyright &copy; 2026 WebNextPro. All Rights Reserved</p>
            <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white">
                    Privacy Policy
                </a>
                <span class="fw-medium tw-text-4 text-white">/</span>
                <a href="javascrimt:void(0)" class="fw-medium tw-text-4 text-white">
                    Terms & Condition
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ========================== footer bottom end ========================== -->