<!-- ==================== Footer Start Here ==================== -->
<footer class="footer bg-neutral-900 position-relative z-1 mt-auto bg-img" style="background-image: url(assets/images/bg/footer-bg-img1.png);">
  <div class="py-120 tw-mt-134px">
    <div class="container container-two">
      <div class="row gy-5">
        <div class=" col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
          <div class="max-w-352-px w-100">
            <a href="index.html">
              <img src="assets/images/logo/logo-white.png" alt="">
            </a>
            <form action="#" class="tw-mt-7 tw-mb-10 position-relative form-submit">
                <input type="email" class="form-control bg-white shadow-none border border-neutral-700 text--white rounded-pill tw-ps-13 tw-pe-13 focus-border-main-600 tw-h-14 text-gray-500 tw-placeholder-text-neutral-300 focus-tw-placeholder-text-hidden tw-placeholder-transition-2"
                placeholder="Enter your e-mail" required>

                <span class="position-absolute translate-middle-y tw-start-0 top-50 tw-text-5 tw-ps-6 tw-line-height-0">
                  <i class="ph ph-envelope-simple"></i>
                </span>

              <button type="submit" class="tw-w-11 tw-h-11 flex-center rounded-circle bg-warning-500 text-neutral-950 hover-bg-warning-600 position-absolute top-50 tw--translate-y-50 tw-end-0 tw-me-2 transition-all d-flex align-items-center justify-content-center tw-duration-300">
                <i class="ph-bold ph-arrow-up-right"></i>
              </button>
            </form>
            <p class="tw-text-4 fw-normal tw-mb-11 text-neutral-100">
              By subscribing, you’re accept
              <a href="javascript:void(0)" class="text-white fw-medium border-bottom border-white">Privacy Policy</a>
            </p>
            <ul class="d-flex align-items-center tw-gap-6">
              <li>
                <a href="https://www.facebook.com/" class="tw-text-605 text-white hover-text-main-300 tw-duration-300">
                  <i class="ph ph-facebook-logo"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter-cl.vercel.app/login" class="tw-text-605 text-white hover-text-main-300 tw-duration-300">
                  <i class="ph ph-x-logo"></i>
                </a>
              </li>
              <li>
                <a href="https://dribbble.com/" class="tw-text-605 text-white hover-text-main-300 tw-duration-300">
                  <i class="ph ph-dribbble-logo"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/accounts/login/?hl=en" class="tw-text-605 text-white hover-text-main-300 tw-duration-300">
                  <i class="ph ph-instagram-logo"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200">
          <div class="footer-card-two max-w-206-px w-100 tw-ps-7">
            <h5 class="cursor-big fw-medium text--white tw-mb-6">OUR CLASS</h5>
            <span class="bg-main-600 tw-h-1 tw-w-57-px tw-mb-7"></span>
            <ul class="d-flex flex-column tw-gap-4">
              <li>
                <a href="course-details.html"
                  class="text--white hover-text-white tw-text-4 d-flex align-items-center tw-gap-205 hover-underline tw-duration-300">
                  <span class="text-warning-500"><i class="ph ph-arrow-up-right"></i></span>
                  All Courses
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="text--white hover-text-white tw-text-4 d-flex align-items-center tw-gap-205 hover-underline tw-duration-300">
                  <span class="text-warning-500"><i class="ph ph-arrow-up-right"></i></span>
                  Instructors
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="text--white hover-text-white tw-text-4 d-flex align-items-center tw-gap-205 hover-underline tw-duration-300">
                  <span class="text-warning-500"><i class="ph ph-arrow-up-right"></i></span>
                  Become Instructor
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="text--white hover-text-white tw-text-4 d-flex align-items-center tw-gap-205 hover-underline tw-duration-300">
                  <span class="text-warning-500"><i class="ph ph-arrow-up-right"></i></span>
                  Our Testimonials
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  class="text--white hover-text-white tw-text-4 d-flex align-items-center tw-gap-205 hover-underline tw-duration-300">
                  <span class="text-warning-500"><i class="ph ph-arrow-up-right"></i></span>
                  Pricing Table
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="600" data-aos-delay="300">
          <div class="max-w-206-px w-100">
            <h5 class="cursor-big fw-medium text--white tw-mb-6">QUICK LINKS</h5>
            <span class="bg-main-600 tw-h-1 tw-w-57-px tw-mb-7"></span>
            <ul class="d-flex flex-column tw-gap-4">
              <li>
                <a href="contact-us.html" class="fw-medium tw-text-4 text--white hover-underline tw-duration-300 hover-text-white">
                  Contact Us
                </a>
              </li>
              <li>
                <a href="about-us.html" class="fw-medium tw-text-4 text--white hover-underline tw-duration-300 hover-text-white">
                  About Us
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="fw-medium tw-text-4 text--white hover-underline tw-duration-300 hover-text-white">
                  404 Page
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="fw-medium tw-text-4 text--white hover-underline tw-duration-300 hover-text-white">
                 Our News
                </a>
              </li>
              <li>
                <a href="our-team.html" class="fw-medium tw-text-4 text--white hover-underline tw-duration-300 hover-text-white">
                 Team Members
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="600" data-aos-delay="400">
          <div class="">
            <h5 class="cursor-big fw-medium text--white tw-mb-6">GET IN TOUCH</h5>
            <span class="bg-main-600 tw-h-1 tw-w-57-px tw-mb-7"></span>
            <div class="d-flex flex-column tw-gap-6">
                <p class="fw-medium tw-text-4 text-white">Made using clean, non-toxic ngredients, our products are signed</p>
                <div class="d-flex align-items-center tw-gap-4 tw-line-height-0">
                  <span class="tw-text-5 text-warming-600 tw-line-height-0 tw-mt-2">
                    <i class="ph ph-envelope-simple"></i>
                  </span>
                  <a href="mailto:(yordomain@gmial.com)" class="fw-medium tw-text-4 text-white hover-text-main-600">yordomain@gmial.com</a>
                </div>
                <div class="d-flex tw-gap-4">
                  <span class="tw-text-5 text-warming-600">
                    <i class="ph-bold ph-map-pin"></i>
                  </span>
                  <span class="fw-medium tw-text-4 text-white">2702 Memory Lane Chicago, IL 60605 New York, USA</span>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
    <!-- bottom Footer -->
    <div class="border-top border border-neutral-10 border-0 tw-py-8">
      <div class="container container-two">
          <p class="fw-medium tw-text-4 text-white text-center">Copyright © 2025 All Rights Reserved.</p>
      </div>
    </div>
</footer>
<!-- ==================== Footer End Here ==================== -->