<!-- ============================== get start section start ============================== -->
<section class="bg-main-600 position-relative z-2 overflow-hidden">
    <img src="assets/images/shape/about-us-five-shape2.png" alt="shape" class="position-absolute top-50 tw-start-0  animation-scalation d-lg-block d-none">
    <img src="assets/images/shape/get-start-six-shape2.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-15 animation-upDown d-lg-block d-none">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-7">
                <div class="py-110">
                    <span class="tw-py-2 tw-px-5 bg-white-11-persent text-white fw-medium tw-text-305 tw-rounded-sm tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                        GET STARTED NOW
                    </span>
                    <h4 class="fw-medium text-white tw-mb-10" data-aos="fade-up" data-aos-duration="800">Get Your Quality Skills Certificate Through EduAll</h4>
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap" data-aos="fade-up" data-aos-duration="1000">
                        <a href="account-page.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-black rounded-circle text-white d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-black">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-bold tw-text-4">Get Started</span>
                        </a>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <span class="tw-text-12 text-warming-600">
                                <i class="ph ph-headset"></i>
                            </span>
                            <div>
                                <span class="tw-text-405 fw-bold tw-text-gray-90 d-block tw-mb-2">Call Us</span>
                                <a href="tel:(635)5258-4250" class="text-white fw-bold tw-text-505">
                                    (635) 5258-4250
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-duration="1500">
                <div class="position-relative h-100 d-lg-block d-none">
                    <span class="d-flex align-items-end justify-content-end tw-pt-17 bg-img overflow-hidden">
                        <img src="assets/images/thumbs/get-start-six-img1.png" alt="img" class="h-100">
                    </span>
                    <img src="assets/images/shape/get-start-six-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 z-n1 animation-scalation d-lg-block d-none">
                    <img src="assets/images/shape/get-start-six-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 z-n1 tw-mb--180-px d-lg-block d-none animation-scalation">
                </div>
            </div>
        </div> 
    </div>
</section>
<!-- ============================== get start section end ============================== -->