<!-- ==================== Header Start Here ==================== -->
<header class="header tw-transition-all tw-py-4 tw-z-99">
  <div class="container container-two max-w-1700-px">
    <nav class="d-flex align-items-center justify-content-between position-relative">
      <!-- Logo Start -->
      <div class="logo">
        <a href="index.html" class="link">
          <img  src="assets/images/logo/logo-white.png" alt="Logo" class="max-w-200-px">
        </a>
      </div>
      <!-- Logo End  -->
       <div class="d-flex align-items-center tw-gap-10">
         <!-- Menu Start  -->
         <div class="header-menu d-lg-block d-none">
           @@include('../partials/_nav-menu-three.html', { "class" : "tw-gap-6" })
         </div>
         <!-- Menu End  -->
   
         <!-- Header Right start -->
         <div class="d-flex align-items-center tw-gap-4">
           <div class="d-flex align-items-center tw-gap-705 flex-shrink-0">
             <button type="button" class="position-relative d-lg-block d-none">
               <span class="tw-text-705 text-white">
                 <i class="ph ph-lock-simple"></i>
               </span>
               <span class="bg-main-600 tw-w-22-px tw-h-22-px rounded-circle text-white d-flex align-items-center justify-content-center tw-text-305 position-absolute bottom-0 tw-end--6px">
                 2
               </span>
             </button>
             <button type="button" class="open-search tw-text-505 d-md-block d-none text-white tw-text-505">
               <i class="ph-bold ph-magnifying-glass"></i> 
             </button>
             <div class="d-sm-block d-none group">
               <a href="account-page.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                 <span class="button__flair"></span>
                 <span class="button__label fw-bold tw-text-4">Apply Now</span>
               </a>
             </div>
           </div>
           <button type="button" class="toggle-mobileMenu leading-none d-lg-none ms-3 text-white tw-text-9">
           <i class="ph ph-list"></i>
           </button>
         </div>
       </div>


      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
