<!-- ==================== Header Start Here ==================== -->
<header class="header bg-white tw-transition-all tw-z-99">
  <div class="container container-two max-w-1500-px">
    <nav class="d-flex align-items-center justify-content-between position-relative">
      <!-- Logo Start -->
      <div class="logo">
        <a href="index.html" class="link">
          <img  src="assets/images/logo/logo.png" alt="Logo" class="max-w-200-px">
        </a>
      </div>
      <!-- Logo End  -->

      <!-- Menu Start  -->
      <div class="header-menu d-lg-block d-none">
        @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
      </div>
      <!-- Menu End  -->

      <!-- Header Right start -->
      <div class="d-flex align-items-center tw-gap-3">
        <div class="d-flex align-items-center tw-gap-705 flex-shrink-0">
          <button type="button" class="position-relative d-xxl-block d-none">
            <span class="tw-text-705">
              <i class="ph-bold ph-lock-simple"></i>
            </span>
            <span class="bg-main-600 tw-w-505 tw-h-505 rounded-circle text-white d-flex align-items-center justify-content-center tw-text-305 position-absolute bottom-0 tw-end--6px">
              2
            </span>
          </button>
          <button type="button" class="open-search tw-text-505 d-xl-block d-none">
            <i class="ph-bold ph-magnifying-glass"></i> 
          </button>
          <div class="d-xl-block d-none">
            <div class="d-flex align-items-center tw-gap-2">
              <span class="tw-text-9 text-main-600">
                <i class="ph ph-headset"></i>
              </span>
              <div>
                <span class="text-neutral-600 d-block tw-mb-2">Call Us</span>
                <a href="tel:(635)5258-4250" class="fw-semibold tw-text-405 text-main-700 hover-text-main-600 hover-underline tw-duration-300">(635) 5258-4250</a>
              </div>
            </div>
          </div>
          <div class="d-sm-block d-none group">

            <a href="account-page.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
              <span class="button__flair"></span>
              <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                  <i class="ph ph-caret-right"></i>
              </span>
              <span class="button__label fw-medium">Enroll Now</span>
            </a>
          </div>
        </div>
        <button type="button" class="toggle-mobileMenu leading-none d-lg-none ms-3 text-neutral-800 tw-text-9">
        <i class="ph ph-list"></i>
        </button>
      </div>

      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
