<!-- ==================== Header Start Here ==================== -->
<header class="header tw-mb-main-10 tw-transition-all tw-z-99">
  <div class="container container-two max-w-1360-px">
    <nav class="d-flex align-items-center justify-content-between position-relative">

      <div class="d-flex align-items-center tw-gap-4">
        <!-- Logo Start -->
        <div class="logo">
          <a href="index.html" class="link">
            <img src="assets/images/logo/logo.png" alt="Logo" class="max-w-200-px">
          </a>
        </div>
        <!-- Logo End  -->

        @@include('../partials/_category-dropdown.html')
      </div>

      <div class="d-flex align-items-center tw-gap-10">
        <!-- Menu Start  -->
        <div class="header-menu d-lg-block d-none">
          @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6" })
        </div>
        <!-- Menu End  -->

        <!-- Header Right start -->
        <div class="d-flex align-items-center gap-lg-4 gap-3">
          <div class="d-sm-flex d-none align-items-center tw-gap-3">
            <span
              class="tw-w-14 tw-h-14 d-flex justify-content-center align-items-center tw-text-2xl rounded-circle text-heading bg-main-three-600">
              <i class="ph ph-phone"></i>
            </span>
            <div class="">
              <span class="text-neutral-200 fw-semibold d-block tw-mb-1">Phone:</span>
              <a href="tel:7045550127" class="text-heading hover-text-main-600 tw-text-lg fw-semibold d-block">(704)
                555-0127</a>
            </div>
          </div>
          <div class="d-flex align-items-center tw-gap-5 flex-shrink-0">
            <button type="button" class="position-relative">
              <span class="tw-text-705">
                <i class="ph-bold ph-lock-simple"></i>
              </span>
              <span
                class="bg-main-600 tw-w-22-px tw-h-22-px rounded-circle text-white d-flex align-items-center justify-content-center tw-text-305 position-absolute bottom-0 tw-end--6px">
                2
              </span>
            </button>
            <button type="button" class="position-relative">
              <span class="tw-text-705">
                <i class="ph ph-heart"></i>
              </span>
              <span
                class="bg-main-600 tw-w-22-px tw-h-22-px rounded-circle text-white d-flex align-items-center justify-content-center tw-text-305 position-absolute bottom-0 tw-end--6px">
                2
              </span>
            </button>
          </div>
          <button type="button" class="toggle-mobileMenu leading-none d-lg-none text-neutral-800 tw-text-9">
            <i class="ph ph-list"></i>
          </button>
        </div>
      </div>

      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->