<!-- ========================= instructor section starrt ====================== -->
<section class="py-120">
    <div class="container">
        <div class="text-center tw-mb-12">
            <span class="text-main-600 fw-medium tw-text-305 bg-main-50 tw-py-1 tw-px-5 tw-rounded-sm tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                OUR INSTRUCTOR
            </span>
            <h3 class="fw-medium text-neutral-950" data-aos="fade-up" data-aos-duration="800">Meet With Our Teachers</h3>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="100">
                <div class="animation-item overflow-hidden tw-rounded-xl">
                    <a href="teacher-details.html" class="bg-img">
                        <img src="assets/images/thumbs/instructor-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </a>
                    <div class="position-relative">
                        <div class="instructor-text position-absolute bottom-0 tw-start-0 tw-mb-5 tw-ms-10 max-w-330-px w-100 bg-white tw-px-6 tw-py-4 tw-rounded-md">
                                <span class="d-block fw-medium tw-text-505 text-neutral-950 tw-mb-1">Jenifer Olivia</span>
                                <span class="fw-medium tw-text-405 text-neutral-500">Chief Executive Officer</span>
                        </div>
                        <div class="position-absolute bottom-0 tw-end-0 tw-me-15 tw-mb-90-px">
                            <button type="button" class="show-social-icon-button tw-w-13 tw-h-13 bg-main-600 text-white rounded-circle tw-text-5 d-flex align-items-center justify-content-center">
                                <i class="ph-bold ph-share-network"></i>
                            </button>
                            <div class="show-socials-icons d-flex flex-column tw-gap-3 tw-mb-15 position-absolute bottom-0 ">
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-facebook-logo"></i>
                                </button>
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-twitter-logo"></i>
                                </button>
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-linkedin-logo"></i>
                                </button>
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-camera"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="200">
                <div class="animation-item overflow-hidden tw-rounded-xl">
                    <a href="teacher-details.html" class="bg-img">
                        <img src="assets/images/thumbs/instructor-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                    </a>
                    <div class="position-relative">
                        <div class="instructor-text position-absolute bottom-0 tw-start-0 tw-mb-5 tw-ms-10 max-w-330-px w-100 bg-white tw-px-6 tw-py-4 tw-rounded-md">
                                <span class="d-block fw-medium tw-text-505 text-neutral-950 tw-mb-1">William John</span>
                                <span class="fw-medium tw-text-405 text-neutral-500">Chief Executive Officer</span>
                        </div>
                        <div class="position-absolute bottom-0 tw-end-0 tw-me-15 tw-mb-90-px">
                            <button type="button" class="show-social-icon-button tw-w-13 tw-h-13 bg-main-600 text-white rounded-circle tw-text-5 d-flex align-items-center justify-content-center">
                                <i class="ph-bold ph-share-network"></i>
                            </button>
                            <div class="show-socials-icons d-flex flex-column tw-gap-3 tw-mb-15 position-absolute bottom-0 ">
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-facebook-logo"></i>
                                </button>
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-twitter-logo"></i>
                                </button>
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-linkedin-logo"></i>
                                </button>
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-camera"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="300">
                <div class="animation-item overflow-hidden tw-rounded-xl">
                    <a href="teacher-details.html" class="bg-img">
                        <img src="assets/images/thumbs/instructor-img3.png" alt="Image" class="w-100 course-item__img tw-duration-300">
                    </a>
                    <div class="position-relative">
                        <div class="instructor-text position-absolute bottom-0 tw-start-0 tw-mb-5 tw-ms-10 max-w-330-px w-100 bg-white tw-px-6 tw-py-4 tw-rounded-md">
                                <span class="d-block fw-medium tw-text-505 text-neutral-950 tw-mb-1">John Smith</span>
                                <span class="fw-medium tw-text-405 text-neutral-500">Chief Executive Officer</span>
                        </div>
                        <div class="position-absolute bottom-0 tw-end-0 tw-me-15 tw-mb-90-px">
                            <button type="button" class="show-social-icon-button tw-w-13 tw-h-13 bg-main-600 text-white rounded-circle tw-text-5 d-flex align-items-center justify-content-center">
                                <i class="ph-bold ph-share-network"></i>
                            </button>
                            <div class="show-socials-icons d-flex flex-column tw-gap-3 tw-mb-15 position-absolute bottom-0 ">
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-facebook-logo"></i>
                                </button>
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-twitter-logo"></i>
                                </button>
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-linkedin-logo"></i>
                                </button>
                                <button type="button" class="show-socials-icons__item bg-white tw-text-5 text-main-600 tw-w-12 tw-h-12 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                    <i class="ph-bold ph-camera"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= instructor section end ======================== -->