<!-- ============================ location section start ======================== -->
 <div class="py-120 bg-main-600">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="600">
                <div class="d-flex tw-gap-3 flex-wrap animation-item">
                    <span class="tw-text-16 text-white animate__wobble">
                        <i class="ph ph-map-pin"></i>
                    </span>
                    <div>
                        <h2 class="h4 fw-normal text-white tw-mb-5">Location</h2>
                        <p class="fw-normal tw-text-4 text-white">You can learn any lesson on the <br> go. You will confident creatin</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="d-flex tw-gap-3 flex-wrap animation-item">
                    <span class="tw-text-16 text-white animate__wobble">
                        <i class="ph ph-graduation-cap"></i>
                    </span>
                    <div>
                        <h2 class="h4 fw-normal text-white tw-mb-5">Courses</h2>
                        <p class="fw-normal tw-text-4 text-white">You can learn any lesson on the <br> go. You will confident creatin</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="d-flex tw-gap-3 flex-wrap animation-item">
                    <span class="tw-text-16 text-white animate__wobble">
                        <i class="ph ph-alarm"></i>
                    </span>
                    <div>
                        <h2 class="h4 fw-normal text-white tw-mb-5">Schedule</h2>
                        <p class="fw-normal tw-text-4 text-white">You can learn any lesson on the <br> go. You will confident creatin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- ============================ location section end ======================== -->