<!-- ======================== Marquee section start =========================== -->
<div class="marquee">
  <div class="marquee_left d-flex align-items-center overflow-hidden">
    <span class="text-neutral-500 tw-text-88-px">Register Now -</span>
    <span class="text-neutral-500 tw-text-88-px">Online Learning -</span>
    <span class="text-neutral-500 tw-text-88-px">Register Now - </span>
    <span class="text-neutral-500 tw-text-88-px">Online Learning -</span>
  </div>
</div>
<!-- ======================== Marquee section end =========================== -->