<!-- ======================== Marquee section start =========================== -->
<div class="marquee pb-120">
  <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
    <h3 class="tw-text-base-three">Treat your body  *</h3>
    <h3 class="tw-text-base-three">Nurture your spirit *</h3>
    <h3 class="tw-text-base-three">Calm your mind *</h3>
    <h3 class="tw-text-base-three">24/7 Available *</h3>
    <h3 class="tw-text-base-three">Healthcare *</h3>
  </div>
</div>
<!-- ======================== Marquee section end =========================== -->