<!-- ============================= marque section start ============================= -->
<div class="marquee">
    <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
        <h1 class="fw-normal tw-text-108-px text-neutral-18">Best University .</h1>
        <h1 class="fw-normal tw-text-108-px text-neutral-18">Apply Now .</h1>
        <h1 class="fw-normal tw-text-108-px text-neutral-18">ESTD 1972 .</h1>
        <h1 class="fw-normal tw-text-108-px text-neutral-18">Admission</h1>
    </div>
</div>
<!-- ============================= marque section end ============================== -->