<!-- ======================= marketing section start =========================== -->
 <section class="pb-120">
    <div class="container">
        <div class="tw-mb-10 text-center">
            <span class="fw-medium tw-text-305 text-main-600 tw-px-5 tw-py-1 bg-main-50 tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                ABOUT US
            </span>
            <h3 class="fw-medium">Todays top free live Courses</h3>
        </div>

        <div class="d-flex align-items-center tw-gap-13 justify-content-center flex-xl-nowrap flex-wrap">
            <button type="button" id="button-prev" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text 405 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300 marketing-shadow flex-shrink-0">
                <i class="ph-bold ph-caret-left"></i>
            </button>
            <div class="swiper marketing-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
                        <div class="position-relative">
                            <img src="assets/images/shape/marketing-shap1.png" alt="" class="position-absolute top-0 tw-mt--44px tw-start-38-px d-xxl-block d-none animate__wobble__two">
                            <div class="bg-white max-w-920-px w-100 tw-py-6 tw-px-6 tw-rounded-md marketing-shadow d-flex align-items-center flex-wrap tw-gap-3 justify-content-between mx-auto tw-mt-12 tw-mb-12">
                                <div class="marketing-img position-relative tw-w-386-px">
                                    <img src="assets/images/thumbs/marketing-img1.png" alt="" class="w-100">
                                    <button type="button" class="bookmark-button tw-w-11 tw-h-11 bg-white rounded-circle tw-text-5 text-neutral-950 position-absolute top-0 tw-end-0 tw-me-6 tw-mt-6">
                                        <i class="ph-bold ph-bookmark-simple"></i>
                                    </button>
                                </div>
                                <div class="marketing-text__img max-w-420-px w-100">
                                    <span class="bg-main-50 tw-px-5 tw-py-1 tw-rounded-sm text-main-600 tw-text-4 fw-medium tw-mb-4 tw-letter-space-2-px">Marketing</span>
                                    <div class="d-flex align-items-center tw-gap-1 tw-mb-5">
                                        <ul class="d-flex align-items-center tw-gap-1">
                                            <li class="tw-text-5 text-warming-500 "> 
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warming-500 "> 
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warming-500 "> 
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warming-500 "> 
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warming-500 "> 
                                                <i class="ph-fill ph-star-half"></i>
                                            </li>
                                        </ul>
                                        <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                                    </div>
                                    <span class="fw-medium tw-text-6 text-neutral-950 tw-mb-5 line-clamp-2">
                                        The Complete Guide to Build RESTful API Application
                                    </span>
                                    <p class="fw-normal tw-text-4 text-neutral-500 tw-mb-8">End-to-end creative services that help you engage.</p>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center ">
                                            <img src="assets/images/thumbs/banner-img5.png" alt="" class="tw-z-hover-1 tw-duration-300">
                                            <img src="assets/images/thumbs/banner-img4.png" alt="" class="tw-ms--16-px tw-z-hover-1 tw-duration-300">
                                            <img src="assets/images/thumbs/banner-img3.png" alt="" class="tw-ms--16-px tw-z-hover-1 tw-duration-300">
                                            <span class="tw-w-13 tw-h-13 bg-main-600 text-white d-flex align-items-center justify-content-center rounded-circle tw-ms--16-px counter tw-z-hover-1 tw-duration-300">
                                                32+
                                            </span>
                                        </div>
                                        <a href="account-page.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                                            <span class="button__flair"></span>
                                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                                <i class="ph ph-caret-right"></i>
                                            </span>
                                            <span class="button__label fw-medium">Get Started</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
                        <div class="position-relative">
                            <img src="assets/images/shape/marketing-shap1.png" alt="" class="position-absolute top-0 tw-mt--44px tw-start-38-px d-xxl-block d-none animate__wobble__two">
                            <div class="bg-white max-w-920-px w-100 tw-py-6 tw-px-6 tw-rounded-md marketing-shadow d-flex align-items-center flex-wrap tw-gap-3 justify-content-between mx-auto tw-mt-12 tw-mb-12">
                                <div class="marketing-img position-relative tw-w-386-px">
                                    <img src="assets/images/thumbs/marketing-img1.png" alt="" class="w-100">
                                    <button type="button" class="bookmark-button tw-w-11 tw-h-11 bg-white rounded-circle tw-text-5 text-neutral-950 position-absolute top-0 tw-end-0 tw-me-6 tw-mt-6">
                                        <i class="ph-bold ph-bookmark-simple"></i>
                                    </button>
                                </div>
                                <div class="marketing-text__img max-w-420-px w-100">
                                    <span class="bg-main-50 tw-px-5 tw-py-1 tw-rounded-sm text-main-600 tw-text-4 fw-medium tw-mb-4 tw-letter-space-2-px">Marketing</span>
                                    <div class="d-flex align-items-center tw-gap-1 tw-mb-5">
                                        <ul class="d-flex align-items-center tw-gap-1">
                                            <li class="tw-text-5 text-warming-500 "> 
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warming-500 "> 
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warming-500 "> 
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warming-500 "> 
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-5 text-warming-500 "> 
                                                <i class="ph-fill ph-star-half"></i>
                                            </li>
                                        </ul>
                                        <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                                    </div>
                                    <span class="fw-medium tw-text-6 text-neutral-950 tw-mb-5 line-clamp-2">
                                        The Complete Guide to Build RESTful API Application
                                    </span>
                                    <p class="fw-normal tw-text-4 text-neutral-500 tw-mb-8">End-to-end creative services that help you engage.</p>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center ">
                                            <img src="assets/images/thumbs/banner-img5.png" alt="" class="tw-z-hover-1 tw-duration-300">
                                            <img src="assets/images/thumbs/banner-img4.png" alt="" class="tw-ms--16-px tw-z-hover-1 tw-duration-300">
                                            <img src="assets/images/thumbs/banner-img3.png" alt="" class="tw-ms--16-px tw-z-hover-1 tw-duration-300">
                                            <span class="tw-w-13 tw-h-13 bg-main-600 text-white d-flex align-items-center justify-content-center rounded-circle tw-ms--16-px counter tw-z-hover-1 tw-duration-300">
                                                32+
                                            </span>
                                        </div>
                                        <a href="account-page.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                                            <span class="button__flair"></span>
                                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                                <i class="ph ph-caret-right"></i>
                                            </span>
                                            <span class="button__label fw-medium">Get Started</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="button-next" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text 405 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300 marketing-shadow flex-shrink-0">
                <i class="ph-bold ph-caret-right"></i>
            </button>
        </div>
    </div>
 </section>
<!-- ======================= marketing section end =========================== -->