<!-- ============================= Marque section start ============================= -->
<div class="marquee">
    <div class="marquee_left d-flex align-items-center tw-gap-16 overflow-hidden">
        <div class="d-flex tw-gap-5">
            <h2 class="fw-normal text-neutral-70">Advanced Courses</h2>
            <span class="fw-normal text-neutral-70 tw-text-8">*</span>
        </div>
        <div class="d-flex tw-gap-5">
            <h2 class="fw-normal text-neutral-70">Popular Topics</h2>
            <span class="fw-normal text-neutral-70 tw-text-8">*</span>
        </div>
        <div class="d-flex tw-gap-5">
            <h2 class="fw-normal text-neutral-70">Top Rated</h2>
            <span class="fw-normal text-neutral-70 tw-text-8">*</span>
        </div>
        <div class="d-flex tw-gap-5">
            <h2 class="fw-normal text-neutral-70">Right Instructor</h2>
            <span class="fw-normal text-neutral-70 tw-text-8">*</span>
        </div>
    </div>
</div>
<!-- ============================= Marque section end ============================= -->