<!-- ======================== Marquee section start =========================== -->
<div class="marquee pb-100">
  <div class="marquee_left d-flex align-items-center overflow-hidden">
    <span class="text-neutral-500 tw-text-88-px text-stroke">Register Now -</span>
    <span class="text-neutral-500 tw-text-88-px text-stroke">Online Learning -</span>
    <span class="text-neutral-500 tw-text-88-px text-stroke">Register Now - </span>
    <span class="text-neutral-500 tw-text-88-px text-stroke">Online Learning -</span>
  </div>
</div>
<!-- ======================== Marquee section end =========================== -->