<!-- Nav menu Start -->
<ul class="nav-menu d-lg-flex align-items-center @@class">
  <li class="nav-menu__item has-submenu activePage">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 text-heading tw-py-9 fw-medium w-100"
      >Home</a
    >
    @@include('../partials/_mega-menu.html')
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 tw-text-base-three tw-py-9 fw-medium w-100"
      >Pages</a
    >
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-duration-200 tw-z-99"
    >
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="about-us.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          About Us</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="our-team.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Our Teachers</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="teacher-details.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Teachers Details</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="our-events.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Our Events</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="event-details.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Event Details</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="faq.html" class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"> FAQ</a>
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="account-page.html" class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">Account Page</a>
      </li>
      
    </ul>
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 tw-text-base-three tw-py-9 fw-medium w-100"
      >Courses</a
    >
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-duration-200 tw-z-99"
    >
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="course-grid.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Course Grid
        </a>
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="course-filter.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
          >Course Filter</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="course-details.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
          >Course Details</a
        >
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a  href="index6.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">Language Crouses</a>
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a  href="index7.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">University</a>
      </li>
    </ul>
  </li>
  <li class="tw-w-92-px tw-h-92-px bg-white tw-header-four-shadow rounded-circle d-flex align-items-center justify-content-center">
    <img src="assets/images/icon/header-four-icon1.png" alt="">
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a
      href="javascript:void(0)"
      class="nav-menu__link tw-pe-5 tw-text-base-three tw-py-9 fw-medium w-100"
      >Blog</a
    >
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-duration-200 tw-z-99"
    >
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a
          href="our-blog.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >Our Blog</a>
      </li>
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
      >
        <a
          href="blog-details.html"
          class="nav-submenu__link hover-bg-gray-200 text-heading fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded"
        >
          Blog Details</a
        >
      </li>
    </ul>
  </li>
  <li class="nav-menu__item">
    <a href="contact-us.html" class="nav-menu__link tw-text-base-three tw-py-9 fw-medium w-100"
      >Contact</a
    >
  </li>
</ul>
<!-- Nav menu End  -->
