<!-- ============================= oliva barton section start =========================== -->
 <!-- ===================== oliva barton top start ========================= -->
  <div class="py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="text-center hover-bg-main-50 tw-py-3 tw-rounded-xl tw-duration-300 tw-px-3 animation-item">
                    <img src="assets/images/icon/oliva-barton-top-icon1.png" alt="icon" class="tw-mb-10 animate__bounce">
                    <div class="text-center">
                        <h6 class="tw-text-base-three tw-mb-6 fw-normal">Vinyasa Yoga</h6>
                        <p class="tw-text-base-three tw-text-4 fw-normal">You can learn any lesson on the go. You will confident creatin</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800">
                <div class="text-center hover-bg-main-50 tw-py-3 tw-rounded-xl tw-duration-300 tw-px-3 animation-item">
                    <img src="assets/images/icon/oliva-barton-top-icon2.png" alt="icon" class="tw-mb-10 animate__bounce">
                    <div class="text-center">
                        <h6 class="tw-text-base-three tw-mb-6 fw-normal">Ashtanga</h6>
                        <p class="tw-text-base-three tw-text-4 fw-normal">You can learn any lesson on the go. You will confident creatin</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="text-center hover-bg-main-50 tw-py-3 tw-rounded-xl tw-duration-300 tw-px-3 animation-item">
                    <img src="assets/images/icon/oliva-barton-top-icon3.png" alt="icon" class="tw-mb-10 animate__bounce">
                    <div class="text-center">
                        <h6 class="tw-text-base-three tw-mb-6 fw-normal">Hatha Yoga</h6>
                        <p class="tw-text-base-three tw-text-4 fw-normal">You can learn any lesson on the go. You will confident creatin</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="text-center hover-bg-main-50 tw-py-3 tw-rounded-xl tw-duration-300 tw-px-3 animation-item">
                    <img src="assets/images/icon/oliva-barton-top-icon4.png" alt="icon" class="tw-mb-10 animate__bounce">
                    <div class="text-center">
                        <h6 class="tw-text-base-three tw-mb-6 fw-normal">Vinyasa</h6>
                        <p class="tw-text-base-three tw-text-4 fw-normal">You can learn any lesson on the go. You will confident creatin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 <!-- ===================== oliva barton top end ======================= -->


<div class="position-relative">
    <img src="assets/images/shape/oliva-barton-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 z-n1 animation-upDown d-lg-block d-none">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <span>
                    <img src="assets/images/thumbs/oliva-burton-img1.png" alt="img"  data-aos="zoom-in" data-aos-duration="1500">
                </span>
            </div>
            <div class="col-lg-6">
                <div class="tw-ms-12 ">
                    <h3 class="fw-normal tw-text-base-three tw-mb-8"  data-aos="fade-up" data-aos-duration="600">Olivia Burton</h3>
                    <p class="fw-normal text-neutral-300 tw-mb-12 tw-text-405"  data-aos="fade-up" data-aos-duration="800">Lorem ipsum dolor sit amet, consetetu sadipscing elitr, sed diam nonumy eirm od tempor invidunt ut labore et dolore.</p>
                    <div class="d-flex align-items-center tw-gap-3 max-w-340-px w-100 justify-content-between flex-wrap"  data-aos="fade-up" data-aos-duration="1000">
                        <span class="fw-normal tw-text-4 text-neutral-300">
                            Monday - Friday
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-300">
                           9AM - 10PM
                        </span>
                    </div>
                    <span class="w-100 tw-h-px bg-gray-50 tw-mt-7 tw-mb-7"  data-aos="fade-up" data-aos-duration="1000"></span>
                    <div class="d-flex align-items-center tw-gap-3 max-w-340-px w-100 justify-content-between flex-wrap"  data-aos="fade-up" data-aos-duration="1200">
                        <span class="fw-normal tw-text-4 text-neutral-300">
                            Saturday
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-300">
                           9AM - 08PM
                        </span>
                    </div>
                    <span class="w-100 tw-h-px bg-gray-50 tw-mt-7 tw-mb-7"  data-aos="fade-up" data-aos-duration="1200"></span>
                    <div class="d-flex align-items-center tw-gap-3 max-w-340-px w-100 justify-content-between flex-wrap tw-mb-12"  data-aos="fade-up" data-aos-duration="1300">
                        <span class="fw-normal tw-text-4 text-neutral-300">
                            Sunday
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-300">
                           9AM - 12AM
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-5 flex-wrap"  data-aos="fade-up" data-aos-duration="1400">
                        <a href="account-page.html" class="btn bg-base-three-600 text-white hover-style-eight button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center tw-py-5 tw-px-8 tw-rounded-26-px justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 rounded-pill tw-text-4" data-block="button"  data-aos="fade-up" data-aos-duration="800">
                            <span class="button__flair"></span>
                            <span class="button__label fw-bold"> Get Started</span>
                            <span class="tw-duration-500 group-hover-text-white z-1 position-relative">
                                <i class="ph-bold ph-arrow-right"></i>
                            </span>
                        </a>
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-text-11 tw-text-base-three">
                                <i class="ph ph-headset"></i>
                            </span>
                            <div>
                                <span class="fw-normal tw-text-4 text-neutral-900 tw-mb-3 d-block">Call Us</span>
                                <a href="tel:(635)5258-4250" class="fw-bold tw-text-405 text-neutral-800">
                                    (635) 5258-4250
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pt-120">
    <div class="container max-w-1660-px w-100">
        <div class="oliva-burton__flex d-flex align-items-center justify-content-between flex-lg-nowrap flex-wrap tw-gap-5">
            <span>
                <img src="assets/images/thumbs/oliva-burton-img2.png" alt="img"  data-aos="fade-up" data-aos-duration="1300">
            </span>
            <span class="oliva-burton__img-three tw-mt--60-px ">
                <img src="assets/images/thumbs/oliva-burton-img3.png" alt="img"  data-aos="fade-up" data-aos-duration="1500">
            </span>
        </div>
    </div>
</div>

<!-- ========================= oliva barton bottom start ============================ -->
<div class="pt-90">
    <div class="container">
       <div class="row gy-4">
           <div class="col-lg-3 col-md-6"  data-aos="fade-up" data-aos-duration="600">
               <div class="text-center">
                   <h2 class="fw-normal tw-text-base-three tw-mb6 counter">68+</h2>
                   <span class="fw-normal tw-text-4 text-neutral-300">STUDENTS ENROLLED</span>
               </div>
           </div>
           <div class="col-lg-3 col-md-6"  data-aos="fade-up" data-aos-duration="800">
               <div class="text-center">
                   <h2 class="fw-normal tw-text-base-three tw-mb6 counter">56k+</h2>
                   <span class="fw-normal tw-text-4 text-neutral-300">CLASS COMPLETED</span>
               </div>
           </div>
           <div class="col-lg-3 col-md-6"  data-aos="fade-up" data-aos-duration="1000">
               <div class="text-center">
                   <h2 class="fw-normal tw-text-base-three tw-mb6 counter">98%</h2>
                   <span class="fw-normal tw-text-4 text-neutral-300">SATISFACTION RATE</span>
               </div>
           </div>
           <div class="col-lg-3 col-md-6"  data-aos="fade-up" data-aos-duration="1200">
               <div class="text-center">
                   <h2 class="fw-normal tw-text-base-three tw-mb6 counter">23+</h2>
                   <span class="fw-normal tw-text-4 text-neutral-300">TOP INSTRUCTORS</span>
               </div>
           </div>
       </div>
    </div>
</div>
<!-- ========================= oliva barton bottom end =========================== -->


<!-- ============================= oliva barton section end ========================== -->