<!-- ======================== online courses section start ======================== -->
 <section class="bg-img" style="background-image: url(assets/images/bg/online-courses-bg-img1.png);">
    <div class="py-120 tw-mb-258-px">
        <div class="container">
            <div class="text-center tw-mb-10">
                <span class="bg-white tw-px-5 tw-py-2 text-main-600 text-center tw-rounded-sm tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                    OUR ONLINE COURSES
                </span>
                <h3 class="fw-medium text-neutral-600" data-aos="fade-up" data-aos-duration="800">Find Your Best Courses</h3>
            </div>
            <ul class="nav nav-pills nav-faq-two mb-3 justify-content-center border-bottom border-gray-200 tw-w-980-px mx-auto" id="pills-tab" role="tablist" data-aos="fade-up" data-aos-duration="1000">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active w-100" id="pills-course-tab" data-bs-toggle="pill" data-bs-target="#pills-course" type="button" role="tab" aria-controls="pills-course" aria-selected="true">All Course</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link w-100" id="pills-finance-tab" data-bs-toggle="pill" data-bs-target="#pills-finance" type="button" role="tab" aria-controls="pills-finance" aria-selected="false">Finance</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link w-100" id="pills-management-tab" data-bs-toggle="pill" data-bs-target="#pills-management" type="button" role="tab" aria-controls="pills-management" aria-selected="false">Management</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link w-100" id="pills-business-tab" data-bs-toggle="pill" data-bs-target="#pills-business" type="button" role="tab" aria-controls="pills-business" aria-selected="false">Business</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link w-100" id="pills-design-tab" data-bs-toggle="pill" data-bs-target="#pills-design" type="button" role="tab" aria-controls="pills-design" aria-selected="false">Design</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link w-100" id="pills-technology-tab" data-bs-toggle="pill" data-bs-target="#pills-technology" type="button" role="tab" aria-controls="pills-technology" aria-selected="false">IT & Technology</button>
                </li>
            </ul>
            <div class="tab-content tw-mt-15" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-course" role="tabpanel" aria-labelledby="pills-course-tab" tabindex="0">
                    @@include('../partials/_online-best-courses.html')
                </div>
                <div class="tab-pane fade" id="pills-finance" role="tabpanel" aria-labelledby="pills-finance-tab" tabindex="0">
                    @@include('../partials/_online-best-courses.html')
                </div>
                <div class="tab-pane fade" id="pills-management" role="tabpanel" aria-labelledby="pills-management-tab" tabindex="0">
                    @@include('../partials/_online-best-courses.html')
                </div>
                <div class="tab-pane fade" id="pills-business" role="tabpanel" aria-labelledby="pills-business-tab" tabindex="0">
                    @@include('../partials/_online-best-courses.html')
                </div>
                <div class="tab-pane fade" id="pills-design" role="tabpanel" aria-labelledby="pills-design-tab" tabindex="0">
                    @@include('../partials/_online-best-courses.html')
                </div>
                <div class="tab-pane fade" id="pills-technology" role="tabpanel" aria-labelledby="pills-technology-tab" tabindex="0">
                    @@include('../partials/_online-best-courses.html')
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ======================== online courses section end ======================== -->