<!-- ====================== online course section start ========================= -->
<section class="py-100 bg-main-50">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="max-w-810-px w-100 text-center">
                <div class="tw-py-1 tw-ps-105 tw-pe-4 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4 bg-black-12" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                        <i class="ph-fill ph-star-four"></i>
                    </span>
                    <span class="fw-normal tw-text-4 text-main-600">
                       Our Online Courses
                    </span>
                </div>
                <h3 class="fw-semibold text-neutral-950 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Our Most Popular Courses
                </h3>
                <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    The ability to learn at my own pace was a game-changer for me. The flexible schedule<br> allowed me to balance my studies with work and personal life
                </p>
                <ul class="nav nav-tabs d-flex justify-content-between border-bottom-0 flex-wrap tw-gap-2" id="myTab" role="tablist" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <li class="nav-item">
                        <button class="nav-link rounded-pill bg-white active" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses-tab-pane" type="button" role="tab" aria-controls="courses-tab-pane" aria-selected="true">All Courses</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link rounded-pill bg-white" id="business-tab" data-bs-toggle="tab" data-bs-target="#business-tab-pane" type="button" role="tab" aria-controls="business-tab-pane" aria-selected="false">Business</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link rounded-pill bg-white" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Marketing</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link rounded-pill bg-white" id="development-tab" data-bs-toggle="tab" data-bs-target="#development-tab-pane" type="button" role="tab" aria-controls="development-tab-pane" aria-selected="false">Development</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link rounded-pill bg-white" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="false">Design</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link rounded-pill bg-white" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Finance</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link rounded-pill bg-white" id="gaming-tab" data-bs-toggle="tab" data-bs-target="#gaming-tab-pane" type="button" role="tab" aria-controls="gaming-tab-pane" aria-selected="false">Gaming</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content tw-mt-13" id="myTabContent">
        <div class="tab-pane fade show active" id="courses-tab-pane" role="tabpanel" aria-labelledby="courses-tab" tabindex="0">
            @@include('../partials/_online-course-tabe.html')
        </div>
        <div class="tab-pane fade" id="business-tab-pane" role="tabpanel" aria-labelledby="business-tab" tabindex="0">
            @@include('../partials/_online-course-tabe.html')
        </div>
        <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
            @@include('../partials/_online-course-tabe.html')
        </div>
        <div class="tab-pane fade" id="development-tab-pane" role="tabpanel" aria-labelledby="development-tab" tabindex="0">
            @@include('../partials/_online-course-tabe.html')
        </div>
        <div class="tab-pane fade" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
            @@include('../partials/_online-course-tabe.html')
        </div>
        <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">
            @@include('../partials/_online-course-tabe.html')
        </div>
        <div class="tab-pane fade" id="gaming-tab-pane" role="tabpanel" aria-labelledby="gaming-tab" tabindex="0">
            @@include('../partials/_online-course-tabe.html')
        </div>
    </div>
</section>
<!-- ====================== online course section end ========================= -->