<!-- ========================== online program section start ======================== -->
<section class="py-120">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <div class="max-w-570-px w-100">
                    <h3 class="fw-normal tw-text-base-three tw-mb-12" data-aos="fade-up" data-aos-duration="600">Best Online Program Course to Enroll for Exchange</h3>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-12" data-aos="fade-up" data-aos-duration="800">
                        <div class="d-flex align-items-center tw-gap-3 ">
                            <img src="assets/images/icon/online-program-four-icon1.png" alt="icon" class="">
                            <h5 class="fw-medium text-neutral-800">Expert Trainer To <br> Learn Course</h5>
                        </div>
                        <div class="d-flex align-items-center tw-gap-3 ">
                            <img src="assets/images/icon/online-program-four-icon2.png" alt="icon" class="">
                            <h5 class="fw-medium text-neutral-800">Expert Trainer To <br> Learn Course</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2 tw-mb-10" data-aos="fade-up" data-aos-duration="1000">
                        <div>
                            <div class="d-flex align-items-center tw-gap-2 tw-mb-3">
                                <span class="tw-text-6 text-primary-600">
                                    <i class="ph ph-check"></i>
                                </span>
                                <span class="fw-medium tw-text-405 text-neutral-300 ">Lifetime Access</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-6 text-primary-600">
                                    <i class="ph ph-check"></i>
                                </span>
                                <span class="fw-medium tw-text-405 text-neutral-300 ">Management consultation</span>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center tw-gap-2 tw-mb-3">
                                <span class="tw-text-6 text-primary-600">
                                    <i class="ph ph-check"></i>
                                </span>
                                <span class="fw-medium tw-text-405 text-neutral-300 ">Specialized Support</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-6 text-primary-600">
                                    <i class="ph ph-check"></i>
                                </span>
                                <span class="fw-medium tw-text-405 text-neutral-300 ">Instant Operation</span>
                            </div>
                        </div>
                    </div>
                    <a href="about-us.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="1200">
                        <span class="button__flair"></span>
                        <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                            <i class="ph ph-caret-right"></i>
                        </span>
                        <span class="button__label fw-medium">More About us</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="position-relative">
                        <img src="assets/images/thumbs/online-program-four-img1.png" alt="img" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="bg-white tw-px-7 tw-py-5 tw-rounded-lg max-w-270-px w-100 position-absolute bottom-0 tw-start-0 tw-mb-5 tw-ms-13 tw-banner-two-border animated-upDown">
                            <div class="">
                                <div class="d-flex align-items-center justify-content-center tw-mb-305">
                                    <img src="assets/images/thumbs/banner-img5.png" alt="Image" class="tw-z-hover-1 tw-duration-300">
                                    <img src="assets/images/thumbs/banner-img4.png" alt="Image" class="tw-ms--20-px tw-z-hover-1 tw-duration-300">
                                    <img src="assets/images/thumbs/banner-img3.png" alt="Image" class="tw-ms--20-px tw-z-hover-1 tw-duration-300">
                                    <img src="assets/images/thumbs/banner-img2.png" alt="Image" class="tw-ms--20-px">
                                </div>
                                <span class="text-neutral-700 tw-text-405 fw-bold text-center">36k+ Enrolled Students</span>
                            </div>
                        </div>
                        <span class="position-absolute top-0 tw-end-0 tw-me-15 tw-mt-10 animation-scalation d-lg-block d-none">
                            <img src="assets/images/shape/online-program-shape1.png" alt="shape">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== online program section end ======================== -->     