    <!-- ============================ online book section start ======================= -->
 <section class="py-120">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-xl-6">
                <div class="position-relative">
                    <span class="fw-medium tw-text-305 text-danger-600 tw-py-1 tw-px-5 bg-danger-50 tw-rounded-sm tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">OUR ONLINE COURSES</span>
                    <h3 class="fw-semibold text-neutral-600 tw-mb-6" data-aos="fade-up" data-aos-duration="800">Read My Online Book & Know More About Cooking</h3>
                    <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-10 " data-aos="fade-up" data-aos-duration="1000">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust, and grow with confidence.</p>
                    <div class="d-flex align-items-center tw-gap-5 tw-mb-12 flex-wrap" data-aos="fade-up" data-aos-duration="1200">
                        <div class="d-flex align-items-center ">
                            <img src="assets/images/thumbs/banner-img5.png" alt="" class="tw-z-hover-1 tw-duration-300">
                            <img src="assets/images/thumbs/banner-img4.png" alt="" class="tw-ms--16-px tw-z-hover-1 tw-duration-300">
                            <img src="assets/images/thumbs/banner-img3.png" alt="" class="tw-ms--16-px tw-z-hover-1 tw-duration-300">
                            <div class="tw-w-13 tw-h-13 bg-main-600 text-white d-flex align-items-center justify-content-center rounded-circle tw-ms--16-px flex-shrink-0 counter">
                                32+
                            </div>
                        </div>
                        <span class="max-w-250-px w-100 fw-medium tw-text-405 text-neutral-800">
                            2000+ Students read this book & they satisfied
                        </span>
                    </div>
                    <div>
                        <a href="account-page.html" class="banner-two-link btn btn-main-five text-white hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill tw-border-bottom-7-px" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-danger-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Buy Book</span>
                        </a>
                        <a href="account-page.html" class="banner-two-link btn text-danger-600 hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center border-danger-600 border hover-border-main-600 justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-danger-600 rounded-circle text-white d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Read PDF</span>
                        </a>
                    </div>
                    <img src="assets/images/shape/arrow-shape-two.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-14 tw-me--26-px d-lg-block d-none z-n1 animate__wobble__two">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="position-relative">
                    <span class="online-book__img d-flex justify-content-end">
                        <img src="assets/images/thumbs/online-book-two-img1.png" alt="img" data-aos="zoom-in" data-aos-duration="1500">
                    </span>
                    <div style="background-image: url(assets/images/bg/online-courses-two-bg-img1.png);" class="online-book__shape position-absolute bottom-0 tw-start-0 tw-ms-140px tw-mb-5 tw-w-176-px tw-h-175-px d-flex align-items-center justify-content-center">
                        <div>
                            <h3 class="fw-medium text-white tw-mb-3 d-block tw-line-height-1 counter">$367</h3>
                            <span class="fw-medium tw-text-405 text-white">Price</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ============================ online book section end ======================= -->