<!-- ============================= olline course tabe section start ========================== -->
<div class="bg-main-50 tw-p-3">
    <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-3">
        <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
            <div class="online-course__item bg-img tw-duration-500">
                <div class="online-course-card w-100 bg-white tw-p-1 tw-rounded-xl border-main-100 border">
                    <span class="bg-img tw-mb-4">
                        <img src="assets/images/thumbs/online-course-img1.png" alt="img" class="bg-img">
                    </span>
                    <div class="tw-px-5 tw-pb-6">
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="tw-text-405 text-main-600 tw-mt-1">
                                    <i class="ph-fill ph-graduation-cap"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    Lessons: <strong>34</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="tw-text-405 text-main-600 tw-mt-1">
                                    <i class="ph-fill ph-user"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    Students <strong>654+</strong>
                                </span>
                            </div>
                        </div>
                        <a href="course-details.html" class="fw-bold tw-text-5 text-neutral-500 hover-text-main-600 tw-duration-300 tw-mb-6 line-clamp-2">
                            Freelance Productivity & Workflow Optimization
                        </a>
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span>
                                    <img src="assets/images/thumbs/online-course-img5.png" alt="img">
                                </span>
                                <div>
                                    <span class="d-block fw-medium tw-text-4 text-neutral-200 tw-mb-1">
                                        William Sophia 
                                    </span>
                                    <span class="fw-normal tw-text-305 text-neutral-100">
                                        UI/UX Designer
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                                <ul class="d-flex align-items-center tw-gap-05">
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    (4.50)
                                </span>
                            </div>
                        </div>
                        <span class="border-neutral-900 border tw-border-dashed w-100 tw-h-px tw-my-5"></span>
                        <div class="d-flex align-items-center tw-gap-2 justify-content-between flex-wrap">
                            <h5 class="fw-semibold text-main-600 counter">
                                $975.00
                            </h5>
                            <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-4 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-main-600 border" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold tw-text-4">View Details</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="online-course__link w-100 h-100 bg-main-600 tw-duration-500 tw-rounded-xl tw-py-15 tw-px-5 w-100 h-100">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                        <span class="text-white border-white border rounded-pill tw-py-2 tw-px-4">
                            Video Editing
                        </span>
                        <button type="button" class="tw-w-10 tw-h-10 bg-white d-flex align-items-center justify-content-center text-main-600 tw-text-5 rounded-circle hover-bg-neutral-950 hover-text-white tw-duration-300">
                            <i class="ph-bold ph-heart"></i>
                        </button>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                        <div class="d-flex align-items-center tw-gap-1">
                            <span class="tw-text-405 text-white tw-mt-1">
                                <i class="ph-fill ph-graduation-cap"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-05">
                                Lessons: <strong>34</strong>
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1">
                            <span class="tw-text-405 text-white tw-mt-1">
                                <i class="ph-fill ph-user"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-05">
                                Students <strong>654+</strong>
                            </span> 
                        </div>
                    </div>
                    <a href="course-details.html" class="fw-semibold tw-text-505 text-white hover-underline hover-text-white tw-duration-300 tw-mb-5 line-clamp-2">
                        Adobe Premiere Pro Masterclass: Video Editing
                    </a>
                    <p class="fw-normal tw-text-4 text-white tw-mb-8">
                        Procrastinate equity invested markets with efficient process. actualize mission-critical partnerships.
                    </p>
                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span>
                                <img src="assets/images/thumbs/online-course-img7.png" alt="img">   
                            </span>
                            <div>
                                <span class="d-block fw-medium tw-text-4 text-white tw-mb-1">
                                    William Sophia 
                                </span>
                                <span class="fw-normal tw-text-305 text-white">
                                    UI/UX Designer
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                            <ul class="d-flex align-items-center tw-gap-05">
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-normal tw-text-4 text-white">
                                (4.50)
                            </span>
                        </div>
                    </div>
                    <span class="border-neutral-50 border tw-border-dashed w-100 tw-h-px tw-my-5"></span>
                    <div class="d-flex align-items-center tw-gap-2 justify-content-between flex-wrap">
                        <h5 class="fw-semibold text-white counter">
                            $845.00
                        </h5>
                        <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-4 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-white border" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label fw-bold tw-text-4">View Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
            <div class="online-course__item bg-img tw-duration-500">
                <div class="online-course-card w-100 bg-white tw-p-1 tw-rounded-xl border-main-100 border">
                    <span class="bg-img tw-mb-4">
                        <img src="assets/images/thumbs/online-course-img2.png" alt="img" class="bg-img">
                    </span>
                    <div class="tw-px-5 tw-pb-6">
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="tw-text-405 text-main-600 tw-mt-1">
                                    <i class="ph-fill ph-graduation-cap"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    Lessons: <strong>34</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="tw-text-405 text-main-600 tw-mt-1">
                                    <i class="ph-fill ph-user"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    Students <strong>654+</strong>
                                </span>
                            </div>
                        </div>
                        <a href="course-details.html" class="fw-bold tw-text-5 text-neutral-500 hover-text-main-600 tw-duration-300 tw-mb-6 line-clamp-2">
                            3D Animation & Motion Graphics Essentials
                        </a>
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span>
                                    <img src="assets/images/thumbs/online-course-img6.png" alt="img">
                                </span>
                                <div>
                                    <span class="d-block fw-medium tw-text-4 text-neutral-200 tw-mb-1">
                                        William Sophia 
                                    </span>
                                    <span class="fw-normal tw-text-305 text-neutral-100">
                                        UI/UX Designer
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                                <ul class="d-flex align-items-center tw-gap-05">
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    (4.50)
                                </span>
                            </div>
                        </div>
                        <span class="border-neutral-900 border tw-border-dashed w-100 tw-h-px tw-my-5"></span>
                        <div class="d-flex align-items-center tw-gap-2 justify-content-between flex-wrap">
                            <h5 class="fw-semibold text-main-600 counter">
                                $975.00
                            </h5>
                            <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-4 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-main-600 border" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold tw-text-4">View Details</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="online-course__link w-100 h-100 bg-main-600 tw-duration-500 tw-rounded-xl tw-py-15 tw-px-5 w-100 h-100">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                        <span class="text-white border-white border rounded-pill tw-py-2 tw-px-4">
                            Video Editing
                        </span>
                        <button type="button" class="tw-w-10 tw-h-10 bg-white d-flex align-items-center justify-content-center text-main-600 tw-text-5 rounded-circle hover-bg-neutral-950 hover-text-white tw-duration-300">
                            <i class="ph-bold ph-heart"></i>
                        </button>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                        <div class="d-flex align-items-center tw-gap-1">
                            <span class="tw-text-405 text-white tw-mt-1">
                                <i class="ph-fill ph-graduation-cap"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-05">
                                Lessons: <strong>34</strong>
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1">
                            <span class="tw-text-405 text-white tw-mt-1">
                                <i class="ph-fill ph-user"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-05">
                                Students <strong>654+</strong>
                            </span> 
                        </div>
                    </div>
                    <a href="course-details.html" class="fw-semibold tw-text-505 text-white hover-underline hover-text-white tw-duration-300 tw-mb-5 line-clamp-2">
                        Adobe Premiere Pro Masterclass: Video Editing
                    </a>
                    <p class="fw-normal tw-text-4 text-white tw-mb-8">
                        Procrastinate equity invested markets with efficient process. actualize mission-critical partnerships.
                    </p>
                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span>
                                <img src="assets/images/thumbs/online-course-img7.png" alt="img">
                            </span>
                            <div>
                                <span class="d-block fw-medium tw-text-4 text-white tw-mb-1">
                                    William Sophia 
                                </span>
                                <span class="fw-normal tw-text-305 text-white">
                                    UI/UX Designer
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                            <ul class="d-flex align-items-center tw-gap-05">
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-normal tw-text-4 text-white">
                                (4.50)
                            </span>
                        </div>
                    </div>
                    <span class="border-neutral-50 border tw-border-dashed w-100 tw-h-px tw-my-5"></span>
                    <div class="d-flex align-items-center tw-gap-2 justify-content-between flex-wrap">
                        <h5 class="fw-semibold text-white counter">
                            $845.00
                        </h5>
                        <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-4 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-white border" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label fw-bold tw-text-4">View Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <div class="online-course__item bg-img tw-duration-500">
                <div class="online-course-card w-100 bg-white tw-p-1 tw-rounded-xl border-main-100 border">
                    <span class="bg-img tw-mb-4">
                        <img src="assets/images/thumbs/online-course-img1.png" alt="img" class="bg-img">
                    </span>
                    <div class="tw-px-5 tw-pb-6">
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="tw-text-405 text-main-600 tw-mt-1">
                                    <i class="ph-fill ph-graduation-cap"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    Lessons: <strong>34</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="tw-text-405 text-main-600 tw-mt-1">
                                    <i class="ph-fill ph-user"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    Students <strong>654+</strong>
                                </span>
                            </div>
                        </div>
                        <a href="course-details.html" class="fw-bold tw-text-5 text-neutral-500 hover-text-main-600 tw-duration-300 tw-mb-6 line-clamp-2">
                            Freelance Productivity & Workflow Optimization
                        </a>
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span>
                                    <img src="assets/images/thumbs/online-course-img5.png" alt="img">
                                </span>
                                <div>
                                    <span class="d-block fw-medium tw-text-4 text-neutral-200 tw-mb-1">
                                        William Sophia 
                                    </span>
                                    <span class="fw-normal tw-text-305 text-neutral-100">
                                        UI/UX Designer
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                                <ul class="d-flex align-items-center tw-gap-05">
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    (4.50)
                                </span>
                            </div>
                        </div>
                        <span class="border-neutral-900 border tw-border-dashed w-100 tw-h-px tw-my-5"></span>
                        <div class="d-flex align-items-center tw-gap-2 justify-content-between flex-wrap">
                            <h5 class="fw-semibold text-main-600 counter">
                                $975.00
                            </h5>
                            <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-4 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-main-600 border" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold tw-text-4">View Details</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="online-course__link w-100 h-100 bg-main-600 tw-duration-500 tw-rounded-xl tw-py-15 tw-px-5 w-100 h-100">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                        <span class="text-white border-white border rounded-pill tw-py-2 tw-px-4">
                            Video Editing
                        </span>
                        <button type="button" class="tw-w-10 tw-h-10 bg-white d-flex align-items-center justify-content-center text-main-600 tw-text-5 rounded-circle hover-bg-neutral-950 hover-text-white tw-duration-300">
                            <i class="ph-bold ph-heart"></i>
                        </button>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                        <div class="d-flex align-items-center tw-gap-1">
                            <span class="tw-text-405 text-white tw-mt-1">
                                <i class="ph-fill ph-graduation-cap"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-05">
                                Lessons: <strong>34</strong>
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1">
                            <span class="tw-text-405 text-white tw-mt-1">
                                <i class="ph-fill ph-user"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-05">
                                Students <strong>654+</strong>
                            </span> 
                        </div>
                    </div>
                    <a href="course-details.html" class="fw-semibold tw-text-505 text-white hover-underline hover-text-white tw-duration-300 tw-mb-5 line-clamp-2">
                        Adobe Premiere Pro Masterclass: Video Editing
                    </a>
                    <p class="fw-normal tw-text-4 text-white tw-mb-8">
                        Procrastinate equity invested markets with efficient process. actualize mission-critical partnerships.
                    </p>
                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span>
                                <img src="assets/images/thumbs/online-course-img7.png" alt="img">
                            </span>
                            <div>
                                <span class="d-block fw-medium tw-text-4 text-white tw-mb-1">
                                    William Sophia 
                                </span>
                                <span class="fw-normal tw-text-305 text-white">
                                    UI/UX Designer
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                            <ul class="d-flex align-items-center tw-gap-05">
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-normal tw-text-4 text-white">
                                (4.50)
                            </span>
                        </div>
                    </div>
                    <span class="border-neutral-50 border tw-border-dashed w-100 tw-h-px tw-my-5"></span>
                    <div class="d-flex align-items-center tw-gap-2 justify-content-between flex-wrap">
                        <h5 class="fw-semibold text-white counter">
                            $845.00
                        </h5>
                        <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-4 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-white border" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label fw-bold tw-text-4">View Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
            <div class="online-course__item bg-img tw-duration-500">
                <div class="online-course-card w-100 bg-white tw-p-1 tw-rounded-xl border-main-100 border">
                    <span class="bg-img tw-mb-4">
                        <img src="assets/images/thumbs/online-course-img3.png" alt="img" class="bg-img">
                    </span>
                    <div class="tw-px-5 tw-pb-6">
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="tw-text-405 text-main-600 tw-mt-1">
                                    <i class="ph-fill ph-graduation-cap"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    Lessons: <strong>34</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="tw-text-405 text-main-600 tw-mt-1">
                                    <i class="ph-fill ph-user"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    Students <strong>654+</strong>
                                </span>
                            </div>
                        </div>
                        <a href="course-details.html" class="fw-bold tw-text-5 text-neutral-500 hover-text-main-600 tw-duration-300 tw-mb-6 line-clamp-2">
                            Freelance Productivity & Workflow Optimization
                        </a>
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span>
                                    <img src="assets/images/thumbs/online-course-img8.png" alt="img">
                                </span>
                                <div>
                                    <span class="d-block fw-medium tw-text-4 text-neutral-200 tw-mb-1">
                                        William Sophia 
                                    </span>
                                    <span class="fw-normal tw-text-305 text-neutral-100">
                                        UI/UX Designer
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                                <ul class="d-flex align-items-center tw-gap-05">
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    (4.50)
                                </span>
                            </div>
                        </div>
                        <span class="border-neutral-900 border tw-border-dashed w-100 tw-h-px tw-my-5"></span>
                        <div class="d-flex align-items-center tw-gap-2 justify-content-between flex-wrap">
                            <h5 class="fw-semibold text-main-600 counter">
                                $975.00
                            </h5>
                            <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-4 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-main-600 border" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold tw-text-4">View Details</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="online-course__link w-100 h-100 bg-main-600 tw-duration-500 tw-rounded-xl tw-py-15 tw-px-5 w-100 h-100">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                        <span class="text-white border-white border rounded-pill tw-py-2 tw-px-4">
                            Video Editing
                        </span>
                        <button type="button" class="tw-w-10 tw-h-10 bg-white d-flex align-items-center justify-content-center text-main-600 tw-text-5 rounded-circle hover-bg-neutral-950 hover-text-white tw-duration-300">
                            <i class="ph-bold ph-heart"></i>
                        </button>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                        <div class="d-flex align-items-center tw-gap-1">
                            <span class="tw-text-405 text-white tw-mt-1">
                                <i class="ph-fill ph-graduation-cap"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-05">
                                Lessons: <strong>34</strong>
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1">
                            <span class="tw-text-405 text-white tw-mt-1">
                                <i class="ph-fill ph-user"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-05">
                                Students <strong>654+</strong>
                            </span> 
                        </div>
                    </div>
                    <a href="course-details.html" class="fw-semibold tw-text-505 text-white hover-underline hover-text-white tw-duration-300 tw-mb-5 line-clamp-2">
                        Adobe Premiere Pro Masterclass: Video Editing
                    </a>
                    <p class="fw-normal tw-text-4 text-white tw-mb-8">
                        Procrastinate equity invested markets with efficient process. actualize mission-critical partnerships.
                    </p>
                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span>
                                <img src="assets/images/thumbs/online-course-img7.png" alt="img">
                            </span>
                            <div>
                                <span class="d-block fw-medium tw-text-4 text-white tw-mb-1">
                                    William Sophia 
                                </span>
                                <span class="fw-normal tw-text-305 text-white">
                                    UI/UX Designer
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                            <ul class="d-flex align-items-center tw-gap-05">
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-normal tw-text-4 text-white">
                                (4.50)
                            </span>
                        </div>
                    </div>
                    <span class="border-neutral-50 border tw-border-dashed w-100 tw-h-px tw-my-5"></span>
                    <div class="d-flex align-items-center tw-gap-2 justify-content-between flex-wrap">
                        <h5 class="fw-semibold text-white counter">
                            $845.00
                        </h5>
                        <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-4 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-white border" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label fw-bold tw-text-4">View Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
            <div class="online-course__item bg-img tw-duration-500">
                <div class="online-course-card w-100 bg-white tw-p-1 tw-rounded-xl border-main-100 border">
                    <span class="bg-img tw-mb-4">
                        <img src="assets/images/thumbs/online-course-img4.png" alt="img" class="bg-img">
                    </span>
                    <div class="tw-px-5 tw-pb-6">
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="tw-text-405 text-main-600 tw-mt-1">
                                    <i class="ph-fill ph-graduation-cap"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    Lessons: <strong>34</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-1">
                                <span class="tw-text-405 text-main-600 tw-mt-1">
                                    <i class="ph-fill ph-user"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    Students <strong>654+</strong>
                                </span>
                            </div>
                        </div>
                        <a href="course-details.html" class="fw-bold tw-text-5 text-neutral-500 hover-text-main-600 tw-duration-300 tw-mb-6 line-clamp-2">
                            Freelance Productivity & Workflow Optimization
                        </a>
                        <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span>
                                    <img src="assets/images/thumbs/online-course-img9.png" alt="img">
                                </span>
                                <div>
                                    <span class="d-block fw-medium tw-text-4 text-neutral-200 tw-mb-1">
                                        William Sophia 
                                    </span>
                                    <span class="fw-normal tw-text-305 text-neutral-100">
                                        UI/UX Designer
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                                <ul class="d-flex align-items-center tw-gap-05">
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    (4.50)
                                </span>
                            </div>
                        </div>
                        <span class="border-neutral-900 border tw-border-dashed w-100 tw-h-px tw-my-5"></span>
                        <div class="d-flex align-items-center tw-gap-2 justify-content-between flex-wrap">
                            <h5 class="fw-semibold text-main-600 counter">
                                $975.00
                            </h5>
                            <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-4 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-main-600 border" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold tw-text-4">View Details</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="online-course__link w-100 h-100 bg-main-600 tw-duration-500 tw-rounded-xl tw-py-15 tw-px-5 w-100 h-100">
                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                        <span class="text-white border-white border rounded-pill tw-py-2 tw-px-4">
                            Video Editing
                        </span>
                        <button type="button" class="tw-w-10 tw-h-10 bg-white d-flex align-items-center justify-content-center text-main-600 tw-text-5 rounded-circle hover-bg-neutral-950 hover-text-white tw-duration-300">
                            <i class="ph-bold ph-heart"></i>
                        </button>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                        <div class="d-flex align-items-center tw-gap-1">
                            <span class="tw-text-405 text-white tw-mt-1">
                                <i class="ph-fill ph-graduation-cap"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-05">
                                Lessons: <strong>34</strong>
                            </span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1">
                            <span class="tw-text-405 text-white tw-mt-1">
                                <i class="ph-fill ph-user"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-neutral-05">
                                Students <strong>654+</strong>
                            </span> 
                        </div>
                    </div>
                    <a href="course-details.html" class="fw-semibold tw-text-505 text-white hover-underline hover-text-white tw-duration-300 tw-mb-5 line-clamp-2">
                        Adobe Premiere Pro Masterclass: Video Editing
                    </a>
                    <p class="fw-normal tw-text-4 text-white tw-mb-8">
                        Procrastinate equity invested markets with efficient process. actualize mission-critical partnerships.
                    </p>
                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-3">
                        <div class="d-flex align-items-center tw-gap-2">
                            <span>
                                <img src="assets/images/thumbs/online-course-img7.png" alt="img">
                            </span>
                            <div>
                                <span class="d-block fw-medium tw-text-4 text-white tw-mb-1">
                                    William Sophia 
                                </span>
                                <span class="fw-normal tw-text-305 text-white">
                                    UI/UX Designer
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                            <ul class="d-flex align-items-center tw-gap-05">
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-white">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-normal tw-text-4 text-white">
                                (4.50)
                            </span>
                        </div>
                    </div>
                    <span class="border-neutral-50 border tw-border-dashed w-100 tw-h-px tw-my-5"></span>
                    <div class="d-flex align-items-center tw-gap-2 justify-content-between flex-wrap">
                        <h5 class="fw-semibold text-white counter">
                            $845.00
                        </h5>
                        <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-3 tw-px-4 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-white border" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label fw-bold tw-text-4">View Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================= olline course tabe section end ========================== -->