<!-- =========================== online courses section start ======================== -->
 <section class="py-120 bg-danger-900 position-relative">
    <img src="assets/images/shape/online-courses-two-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-190px tw-ms-340px d-lg-block d-none scale-animation z-n1">
    <img src="assets/images/shape/online-courses-two-shape2.png" alt="shape" class="position-absolute top-0 tw-mt-8 tw-end-0 tw-me-180px scale-animation z-n1 d-lg-block d-none">
    <img src="assets/images/shape/online-courses-two-shape3.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-17 animation-upDown z-n1 d-lg-block d-none">
    <div class="tw-mb-160px">
        <div class="container">
            <div class="text-center tw-mb-12">
                <span class="tw-py-1 tw-px-5 bg-white tw-rounded-sm fw-medium tw-text-305 text-danger-600 tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">OUR ONLINE COURSES</span>
                <h3 class="fw-semibold text-neutral-600" data-aos="fade-up" data-aos-duration="800">Find Your Best Courses</h3>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600">
                    <div class="position-relative bg-img">
                        <div class="brand-card bg-white tw-py-305 tw-px-305 tw-rounded-xl animation-item tw-duration-300">
                            <div class="position-relative tw-mb-6 overflow-hidden tw-rounded-xl z-2">
                                <img src="assets/images/thumbs/online-courses-two-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                <span class="tw-py-1 tw-px-3 tw-rounded-sm bg-danger-600 text-white fw-medium tw-text-4 position-absolute top-0 tw-start-0 tw-mt-4 tw-ms-4">
                                    Vegetables
                                </span>
                            </div>
                            <div class="tw-px-505 position-relative">
                                <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-405">
                                    <ul class="d-flex align-items-center tw-gap-1">
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star-half"></i>
                                        </li>
                                    </ul>
                                    <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                                </div>
                                <a href="course-details.html" class="fw-semibold tw-text-5 text-neutral-800 hover-text-danger-600 hover-underline tw-duration-300 tw-mb-5">
                                    Entrepreneurship and Business Coach Certificate
                                </a>
                                <p class="fw-normal tw-text-4 text-neutral-300 tw-mb-6">Help you engage your audience, build and trust, and grow with confidence.</p>
                                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-danger-600 ">
                                            <i class="ph-bold ph-wallet"></i>
                                        </span>
                                        <span class="fw-medium tw-text-305 text-neutral-200">
                                            96 Lessons
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-danger-600 ">
                                            <i class="ph-bold ph-graduation-cap"></i>
                                        </span>
                                        <span class="fw-medium tw-text-305 text-neutral-200">
                                            234 Students
                                        </span>
                                    </div>
                                </div>
                                <span class="tw-w-80-px tw-h-80-px bg-danger-600 rounded-circle fw-bold tw-text-6 text-white d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-505 tw-mt--76px z-2 counter">
                                    $45
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="800">
                    <div class="position-relative bg-img">
                        <div class="brand-card bg-white tw-py-305 tw-px-305 tw-rounded-xl animation-item tw-duration-300">
                            <div class="position-relative tw-mb-6 overflow-hidden tw-rounded-xl z-2">
                                <img src="assets/images/thumbs/online-courses-two-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                <span class="tw-py-1 tw-px-3 tw-rounded-sm bg-danger-600 text-white fw-medium tw-text-4 position-absolute top-0 tw-start-0 tw-mt-4 tw-ms-4">
                                    Vegetables
                                </span>
                            </div>
                            <div class="tw-px-505 position-relative">
                                <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-405">
                                    <ul class="d-flex align-items-center tw-gap-1">
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star-half"></i>
                                        </li>
                                    </ul>
                                    <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                                </div>
                                <a href="course-details.html" class="fw-semibold tw-text-5 text-neutral-800 hover-text-danger-600 hover-underline tw-duration-300 tw-mb-5">
                                    Entrepreneurship and Business Coach Certificate
                                </a>
                                <p class="fw-normal tw-text-4 text-neutral-300 tw-mb-6">Help you engage your audience, build and trust, and grow with confidence.</p>
                                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-danger-600 ">
                                            <i class="ph-bold ph-wallet"></i>
                                        </span>
                                        <span class="fw-medium tw-text-305 text-neutral-200">
                                            96 Lessons
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-danger-600 ">
                                            <i class="ph-bold ph-graduation-cap"></i>
                                        </span>
                                        <span class="fw-medium tw-text-305 text-neutral-200">
                                            234 Students
                                        </span>
                                    </div>
                                </div>
                                <span class="tw-w-80-px tw-h-80-px bg-danger-600 rounded-circle fw-bold tw-text-6 text-white d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-505 tw-mt--76px z-2 counter">
                                    $45
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                    <div class="position-relative bg-img">
                        <div class="brand-crad bg-white tw-py-305 tw-px-305 tw-rounded-xl animation-item tw-duration-300">
                            <div class="position-relative tw-mb-6 overflow-hidden tw-rounded-xl z-2">
                                <img src="assets/images/thumbs/online-courses-two-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                <span class="tw-py-1 tw-px-3 tw-rounded-sm bg-danger-600 text-white fw-medium tw-text-4 position-absolute top-0 tw-start-0 tw-mt-4 tw-ms-4">
                                    Vegetables
                                </span>
                            </div>
                            <div class="tw-px-505 position-relative">
                                <div class="d-flex align-items-center tw-gap-2 flex-wrap tw-mb-405">
                                    <ul class="d-flex align-items-center tw-gap-1">
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-5 text-danger-600 ">
                                            <i class="ph-fill ph-star-half"></i>
                                        </li>
                                    </ul>
                                    <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                                </div>
                                <a href="course-details.html" class="fw-semibold tw-text-5 text-neutral-800 hover-text-danger-600 hover-underline tw-duration-300 tw-mb-5">
                                    Entrepreneurship and Business Coach Certificate
                                </a>
                                <p class="fw-normal tw-text-4 text-neutral-300 tw-mb-6">Help you engage your audience, build and trust, and grow with confidence.</p>
                                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-danger-600 ">
                                            <i class="ph-bold ph-wallet"></i>
                                        </span>
                                        <span class="fw-medium tw-text-305 text-neutral-200">
                                            96 Lessons
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center tw-gap-2">
                                        <span class="tw-text-405 text-danger-600 ">
                                            <i class="ph-bold ph-graduation-cap"></i>
                                        </span>
                                        <span class="fw-medium tw-text-305 text-neutral-200">
                                            234 Students
                                        </span>
                                    </div>
                                </div>
                                <span class="tw-w-80-px tw-h-80-px bg-danger-600 rounded-circle fw-bold tw-text-6 text-white d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-505 tw-mt--76px z-2 counter">
                                    $45
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- =========================== online coursess secton end ========================= -->

<div class="tw-mt--160px">
    <div class="container">
        <div class="position-relative">
            <img src="assets/images/thumbs/online-courses-two-bottom-img.png" alt="img" class="bg-img" data-aos="zoom-in" data-aos-duration="1400">
            <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button tw-w-120-px tw-h-120-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-50 tw-start-50 translate-middle-y">
                <span class="tw-w-104-px tw-h-104-px rounded-circle bg-warning-500 tw-text-7 d-flex align-items-center justify-content-center text-neutral-600">
                    <i class="ph-fill ph-play"></i>
                </span>
            </a>
        </div>
    </div>
</div>