<!-- ======================== online course section start ======================== -->
<section class="bg-img position-relative z-2" style="background-image: url(assets/images/bg/online-course-six-bg-img.png);">
    <img src="assets/images/shape/online-crouse-six-shape3.png" alt="shape" class="position-absolute top-0 tw-start-0 top-50 animation-upDown d-xl-block d-none">
    <div class="py-110 tw-mb-400-px">
        <div class="d-xl-block d-none">
            <img src="assets/images/shape/online-crouse-six-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt--100-px animation-scalation">
            <img src="assets/images/shape/online-crouse-six-shape2.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-170-px tw-ms-170-px z-n1 animation-scalation">
        </div>
        <div class="container">
            <div class="text-center tw-mb-13">
                <span class="tw-py-2 tw-px-5 fw-medium tw-text-305 bg-white tw-rounded-sm text-main-600 tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                    OUR ONLINE COURSES
                </span>
                <h2 class="h4 fw-medium text-neutral-600" data-aos="fade-up" data-aos-duration="800">Find Your Best Courses</h2>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="100">
                    <div class="tw-py-305 tw-px-305 bg-white tw-rounded-lg animation-item">
                        <div class="overflow-hidden tw-rounded-xl position-relative w-100 h-100">
                            <img src="assets/images/thumbs/online-courses-six-img6.png" alt="img" class="tw-duration-300 bg-img course-item__img">
                            <span class="tw-py-105 tw-px-3 bg-warning-500 tw-rounded-sm text-neutral-600 position-absolute top-0 tw-start-0 tw-ms-4 tw-mt-4">
                                English
                            </span>
                        </div>
                        <div class="tw-px-4 tw-pt-6 tw-pb-7 position-relative">
                            <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                <ul class="d-flex align-items-center tw-gap-1">
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                            </div>
                            <a href="course-details.html" class="fw-medium tw-text-5 text-neutral-800 tw-mb-7">
                                Master Any Language with Proven Learning Techniques
                            </a>
                            <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <img src="assets/images/thumbs/online-courses-img4.png" alt="img">
                                    <span class="fw-medium tw-text-305 text-neutral-100">Laura Martinez</span>
                                </div>
                                <span class="fw-bold tw-text-5 text-main-600">$989.00</span>
                            </div>
                            <span class="tw-w-12 tw-h-12 bg-warning-100 rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-4 tw-mt--24-px">
                                <img src="assets/images/thumbs/online-crouse-flag1.png" alt="img">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="200">
                    <div class="tw-py-305 tw-px-305 bg-white tw-rounded-lg animation-item">
                        <div class="overflow-hidden tw-rounded-xl position-relative w-100 h-100">
                            <img src="assets/images/thumbs/online-courses-six-img5.png" alt="img" class="tw-duration-300 bg-img course-item__img">
                            <span class="tw-py-105 tw-px-3 bg-warning-500 tw-rounded-sm text-neutral-600 position-absolute top-0 tw-start-0 tw-ms-4 tw-mt-4">
                                Hindi
                            </span>
                        </div>
                        <div class="tw-px-4 tw-pt-6 tw-pb-7 position-relative">
                            <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                <ul class="d-flex align-items-center tw-gap-1">
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                            </div>
                            <a href="course-details.html" class="fw-medium tw-text-5 text-neutral-800 tw-mb-7">
                               Speak Fluently with Our Step-by-Step Course
                            </a>
                            <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <img src="assets/images/thumbs/online-courses-img4.png" alt="img">
                                    <span class="fw-medium tw-text-305 text-neutral-100">Laura Martinez</span>
                                </div>
                                <span class="fw-bold tw-text-5 text-main-600">$989.00</span>
                            </div>
                            <span class="tw-w-12 tw-h-12 bg-warning-100 rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-4 tw-mt--24-px">
                                <img src="assets/images/thumbs/online-crouse-flag2.png" alt="img">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="300">
                    <div class="tw-py-305 tw-px-305 bg-white tw-rounded-lg animation-item">
                        <div class="overflow-hidden tw-rounded-xl position-relative w-100 h-100">
                            <img src="assets/images/thumbs/online-courses-six-img4.png" alt="img" class="tw-duration-300 bg-img course-item__img">
                            <span class="tw-py-105 tw-px-3 bg-warning-500 tw-rounded-sm text-neutral-600 position-absolute top-0 tw-start-0 tw-ms-4 tw-mt-4">
                                China
                            </span>
                        </div>
                        <div class="tw-px-4 tw-pt-6 tw-pb-7 position-relative">
                            <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                <ul class="d-flex align-items-center tw-gap-1">
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                            </div>
                            <a href="course-details.html" class="fw-medium tw-text-5 text-neutral-800 tw-mb-7">
                               From Beginner to Fluent in Record Time
                            </a>
                            <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <img src="assets/images/thumbs/online-courses-img4.png" alt="img">
                                    <span class="fw-medium tw-text-305 text-neutral-100">Laura Martinez</span>
                                </div>
                                <span class="fw-bold tw-text-5 text-main-600">$989.00</span>
                            </div>
                            <span class="tw-w-12 tw-h-12 bg-warning-100 rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-4 tw-mt--24-px">
                                <img src="assets/images/thumbs/online-crouse-flag3.png" alt="img">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="400">
                    <div class="tw-py-305 tw-px-305 bg-white tw-rounded-lg animation-item">
                        <div class="overflow-hidden tw-rounded-xl position-relative w-100 h-100">
                            <img src="assets/images/thumbs/online-courses-six-img3.png" alt="img" class="tw-duration-300 bg-img course-item__img">
                            <span class="tw-py-105 tw-px-3 bg-warning-500 tw-rounded-sm text-neutral-600 position-absolute top-0 tw-start-0 tw-ms-4 tw-mt-4">
                                China
                            </span>
                        </div>
                        <div class="tw-px-4 tw-pt-6 tw-pb-7 position-relative">
                            <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                <ul class="d-flex align-items-center tw-gap-1">
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                            </div>
                            <a href="course-details.html" class="fw-medium tw-text-5 text-neutral-800 tw-mb-7">
                               Achieve Fluency with Fun, Real-Life Conversations
                            </a>
                            <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <img src="assets/images/thumbs/online-courses-img4.png" alt="img">
                                    <span class="fw-medium tw-text-305 text-neutral-100">Laura Martinez</span>
                                </div>
                                <span class="fw-bold tw-text-5 text-main-600">$989.00</span>
                            </div>
                            <span class="tw-w-12 tw-h-12 bg-warning-100 rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-4 tw-mt--24-px">
                                <img src="assets/images/thumbs/online-crouse-flag4.png" alt="img">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="500">
                    <div class="tw-py-305 tw-px-305 bg-white tw-rounded-lg animation-item">
                        <div class="overflow-hidden tw-rounded-xl position-relative w-100 h-100">
                            <img src="assets/images/thumbs/online-courses-six-img2.png" alt="img" class="tw-duration-300 bg-img course-item__img">
                            <span class="tw-py-105 tw-px-3 bg-warning-500 tw-rounded-sm text-neutral-600 position-absolute top-0 tw-start-0 tw-ms-4 tw-mt-4">
                                Arabian
                            </span>
                        </div>
                        <div class="tw-px-4 tw-pt-6 tw-pb-7 position-relative">
                            <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                <ul class="d-flex align-items-center tw-gap-1">
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                            </div>
                            <a href="course-details.html" class="fw-medium tw-text-5 text-neutral-800 tw-mb-7">
                               Essential Language Skills for Travel and Business
                            </a>
                            <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <img src="assets/images/thumbs/online-courses-img4.png" alt="img">
                                    <span class="fw-medium tw-text-305 text-neutral-100">Laura Martinez</span>
                                </div>
                                <span class="fw-bold tw-text-5 text-main-600">$989.00</span>
                            </div>
                            <span class="tw-w-12 tw-h-12 bg-warning-100 rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-4 tw-mt--24-px">
                                <img src="assets/images/thumbs/online-crouse-flag5.png" alt="img">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600" data-aos-offset="600">
                    <div class="tw-py-305 tw-px-305 bg-white tw-rounded-lg animation-item">
                        <div class="overflow-hidden tw-rounded-xl position-relative w-100 h-100">
                            <img src="assets/images/thumbs/online-courses-six-img1.png" alt="img" class="tw-duration-300 bg-img course-item__img">
                            <span class="tw-py-105 tw-px-3 bg-warning-500 tw-rounded-sm text-neutral-600 position-absolute top-0 tw-start-0 tw-ms-4 tw-mt-4">
                                Arabian
                            </span>
                        </div>
                        <div class="tw-px-4 tw-pt-6 tw-pb-7 position-relative">
                            <div class="d-flex align-items-center tw-gap-2 tw-mb-5">
                                <ul class="d-flex align-items-center tw-gap-1">
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-warning-500">
                                        <i class="ph ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-305 text-neutral-100">(45 Reviews)</span>
                            </div>
                            <a href="course-details.html" class="fw-medium tw-text-5 text-neutral-800 tw-mb-7">
                               Daily Practice That Builds Real Language Skills
                            </a>
                            <div class="d-flex align-items-center tw-gap-4 justify-content-between flex-wrap">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <img src="assets/images/thumbs/online-courses-img4.png" alt="img">
                                    <span class="fw-medium tw-text-305 text-neutral-100">Laura Martinez</span>
                                </div>
                                <span class="fw-bold tw-text-5 text-main-600">$989.00</span>
                            </div>
                            <span class="tw-w-12 tw-h-12 bg-warning-100 rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-4 tw-mt--24-px">
                                <img src="assets/images/thumbs/online-crouse-flag6.png" alt="img">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== online course section end ======================== -->