<!-- ============================ teacher section start ========================== -->
<section class="banner-bg-gradient py-100 position-relative">
    <img src="assets/images/shape/teacher-shape1.png" alt="shape"
        class="position-absolute top-0 tw-end-0 tw-mt-104-px tw-me-180px animation-rotate-right d-xl-block d-none">
    <img src="assets/images/shape/teacher-shape2.png" alt="shape"
        class="position-absolute top-0 tw-start-0 tw-mt-104-px tw-ms-250-px animation-rotate-right d-xl-block d-none">
    <img src="assets/images/shape/teacher-shape3.png" alt="shape"
        class="position-absolute top-0 tw-start-0 tw-mt-170-px tw-ms-300-px animation-scalation d-xxl-block d-none">
    <div class="container">
        <div class="text-center tw-mb-11">
            <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4"
                data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span
                    class="tw-w-6 tw-h-6 border-main-100 border bg-main-50 rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                    <i class="ph-fill ph-star-four"></i>
                </span>
                <span class="fw-normal tw-text-4 text-main-600">
                    Our Teachers
                </span>
            </div>
            <h3 class="fw-semibold text-neutral-950 tw-line-height-77-px tw-mb-7" data-aos="fade-up"
                data-aos-duration="800" data-aos-delay="200">
                Our Course Instructor
            </h3>
            <p class="fw-normal tw-text-405 text-neutral-500" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="300">
                The ability to learn at my own pace was a game-changer for me. The flexible schedule<br> allowed me to
                balance my studies with work and personal life
            </p>
        </div>
        <div class="row gy-5">
            <div class="col-xxl-3 col-xl-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="teacher-card animation-item tw-duration-300 bg-white tw-rounded-xl tw-p-4 group group-item">
                    <div class="position-relative d-flex">
                        <a href="teacher-details.html" class="bg-img overflow-hidden tw-rounded-2xl">
                            <img src="assets/images/thumbs/teacher-img1.png" alt="img"
                                class="bg-img course-item__img tw-duration-300">
                        </a>
                        <div
                            class="teacher__link position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 tw-mx-3 tw-duration-300 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                            <ul class="d-flex align-items-center tw-gap-105 ">
                                <li>
                                    <a href="https://www.facebook.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.x.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-x-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.dribbble.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-dribbble-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center tw-pt-13 position-relative">
                        <button type="button"
                            class="tw-w-12 tw-h-12 rounded-circle bg-main-100 text-main-600 d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white position-absolute top-0 start-50 share-btn tw-text-2xl group-hover-item-invisible tw-duration-300">
                            <i class="ph-fill ph-share-network"></i>
                        </button>
                        <h2 class="h5 tw-mb-3">
                            <a href="teacher-details.html" class="fw-semibold text-neutral-500 hover-text-main-600">
                                Sarah Morgan
                            </a>
                        </h2>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Web Developer
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="teacher-card animation-item tw-duration-300 bg-white tw-rounded-xl tw-p-4 group group-item">
                    <div class="position-relative d-flex">
                        <a href="teacher-details.html" class="bg-img overflow-hidden tw-rounded-2xl">
                            <img src="assets/images/thumbs/teacher-img2.png" alt="img"
                                class="bg-img course-item__img tw-duration-300">
                        </a>
                        <div
                            class="teacher__link position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 tw-mx-3 tw-duration-300 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                            <ul class="d-flex align-items-center tw-gap-105 ">
                                <li>
                                    <a href="https://www.facebook.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.x.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-x-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.dribbble.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-dribbble-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center tw-pt-13 position-relative">
                        <button type="button"
                            class="tw-w-12 tw-h-12 rounded-circle bg-main-100 text-main-600 d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white position-absolute top-0 start-50 share-btn tw-text-2xl group-hover-item-invisible tw-duration-300">
                            <i class="ph-fill ph-share-network"></i>
                        </button>
                        <h2 class="h5 tw-mb-3">
                            <a href="teacher-details.html" class="fw-semibold text-neutral-500 hover-text-main-600">
                                Emily Johnosn
                            </a>
                        </h2>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Web Developer
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="teacher-card animation-item tw-duration-300 bg-white tw-rounded-xl tw-p-4 group group-item">
                    <div class="position-relative d-flex">
                        <a href="teacher-details.html" class="bg-img overflow-hidden tw-rounded-2xl">
                            <img src="assets/images/thumbs/teacher-img3.png" alt="img"
                                class="bg-img course-item__img tw-duration-300">
                        </a>
                        <div
                            class="teacher__link position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 tw-mx-3 tw-duration-300 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                            <ul class="d-flex align-items-center tw-gap-105 ">
                                <li>
                                    <a href="https://www.facebook.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.x.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-x-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.dribbble.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-dribbble-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center tw-pt-13 position-relative">
                        <button type="button"
                            class="tw-w-12 tw-h-12 rounded-circle bg-main-100 text-main-600 d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white position-absolute top-0 start-50 share-btn tw-text-2xl group-hover-item-invisible tw-duration-300">
                            <i class="ph-fill ph-share-network"></i>
                        </button>
                        <h2 class="h5 tw-mb-3">
                            <a href="teacher-details.html" class="fw-semibold text-neutral-500 hover-text-main-600">
                                David Sophia
                            </a>
                        </h2>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Web Developer
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                <div class="teacher-card animation-item tw-duration-300 bg-white tw-rounded-xl tw-p-4 group group-item">
                    <div class="position-relative d-flex">
                        <a href="teacher-details.html" class="bg-img overflow-hidden tw-rounded-2xl">
                            <img src="assets/images/thumbs/teacher-img4.png" alt="img"
                                class="bg-img course-item__img tw-duration-300">
                        </a>
                        <div
                            class="teacher__link position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb-10 tw-mx-3 tw-duration-300 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                            <ul class="d-flex align-items-center tw-gap-105 ">
                                <li>
                                    <a href="https://www.facebook.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.x.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-x-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.dribbble.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-dribbble-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/"
                                        class="tw-w-12 tw-h-12 bg-white text-neutral-500 d-flex align-items-center justify-content-center rounded-circle tw-text-6 hover-bg-main-600 hover-text-white">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center tw-pt-13 position-relative">
                        <button type="button"
                            class="tw-w-12 tw-h-12 rounded-circle bg-main-100 text-main-600 d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white position-absolute top-0 start-50 share-btn tw-text-2xl group-hover-item-invisible tw-duration-300">
                            <i class="ph-fill ph-share-network"></i>
                        </button>
                        <h2 class="h5 tw-mb-3">
                            <a href="teacher-details.html" class="fw-semibold text-neutral-500 hover-text-main-600">
                                Jane Seymour
                            </a>
                        </h2>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Web Developer
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ teacher section end ========================== -->