<!-- =============================== our faq section start =============================== -->
<section class="py-110 z-2">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5">
                <div>
                    <span class="tw-px-5 tw-py-2 bg-main-50 text-main-600 tw-rounded-sm tw-mb-6 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">OUR FAQ’S</span>
                    <h3 class="fw-semibold text-neutral-600 tw-mb-7" data-aos="fade-up" data-aos-duration="800">Frequently Asked Questions About EduPro</h3>
                    <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-10" data-aos="fade-up" data-aos-duration="1000">Collaboratively disintermediate move to impacter compellingly web architectures without installed</p>
                    <div class="bg-main-600 tw-py-11 tw-px-7 tw-rounded-xl d-flex align-items-center tw-gap-5 flex-wrap" data-aos="fade-up" data-aos-duration="1200">
                        <span class="tw-text-82-px text-white">
                            <i class="ph-bold ph-headset"></i>
                        </span>
                        <div class="">
                            <a href="tel:+12(029)838994" class="fw-medium tw-text-6 text-white tw-mb-3 d-block">
                                +12 (029) 838 994
                            </a>
                            <a href="mailto:(helloedupro@gmail.com)" class="fw-medium tw-text-6 text-white">helloedupro@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="accordion tw-ms-17" id="accordionExample">
                    <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <button class="accordion-button fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How long it take to create a video course?
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal tw-text-4 ">
                                    Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                        <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Where can I find information on private companies?
                        </button>   
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal tw-text-4 ">
                                    Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What kind of support does Eduly provide?
                        </button>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal tw-text-4 ">
                                    Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                        <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            How long do I get support & updates?
                        </button>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal tw-text-4 ">
                                    Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <button class="accordion-button collapsed fw-medium tw-text-405 text-neutral-500 d-flex align-items-center tw-gap-305" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How long it take to create a video course?
                        </button>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal tw-text-4 ">
                                    Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== our faq section end =============================== -->