<!-- ========================== our team section start ========================= -->
<section class="py-110 bg-neutral-50 position-relative z-2  ">
    <img src="assets/images/shape/our-courses-five-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-204-px z-n1">
    <img src="assets/images/shape/our-courses-five-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt-204-px z-n1">
    <img src="assets/images/shape/our-courses-five-shape3.png" alt="shape" class="position-absolute bottom-0 tw-end-0 bottom-50 tw-ms-17 z-n1 animation-scalation d-lg-block d-none">
    <div class="tw-mb-242-px">
        <div class="container">
            <div class="d-flex align-items-end tw-gap-5 flex-wrap justify-content-between tw-mb-10">
                <div>
                    <span class="tw-py-2 tw-px-5 text-main-600 bg-white fw-medium tw-text-305 tw-mb-6 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                        OUR TEAM
                    </span>
                    <h3 class="fw-medium text-main-two-700 " data-aos="fade-up" data-aos-duration="800">Meet With Our Expert Online <br> Senior Instractor</h3>
                </div>
                <a href="our-team.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="1000">
                    <span class="button__flair"></span>
                    <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                        <i class="ph ph-caret-right"></i>
                    </span>
                    <span class="button__label fw-medium">View All Members</span>
                </a>
            </div>
            <div class="row gy-4">
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                    <a href="teacher-details.html" class="bg-img">
                        <div class="animation-item">
                            <span class="w-100 tw-mb-6 overflow-hidden tw-rounded-xl">
                                <img src="assets/images/thumbs/our-team-five-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                            </span>
                            <div class="text-center">
                                <h2 class="h6 fw-medium text-neutral-800 tw-mb-3">Samantha Smith</h2>
                                <span class="fw-normal tw-text-4 text-neutral-500">Associate Professor</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800">
                    <a href="teacher-details.html" class="bg-img">
                        <div class="animation-item">
                            <span class="w-100 tw-mb-6 overflow-hidden tw-rounded-xl">
                                <img src="assets/images/thumbs/our-team-five-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                            </span>
                            <div class="text-center">
                                <h2 class="h6 fw-medium text-neutral-800 tw-mb-3">Samantha Joe</h2>
                                <span class="fw-normal tw-text-4 text-neutral-500">Associate Professor</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                    <a href="teacher-details.html" class="bg-img">
                        <div class="animation-item">
                            <span class="w-100 tw-mb-6 overflow-hidden tw-rounded-xl">
                                <img src="assets/images/thumbs/our-team-five-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                            </span>
                            <div class="text-center">
                                <h2 class="h6 fw-medium text-neutral-800 tw-mb-3">Markova John</h2>
                                <span class="fw-normal tw-text-4 text-neutral-500">Associate Professor</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                    <a href="teacher-details.html" class="bg-img">
                        <div class="animation-item">
                            <span class="w-100 tw-mb-6 overflow-hidden tw-rounded-xl">
                                <img src="assets/images/thumbs/our-team-five-img4.png" alt="img" class="w-100 course-item__img tw-duration-300">
                            </span>
                            <div class="text-center">
                                <h2 class="h6 fw-medium text-neutral-800 tw-mb-3">William Smith</h2>
                                <span class="fw-normal tw-text-4 text-neutral-500">Associate Professor</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== our-team sectio end ========================== -->