<!-- ======================== our events section start ======================== -->
<div class="py-110">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-py-3 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/recent-upcoming-five-img1.png" alt="img" class="recent-upcoming-five-img course-item__img tw-duration-300">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="event-details.html" class="fw-medium text-neutral-600 tw-text-405 tw-mb-5 line-clamp-2 hover-text-main-600 tw-duration-300">Monday Night Concert In Lake View for Education</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <div class="">
                                <a href="event-details.html" class="our-event-link btn-two hover-style-six button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-py-4 tw-px-5 rounded-pill position-relative" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label fw-medium">Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-py-3 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/recent-upcoming-five-img2.png" alt="img" class="recent-upcoming-five-img course-item__img tw-duration-300">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="event-details.html" class="fw-medium text-neutral-600 tw-text-405 tw-mb-5 line-clamp-2 hover-text-main-600 tw-duration-300">Monday Night Concert In Lake View for Education</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <a href="event-details.html" class="our-event-link btn-two hover-style-six button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-py-4 tw-px-5 rounded-pill position-relative" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label fw-medium">Read More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-py-3 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/recent-upcoming-five-img3.png" alt="img" class="recent-upcoming-five-img course-item__img tw-duration-300">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="event-details.html" class="fw-medium text-neutral-600 tw-text-405 tw-mb-5 line-clamp-2 hover-text-main-600 tw-duration-300">World Famous Talented Teachers Meetup With Us</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <a href="event-details.html" class="our-event-link btn-two hover-style-six button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-py-4 tw-px-5 rounded-pill position-relative" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label fw-medium">Read More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-py-3 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/recent-upcoming-five-img4.png" alt="img" class="recent-upcoming-five-img course-item__img tw-duration-300">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="event-details.html" class="fw-medium text-neutral-600 tw-text-405 tw-mb-5 line-clamp-2 hover-text-main-600 tw-duration-300">Education Progress and Career Development</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                <a href="event-details.html" class="our-event-link btn-two hover-style-six button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-py-4 tw-px-5 rounded-pill position-relative" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label fw-medium">Read More</span>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-py-3 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/our-event-img1.png" alt="img" class="recent-upcoming-five-img course-item__img tw-duration-300">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="event-details.html" class="fw-medium text-neutral-600 tw-text-405 tw-mb-5 line-clamp-2 hover-text-main-600 tw-duration-300">SkillGro Live: Learn Graphic Design in 2 Days</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                <a href="event-details.html" class="our-event-link btn-two hover-style-six button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-py-4 tw-px-5 rounded-pill position-relative" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label fw-medium">Read More</span>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-py-3 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/our-event-img2.png" alt="img" class="recent-upcoming-five-img course-item__img tw-duration-300">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="event-details.html" class="fw-medium text-neutral-600 tw-text-405 tw-mb-5 line-clamp-2 hover-text-main-600 tw-duration-300">Webinar: Master JavaScript From Scratch</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                <a href="event-details.html" class="our-event-link btn-two hover-style-six button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-py-4 tw-px-5 rounded-pill position-relative" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label fw-medium">Read More</span>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-py-3 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/our-event-img3.png" alt="img" class="recent-upcoming-five-img course-item__img tw-duration-300">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="event-details.html" class="fw-medium text-neutral-600 tw-text-405 tw-mb-5 line-clamp-2 hover-text-main-600 tw-duration-300">Data Science Bootcamp – Weekend Intensive</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                <a href="event-details.html" class="our-event-link btn-two hover-style-six button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-py-4 tw-px-5 rounded-pill position-relative" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label fw-medium">Read More</span>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-py-3 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/our-event-img4.png" alt="img" class="recent-upcoming-five-img course-item__img tw-duration-300">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="event-details.html" class="fw-medium text-neutral-600 tw-text-405 tw-mb-5 line-clamp-2 hover-text-main-600 tw-duration-300">Free Workshop: Marketing Strategies That Work</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                <a href="event-details.html" class="our-event-link btn-two hover-style-six button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-py-4 tw-px-5 rounded-pill position-relative" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label fw-medium">Read More</span>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="d-flex align-items-center justify-content-center tw-gap-2 tw-mt-13">
            <li class="tw-w-10 tw-h-10 bg-neutral-600 rounded-circle d-flex align-items-center justify-content-center tw-text-405 text-main-600 hover-bg-main-600 tw-duration-300 hover-text-white ">
                01
            </li>
            <li class="tw-w-10 tw-h-10 bg-neutral-600 rounded-circle d-flex align-items-center justify-content-center tw-text-405 text-main-600 hover-bg-main-600 tw-duration-300 hover-text-white ">
                02
            </li>
            <li class="tw-w-10 tw-h-10 bg-neutral-600 rounded-circle d-flex align-items-center justify-content-center tw-text-405 text-main-600 hover-bg-main-600 tw-duration-300 hover-text-white ">
                <i class="ph ph-caret-right"></i>
            </li>
        </ul>
    </div>
</div>
<!-- ======================== our events section end ======================== -->