<!-- =========================== our blog section start =========================== -->
<div class="bg-neutral-30">
    <div class="py-110 position-relative z-2">
        <img src="assets/images/shape/blog-six-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-w-200-px tw-mt-190px tw-ms-100-px z-n1 animation-scalation d-lg-block d-none">
        <img src="assets/images/shape/our-news-blog-seven-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-150-px d-lg-block d-none animation-upDown">
        <div class="container">
            <div class="text-center tw-mb-15">
                <span class="fw-medium tw-text-4 text-main-600 tw-mb-6 fst-italic tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">OUR NEWS & BLOGS</span>
                <h2 class="fw-semibold text-neutral-600 tw-text-52-px" data-aos="fade-up" data-aos-duration="800">Lates News & Articles</h2>
            </div>
            <div class="row gy-4">
                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="600">
                    <a href="our-blog.html" class="bg-white tw-rounded-xl tw-p-4 position-relative animation-item w-100">
                        <div class="position-relative bg-img overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/our-blog-seven-img1.png" alt="img" class="bg-img course-item__img tw-duration-300">
                            <div class="tw-py-4 tw-px-6 bg-main-600 tw-rounded-xl position-absolute top-0 tw-start-0 tw-mt-5 tw-ms-5">
                                <h3 class="fw-medium text-white d-block">04</h3>
                                <span class="fw-medium tw-text-4 text-white">
                                    JAN
                                </span>
                            </div>
                        </div>
                        <div class="tw-pt-7 tw-pb-84-px text-center">
                            <span class="fw-medium tw-text-4 text-main-600 tw-mb-4">BUSINESS , EDUCATION</span>
                            <h3 class="fw-medium text-main-two-600 tw-text-32-px">Unlocking the power of <br> strategies effective.</h3>
                        </div>
                        <span class="tw-w-84-px tw-h-84-px bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 tw-mb--40-px tw-start-50 translate-middle-x">
                            <span class="tw-w-15 tw-h-15 bg-white rounded-circle tw-text-4 text-main-600 d-flex align-items-center justify-content-center">
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800">
                    <a href="our-blog.html" class="bg-white tw-rounded-xl tw-p-4 position-relative animation-item w-100">
                        <div class="position-relative bg-img overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/our-blog-seven-img2.png" alt="img" class="bg-img course-item__img tw-duration-300">
                            <div class="tw-py-4 tw-px-6 bg-main-600 tw-rounded-xl position-absolute top-0 tw-start-0 tw-mt-5 tw-ms-5">
                                <h3 class="fw-medium text-white d-block">04</h3>
                                <span class="fw-medium tw-text-4 text-white">
                                    JAN
                                </span>
                            </div>
                        </div>
                        <div class="tw-pt-7 tw-pb-84-px text-center">
                            <span class="fw-medium tw-text-4 text-main-600 tw-mb-4">BUSINESS , EDUCATION</span>
                            <h3 class="fw-medium text-main-two-600 tw-text-32-px">The role of Technology in <br> Modern Classrooms</h3>
                        </div>
                        <span class="tw-w-84-px tw-h-84-px bg-neutral-30 rounded-circle d-flex align-items-center justify-content-center position-absolute bottom-0 tw-start-0 tw-mb--40-px tw-start-50 translate-middle-x">
                            <span class="tw-w-15 tw-h-15 bg-white rounded-circle tw-text-4 text-main-600 d-flex align-items-center justify-content-center">
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="fw-medium tw-text-4 d-flex align-items-center tw-gap-2 tw-mt-104-px justify-content-center" data-aos="fade-up" data-aos-duration="1000">
                Select From Hundreds of Options
                <a href="our-blog.html" class=" text-main-600 d-flex align-items-center tw-gap-4">
                    More on News
                    <span class="tw-text-4">
                        <i class="ph-bold ph-arrow-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!-- ======================= blog bottom start ======================== -->
    <div class="overflow-hidden tw-mb-5">
        <div class="nav-faq-three align-items-center justify-content-center tw-gap-5 flex-wrap">
            <div class="" data-aos="fade-up" data-aos-duration="600">
                <span class="bg-img">
                    <img src="assets/images/thumbs/footer-seven-top-img1.png" alt="img" class="w-100">
                </span>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="800">
                <span class="bg-img">
                    <img src="assets/images/thumbs/footer-seven-top-img2.png" alt="img" class="w-100">
                </span>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="1000">
                <span class="bg-img">
                    <img src="assets/images/thumbs/footer-seven-top-img3.png" alt="img" class="w-100">
                </span>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="1100">
                <span class="bg-img">
                    <img src="assets/images/thumbs/footer-seven-top-img4.png" alt="img" class="w-100">
                </span>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="1200">
                <span class="">
                    <img src="assets/images/thumbs/footer-seven-top-img5.png" alt="img" class="w-100">
                </span>
            </div>
        </div>
    </div>
    <!-- ======================= blog bottom end ======================== -->
</div>
<!-- =========================== our blog section end =========================== -->