<!-- ===================== our blog section start ==================== -->
<section class="py-120 bg-danger-50 position-relative z-1">
    <img src="assets/images/shape/banner-two-shape3.png" alt="shape" class="position-absolute bottom-0 tw-start-0 z-n1 w-100">
    <img src="assets/images/shape/our-blog-two-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-ms-100-px tw-mt-300-px z-n1 scale-animation d-lg-block d-none">
    <img src="assets/images/shape/about-me-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-me-230-px tw-mt-170-px animated-upDown z-n1 d-lg-block d-none">
    <div class="tw-mb-120-px">
        <div class="container">
            <div class="text-center tw-mb-8">
                <span class="fw-medium tw-text-305 text-danger-600 tw-py-1 tw-px-5 tw-rounded-sm bg-white tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                    OUR BLOG
                </span>
                <h3 class="fw-semibold text-neutral-600 tw-mb-8" data-aos="fade-up" data-aos-duration="800">Get News with Eduly</h3>
                <p class="fw-normal tw-text-405 text-neutral-300" data-aos="fade-up" data-aos-duration="1000">Deserves results. That’s why we offer end-to-end creative services that help
                 <br>
                 you engage your audience, build trust, and grow with confidence.</p>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600">
                    <div class="bg-white tw-px-4 tw-py-4 tw-rounded-xl animation-item">
                        <div class="overflow-hidden tw-rounded-xl position-relative tw-mb-6">
                            <img src="assets/images/thumbs/our-blog-two-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </div>
                        <div class="tw-ps-6 tw-pb-6 position-relative">
    
                            <span class="fw-bold tw-text-305 text-danger-600 bg-danger-50 tw-rounded-sm tw-px-5 tw-py-2 tw-mb-6">
                                Cooking
                            </span>
                            <a href="blog-details.html" class="fw-semibold tw-text-5 text-neutral-800 tw-mb-5 line-clamp-2 hover-text-danger-600">
                                Entrepreneurship and Business Coach Certificate
                            </a>
                            <p class="fw-normal tw-text-405 text-neutral-300">We offer end-to-end creative services that help you engage...</p>
                            <div class="tw-w-80-px tw-h-80-px bg-danger-600 rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-7 tw-mt--70px tw-border-bottom-4px">
                                <span>
                                    <span class="tw-text-705 tw-mb-1 text-white fw-bold tw-line-height-1 d-block">12</span>
                                    <span class=" fw-bold tw-text-305 text-white ">JAN</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="800">
                    <div class="bg-white tw-px-4 tw-py-4 tw-rounded-xl animation-item">
                        <div class="overflow-hidden tw-rounded-xl position-relative tw-mb-6">
                            <img src="assets/images/thumbs/our-blog-two-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </div>
                        <div class="tw-ps-6 tw-pb-6 position-relative">
    
                            <span class="fw-bold tw-text-305 text-danger-600 bg-danger-50 tw-rounded-sm tw-px-5 tw-py-2 tw-mb-6">
                                Cooking
                            </span>
                            <a href="blog-details.html" class="fw-semibold tw-text-5 text-neutral-800 tw-mb-5 line-clamp-2 hover-text-danger-600">
                                Entrepreneurship and Business Coach Certificate
                            </a>
                            <p class="fw-normal tw-text-405 text-neutral-300">We offer end-to-end creative services that help you engage...</p>
                            <div class="tw-w-80-px tw-h-80-px bg-danger-600 rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-7 tw-mt--70px tw-border-bottom-4px">
                                <span>
                                    <span class="tw-text-705 tw-mb-1 text-white fw-bold tw-line-height-1 d-block">03</span>
                                    <span class=" fw-bold tw-text-305 text-white">DEC</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                    <div class="bg-white tw-px-4 tw-py-4 tw-rounded-xl animation-item">
                        <div class="overflow-hidden tw-rounded-xl position-relative tw-mb-6">
                            <img src="assets/images/thumbs/our-blog-two-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </div>
                        <div class="tw-ps-6 tw-pb-6 position-relative">
    
                            <span class="fw-bold tw-text-305 text-danger-600 bg-danger-50 tw-rounded-sm tw-px-5 tw-py-2 tw-mb-6">
                                Cooking
                            </span>
                            <a href="blog-details.html" class="fw-semibold tw-text-5 text-neutral-800 tw-mb-5 line-clamp-2 hover-text-danger-600">
                                Entrepreneurship and Business Coach Certificate
                            </a>
                            <p class="fw-normal tw-text-405 text-neutral-300">We offer end-to-end creative services that help you engage...</p>
                            <div class="tw-w-80-px tw-h-80-px bg-danger-600 rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 tw-me-7 tw-mt--70px tw-border-bottom-4px">
                                <span>
                                    <span class="tw-text-705 tw-mb-1 text-white fw-bold tw-line-height-1 d-block">09</span>
                                    <span class=" fw-bold tw-text-305 text-white">MAY</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================== our blog section end ==================== -->