<!-- ============================= our podcast section start ============================= -->
<section class="py-110">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-5 flex-wrap justify-content-between tw-mb-15">
            <div class="max-w-500-px w-100">
                <span class="fw-medium tw-text-305 text-main-600 tw-mb-6 fst-italic tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">OUR PODCASTS</span>
                <h2 class="fw-medium text-neutral-600 tw-text-52-px" data-aos="fade-up" data-aos-duration="800">Listen Our Podcasts</h2>
            </div>
            <div class="max-w-490-px w-100 d-flex align-items-center tw-gap-7" data-aos="fade-up" data-aos-duration="1000">
                <span class="tw-w-1 tw-h-75-px bg-main-600 flex-shrink-0"></span>
                <p class="fw-normal tw-text-405 text-neutral-300">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust, and grow with confidence.</p>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600">
                <div class="bg-neutral-30 tw-rounded-xl animation-item">
                    <span class="bg-img position-relative overflow-hidden tw-rounded-top-12px">
                        <img src="assets/images/thumbs/our-podcast-seven-img1.png" alt="img" class="bg-img course-item__img tw-duration-300">
                        <span class="tw-py-2 tw-px-5 rounded-pill bg-main-600 text-white position-absolute bottom-0 tw-start-0 tw-mb-205 tw-ms-405">Episode 01</span>
                    </span>
                    <div class="tw-pt-705 tw-px-7 tw-pb-5">
                        <div class="d-flex align-items-center tw-gap-105 tw-mb-4">
                            <span class="tw-text-405 text-main-600 ">
                                <i class="ph ph-calendar-blank"></i>
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-200">April 10, 2024</span>
                        </div>
                        <h4>
                            <a href="blog-details.html" class="fw-semibold line-clamp-2 text-neutral-600 tw-mb-6">
                                Finding Moments Of Joy In A Challenging Year
                            </a>
                        </h4>
                       <div class="position-relative z-2">
                            <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button-2 bg-white w-100 rounded-pill tw-py-2 tw-px-5 d-flex align-items-center justify-content-center tw-gap-3">
                                <span class="tw-text-4 fw-bold text-main-600 d-flex align-items-center tw-gap-4">
                                    Watch Now
                                    <span>
                                        <i class="ph-bold ph-caret-right"></i>
                                    </span>
                                </span>
                                <div class="position-relative z-2">
                                    <span class="play-button-two tw-w-9 tw-h-9 bg-main-600 text-white tw-text-4 rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="ph-fill ph-play"></i>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="bg-neutral-30 tw-rounded-xl animation-item">
                    <span class="bg-img position-relative overflow-hidden tw-rounded-top-12px">
                        <img src="assets/images/thumbs/our-podcast-seven-img2.png" alt="img" class="bg-img course-item__img tw-duration-300">
                        <span class="tw-py-2 tw-px-5 rounded-pill bg-main-600 text-white position-absolute bottom-0 tw-start-0 tw-mb-205 tw-ms-405">Episode 02</span>
                    </span>
                    <div class="tw-pt-705 tw-px-7 tw-pb-5">
                        <div class="d-flex align-items-center tw-gap-105 tw-mb-4">
                            <span class="tw-text-405 text-main-600 ">
                                <i class="ph ph-calendar-blank"></i>
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-200">April 10, 2024</span>
                        </div>
                        <h4>
                            <a href="blog-details.html" class="fw-semibold line-clamp-2 text-neutral-600 tw-mb-6">
                                Arranging And Enjoying life Through Work
                            </a>
                        </h4>
                        <div class="position-relative z-2">
                            <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button-2 bg-white w-100 rounded-pill tw-py-2 tw-px-5 d-flex align-items-center justify-content-center tw-gap-3">
                                <span class="tw-text-4 fw-bold text-main-600 d-flex align-items-center tw-gap-4">
                                    Watch Now
                                    <span>
                                        <i class="ph-bold ph-caret-right"></i>
                                    </span>
                                </span>
                                <div class="position-relative z-2">
                                    <span class="play-button-two tw-w-9 tw-h-9 bg-main-600 text-white tw-text-4 rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="ph-fill ph-play"></i>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="bg-neutral-30 tw-rounded-xl tw-px-8 tw-py-8">
                    <h5 class="fw-semibold text-neutral-600 tw-mb-10">Categories</h5>
                    <div>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                            <span class="fw-normal tw-text-4 text-gray-600">Marketing</span>
                            <span class="fw-normal tw-text-4 text-gray-600">(28)</span>
                        </div>
                        <span class="w-100 tw-h-px bg-neutral-100 tw-my-505"></span>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                            <span class="fw-normal tw-text-4 text-gray-600">Branding Design</span>
                            <span class="fw-normal tw-text-4 text-gray-600">(34)</span>
                        </div>
                        <span class="w-100 tw-h-px bg-neutral-100 tw-my-505"></span>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                            <span class="fw-normal tw-text-4 text-gray-600">Financial Investment</span>
                            <span class="fw-normal tw-text-4 text-gray-600">(02)</span>
                        </div>
                        <span class="w-100 tw-h-px bg-neutral-100 tw-my-505"></span>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                            <span class="fw-normal tw-text-4 text-gray-600">Business</span>
                            <span class="fw-normal tw-text-4 text-gray-600">(09)</span>
                        </div>
                        <span class="w-100 tw-h-px bg-neutral-100 tw-my-505"></span>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                            <span class="fw-normal tw-text-4 text-gray-600">Design</span>
                            <span class="fw-normal tw-text-4 text-gray-600">(23)</span>
                        </div>
                        <span class="w-100 tw-h-px bg-neutral-100 tw-my-505"></span>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                            <span class="fw-normal tw-text-4 text-gray-600">Fashion</span>
                            <span class="fw-normal tw-text-4 text-gray-600">(23)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1100">
                <div class="bg-neutral-30 tw-rounded-xl animation-item">
                    <span class="bg-img position-relative overflow-hidden tw-rounded-top-12px">
                        <img src="assets/images/thumbs/our-podcast-seven-img3.png" alt="img" class="bg-img course-item__img tw-duration-300">
                        <span class="tw-py-2 tw-px-5 rounded-pill bg-main-600 text-white position-absolute bottom-0 tw-start-0 tw-mb-205 tw-ms-405">Episode 03</span>
                    </span>
                    <div class="tw-pt-705 tw-px-7 tw-pb-5">
                        <div class="d-flex align-items-center tw-gap-105 tw-mb-4">
                            <span class="tw-text-405 text-main-600 ">
                                <i class="ph ph-calendar-blank"></i>
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-200">April 10, 2024</span>
                        </div>
                        <h4>
                            <a href="blog-details.html" class="fw-semibold line-clamp-2 text-neutral-600 tw-mb-6">
                                Proved, Only Action Can Bring Success
                            </a>
                        </h4>
                         <div class="position-relative z-2">
                            <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button-2 bg-white w-100 rounded-pill tw-py-2 tw-px-5 d-flex align-items-center justify-content-center tw-gap-3">
                                <span class="tw-text-4 fw-bold text-main-600 d-flex align-items-center tw-gap-4">
                                    Watch Now
                                    <span>
                                        <i class="ph-bold ph-caret-right"></i>
                                    </span>
                                </span>
                                <div class="position-relative z-2">
                                    <span class="play-button-two tw-w-9 tw-h-9 bg-main-600 text-white tw-text-4 rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="ph-fill ph-play"></i>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="bg-neutral-30 tw-rounded-xl animation-item">
                    <span class="bg-img position-relative overflow-hidden tw-rounded-top-12px">
                        <img src="assets/images/thumbs/our-podcast-seven-img4.png" alt="img" class="bg-img course-item__img tw-duration-300">
                        <span class="tw-py-2 tw-px-5 rounded-pill bg-main-600 text-white position-absolute bottom-0 tw-start-0 tw-mb-205 tw-ms-405">Episode 04</span>
                    </span>
                    <div class="tw-pt-705 tw-px-7 tw-pb-5">
                        <div class="d-flex align-items-center tw-gap-105 tw-mb-4">
                            <span class="tw-text-405 text-main-600 ">
                                <i class="ph ph-calendar-blank"></i>
                            </span>
                            <span class="fw-medium tw-text-4 text-neutral-200">April 10, 2024</span>
                        </div>
                        <h4>
                            <a href="blog-details.html" class="fw-semibold line-clamp-2 text-neutral-600 tw-mb-6">
                                Finding Happy Moments Through Challenges
                            </a>
                        </h4>
                         <div class="position-relative z-2">
                            <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button-2 bg-white w-100 rounded-pill tw-py-2 tw-px-5 d-flex align-items-center justify-content-center tw-gap-3">
                                <span class="tw-text-4 fw-bold text-main-600 d-flex align-items-center tw-gap-4">
                                    Watch Now
                                    <span>
                                        <i class="ph-bold ph-caret-right"></i>
                                    </span>
                                </span>
                                <div class="position-relative z-2">
                                    <span class="play-button-two tw-w-9 tw-h-9 bg-main-600 text-white tw-text-4 rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="ph-fill ph-play"></i>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1300">
                <div class="bg-main-600 tw-rounded-xl tw-py-15 tw-px-705 text-center h-100">
                    <span class="tw-mb-5">
                        <img src="assets/images/icon/our-podcast-seven-icon1.png" alt="icon">
                    </span>
                    <h3 class="fw-semibold text-white tw-mb-5">Subscribe Our <br> Podcast Channel</h3>
                    <span class="fw-normal tw-text-4 text-white tw-mb-7">Get updates to news & events</span>
                    <form action="#">
                        <input type="email" placeholder="Enter your email" class="fw-medium tw-text-305 text-neutral-400 bg-white w-100 tw-py-4 tw-px-505 border-0 focus-visible-border-none tw-rounded-md tw-mb-6">
                        <button type="submit" class="fw-bold tw-text-4 text-white border-white border tw-py-4 w-100 tw-rounded-md d-flex align-items-center tw-gap-405 justify-content-center">
                            Subscribe Now
                            <span>
                                <i class="ph-bold ph-caret-right"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= our podcast section end ============================= -->