<!-- ============================ blog section start ========================== -->
<section class="bg-neutral-05 py-110">
    <div class="container">
        <div class="text-center tw-mb-15">
            <span class="tw-py-2 tw-px-5 fw-medium tw-text-305 text-main-600 bg-white tw-rounded-sm tw-mb-7 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">OUR BLOG</span>
            <h4 class="fw-medium text-neutral-600" data-aos="fade-up" data-aos-duration="800">
                Get All Blog & News with eduly
            </h4>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-p-6 bg-white tw-rounded-xl animation-item">
                    <div class="position-relative tw-mb-7">
                        <span class="overflow-hidden tw-rounded-xl w-100">
                            <img src="assets/images/thumbs/blog-five-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </span>
                        <span class="tw-w-80-px tw-h-80-px bg-gradient-600 d-flex align-items-center justify-content-center tw-rounded-md position-absolute bottom-0 tw-start-0 tw-ms-5 tw-mb-7">
                            <span>
                                <span class="fw-medium tw-text-8 text-white d-block tw-text-7">04</span>
                                <span class="fw-medium tw-text-305 text-white">JAN</span>
                            </span>
                        </span>
                    </div>
                    <div class="tw-px-7 tw-pb-3">
                        <span class="fw-medium tw-text-4 text-main-600 tw-mb-5">BUSINESS , EDUCATION</span>
                        <h2 class="h5">
                            <a href="blog-details.html" class="fw-medium tw-text-8 text-neutral-600 tw-mb-7">
                                Get Started With UI Design With Tips To Speed
                            </a>
                        </h2>
                        <a href="blog-details.html" class="btn bg-gradient-600 hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                            <span class="button__flair"></span>
                            <span class="tw-w-10 tw-h-10 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Read More</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tw-p-3 bg-white tw-rounded-xl d-flex align-items-center tw-gap-6 flex-sm-nowrap flex-wrap tw-mb-7 animation-item" data-aos="fade-up" data-aos-duration="800">
                    <span class="blog-five-img overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-five-img2.png" alt="img" class="course-item__img tw-duration-300">
                    </span>
                    <div class="max-w-294-px w-100 tw-py-10 ">
                        <div class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="tw-text-405 text-main-600 d-flex align-items-center justify-content-center">
                                    <i class="ph ph-calendar-blank"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-200">
                                    09 May, 2026
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="tw-text-405 text-main-600 d-flex align-items-center justify-content-center">
                                    <i class="ph ph-chat-circle"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-200">
                                    00 Comments
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="fw-medium tw-text-5 text-neutral-600 hover-text-main-600">
                            Choosing the Right Online Course for Your Goals
                        </a>
                    </div>
                </div>
                <div class="tw-p-3 bg-white tw-rounded-xl d-flex align-items-center tw-gap-6 flex-sm-nowrap flex-wrap tw-mb-7 animation-item" data-aos="fade-up" data-aos-duration="1000">
                    <span class="blog-five-img overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-five-img3.png" alt="img" class="course-item__img tw-duration-300">
                    </span>
                    <div class="max-w-294-px w-100 tw-py-10 ">
                        <div class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="tw-text-405 text-main-600 d-flex align-items-center justify-content-center">
                                    <i class="ph ph-calendar-blank"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-200">
                                    09 May, 2026
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="tw-text-405 text-main-600 d-flex align-items-center justify-content-center">
                                    <i class="ph ph-chat-circle"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-200">
                                    00 Comments
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="fw-medium tw-text-5 text-neutral-600 hover-text-main-600">
                           Announcing if Attachment Resolution Sentiments.
                        </a>
                    </div>
                </div>
                <div class="tw-p-3 bg-white tw-rounded-xl d-flex align-items-center tw-gap-6 flex-sm-nowrap flex-wrap animation-item" data-aos="fade-up" data-aos-duration="1200">
                    <span class="blog-five-img overflow-hidden tw-rounded-xl">
                        <img src="assets/images/thumbs/blog-five-img4.png" alt="img" class="course-item__img tw-duration-300">
                    </span>
                    <div class="max-w-294-px w-100 tw-py-10 ">
                        <div class="d-flex align-items-center justify-content-between tw-gap-2 flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="tw-text-405 text-main-600 d-flex align-items-center justify-content-center">
                                    <i class="ph ph-calendar-blank"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-200">
                                    09 May, 2026
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-105">
                                <span class="tw-text-405 text-main-600 d-flex align-items-center justify-content-center">
                                    <i class="ph ph-chat-circle"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-200">
                                    00 Comments
                                </span>
                            </div>
                        </div>
                        <a href="blog-details.html" class="fw-medium tw-text-5 text-neutral-600 hover-text-main-600">
                           Overcame Breeding Point Concerns has Terminate
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ blog section end ========================== -->