<!-- ========================= newsletter section start ======================== -->
 <div class="tw-mt--120-px z-2 tw-mb--120-px" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <div class="bg-danger-600 tw-rounded-2xl position-relative">
            <div class="newsletter-two__card d-flex align-items-center tw-gap-4 flex-wrap justify-content-between">
                <div class="newsletter-two-title tw-py-13 tw-ps-15">
                    <span class="fw-medium tw-text-305 text-white tw-py-1 tw-px-5 bg-gray-800 tw-mb-5 tw-letter-space-2-px">OUR NEWSLETTER</span>
                    <h2 class="h4 tw-text-8 fw-semibold text-white tw-line-height-43-px line-clamp-2">Join My Newsletter to Never
                        <br>
                        miss out Cooking updates.</h2>
                </div>
                <div class="newsletter-two-title__text tw-py-13">
                    <form action="#" class="newsletter-two-title__form tw-mb-7 position-relative max-w-360-px">
                        <input type="email" placeholder="Enter your email" class="newsletter-two__input tw-ps-14 tw-py-405 bg-white text-gray-500 tw-text-4 border-0 focus-visible-border-none rounded-pill tw-pe-110-px">
                        <span class="tw-text-4 text-gray-900 position-absolute top-0 tw-start-0 top-50 translate-middle-y tw-ms-7">
                            <i class="ph-bold ph-envelope-simple"></i>
                        </span>
                        <button type="submit" class="tw-w-11 tw-h-11 bg-danger-600 rounded-circle tw-text-305 text-white d-flex align-items-center justify-content-center position-absolute top-0 tw-end-0 top-50 tw-me-1 translate-middle-y">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </button>
                    </form>
                    <span class="fw-medium tw-text-4 text-gray-300">
                        By subscribing, you’re accept 
                        <a href="javascript:void(0)" class="text-white border-bottom ">
                            Privacy Policy
                        </a>
                    </span>
                </div>
                <img src="assets/images/thumbs/our-newsletter-two-img.png" alt="img" class="z-1 tw-mt--40px d-xl-block d-none">
            </div>
            <img src="assets/images/shape/banner-two-shape2.png" alt="shape" class="position-absolute top-0 tw-end-0 animate__wobble__two tw-mt--50px tw-me--70-px d-lg-block d-none">
        </div>
    </div>
 </div>
<!-- ========================= newsletter section end ======================== -->