<!-- =================== teacher section start ==================== -->
<section class="tw-mb-main-10 py-100">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap tw-mb-12">
            <div>
                <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-6 tw-h-6 border-main-100 border bg-main-50 rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                        <i class="ph-fill ph-star-four"></i>
                    </span>
                    <span class="fw-normal tw-text-4 text-main-600">
                        Our Teachers
                    </span>
                </div>
                <h3 class="fw-semibold text-neutral-950" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Our Course Instructor
                </h3>
            </div>
            <p class="fw-normal tw-text-405 text-neutral-400 max-w-500-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
               The ability to learn at my own pace was a game-changer for me. The flexible schedule allowed me to balance my studies with work and personal life
            </p>
        </div>
    </div>
    <div class="container max-w-1620-px">
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="bg-white tw-p-4 tw-rounded-xl banner-two-shadow-one group-item animation-item">
                    <div class="position-relative tw-mb-13">
                        <a href="teacher-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/our-teacher-three-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </a>
                        <div class="tw-blcok group-hover-item-d-none">
                            <button type="button" class="tw-w-12 tw-h-12 tw-mb-main-10 tw-text-505 d-flex justify-content-center align-items-center rounded-circle text-main-600 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--20-px">
                                <i class="ph-fill ph-paper-plane-tilt"></i>
                            </button>
                        </div>
                        <div class="tw-none group-hover-item-d-block tw-duration-300">
                            <ul class="d-flex align-items-center tw-gap-105 position-absolute bottom-0 tw-start-0 translate-middle-x tw-start-50 tw-mb-5 tw-px-3">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.x.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-x-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.dribbble.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-dribbble-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="teacher-details.html" class="fw-semibold tw-text-505 text-neutral-500 d-block tw-mb-2 hover-text-main-600">
                            Jonathan Bean
                        </a>
                        <span class="fw-normal tw-text-4 text-neutral-400 tw-mb-5">
                            Web Developer
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="bg-white tw-p-4 tw-rounded-xl banner-two-shadow-one group-item animation-item">
                    <div class="position-relative tw-mb-13">
                        <a href="teacher-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/our-teacher-three-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </a>
                        <div class="tw-blcok group-hover-item-d-none">
                            <button type="button" class="tw-w-12 tw-h-12 tw-mb-main-10 tw-text-505 d-flex justify-content-center align-items-center rounded-circle text-main-600 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--20-px">
                                <i class="ph-fill ph-paper-plane-tilt"></i>
                            </button>
                        </div>
                        <div class="tw-none group-hover-item-d-block tw-duration-300">
                            <ul class="d-flex align-items-center tw-gap-105 position-absolute bottom-0 tw-start-0 translate-middle-x tw-start-50 tw-mb-5 tw-px-3">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.x.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-x-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.dribbble.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-dribbble-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="teacher-details.html" class="fw-semibold tw-text-505 text-neutral-500 d-block tw-mb-2 hover-text-main-600">
                            Amena Mariam
                        </a>
                        <span class="fw-normal tw-text-4 text-neutral-400 tw-mb-5">
                            Web Developer
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="bg-white tw-p-4 tw-rounded-xl banner-two-shadow-one group-item animation-item">
                    <div class="position-relative tw-mb-13">
                        <a href="teacher-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/our-teacher-three-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </a>
                        <div class="tw-blcok group-hover-item-d-none">
                            <button type="button" class="tw-w-12 tw-h-12 tw-mb-main-10 tw-text-505 d-flex justify-content-center align-items-center rounded-circle text-main-600 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--20-px">
                                <i class="ph-fill ph-paper-plane-tilt"></i>
                            </button>
                        </div>
                        <div class="tw-none group-hover-item-d-block tw-duration-300">
                            <ul class="d-flex align-items-center tw-gap-105 position-absolute bottom-0 tw-start-0 translate-middle-x tw-start-50 tw-mb-5 tw-px-3">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.x.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-x-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.dribbble.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-dribbble-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="teacher-details.html" class="fw-semibold tw-text-505 text-neutral-500 d-block tw-mb-2 hover-text-main-600">
                            Mike Fermalin
                        </a>
                        <span class="fw-normal tw-text-4 text-neutral-400 tw-mb-5">
                            Web Developer
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                <div class="bg-white tw-p-4 tw-rounded-xl banner-two-shadow-one group-item animation-item">
                    <div class="position-relative tw-mb-13">
                        <a href="teacher-details.html" class="w-100 overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/our-teacher-three-img4.png" alt="img" class="w-100 course-item__img tw-duration-300">
                        </a>
                        <div class="tw-blcok group-hover-item-d-none">
                            <button type="button" class="tw-w-12 tw-h-12 tw-mb-main-10 tw-text-505 d-flex justify-content-center align-items-center rounded-circle text-main-600 position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--20-px">
                                <i class="ph-fill ph-paper-plane-tilt"></i>
                            </button>
                        </div>
                        <div class="tw-none group-hover-item-d-block tw-duration-300">
                            <ul class="d-flex align-items-center tw-gap-105 position-absolute bottom-0 tw-start-0 translate-middle-x tw-start-50 tw-mb-5 tw-px-3">
                                <li>
                                    <a href="https://www.facebook.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.x.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-x-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.dribbble.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-dribbble-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" class="tw-w-12 tw-h-12 bg-white rounded-circle d-flex justify-content-center align-items-center tw-text-505 text-neutral-500 hover-bg-main-600 hover-text-white tw-duration-300">
                                        <i class="ph-bold ph-instagram-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="teacher-details.html" class="fw-semibold tw-text-505 text-neutral-500 d-block tw-mb-2 hover-text-main-600">
                            Sarah Morgan
                        </a>
                        <span class="fw-normal tw-text-4 text-neutral-400 tw-mb-5">
                            Web Developer
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =================== teacher section end ==================== -->