<!-- ========================== our blog section start ========================== -->
<section class="py-110 position-relative">
    <img src="assets/images/shape/blog-six-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-me-17 z-n1 animation-scalation tw-mt--256px d-xxl-block d-none">
    <div class="container">
        <div class="text-center tw-mb-13">
            <span class="fw-medium tw-text-305 tw-py-2 tw-px-5 bg-main-50 text-main-600 tw-rounded-sm tw-mb-5 tw-letter-space-2-px">OUR BLOG</span>
            <h4 class="fw-semibold text-neutral-600">
                Get All Blog & News with EduAll
            </h4>
        </div>
        <div class="row gy-4">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="tw-py-4 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <span class="overflow-hidden tw-rounded-xl w-100 h-100 max-h-300-px">
                        <img src="assets/images/thumbs/marketing-img1.png" alt="img" class="bg-img tw-duration-300 course-item__img">
                    </span>
                    <div class="tw-px-2 tw-pt-7 tw-pb-305">
                        <span class="fw-medium tw-text-4 text-main-600 tw-mb-4">BUSINESS , EDUCATION</span>
                        <a href="blog-details.html" class="fw-medium tw-text-505 text-neutral-800">
                            Choosing the Right Online Course for Your Goals
                        </a>
                        <span class="w-100 tw-h-px bg-neutral-80 tw-my-505"></span>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-405 text-warning-500">
                                    <i class="ph ph-calendar-blank"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-100">
                                    09 May, 2026
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-405 text-warning-500">
                                    <i class="ph ph-chat-circle"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-100">
                                    00 Comments
                                </span>
                            </div>
                        </div>
                        <p class="fw-normal tw-text-405 text-neutral-300">We offer end-to-end creative services that help you engage...</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="tw-py-4 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <span class="overflow-hidden tw-rounded-xl w-100 h-100 max-h-300-px">
                        <img src="assets/images/thumbs/event-details-img3.png" alt="img" class="bg-img tw-duration-300 course-item__img">
                    </span>
                    <div class="tw-px-2 tw-pt-7 tw-pb-305">
                        <span class="fw-medium tw-text-4 text-main-600 tw-mb-4">BUSINESS , EDUCATION</span>
                        <a href="blog-details.html" class="fw-medium tw-text-505 text-neutral-800">
                            Choosing the Right Online Course for Your Goals
                        </a>
                        <span class="w-100 tw-h-px bg-neutral-80 tw-my-505"></span>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-405 text-warning-500">
                                    <i class="ph ph-calendar-blank"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-100">
                                    09 May, 2026
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-405 text-warning-500">
                                    <i class="ph ph-chat-circle"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-100">
                                    00 Comments
                                </span>
                            </div>
                        </div>
                        <p class="fw-normal tw-text-405 text-neutral-300">We offer end-to-end creative services that help you engage...</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="tw-py-4 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <span class="overflow-hidden tw-rounded-xl w-100 h-100 max-h-300-px">
                        <img src="assets/images/thumbs/our-blog-img1.png" alt="img" class="bg-img tw-duration-300 course-item__img">
                    </span>
                    <div class="tw-px-2 tw-pt-7 tw-pb-305">
                        <span class="fw-medium tw-text-4 text-main-600 tw-mb-4">BUSINESS , EDUCATION</span>
                        <a href="blog-details.html" class="fw-medium tw-text-505 text-neutral-800">
                            Choosing the Right Online Course for Your Goals
                        </a>
                        <span class="w-100 tw-h-px bg-neutral-80 tw-my-505"></span>
                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-405 text-warning-500">
                                    <i class="ph ph-calendar-blank"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-100">
                                    09 May, 2026
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-405 text-warning-500">
                                    <i class="ph ph-chat-circle"></i>
                                </span>
                                <span class="fw-medium tw-text-4 text-neutral-100">
                                    00 Comments
                                </span>
                            </div>
                        </div>
                        <p class="fw-normal tw-text-405 text-neutral-300">We offer end-to-end creative services that help you engage...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== our blog section end ========================== -->