<!-- ============================= popular categories section start ============================= -->
<section class="bg-main-50 pt-100 pb-140 position-relative">
    <img src="assets/images/shape/popular-categories-shape4.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt-8 animation-upDown d-xl-block d-none">
    <img src="assets/images/shape/popular-categories-shape3.png" alt="shape" class="position-absolute top-0 tw-end-0 animation-scalation tw-mt--100-px tw-me-134px d-xl-block d-none">
    <img src="assets/images/shape/popular-categories-shape1.png" alt="shape" class="position-absolute bottom-0 tw-start-0 animation-scalation tw-ms-150-px tw-mb-160px d-xl-block d-none">
    <img src="assets/images/shape/popular-categories-shape2.png" alt="shape" class="position-absolute top-50 translate-middle-y tw-start-0 animation-scalation tw-ms-100-px d-xl-block d-none">
    <img src="assets/images/shape/banner-shape-3.png" alt="shape" class="position-absolute top-0 tw-start-0 animation-scalation tw-mt-160px tw-ms-340px tw-ms-100-px d-xl-block d-none">
    <div class="container">
        <div class="text-center tw-mb-10">
            <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                    <i class="ph-fill ph-star-four"></i>
                </span>
                <span class="fw-normal tw-text-4 text-main-600">
                   Popular Categories
                </span>
            </div>
            <h3 class="fw-semibold text-neutral-950 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                Popular Categories
            </h3>
            <p class="fw-normal tw-text-4 text-neutral-400" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                The ability to learn at my own pace was a game-changer for me. The flexible schedule<br> allowed me to balance my studies with work and personal life
            </p>
        </div>
        <div class="d-flex align-items-center tw-gap-5 flex-wrap justify-content-center">
            <div class="group">
                <div class="tw-py-9 tw-px-14 bg-white tw-rounded-xl group group-hover-shadow-about-us-three tw-duration-300 text-center animation-item group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-84-px tw-h-84-px border-main-50 border rounded-circle d-flex align-items-center justify-content-center tw-mb-4 text-main-600 group-hover-bg-main-600 tw-duration-300">
                        <img src="assets/images/icon/popularg-atrgories-icon1.png" alt="icon" class="animate__bounce group-hover-item-text-invert-white">
                    </span>
                    <span class="fw-medium tw-text-4 text-neutral-500">
                        Finance and<br> Accounting
                    </span>
                </div>
            </div>
            <div class="group">
                <div class="tw-py-9 tw-px-14 bg-white tw-rounded-xl group group-hover-shadow-about-us-three tw-duration-300 text-center animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                    <span class="tw-w-84-px tw-h-84-px border-main-50 border rounded-circle d-flex align-items-center justify-content-center tw-mb-4 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                        <span class="animate__bounce tw-text-10">
                            <i class="ph-bold ph-desktop"></i>
                        </span>
                    </span>
                    <span class="fw-medium tw-text-4 text-neutral-500">
                        Computer<br> Science
                    </span>
                </div>
            </div>
            <div class="group">
                <div class="tw-py-9 tw-px-14 bg-white tw-rounded-xl group group-hover-shadow-about-us-three tw-duration-300 text-center animation-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <span class="tw-w-84-px tw-h-84-px border-main-50 border rounded-circle d-flex align-items-center justify-content-center tw-mb-4 text-main-600 group-hover-bg-main-600 group-hover-text-white tw-duration-300">
                        <span class="animate__bounce tw-text-10">
                            <i class="ph-bold ph-game-controller"></i>
                        </span>
                    </span>
                    <span class="fw-medium tw-text-4 text-neutral-500">
                        3D Gaming<br> Studio
                    </span>
                </div>
            </div>
            <div class="group">
                <div class="tw-py-9 tw-px-14 bg-white tw-rounded-xl group group-hover-shadow-about-us-three tw-duration-300 text-center animation-item group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                    <span class="tw-w-84-px tw-h-84-px border-main-50 border rounded-circle d-flex align-items-center justify-content-center tw-mb-4 text-main-600 group-hover-bg-main-600 tw-duration-300">
                        <img src="assets/images/icon/popularg-atrgories-icon2.png" alt="icon" class="animate__bounce group-hover-item-text-invert-white">
                    </span>
                    <span class="fw-medium tw-text-4 text-neutral-500">
                        SEO And<br> Marketing
                    </span>
                </div>
            </div>
            <div class="group">
                <div class="tw-py-9 tw-px-14 bg-white tw-rounded-xl group group-hover-shadow-about-us-three tw-duration-300 text-center animation-item group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <span class="tw-w-84-px tw-h-84-px border-main-50 border rounded-circle d-flex align-items-center justify-content-center tw-mb-4 text-main-600 group-hover-bg-main-600 tw-duration-300">
                        <img src="assets/images/icon/popularg-atrgories-icon3.png" alt="icon" class="animate__bounce group-hover-item-text-invert-white">
                    </span>
                    <span class="fw-medium tw-text-4 text-neutral-500">
                        Art And<br> Design
                    </span>
                </div>
            </div>
            <div class="group">
                <div class="tw-py-9 tw-px-14 bg-white tw-rounded-xl group group-hover-shadow-about-us-three tw-duration-300 text-center animation-item group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <span class="tw-w-84-px tw-h-84-px border-main-50 border rounded-circle d-flex align-items-center justify-content-center tw-mb-4 text-main-600 group-hover-bg-main-600 tw-duration-300">
                        <img src="assets/images/icon/popularg-atrgories-icon4.png" alt="icon" class="animate__bounce group-hover-item-text-invert-white">
                    </span>
                    <span class="fw-medium tw-text-4 text-neutral-500">
                        Business<br> Management
                    </span>
                </div>
            </div>
            <div class="group">
                <div class="tw-py-9 tw-px-14 bg-white tw-rounded-xl group group-hover-shadow-about-us-three tw-duration-300 text-center animation-item group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <span class="tw-w-84-px tw-h-84-px border-main-50 border rounded-circle d-flex align-items-center justify-content-center tw-mb-4 text-main-600 group-hover-bg-main-600 tw-duration-300">
                        <img src="assets/images/icon/popularg-atrgories-icon5.png" alt="icon" class="animate__bounce group-hover-item-text-invert-white">
                    </span>
                    <span class="fw-medium tw-text-4 text-neutral-500">
                        Personal<br> Development
                    </span>
                </div>
            </div>
            <div class="group">
                <div class="tw-py-9 tw-px-14 bg-white tw-rounded-xl group group-hover-shadow-about-us-three tw-duration-300 text-center animation-item group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="450">
                    <span class="tw-w-84-px tw-h-84-px border-main-50 border rounded-circle d-flex align-items-center justify-content-center tw-mb-4 text-main-600 group-hover-bg-main-600 tw-duration-300">
                        <img src="assets/images/icon/popularg-atrgories-icon6.png" alt="icon" class="animate__bounce group-hover-item-text-invert-white">
                    </span>
                    <span class="fw-medium tw-text-4 text-neutral-500">
                        High-Tech<br> Company
                    </span>
                </div>
            </div>
            <div class="group">
                <div class="tw-py-9 tw-px-14 bg-white tw-rounded-xl group group-hover-shadow-about-us-three tw-duration-300 text-center animation-item group-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                    <span class="tw-w-84-px tw-h-84-px border-main-50 border rounded-circle d-flex align-items-center justify-content-center tw-mb-4 text-main-600 group-hover-bg-main-600 tw-duration-300">
                        <img src="assets/images/icon/popularg-atrgories-icon7.png" alt="icon" class="animate__bounce group-hover-item-text-invert-white">
                    </span>
                    <span class="fw-medium tw-text-4 text-neutral-500">
                        IT Startup<br> Agency
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= popular categories section end ============================= -->