<!-- ============================= popular categories section start ============================= -->
<section>
    <div class="container">
        <div class="text-center tw-mb-10">
            <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-main-50 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                    <i class="ph-fill ph-star-four"></i>
                </span>
                <span class="fw-normal tw-text-4 text-main-600">
                   Popular Categories
                </span>
            </div>
            <h3 class="fw-semibold text-neutral-950 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                Popular Our Course Categories
            </h3>
            <p class="fw-normal tw-text-4 text-neutral-400" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                Use the list below to bring attention to your product's key<br> differentiator. equity invested markets.
            </p>
        </div>
        <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-md-3 row-cols-sm-2 row-cols-1 gy-3">
            <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <a href="course-details.html" class="tw-py-4 tw-px-5 bg-denger-100 w-100 tw-rounded-lg animation-item">
                    <div class="d-flex align-items-center tw-gap-4 justify-content-start">
                        <span>
                            <img src="assets/images/icon/popular-categori-icon1.png" alt="icon" class="animate__swing">
                        </span>
                        <div class="">
                            <span class="fw-semibold tw-text-4 text-neutral-500 d-block tw-mb-1">
                                denger
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-500">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <a href="course-details.html" class="tw-py-4 tw-px-5 bg-blue-100 w-100 tw-rounded-lg animation-item">
                    <div class="d-flex align-items-center tw-gap-4 justify-content-start">
                        <span>
                            <img src="assets/images/icon/popular-categori-icon2.png" alt="icon" class="animate__swing">
                        </span>
                        <div class="">
                            <span class="fw-semibold tw-text-4 text-neutral-500 d-block tw-mb-1">
                                C. Science
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-500">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <a href="course-details.html" class="tw-py-4 tw-px-5 bg-warming-100 w-100 tw-rounded-lg animation-item">
                    <div class="d-flex align-items-center tw-gap-4 justify-content-start">
                        <span>
                            <img src="assets/images/icon/popular-categori-icon3.png" alt="icon" class="animate__swing">
                        </span>
                        <div class="">
                            <span class="fw-semibold tw-text-4 text-neutral-500 d-block tw-mb-1">
                                Art
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-500">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                <a href="course-details.html" class="tw-py-4 tw-px-5 bg-main-50 w-100 tw-rounded-lg animation-item">
                    <div class="d-flex align-items-center tw-gap-4 justify-content-start">
                        <span>
                            <img src="assets/images/icon/popular-categori-icon4.png" alt="icon" class="animate__swing">
                        </span>
                        <div class="">
                            <span class="fw-semibold tw-text-4 text-neutral-500 d-block tw-mb-1">
                                Marketing
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-500">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <a href="course-details.html" class="tw-py-4 tw-px-5 bg-warming-100 w-100 tw-rounded-lg animation-item">
                    <div class="d-flex align-items-center tw-gap-4 justify-content-start">
                        <span>
                            <img src="assets/images/icon/popular-categori-icon5.png" alt="icon" class="animate__swing">
                        </span>
                        <div class="">
                            <span class="fw-semibold tw-text-4 text-neutral-500 d-block tw-mb-1">
                                Business
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-500">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <a href="course-details.html" class="tw-py-4 tw-px-5 bg-main-50 w-100 tw-rounded-lg animation-item">
                    <div class="d-flex align-items-center tw-gap-4 justify-content-start">
                        <span>
                            <img src="assets/images/icon/popular-categori-icon6.png" alt="icon" class="animate__swing">
                        </span>
                        <div class="">
                            <span class="fw-semibold tw-text-4 text-neutral-500 d-block tw-mb-1">
                                High-Tech
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-500">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <a href="course-details.html" class="tw-py-4 tw-px-5 bg-warming-100 w-100 tw-rounded-lg animation-item">
                    <div class="d-flex align-items-center tw-gap-4 justify-content-start">
                        <span>
                            <img src="assets/images/icon/popular-categori-icon7.png" alt="icon" class="animate__swing">
                        </span>
                        <div class="">
                            <span class="fw-semibold tw-text-4 text-neutral-500 d-block tw-mb-1">
                                IT Startup
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-500">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <a href="course-details.html" class="tw-py-4 tw-px-5 bg-main-50 w-100 tw-rounded-lg animation-item">
                    <div class="d-flex align-items-center tw-gap-4 justify-content-start">
                        <span>
                            <img src="assets/images/icon/popular-categori-icon8.png" alt="icon" class="animate__swing">
                        </span>
                        <div class="">
                            <span class="fw-semibold tw-text-4 text-neutral-500 d-block tw-mb-1">
                                Painting
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-500">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                <a href="course-details.html" class="tw-py-4 tw-px-5 w-100 bg-blue-100 tw-rounded-lg animation-item">
                    <div class="d-flex align-items-center tw-gap-4 justify-content-start">
                        <span>
                            <img src="assets/images/icon/popular-categori-icon9.png" alt="icon" class="animate__swing">
                        </span>
                        <div class="">
                            <span class="fw-semibold tw-text-4 text-neutral-500 d-block tw-mb-1">
                                Lifestyle
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-500">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col tw-px-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <a href="course-details.html" class="tw-py-4 tw-px-5 bg-denger-100 w-100 tw-rounded-lg animation-item">
                    <div class="d-flex align-items-center tw-gap-4 justify-content-start">
                        <span>
                            <img src="assets/images/icon/popular-categori-icon10.png" alt="icon" class="animate__swing">
                        </span>
                        <div class="">
                            <span class="fw-semibold tw-text-4 text-neutral-500 d-block tw-mb-1">
                                Development
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-500">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ============================= popular categories section end ============================= -->