<!-- ======================== popular course tab section start ============================ -->
<div class="row gy-4">
    <div class="col-xl-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
        <div class="bg-white tw-py-105 tw-ps-105 tw-pe-7 tw-rounded-xl border-main-50 border hover-details-two-shadow-one tw-duration-300 d-flex align-items-center tw-gap-5 flex-sm-nowrap flex-wrap justify-content-between">
            <span class="tw-w-209-px w-100">
                <img src="assets/images/thumbs/popular-tab-two-img1.png" alt="img" class="tw-w-209-px w-100">
            </span>
            <div class="max-w-352-px tw-media-max-w-480-px w-100">
                <div class="d-flex align-items-center tw-gap-1 flex-wrap tw-mb-4">
                    <ul class="d-flex align-items-center tw-gap-1">
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <span class="fw-normal tw-text-4 text-neutral-100">
                        (4.50)
                    </span>
                </div>
                <h6>
                    <a href="course-details.html" class="text-neutral-500 tw-mb-4">
                        Effective Teamwork & Project Management
                    </a>
                </h6>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                    <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                        <span class="tw-text-405 text-main-600">
                            <i class="ph-fill ph-graduation-cap"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Lessons: <strong>34</strong>
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                        <span class="tw-text-405 text-main-600">
                            <i class="ph-bold ph-user"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Students :<strong> 654+</strong>
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                    <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">View Details</span>
                    </a>
                    <h5 class="fw-semibold text-main-600 ">
                        $645.00
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
        <div class="bg-white tw-py-105 tw-ps-105 tw-pe-7 tw-rounded-xl border-main-50 border hover-details-two-shadow-one tw-duration-300 d-flex align-items-center tw-gap-5 flex-sm-nowrap flex-wrap justify-content-between">
            <span class="tw-w-209-px w-100">
                <img src="assets/images/thumbs/popular-tab-two-img4.png" alt="img" class="tw-w-209-px w-100">
            </span>
            <div class="max-w-352-px tw-media-max-w-480-px w-100">
                <div class="d-flex align-items-center tw-gap-1 flex-wrap tw-mb-4">
                    <ul class="d-flex align-items-center tw-gap-1">
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <span class="fw-normal tw-text-4 text-neutral-100">
                        (4.50)
                    </span>
                </div>
                <h6>
                    <a href="course-details.html" class="text-neutral-500 tw-mb-4">
                        Advanced Java Programming with Eclipse
                    </a>
                </h6>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                    <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                        <span class="tw-text-405 text-main-600">
                            <i class="ph-fill ph-graduation-cap"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Lessons: <strong>34</strong>
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                        <span class="tw-text-405 text-main-600">
                            <i class="ph-bold ph-user"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Students :<strong> 654+</strong>
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                    <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">View Details</span>
                    </a>
                    <h5 class="fw-semibold text-main-600 ">
                        $645.00
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
        <div class="bg-white tw-py-105 tw-ps-105 tw-pe-7 tw-rounded-xl border-main-50 border hover-details-two-shadow-one tw-duration-300 d-flex align-items-center tw-gap-5 flex-sm-nowrap flex-wrap justify-content-between">
            <span class="tw-w-209-px w-100">
                <img src="assets/images/thumbs/popular-tab-two-img3.png" alt="img" class="tw-w-209-px w-100">
            </span>
            <div class="max-w-352-px tw-media-max-w-480-px w-100">
                <div class="d-flex align-items-center tw-gap-1 flex-wrap tw-mb-4">
                    <ul class="d-flex align-items-center tw-gap-1">
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <span class="fw-normal tw-text-4 text-neutral-100">
                        (4.50)
                    </span>
                </div>
                <h6>
                    <a href="course-details.html" class="text-neutral-500 tw-mb-4">
                        Web Development Masterclass & Certifications
                    </a>
                </h6>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                    <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                        <span class="tw-text-405 text-main-600">
                            <i class="ph-fill ph-graduation-cap"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Lessons: <strong>34</strong>
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                        <span class="tw-text-405 text-main-600">
                            <i class="ph-bold ph-user"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Students :<strong> 654+</strong>
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                    <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">View Details</span>
                    </a>
                    <h5 class="fw-semibold text-main-600 ">
                        $645.00
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
        <div class="bg-white tw-py-105 tw-ps-105 tw-pe-7 tw-rounded-xl border-main-50 border hover-details-two-shadow-one tw-duration-300 d-flex align-items-center tw-gap-5 flex-sm-nowrap flex-wrap justify-content-between">
            <span class="tw-w-209-px w-100">
                <img src="assets/images/thumbs/popular-tab-two-img2.png" alt="img" class="tw-w-209-px w-100">
            </span>
            <div class="max-w-352-px tw-media-max-w-480-px w-100">
                <div class="d-flex align-items-center tw-gap-1 flex-wrap tw-mb-4">
                    <ul class="d-flex align-items-center tw-gap-1">
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="tw-text-5 text-main-600">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <span class="fw-normal tw-text-4 text-neutral-100">
                        (4.50)
                    </span>
                </div>
                <h6>
                    <a href="course-details.html" class="text-neutral-500 tw-mb-4">
                        Branding & Digital Communication Strategy
                    </a>
                </h6>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap tw-mb-4">
                    <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                        <span class="tw-text-405 text-main-600">
                            <i class="ph-fill ph-graduation-cap"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Lessons: <strong>34</strong>
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                        <span class="tw-text-405 text-main-600">
                            <i class="ph-bold ph-user"></i>
                        </span>
                        <span class="fw-normal tw-text-4 text-neutral-400">
                            Students :<strong> 654+</strong>
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                    <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">View Details</span>
                    </a>
                    <h5 class="fw-semibold text-main-600 ">
                        $645.00
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tw-mt-12 d-flex align-items-center justify-content-center">
    <a href="course-details.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-5 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border" data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
        <span class="button__flair"></span>
        <span class="button__label fw-bold tw-text-4">Browse All Courses</span>
    </a>
</div>
<!-- ======================== popular course tab section end ============================ -->