<!-- ============================= popular categories section start ============================= -->
<section>
    <div class="container">
        <div class="d-flex align-items-center tw-gap-140-px flex-wrap tw-mb-12">
            <div>
                <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-main-50 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                        <i class="ph-fill ph-star-four"></i>
                    </span>
                    <span class="fw-normal tw-text-4 text-main-600">
                       PPopular Categories
                    </span>
                </div>
                <h3 class="fw-semibold text-neutral-950" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    Popular Categories
                </h3>
            </div>
            <p class="fw-normal tw-text-4 text-neutral-400 max-w-450-px" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                Use the list below to bring attention to your product’s key differentiator. equity invested markets.
            </p>
        </div>
        <div class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 gy-4 align-items-center">
            <div class="col">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="group tw-mb-5">
                        <div class="tw-p-7 tw-rounded-xl tw-mb-main-10 animation-item text-center group-hover-bg-danger-700 tw-duration-300">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex justify-content-center align-items-center tw-mb-6">
                                    <img src="assets/images/icon/popular-categori-icon4.png" alt="icon" class="animate__wobble">
                                </span>
                            </div>
                            <span class="fw-semibold text-neutral-500 d-block tw-mb-3 group-hover-text-white tw-duration-300">
                                SEO And Marketing
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-300 group-hover-text-white tw-duration-300">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="group">
                        <div class="tw-p-7 tw-rounded-xl tw-mb-main-10 animation-item text-center group-hover-bg-danger-700 tw-duration-300">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex justify-content-center align-items-center tw-mb-6">
                                    <img src="assets/images/icon/popular-catagories-four-icon1.png" alt="icon" class="animate__wobble">
                                </span>
                            </div>
                            <span class="fw-semibold text-neutral-500 d-block tw-mb-3 group-hover-text-white tw-duration-300">
                                Finance and Accounting
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-300 group-hover-text-white tw-duration-300">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="150">
                    <div class="group">
                        <div class="tw-p-7 tw-rounded-xl tw-mb-main-10 animation-item text-center group-hover-bg-danger-700 tw-duration-300">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex justify-content-center align-items-center tw-mb-6">
                                    <img src="assets/images/icon/popular-catagories-four-icon2.png" alt="icon" class="animate__wobble">
                                </span>
                            </div>
                            <span class="fw-semibold text-neutral-500 d-block tw-mb-3 group-hover-text-white tw-duration-300">
                                3D Gaming Studio
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-300 group-hover-text-white tw-duration-300">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="group tw-mb-5">
                        <div class="tw-p-7 tw-rounded-xl tw-mb-main-10 animation-item text-center group-hover-bg-danger-700 tw-duration-300">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex justify-content-center align-items-center tw-mb-6">
                                    <img src="assets/images/icon/popular-catagories-four-icon3.png" alt="icon" class="animate__wobble">
                                </span>
                            </div>
                            <span class="fw-semibold text-neutral-500 d-block tw-mb-3 group-hover-text-white tw-duration-300">
                                Computer Science
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-300 group-hover-text-white tw-duration-300">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="group">
                        <div class="tw-p-7 tw-rounded-xl tw-mb-main-10 animation-item text-center group-hover-bg-danger-700 tw-duration-300">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex justify-content-center align-items-center tw-mb-6">
                                    <img src="assets/images/icon/popular-catagories-four-icon4.png" alt="icon" class="animate__wobble">
                                </span>
                            </div>
                            <span class="fw-semibold text-neutral-500 d-block tw-mb-3 group-hover-text-white tw-duration-300">
                                Personal Development
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-300 group-hover-text-white tw-duration-300">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                    <div class="group">
                        <div class="tw-p-7 tw-rounded-xl tw-mb-main-10 animation-item text-center group-hover-bg-danger-700 tw-duration-300">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex justify-content-center align-items-center tw-mb-6">
                                    <img src="assets/images/icon/popular-categori-icon8.png" alt="icon" class="animate__wobble">
                                </span>
                            </div>
                            <span class="fw-semibold text-neutral-500 d-block tw-mb-3 group-hover-text-white tw-duration-300">
                                Art And Design
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-300 group-hover-text-white tw-duration-300">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="group tw-mb-5">
                        <div class="tw-p-7 tw-rounded-xl tw-mb-main-10 animation-item text-center group-hover-bg-danger-700 tw-duration-300">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex justify-content-center align-items-center tw-mb-6">
                                    <img src="assets/images/icon/popular-catagories-four-icon5.png" alt="icon" class="animate__wobble">
                                </span>
                            </div>
                            <span class="fw-semibold text-neutral-500 d-block tw-mb-3 group-hover-text-white tw-duration-300">
                                High-Tech Company
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-300 group-hover-text-white tw-duration-300">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="group">
                        <div class="tw-p-7 tw-rounded-xl tw-mb-main-10 animation-item text-center group-hover-bg-danger-700 tw-duration-300">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex justify-content-center align-items-center tw-mb-6">
                                    <img src="assets/images/icon/popular-catagories-four-icon6.png" alt="icon" class="animate__wobble">
                                </span>
                            </div>
                            <span class="fw-semibold text-neutral-500 d-block tw-mb-3 group-hover-text-white tw-duration-300">
                                IT Startup Agency
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-300 group-hover-text-white tw-duration-300">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                    <div class="group">
                        <div class="tw-p-7 tw-rounded-xl tw-mb-main-10 animation-item text-center group-hover-bg-danger-700 tw-duration-300">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="tw-w-84-px tw-h-84-px bg-white rounded-circle d-flex justify-content-center align-items-center tw-mb-6">
                                    <img src="assets/images/icon/popular-catagories-four-icon7.png" alt="icon" class="animate__wobble">
                                </span>
                            </div>
                            <span class="fw-semibold text-neutral-500 d-block tw-mb-3 group-hover-text-white tw-duration-300">
                                Business Management
                            </span>
                            <span class="fw-normal tw-text-305 text-neutral-300 group-hover-text-white tw-duration-300">
                                07 Courses
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= popular categories section end ============================= -->