<!-- ======================== Promotional banner section start ====================== -->
<section class="tw-pt-15 mt-5 pb-100">
    <div class="container max-w-1360-px">
        <div class="row gy-4">
            <div class="col-md-6">
                <div class="position-relative z-1 tw-py-12 tw-px-9 tw-rounded-3xl overflow-hidden h-100 bg-main-600">
                    <div class="position-absolute start-0 top-0 w-100 h-100 z-n1">
                        <img src="assets/images/thumbs/promo-banner-bg.png" alt="BG"
                            class="w-100 h-100 object-fit-cover">
                    </div>
                    <div class="">
                        <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white-22 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4"
                            data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <span
                                class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                                <i class="ph-fill ph-star-four"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-white">
                                Big Offer
                            </span>
                        </div>
                        <h2 class="text-white h4 max-w-330-px">Enroll Now and Save Big on Quality Learning</h2>
                        <div class="tw-mt-7">
                            <a href="course-grid.html"
                                class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-0"
                                data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold tw-text-4">Browse Courses</span>
                            </a>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 end-0 tw-me-3 z-n1 d-xl-block d-none">
                        <img src="assets/images/thumbs/promo-banner-img1.png" alt="Promo Image 1">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div
                    class="position-relative z-1 tw-py-12 tw-px-9 tw-rounded-3xl overflow-hidden h-100 bg-main-three-600">
                    <div class="">
                        <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-black-22 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4"
                            data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <span
                                class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                                <i class="ph-fill ph-star-four"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-white">
                                Online Courses
                            </span>
                        </div>
                        <h2 class="h4 max-w-330-px">Find the Perfect Course for Your Carrier Goals</h2>
                        <div class="tw-mt-7">
                            <a href="course-grid.html"
                                class="btn btn-main-three hover-style-two button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-0"
                                data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold tw-text-4">Browse Courses</span>
                            </a>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 end-0 tw-me-3 z-n1 d-xl-block d-none">
                        <img src="assets/images/thumbs/promo-banner-img2.png" alt="Promo Image 2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Promotional banner section end ====================== -->