<!-- ========================== our professors section start ========================== -->
<section class="bg-neutral-40 py-110">
    <div class="tw-mb-294-px">
        <div class="container">
            <div class="d-flex align-items-center tw-gap-5 flex-wrap justify-content-between tw-mb-15">
                <div class="max-w-550-px w-100">
                    <span class="fw-medium tw-text-305 text-main-600 tw-mb-6 fst-italic tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">OUR PROFESSORS</span>
                    <h2 class="fw-medium text-main-two-600 tw-text-52-px" data-aos="fade-up" data-aos-duration="800">Meet With Our University's Professors</h2>
                </div>
                <div class="max-w-490-px w-100 d-flex align-items-center tw-gap-7" data-aos="fade-up" data-aos-duration="1000">
                    <span class="tw-w-1 tw-h-75-px bg-main-600 flex-shrink-0"></span>
                    <p class="fw-normal tw-text-405 text-neutral-400">Deserves results. That’s why we offer end-to-end creative services that help you engage your audience, build trust, and grow with confidence.</p>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="600">
                    <div class="animation-item">
                        <span class="overflow-hidden tw-rounded-xl w-100">
                            <a href="teacher-details.html" class="bg-img">
                                <img src="assets/images/thumbs/our-professor-seven-img1.png" alt="img" class="tw-duration-300 w-100 course-item__img">
                            </a>
                        </span>
                        <div class="bg-white tw-py-5 tw-px-12 bg-white tw-rounded-xl text-center max-w-250-px w-100 position-relative tw-mt--60-px mx-auto">
                            <h5 class="fw-medium text-neutral-800 tw-mb-3">John Smith</h5>
                            <span class="fw-normal tw-text-4 text-neutral-400">Associate Professor</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                    <div class="animation-item">
                        <span class="overflow-hidden tw-rounded-xl w-100">
                            <a href="teacher-details.html" class="bg-img">
                                <img src="assets/images/thumbs/our-professor-seven-img2.png" alt="img" class="tw-duration-300 w-100 course-item__img">
                            </a>
                        </span>
                        <div class="bg-white tw-py-5 tw-px-12 bg-white tw-rounded-xl text-center max-w-250-px w-100 position-relative tw-mt--60-px mx-auto">
                            <h5 class="fw-medium text-neutral-800 tw-mb-3">William Smith</h5>
                            <span class="fw-normal tw-text-4 text-neutral-400">Associate Professor</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                    <div class="animation-item">
                        <span class="overflow-hidden tw-rounded-xl w-100">
                            <a href="teacher-details.html" class="bg-img">
                                <img src="assets/images/thumbs/our-professor-seven-img3.png" alt="img" class="tw-duration-300 w-100 course-item__img">
                            </a>
                        </span>
                        <div class="bg-white tw-py-5 tw-px-12 bg-white tw-rounded-xl text-center max-w-250-px w-100 position-relative tw-mt--60-px mx-auto">
                            <h5 class="fw-medium text-neutral-800 tw-mb-3">David John</h5>
                            <span class="fw-normal tw-text-4 text-neutral-400">Associate Professor</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                    <div class="animation-item">
                        <span class="overflow-hidden tw-rounded-xl w-100">
                            <a href="teacher-details.html" class="bg-img">
                                <img src="assets/images/thumbs/our-professor-seven-img4.png" alt="img" class="tw-duration-300 w-100 course-item__img">
                            </a>
                        </span>
                        <div class="bg-white tw-py-5 tw-px-12 bg-white tw-rounded-xl text-center max-w-250-px w-100 position-relative tw-mt--60-px mx-auto">
                            <h5 class="fw-medium text-neutral-800 tw-mb-3">Agenko Smith</h5>
                            <span class="fw-normal tw-text-4 text-neutral-400">Associate Professor</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== our professors section end ========================== -->