<!-- ======================== recent upcoming section start =========================== -->
<section class="py-110">
    <div class="container">
        <div class="text-center tw-mb-16">
            <span class="fw-medium tw-text-305 text-main-600 bg-main-50 tw-py-2 tw-px-5 tw-rounded-sm tw-mb-6 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                EXAM PREPARATION
            </span>
            <h4 class="fw-medium text-neutral-600 hover-text-main-600" data-aos="fade-up" data-aos-duration="800">Recent And Upcoming Our Events</h4>
        </div>
        <div class="row gy-4">

            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="tw-py-4 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/recent-upcoming-five-img1.png" alt="img" class="recent-upcoming-five-img course-item__img tw-duration-300">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="course-details.html" class="fw-medium text-neutral-600 hover-text-main-600 tw-text-405 tw-mb-5 line-clamp-2">Monday Night Concert In Lake View for Education</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <a href="course-details.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                                <span class="button__flair"></span>
                                <span class="tw-w-10 tw-h-10 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                                <span class="button__label fw-medium">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="800">
                <div class="tw-py-4 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/recent-upcoming-five-img2.png" alt="img" class="recent-upcoming-five-img tw-duration-300 course-item__img">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="course-details.html" class="fw-medium text-neutral-600 hover-text-main-600 tw-text-405 tw-mb-5 line-clamp-2">Monday Night Concert In Lake View for Education</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <a href="course-details.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                                <span class="button__flair"></span>
                                <span class="tw-w-10 tw-h-10 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                                <span class="button__label fw-medium">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="tw-py-4 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/recent-upcoming-five-img3.png" alt="img" class="recent-upcoming-five-img tw-duration-300 course-item__img">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="course-details.html" class="fw-medium text-neutral-600 hover-text-main-600 tw-text-405 tw-mb-5 line-clamp-2">Monday Night Concert In Lake View for Education</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <a href="course-details.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                                <span class="button__flair"></span>
                                <span class="tw-w-10 tw-h-10 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                                <span class="button__label fw-medium">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="tw-py-4 tw-px-4 bg-white marketing-shadow tw-rounded-xl animation-item">
                    <div class="d-flex align-items-center tw-gap-6 flex-wrap">
                        <span class="overflow-hidden tw-rounded-xl">
                            <img src="assets/images/thumbs/recent-upcoming-five-img4.png" alt="img" class="recent-upcoming-five-img tw-duration-300 course-item__img">
                        </span>
                        <div class="max-w-274-px w-100 tw-py-505">
                            <a href="course-details.html" class="fw-medium text-neutral-600 hover-text-main-600 tw-text-405 tw-mb-5 line-clamp-2">Monday Night Concert In Lake View for Education</a>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-6">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-calendar-blank"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">11 Jan, 2024</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600 ">
                                        <i class="ph ph-map-pin"></i>
                                    </span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Los Angeles</span>
                                </div>
                            </div>
                            <a href="course-details.html" class="btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                                <span class="button__flair"></span>
                                <span class="tw-w-10 tw-h-10 bg-white rounded-circle text-main-600  d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                                <span class="button__label fw-medium">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ======================== recent upcoming section end =========================== -->