<!-- ========================== reletd courses section start =========================== -->
 <section class="py-110">
    <div class="container">
        <div>
            <div class="text-center tw-mb-15">
                <span class="bg-main-50 tw-py-2 tw-px-5 fw-medium tw-text-305 text-main-600 tw-mb-6 tw-rounded-md" data-aos="fade-up" data-aos-duration="600">RELETD COURSE</span>
                <h2 class="h4 fw-medium text-neutral-600" data-aos="fade-up" data-aos-duration="800">Related Courses</h2>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="600">
                            <div class="animation-item marketing-shadow">
                                <div class="position-relative overflow-hidden tw-rounded-top-8px">
                                    <img src="assets/images/thumbs/our-courses-five-img1.png" alt="img" class="w-100 course-item__img tw-duration-300">
                                    <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                        Drawing
                                    </span>
                                </div>
                                <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-405 text-main-600">
                                                <i class="ph-bold ph-book"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                04 Lessons
                                                </span>
                                        </div>
                                        <div class="d-flex align-items-center tw-gap-105">
                                            <span class="tw-text-5 text-warming-600">
                                                <i class="ph-fill ph-star"></i>
                                            </span>
                                                <span class="tw-text-305 text-neutral-100 fw-medium ">
                                                2.4 (67)
                                                </span>
                                        </div>
                                    </div>
                                    <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                        The Ultimate Drawing Course Beginner to Advanced
                                    </a>
                                    <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                                    <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                                    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                        <div class="d-flex align-items-center tw-gap-3">
                                            <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                            <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                        </div>
                                        <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                                    </div>
                                </div>
            
                            </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="800">
                    <div class="animation-item marketing-shadow">
                        <div class="position-relative overflow-hidden tw-rounded-top-8px">
                            <img src="assets/images/thumbs/our-courses-five-img2.png" alt="img" class="w-100 course-item__img tw-duration-300">
                            <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                Language
                            </span>
                        </div>
                        <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600">
                                        <i class="ph-bold ph-book"></i>
                                    </span>
                                        <span class="tw-text-305 text-neutral-100 fw-medium ">
                                        04 Lessons
                                        </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-5 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                        <span class="tw-text-305 text-neutral-100 fw-medium ">
                                        2.4 (67)
                                        </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                Essential Language Skills for Travel and Business
                            </a>
                            <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                            <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                    <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                </div>
                                <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                    <div class="animation-item marketing-shadow">
                        <div class="position-relative overflow-hidden tw-rounded-top-8px">
                            <img src="assets/images/thumbs/our-courses-five-img3.png" alt="img" class="w-100 course-item__img tw-duration-300">
                            <span class="tw-py-2 tw-px-4 rounded-pill bg-main-600 text-white position-absolute top-0 tw-start-0 tw-mt-3 tw-ms-3">
                                Education
                            </span>
                        </div>
                        <div class="tw-px-5 tw-py-705 bg-white tw-rounded-bottom-12px">
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap tw-mb-5">
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-405 text-main-600">
                                        <i class="ph-bold ph-book"></i>
                                    </span>
                                        <span class="tw-text-305 text-neutral-100 fw-medium ">
                                        04 Lessons
                                        </span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-105">
                                    <span class="tw-text-5 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </span>
                                        <span class="tw-text-305 text-neutral-100 fw-medium ">
                                        2.4 (67)
                                        </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="tw-text-5 fw-medium text-main-600 hover-text-main-600 tw-duration-300 hover-underline tw-line-height-32-px tw-mb-6">
                                From Beginner to Fluent in Record Time for Your Education
                            </a>
                            <p class="fw-normal tw-text-4 text-neutral-300 ">Excepteur sint occaecat cupidatat non for sed proident sunt in culpa qui officia...</p>
                            <span class="w-100 tw-h-px bg-gray-200 tw-mt-5 tw-mb-4"></span>
                            <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <img src="assets/images/thumbs/our-courses-five-img4.png" alt="img" class="">
                                    <span class="fw-bold tw-text-4 text-neutral-100">James Harris</span>
                                </div>
                                <span class="fw-bold tw-text-5 text-gradient-600">$275.00</span>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ========================== reletd courses section end =========================== -->