<!-- =========================== service section start ========================== -->
<section style="background-image: url(assets/images/bg/services-four-bg-img1.png);" class="position-relative pt-150 bg-img overflow-hidden z-2">
    <img src="assets/images/shape/services-shape-two.png" alt="shape" class="position-absolute top-0 tw-end-0  d-xl-block d-none shadow-none z-n1 tw-mt-244-px tw-me-100-px animation-scalation">
    <img src="assets/images/shape/footer-shape2.png" alt="shape" class="position-absolute bottom-0 tw-end-0  d-xl-block d-none tw-mb-100px tw-me-790-px shadow-none z-n1 animation-scalation">
    <div class="container">
        <div class="d-flex align-items-start justify-content-between flex-wrap tw-gap-3 tw-mb-10">
            <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <span class="tw-w-6 tw-h-6 border-main-100 border bg-main-50 rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                    <i class="ph-fill ph-star-four"></i>    
                </span>
                <span class="fw-normal tw-text-4 text-main-600">
                    What We Offer
                </span>
            </div>
            <h3 class="fw-semibold text-white" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                You want to Improve? We<br> Have Methods.
            </h3>
            <span class="d-xl-block d-none" data-aos="zoom-in" data-aos-duration="1200">
                <img src="assets/images/icon/services-icon2.png" alt="icon">
            </span>
        </div>
    </div>
    <div class="container max-w-1500-px">
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="position-relative">
                    <span>
                        <img src="assets/images/thumbs/services-image1.png" alt="img">
                    </span>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="tw-mt-54-px">
                    <div class="services-title tw-mb-5">
                        <h4 class="fw-semibold text-white tw-pb-5">
                            <a href="course-details.html" class="hover-text-white">
                                Expertise and services
                            </a>
                        </h4>
                        <div class="services-text">
                            <a href="blog-details.html" class="d-flex align-items-center tw-gap-4 tw-mb-4">
                                <h4 class="fw-semibold text-white hover-text-white hover-underline">
                                       Our values
                                </h4>
                                <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-4 d-flex align-items-center justify-content-center rounded-circle">
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                            </a>
                            <p class="fw-normal tw-text-4 text-white">
                                Classes on the go with the educrat app. Stream<br> or download to watch on the plane.
                            </p>
                        </div>
                    </div>
                    <div class="services-title tw-mb-5">
                        <h4 class="fw-semibold text-white tw-pb-5">
                            <a href="course-details.html" class="hover-text-white">
                                Corporate coaching
                            </a>
                        </h4>
                        <div class="services-text">
                            <a href="blog-details.html" class="d-flex align-items-center tw-gap-4 tw-mb-4">
                                <h4 class="fw-semibold text-white hover-text-white hover-underline">
                                       Our values
                                </h4>
                                <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-4 d-flex align-items-center justify-content-center rounded-circle">
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                            </a>
                            <p class="fw-normal tw-text-4 text-white">
                                Classes on the go with the educrat app. Stream<br> or download to watch on the plane.
                            </p>
                        </div>
                    </div>
                    <div class="services-title tw-mb-5">
                        <h4 class="fw-semibold text-white tw-pb-5">
                            <a href="course-details.html" class="hover-text-white">
                                Business toolkit
                            </a>
                        </h4>
                        <div class="services-text">
                            <a href="blog-details.html" class="d-flex align-items-center tw-gap-4 tw-mb-4">
                                <h4 class="fw-semibold text-white hover-text-white hover-underline">
                                       Our values
                                </h4>
                                <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-4 d-flex align-items-center justify-content-center rounded-circle">
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                            </a>
                            <p class="fw-normal tw-text-4 text-white">
                                Classes on the go with the educrat app. Stream<br> or download to watch on the plane.
                            </p>
                        </div>
                    </div>
                    <div class="services-title">
                        <h4 class="fw-semibold text-white tw-pb-5">
                            <a href="course-details.html" class="hover-text-white">
                                Meet the team
                            </a>
                        </h4>
                        <div class="services-text">
                            <a href="blog-details.html" class="d-flex align-items-center tw-gap-4 tw-mb-4">
                                <h4 class="fw-semibold text-white hover-text-white hover-underline">
                                       Our values
                                </h4>
                                <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-4 d-flex align-items-center justify-content-center rounded-circle">
                                    <i class="ph-bold ph-arrow-up-right"></i>
                                </span>
                            </a>
                            <p class="fw-normal tw-text-4 text-white">
                                Classes on the go with the educrat app. Stream<br> or download to watch on the plane.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <span>
                    <img src="assets/images/thumbs/services-image2.png" alt="img">
                </span>
            </div>
        </div>
    </div>
</section>
<!-- =========================== service section end ========================== -->