<!-- =========================== slider section start =========================== -->
<div class="tw-mt--294-px">
    <div class="container">
        <div class="bg-main-600 tw-rounded-xl tw-p-5 position-relative">
            <img src="assets/images/icon/slider-seven-icon1.png" alt="icon" class="position-absolute top-0 tw-end-0 tw-mt-705 tw-me-705 d-lg-block d-none">
            <div class="row gy-4 align-items-center">
                <div class="col-lg-4" data-aos="zoom-in" data-aos-duration="1500">
                    <span class="tw-w-100-persent-media">
                        <img src="assets/images/thumbs/slider-seven-img1.png" alt="img" class="tw-w-100-persent-media">
                    </span>
                </div>
                <div class="col-lg-8">
                    <div class="d-flex justify-content-center">
                        <div class="max-w-715-px tw-pe-705 w-100 overflow-hidden">
                            <div class="swiper slider-eight" data-aos="fade-up" data-aos-duration="600">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <ul class="d-flex align-items-center tw-gap-1 tw-mb-10">
                                            <li class="tw-text-7 text-white">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-7 text-white">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-7 text-white">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-7 text-white">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-7 text-white">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                        </ul>
                                        <h3 class="fw-medium text-white tw-mb-12 tw-text-32-px">
                                            “Sollicitudin venenatis risus dolor in dictumst faucibus egestas. Justo at nibh odio lectus malesuada. Enim cras vitae libero nibh tincidunt justo scelerisque. In adipiscing quis eros.”
                                        </h3>
                                    </div>
                                    <div class="swiper-slide">
                                        <ul class="d-flex align-items-center tw-gap-1 tw-mb-10">
                                            <li class="tw-text-7 text-white">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-7 text-white">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-7 text-white">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-7 text-white">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-7 text-white">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                        </ul>
                                        <h3 class="fw-medium text-white tw-mb-12 tw-text-32-px">
                                            “Sollicitudin venenatis risus dolor in dictumst faucibus egestas. Justo at nibh odio lectus malesuada. Enim cras vitae libero nibh tincidunt justo scelerisque. In adipiscing quis eros.”
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap" data-aos="fade-up" data-aos-duration="800">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <img src="assets/images/thumbs/banner-img3.png" alt="img" class="">
                                    <div>
                                        <h6 class="fw-medium text-white tw-mb-1 d-block">John Smith</h6>
                                        <span class="fw-medium tw-text-4 text-white">Small Business Owner</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center tw-gap-2">
                                    <button type="button" id="slider-eight__prev" class="tw-w-11 tw-h-11 tw-text-4 d-flex align-items-center justify-content-center bg-main-two-600 rounded-circle hover-bg-white hover-text-main-600 tw-duration-300 text-white">
                                        <i class="ph-bold ph-caret-left"></i>
                                    </button>
                                    <button type="button" id="slider-eight__next" class="tw-w-11 tw-h-11 tw-text-4 d-flex align-items-center justify-content-center bg-main-two-600 rounded-circle hover-bg-white hover-text-main-600 tw-duration-300 text-white">
                                        <i class="ph-bold ph-caret-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================== slider section end =========================== -->