<!-- ========================= slider section start ====================== -->
<div class="tw-mb-180px position-relative">
    <img src="assets/images/shape/slider-three-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-60--px animation-upDown d-lg-block d-none">
    <img src="assets/images/shape/slider-three-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 tw-mb-60--px animation-upDown d-lg-block d-none">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-5 flex-md-nowrap flex-wrap">
            <button type="button" class="slider-three__button-prev tw-w-15 tw-h-15 tw-border-base-three-600 tw-text-base-three tw-text-405 rounded-circle hover-bg-main-600 d-flex align-items-center justify-content-center hover-border-main-600 tw-duration-300 flex-shrink-0">
                <i class="ph-bold ph-caret-left"></i>
            </button>


            <div class="swiper swiper-slider__three">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
                        <div class="max-w-500-px w-100 text-center mx-auto">
                            <ul class="d-flex align-items-center justify-content-center tw-gap-1 tw-mb-10">
                                <li class="tw-text-7 tw-text-base-three ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-7 tw-text-base-three ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-7 tw-text-base-three ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-7 tw-text-base-three ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-7 tw-text-base-three ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                                <p class="fw-normal tw-text-5 tw-text-base-three tw-mb-10"> He convenience of having everything we need close by has made life so much easier. We really appreciate the local businesses that make our community thrive.</p>
                                <div>
                                    <img src="assets/images/thumbs/slider-three-img1.png" alt="img" class="tw-mb-5">
                                    <span class="fw-medium tw-text-405 text-neutral-950 d-block tw-mb-3">John Smith</span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                                </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
                        <div class="max-w-500-px w-100 text-center mx-auto">
                            <ul class="d-flex align-items-center justify-content-center tw-gap-1 tw-mb-10">
                                <li class="tw-text-7 tw-text-base-three ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-7 tw-text-base-three ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-7 tw-text-base-three ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-7 tw-text-base-three ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-7 tw-text-base-three ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                                <p class="fw-normal tw-text-5 tw-text-base-three tw-mb-10"> He convenience of having everything we need close by has made life so much easier. We really appreciate the local businesses that make our community thrive.</p>
                                <div>
                                    <img src="assets/images/thumbs/slider-three-img1.png" alt="img" class="tw-mb-5">
                                    <span class="fw-medium tw-text-405 text-neutral-950 d-block tw-mb-3">John Smith</span>
                                    <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="slider-three__button-next tw-w-15 tw-h-15 tw-border-base-three-600 tw-text-base-three tw-text-405 rounded-circle hover-bg-main-600 d-flex align-items-center justify-content-center hover-border-main-600 tw-duration-300 flex-shrink-0">
                <i class="ph-bold ph-caret-right"></i>
            </button>
        </div>
    </div>
</div>
<!-- ========================= slider section end ====================== -->