<!-- ================================ slider section start ========================= -->
 <div class="pb-120">
    <div class="container">
        <div class="swiper brand-slider__four">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-aos="fade-up" data-aos-duration="400">
                    <img src="assets/images/thumbs/slider-four-img1.png" alt="img">
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-duration="600">
                    <img src="assets/images/thumbs/slider-four-img2.png" alt="img">
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
                    <img src="assets/images/thumbs/slider-four-img3.png" alt="img">
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
                    <img src="assets/images/thumbs/slider-four-img4.png" alt="img">
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1200">
                    <img src="assets/images/thumbs/slider-four-img5.png" alt="img">
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1300">
                    <img src="assets/images/thumbs/slider-four-img3.png" alt="img">
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- ================================ slider section end ========================= -->