<!-- ========================= start free section start ====================== -->
<section style="background-image: url(assets/images/bg/start-free-two-bg-img1.png);" class="bg-img">
    <div class="container">
        <div class="d-flex align-items-end justify-content-center flex-wrap">
            <span class="d-xl-block d-none"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <img src="assets/images/thumbs/start-free-two-img1.png" alt="img">
            </span>
            <div class="max-w-680-px w-100 text-center py-100"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <h2 class="fw-semibold text-white tw-mb-5">
                    Get Instant Self Development Course
                </h2>
                <p class="fw-normal tw-text-4 text-white tw-mb-12">
                    Learn about how them you went down prying the wedding ring off his cold, dead finger. I don't know what you did, Fry, but once again, you screwed up!
                </p>
                <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-center">
                    <a href="course-details.html" class="btn btn-main-two hover-style-one button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-white border" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">Start For Free</span>
                    </a>
                    <a href="course-details.html" class="btn btn-main hover-style-five button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-white border" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold tw-text-4">Buy Course</span>
                    </a>
                </div>
            </div>
            <span  data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <img src="assets/images/thumbs/start-free-two-img2.png" alt="img">
            </span>
        </div>
    </div>
</section>
<!-- ========================= start free section end ====================== -->