<!-- ======================= student bottom section start ================= -->
 <div class="container">
    <div class="row gy-4">
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="600">
            <div class="position-relative">
                <h2 class="fw-normal text-neutral-20 counter tw-text-108-px">68+</h2>
                <span class="fw-bold tw-text-4 text-main-two-600 position-absolute top-0 tw-start-0 top-50 translate-middle-y">STUDENTS ENROLLED</span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800">
            <div class="position-relative">
                <h2 class="fw-normal text-neutral-20 counter tw-text-108-px">56k+</h2>
                <span class="fw-bold tw-text-4 text-main-two-600 position-absolute top-0 tw-start-0 top-50 translate-middle-y">CLASS COMPLETED</span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
            <div class="position-relative">
                <h2 class="fw-normal text-neutral-20 counter tw-text-108-px">98%</h2>
                <span class="fw-bold tw-text-4 text-main-two-600 position-absolute top-0 tw-start-0 top-50 translate-middle-y">SATISFACTION RATE</span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
            <div class="position-relative">
                <h2 class="fw-normal text-neutral-20 counter tw-text-108-px">23+</h2>
                <span class="fw-bold tw-text-4 text-main-two-600 position-absolute top-0 tw-start-0 top-50 translate-middle-y">TOP INSTRUCTORS</span>
            </div>
        </div>
    </div>
 </div>
<!-- ======================= student bottom section end ================= -->