<!-- ======================= student reviews section start ======================== -->
<section class="py-100 section-bg-gradient position-relative">
    <img src="assets/images/icon/reviews-icon1.png" alt="icon"
        class="position-absolute top-0 tw-start-0 tw-ms-250-px tw-mt-130-px d-lg-block d-none animation-scalation">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="assets/images/thumbs/testi-one-img.png" alt="Testimonials Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <div class="text-start tw-mb-11">
                        <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-white rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-4"
                            data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <span
                                class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                                <i class="ph-fill ph-star-four"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-main-600">
                                Our Student Reviews
                            </span>
                        </div>
                        <h3 class="fw-semibold text-neutral-950 tw-line-height-77-px tw-mb-4" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="200">
                            People Who Understands You
                        </h3>
                        <p class="fw-normal tw-text-405 text-neutral-500" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="300">
                            The ability to learn at my own pace was a game-changer for me.
                        </p>
                    </div>
                </div>
                <div class="swiper student-swiper-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div
                                class="tw-p-10 bg-white tw-rounded-xl border-white border border-2 border-main-600 tw-duration-300 tw-mb-1">
                                <ul class="d-flex align-items-center tw-gap-05 tw-mb-6">
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph ph-star"></i>
                                    </li>
                                </ul>
                                <h4 class="tw-mb-5">“Join of the future education”</h4>
                                <h5 class="fw-medium text-neutral-700 tw-line-height-37-px">
                                    "I've been thoroughly impressed with how engaging and interactive the courses are on this
                                    platform. The use of multimedia, quizzes, and live sessions makes”
                                </h5>
                                <div class="tw-mt-14 d-flex align-items-center tw-gap-3">
                                    <span class="tw-w-14 tw-h-14 rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/student-reviews-two-img1.png" alt="images" class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-1 d-block">
                                            David William
                                        </span>
                                        <span class="fw-normal tw-text-4 text-neutral-400">
                                            Web Developer
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="tw-p-10 bg-white tw-rounded-xl border-white border border-2 border-main-600 tw-duration-300 tw-mb-1">
                                <ul class="d-flex align-items-center tw-gap-05 tw-mb-6">
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph ph-star"></i>
                                    </li>
                                </ul>
                                <h4 class="tw-mb-5">“Join of the future education”</h4>
                                <h5 class="fw-medium text-neutral-700 tw-line-height-37-px">
                                    "I've been thoroughly impressed with how engaging and interactive the courses are on this
                                    platform. The use of multimedia, quizzes, and live sessions makes”
                                </h5>
                                <div class="tw-mt-14 d-flex align-items-center tw-gap-3">
                                    <span class="tw-w-14 tw-h-14 rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/student-reviews-two-img1.png" alt="images" class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-1 d-block">
                                            David William
                                        </span>
                                        <span class="fw-normal tw-text-4 text-neutral-400">
                                            Web Developer
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="tw-p-10 bg-white tw-rounded-xl border-white border border-2 border-main-600 tw-duration-300 tw-mb-1">
                                <ul class="d-flex align-items-center tw-gap-05 tw-mb-6">
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-6 text-warming-600">
                                        <i class="ph ph-star"></i>
                                    </li>
                                </ul>
                                <h4 class="tw-mb-5">“Join of the future education”</h4>
                                <h5 class="fw-medium text-neutral-700 tw-line-height-37-px">
                                    "I've been thoroughly impressed with how engaging and interactive the courses are on this
                                    platform. The use of multimedia, quizzes, and live sessions makes”
                                </h5>
                                <div class="tw-mt-14 d-flex align-items-center tw-gap-3">
                                    <span class="tw-w-14 tw-h-14 rounded-circle overflow-hidden">
                                        <img src="assets/images/thumbs/student-reviews-two-img1.png" alt="images" class="w-100 h-100 object-fit-cover">
                                    </span>
                                    <div class="">
                                        <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-1 d-block">
                                            David William
                                        </span>
                                        <span class="fw-normal tw-text-4 text-neutral-400">
                                            Web Developer
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination position-relative tw-mt-8 style-circle-border"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= student reviews section end ======================== -->

<div class="tw-mb--330-px z-1 overflow-hidden">
    <div class="">
        <div class="position-relative">
            <span class="bg-img">
                <img src="assets/images/thumbs/reviews-img1.png" alt="images" class="bg-img" data-aos="zoom-in"
                    data-aos-duration="1500">
            </span>
            <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                class="play-button tw-w-120-px tw-h-120-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-50 tw-start-50 translate-middle-y">
                <span class="tw-text-10 d-flex align-items-center justify-content-center text-main-600">
                    <i class="ph-fill ph-play"></i>
                </span>
            </a>
            <img src="assets/images/shape/reviews-bottom-shape1.png" alt="shape"
                class="position-absolute bottom-0 tw-end-0 tw-me--104-px d-xl-block d-none animation-upDown">
        </div>
    </div>
</div>