<!-- ==================== student section start ================== -->
 <section class="tw-mb--134px z-2">
    <div class="container">
        <div class="row gy-5">
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="600">
                <div class="bg-img tw-rounded-xl" style="background-image: url(assets/images/bg/student-bg-img1.png);">
                    <div class="d-flex tw-gap-205 justify-content-between flex-wrap tw-pe-205">
                        <div class="tw-py-8 tw-ps-8">
                            <span class="fw-medium tw-text-4 text-warming-600 tw-py-1 tw-px-3 bg-white tw-rounded-sm tw-mb-5 tw-letter-space-2-px">
                                Become Instructor
                            </span>
                            <h4 class="text-white tw-mb-13">Become an Instructor
                            <br>
                            and Share Your Expertise</h4>

                            <a href="contact-us.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                                <span class="button__flair"></span>
                                <span class="tw-w-12 tw-h-12 bg-black rounded-circle text-white d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-black">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                                <span class="button__label fw-bold tw-text-4">Join Now</span>
                            </a>
                        </div>
                        <div class="d-xl-block d-none">
                            <img src="assets/images/thumbs/student-img1.png" alt="img" class="w-100 h-100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="bg-img tw-rounded-xl" style="background-image: url(assets/images/bg/student-bg-img2.png);">
                    <div class="d-flex tw-gap-205 justify-content-between flex-wrap tw-pe-205">
                        <div class="tw-py-8 tw-ps-8">
                            <span class="fw-medium tw-text-4 text-warming-600 tw-py-1 tw-px-3 bg-white tw-rounded-sm tw-mb-5 tw-letter-space-2-px">
                                Become Instructor
                            </span>
                            <h4 class="text-neutral-800 tw-mb-13">Become a Student and
                            <br>
                            Grow Your Skills</h4>

                            <a href="course-details.html" class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button">
                                <span class="button__flair"></span>
                                <span class="tw-w-12 tw-h-12 bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                    <i class="ph ph-caret-right"></i>
                                </span>
                                <span class="button__label fw-medium">Explore Courses</span>
                            </a>
                        </div>
                        <div class="d-xl-block d-none">
                            <img src="assets/images/thumbs/student-img2.png" alt="img" class="w-100 h-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ==================== student section end ================== -->