<!-- ========================== student section start =========================== -->
<section class="py-120 position-relative">
    <img src="assets/images/shape/student-four-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-mt--480-px z-n1 d-lg-block d-none">
    <img src="assets/images/shape/student-four-shape2.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt--770-px z-n1 d-lg-block d-none">
    <img src="assets/images/shape/student-four-shape3.png" alt="shape" class="position-absolute bottom-0 tw-end-0 d-lg-block d-none">
    <div class="container">
        <div>
            <h3 class="fw-normal text-neutral-600 tw-mb-17 text-center" data-aos="fade-up" data-aos-duration="600">What Student Say</h3>
        </div>

        <div class="d-flex align-items-center tw-gap-10 flex-md-nowrap flex-wrap">
            <button type="button" id="student-slide__prev" class="tw-w-12 tw-h-12 bg-white design-courses-four-shadow rounded-circle d-flex align-items-center justify-content-center tw-text-4 hover-bg-pink-600 hover-text-white tw-duration-300 flex-shrink-0">
                <i class="ph-bold ph-caret-left"></i>
            </button>

            <div class="swiper student-four-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="600">
                        <div class="">
                            <div class="bg-white tw-px-9 tw-pb-13 tw-rounded-right-left-60px tw-pt-94-px max-w-550-px w-100 tw-line-height-37-px tw-student-four-shadow position-relative tw-mt-14 tw-mb-17 tw-ms-205 mx-auto">
                                <div class="tw-w-17 tw-h-17 bg-primary-700 d-flex align-items-center justify-content-center text-white tw-text-9 tw-rounded-21-px position-absolute top-0 tw-start-0 tw-mt--30-px tw-ms-9">
                                    <i class="ph ph-quotes"></i>
                                </div>
                                <p class="fw-normal tw-text-4 tw-text-base-three tw-mb-12"> He convenience of having everything we need <br> close by has made life so much easier. We really <br> appreciate the local businesses that make our <br> community thrive.</p>
                                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <span>
                                            <img src="assets/images/thumbs/testimonial-two-img2.png" alt="img">
                                        </span>
                                        <div>
                                            <h2 class="h6 fw-medium text-neutral-950 tw-mb-1">John Smith</h2>
                                            <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                                        </div>
                                    </div>
                                    <ul class="d-flex align-items-center tw-gap-1">
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
                        <div class="">
                            <div class="bg-white tw-px-9 tw-pb-13 tw-rounded-right-left-60px tw-pt-94-px max-w-550-px w-100 tw-line-height-37-px tw-student-four-shadow position-relative tw-mt-14 tw-mb-17 tw-ms-205 mx-auto">
                                <div class="tw-w-17 tw-h-17 bg-primary-700 d-flex align-items-center justify-content-center text-white tw-text-9 tw-rounded-21-px position-absolute top-0 tw-start-0 tw-mt--30-px tw-ms-9">
                                    <i class="ph ph-quotes"></i>
                                </div>
                                <p class="fw-normal tw-text-4 tw-text-base-three tw-mb-12"> He convenience of having everything we need <br> close by has made life so much easier. We really <br> appreciate the local businesses that make our <br> community thrive.</p>
                                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <span>
                                            <img src="assets/images/thumbs/testimonial-two-img2.png" alt="img">
                                        </span>
                                        <div>
                                            <h2 class="h6 fw-medium text-neutral-950 tw-mb-1">John Smith</h2>
                                            <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                                        </div>
                                    </div>
                                    <ul class="d-flex align-items-center tw-gap-1">
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
                        <div class="">
                            <div class="bg-white tw-px-9 tw-pb-13 tw-rounded-right-left-60px tw-pt-94-px max-w-550-px w-100 tw-line-height-37-px tw-student-four-shadow position-relative tw-mt-14 tw-mb-17 tw-ms-205 mx-auto">
                                <div class="tw-w-17 tw-h-17 bg-primary-700 d-flex align-items-center justify-content-center text-white tw-text-9 tw-rounded-21-px position-absolute top-0 tw-start-0 tw-mt--30-px tw-ms-9">
                                    <i class="ph ph-quotes"></i>
                                </div>
                                <p class="fw-normal tw-text-4 tw-text-base-three tw-mb-12"> He convenience of having everything we need <br> close by has made life so much easier. We really <br> appreciate the local businesses that make our <br> community thrive.</p>
                                <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                                        <span>
                                            <img src="assets/images/thumbs/testimonial-two-img2.png" alt="img">
                                        </span>
                                        <div>
                                            <h2 class="h6 fw-medium text-neutral-950 tw-mb-1">John Smith</h2>
                                            <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                                        </div>
                                    </div>
                                    <ul class="d-flex align-items-center tw-gap-1">
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                        <li class="tw-text-6 text-warning">
                                            <i class="ph-fill ph-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="student-slide__next" class="tw-w-12 tw-h-12 bg-white design-courses-four-shadow rounded-circle d-flex align-items-center justify-content-center tw-text-4 hover-bg-pink-600 hover-text-white tw-duration-300 flex-shrink-0">
                <i class="ph-bold ph-caret-right"></i>
            </button>
        </div>
    </div>
</section>
<!-- ========================== student section end ========================== -->


<!-- ======================= student bottom section start ================= -->
 <div class="container">
    <div class="row gy-4">
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="600">
            <div class="position-relative">
                <h2 class="fw-normal text-base-three-100 counter">68+</h2>
                <span class="fw-bold tw-text-4 text-neutral-800 position-absolute top-0 tw-start-0 top-50 translate-middle-y">STUDENTS ENROLLED</span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800">
            <div class="position-relative">
                <h2 class="fw-normal text-base-three-100 counter">56k+</h2>
                <span class="fw-bold tw-text-4 text-neutral-800 position-absolute top-0 tw-start-0 top-50 translate-middle-y">CLASS COMPLETED</span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
            <div class="position-relative">
                <h2 class="fw-normal text-base-three-100 counter">98%</h2>
                <span class="fw-bold tw-text-4 text-neutral-800 position-absolute top-0 tw-start-0 top-50 translate-middle-y">SATISFACTION RATE</span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
            <div class="position-relative">
                <h2 class="fw-normal text-base-three-100 counter">23+</h2>
                <span class="fw-bold tw-text-4 text-neutral-800 position-absolute top-0 tw-start-0 top-50 translate-middle-y">TOP INSTRUCTORS</span>
            </div>
        </div>
    </div>
 </div>
<!-- ======================= student bottom section end ================= -->