<!-- =============================== styling yoga section start ============================== -->
 <div class="overflow-hidden">
     <div class="row">
        <div class="col-xl-7 p-0">
            <div class="row">
                <div class="col-lg-4 p-0" data-aos="fade-up" data-aos-duration="600">
                    <div class="animation-item w-100 h-100">
                        <div class="overflow-hidden position-relative group-item w-100 h-100">
                            <img src="assets/images/thumbs/styling-yoga-three-img1.png" alt="img" class="bg-img course-item__img tw-duration-300 object-fit-cover">
                            <div class="tw-w-386-px tw-h-386-px bg-base-three-600 rounded-circle position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--279-px tw-invisible group-hover-item-visible group-hover-item-opacity-1">
                                <h5 class="tw-text-6 text-white tw-mt-13 text-center">Styling Yoga</h5>
                                <button type="button" class="tw-w-10 tw-h-10 bg-white tw-text-base-three rounded-circle tw-text-5 d-flex align-items-center justify-content-center position-absolute top-0 tw-start-0 tw-start-50 translate-middle-x tw-mt--20-px">
                                    <i class="ph ph-plus"></i>
                                </button>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 p-0" data-aos="fade-up" data-aos-duration="800">
                    <div class="animation-item w-100 h-100">
                        <div class="overflow-hidden position-relative group-item w-100 h-100">
                            <img src="assets/images/thumbs/styling-yoga-three-img2.png" alt="img" class="bg-img course-item__img tw-duration-300 object-fit-cover">
                            <div class="tw-w-386-px tw-h-386-px bg-base-three-600 rounded-circle position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--279-px tw-invisible group-hover-item-visible group-hover-item-opacity-1">
                                <h5 class="tw-text-6 text-white tw-mt-13 text-center">Styling Yoga</h5>
                                <button type="button" class="tw-w-10 tw-h-10 bg-white tw-text-base-three rounded-circle tw-text-5 d-flex align-items-center justify-content-center position-absolute top-0 tw-start-0 tw-start-50 translate-middle-x tw-mt--20-px">
                                    <i class="ph ph-plus"></i>
                                </button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 p-0" data-aos="fade-up" data-aos-duration="1000">
                    <div class="animation-item w-100 h-100">
                        <div class="overflow-hidden position-relative group-item w-100 h-100">
                            <img src="assets/images/thumbs/styling-yoga-three-img3.png" alt="img" class="bg-img course-item__img tw-duration-300 object-fit-cover">
                            <div class="tw-w-386-px tw-h-386-px bg-base-three-600 rounded-circle position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--279-px tw-invisible group-hover-item-visible group-hover-item-opacity-1">
                                <h5 class="tw-text-6 text-white tw-mt-13 text-center">Styling Yoga</h5>
                                <button type="button" class="tw-w-10 tw-h-10 bg-white tw-text-base-three rounded-circle tw-text-5 d-flex align-items-center justify-content-center position-absolute top-0 tw-start-0 tw-start-50 translate-middle-x tw-mt--20-px">
                                    <i class="ph ph-plus"></i>
                                </button>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-0" data-aos="fade-up" data-aos-duration="1200">
                    <div class="animation-item w-100 h-100">
                        <div class="overflow-hidden position-relative group-item w-100 h-100">
                            <img src="assets/images/thumbs/styling-yoga-three-img4.png" alt="img" class="bg-img course-item__img tw-duration-300 object-fit-cover">
                            <div class="tw-w-386-px tw-h-386-px bg-base-three-600 rounded-circle position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--279-px tw-invisible group-hover-item-visible group-hover-item-opacity-1">
                                <h5 class="tw-text-6 text-white tw-mt-13 text-center">Styling Yoga</h5>
                                <button type="button" class="tw-w-10 tw-h-10 bg-white tw-text-base-three rounded-circle tw-text-5 d-flex align-items-center justify-content-center position-absolute top-0 tw-start-0 tw-start-50 translate-middle-x tw-mt--20-px">
                                    <i class="ph ph-plus"></i>
                                </button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 p-0" data-aos="zoom-in" data-aos-duration="1500">
            <div class="animation-item">
                <div class="overflow-hidden position-relative group-item">
                    <img src="assets/images/thumbs/styling-yoga-three-img5.png" alt="img" class="h-100 w-100 course-item__img tw-duration-300">
                    <div class="tw-w-386-px tw-h-386-px bg-base-three-600 rounded-circle position-absolute bottom-0 tw-start-0 tw-start-50 translate-middle-x tw-mb--279-px tw-invisible group-hover-item-visible group-hover-item-opacity-1">
                        <h5 class="tw-text-6 text-white tw-mt-13 text-center">Styling Yoga</h5>
                        <button type="button" class="tw-w-10 tw-h-10 bg-white tw-text-base-three rounded-circle tw-text-5 d-flex align-items-center justify-content-center position-absolute top-0 tw-start-0 tw-start-50 translate-middle-x tw-mt--20-px">
                            <i class="ph ph-plus"></i>
                        </button>
                    </div>  
                </div>
            </div>
        </div>
     </div>
 </div>
<!-- =============================== styling yoga section end ============================== -->