<!-- ============================ subscribe section start ============================ -->
<section class="bg-gradient-600 w-100 tw-pt-6 z-2">
    <div class="container">
        <div class="position-relative subscribe-five-card">
            <img src="assets/images/shape/subscribe-five-shape3.png" alt="shape" class="position-absolute tw-end-0 top-0 tw-mt--24-px animation-scalation d-xl-block d-none">
            <div class="d-flex align-items-center tw-gap-3 tw-gap-17 tw-gap-112-px flex-wrap">
                <div class="position-relative">
                    <img src="assets/images/thumbs/subscribe-five-img1.png" alt="img" class="d-xl-block d-none" data-aos="zoom-in" data-aos-duration="1500">
                    <div class="d-xl-block d-none">
                        <img src="assets/images/shape/subscribe-five-shape1.png" alt="shape" class="position-absolute tw-start-0 bottom-0 w-100 z-n1">
                        <img src="assets/images/shape/subscribe-five-shape2.png" alt="shape" class="position-absolute tw-start-0 top-0 w-100 z-n1 tw-mt--24-px">
                    </div>
                </div>
                <div>
                    <h4 class="fw-medium text-white tw-mb-6" data-aos="fade-up" data-aos-duration="600">Want to stay informed about new <br> courses & study?</h4>
                    <form action="#" class="max-w-680-px w-100 d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                        <input type="email" class="max-w-420-px w-100 bg-white fw-medium tw-text-305 text-neutral-50 tw-py-4 tw-px-505 border-0  focus-visible-border-none rounded-pill" placeholder="Enter Your Email" data-aos="fade-up" data-aos-duration="800">
                        <button type="submit" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button" data-aos="fade-up" data-aos-duration="1000">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-neutral-700 rounded-circle text-warning-500 d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-bold">Subscribe Now</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ subscribe section end ============================ -->