<!-- ============================ teacher details section start ========================== -->
<section class="py-110">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="position-relative">
                    <span>
                        <img src="assets/images/thumbs/teacher-details-img1.png" alt="img">
                    </span>
                    <div class="bg-white tw-py-4 tw-px-505 tw-rounded-xl position-absolute bottom-0 tw-start-0 tw-mb-4 tw-ms-4">
                        <div class="d-flex align-items-center tw-gap-5 flex-wrap">
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-5 text-warning-600 ">
                                    <i class="ph-fill ph-star"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-300">(09 Reviews)</span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-2">
                                <span class="tw-text-5 text-warning-600 ">
                                    <i class="ph ph-graduation-cap"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-300">254 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <span class="fw-normal tw-text-4 text-neutral-300 tw-mb-6">SCINCE TEACHER</span>
                    <h2 class="h4 fw-medium text-neutral-600 tw-mb-8">Michael Anderson</h2>
                    <p class="fw-normal tw-text-405 text-neutral-300 ">If you need help coping with a mental health condition or things going on in your life, like loneliness or stress due to a new baby or financial issues, just come to us.</p>
                    <span class="w-100 tw-h-px bg-gray-30 tw-mt-5 tw-mb-6"></span>
                    <div class="d-flex align-items-center tw-gap-4 flex-wrap">
                        <div class="d-flex tw-gap-5">
                            <span class="tw-text-7 text-main-600">
                                <i class="ph ph-phone-call"></i>
                            </span>
                            <div>
                                <span class="fw-medium tw-text-405 text-neutral-300 tw-mb-2 d-block">24/7 Support</span>
                                <a href="tel:+5323213333" class="fw-medium tw-text-5 text-neutral-800">
                                    +532 321 33 33
                                </a>
                            </div>
                        </div>
                        <div class="d-flex tw-gap-5">
                            <span class="tw-text-7 text-main-600">
                                <i class="ph ph-envelope-open"></i>
                            </span>
                            <div>
                                <span class="fw-medium tw-text-405 text-neutral-300 tw-mb-2 d-block">Send Message</span>
                                <span class="fw-medium tw-text-5 text-neutral-800">
                                    eduly@gmail.com
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <span class="fw-medium tw-text-505 text-neutral-800 tw-mb-5 ">
                    About Me
                </span>
                <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-7">Lorem ipsum dolor sit amet, consectetur elit sed do eius mod tempor incidid labore dolore magna aliqua. enim ad minim eniam quis nostrud exercitation ullamco laboris nisi aliquip ex commodo consequat. duis aute irure dolor in repreed ut perspiciatis unde omnis iste natus error sit voluptat em acus antium.</p>
                <p class="fw-normal tw-text-405 text-neutral-300">Lorem ipsum dolor sit amet, consectetur elit sed do eius mod tempor incidid labore dolore magna aliqua. enim ad minim eniam quis nostrud exercitation ullamco laboris nisi aliquip ex commodo consequat. duis aute irure dolor in repreed ut perspiciatis unde omnis iste natus error sit voluptat em acus antium.</p>
            </div>
        </div>
    </div>
</section>
<!-- ============================ teacher details section end ========================== -->