<!-- ========================= teacher section start =========================== -->
 <section class="tw-mt--242-px z-2">
    <div class="container">
        <div style="background-image: url(assets/images/bg/features-five-bg-img1.png);" class="bg-img tw-py-6 tw-ps-17 tw-pe-6 tw-rounded-2xl">
            <div class="row gy-4 align-items-center">
                <div class="col-lg-6">
                    <div class="max-w-450-px w-100">
                        <span class="tw-py-2 tw-px-5 bg-white tw-rounded-sm fw-medium tw-text-305 text-main-600 tw-mb-6 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">BE TEACHER</span>
                        <h3 class="fw-medium text-white tw-mb-5"  data-aos="fade-up" data-aos-duration="800">Became a Teacher</h3>
                        <p class="fw-medium tw-text-4 text-white tw-mb-10"  data-aos="fade-up" data-aos-duration="1000">There are many variations of passages of Loren Epsom available, but the majority have suffered alteration in some form, by injected humor.</p>
                        <a href="account-page.html" class="btn btn-main-five hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill" data-block="button"  data-aos="fade-up" data-aos-duration="1200">
                            <span class="button__flair"></span>
                            <span class="tw-w-12 tw-h-12 bg-main-two-700 rounded-circle text-white d-flex align-items-center justify-content-center tw-text-5 z-1 position-relative group-hover-bg-white tw-duration-500 group-hover-text-main-600">
                                <i class="ph ph-caret-right"></i>
                            </span>
                            <span class="button__label fw-medium">Apply Now</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6"  data-aos="zoom-in" data-aos-duration="1500">
                    <div class="d-flex justify-content-end">
                        <img src="assets/images/thumbs/teacher-five-img1.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ========================= teacher section end =========================== -->