<!-- =================================== testimonial section start ============================= -->
<section class="py-110">    
    <div class="container">
        <div class="text-center">
            <span class="tw-py-2 tw-px-5 bg-main-50 text-main-600 tw-rounded-sm tw-mb-6 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                OUR TESTIMONIALS
            </span>
            <h2 class="h4 fw-medium text-neutral-600" data-aos="fade-up" data-aos-duration="800">People like Eduly education.<br> No joking - here’s the proof!</h2>
        </div>
    </div>
    <div>
        
    <div class="swiper testimonial-five-slider">
        <div class="swiper-wrapper tw-mb-10 tw-mt-14">
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="600">
                <div class="bg-white max-w-470-px w-100 tw-p-10 marketing-shadow tw-rounded-xl">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between tw-mb-6">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <img src="assets/images/thumbs/testimonial-five-img1.png" alt="img">
                            <div>
                                <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-2 d-block">John Smith</span>
                                <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                            </div>
                        </div>
                        <span class="tw-text-17 text-main-50"><i class="ph-fill ph-quotes"></i></span>
                    </div>
                    <p class="fw-medium tw-text-405 text-neutral-300 tw-mb-10">People says about, vulputate at sapien sit amet, auctor iaculis lorem. In vel hend rerit nisi. Amet Vestibulum eget risus velit.</p>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <ul class="d-flex align-items-center tw-gap-1">
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-medium tw-text-4 text-neutral-200">5 Star Rating</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
                <div class="bg-white max-w-470-px w-100 tw-p-10 marketing-shadow tw-rounded-xl">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between tw-mb-6">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <img src="assets/images/thumbs/testimonial-five-img1.png" alt="img">
                            <div>
                                <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-2 d-block">John Smith</span>
                                <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                            </div>
                        </div>
                        <span class="tw-text-17 text-main-50"><i class="ph-fill ph-quotes"></i></span>
                    </div>
                    <p class="fw-medium tw-text-405 text-neutral-300 tw-mb-10">People says about, vulputate at sapien sit amet, auctor iaculis lorem. In vel hend rerit nisi. Amet Vestibulum eget risus velit.</p>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <ul class="d-flex align-items-center tw-gap-1">
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-medium tw-text-4 text-neutral-200">5 Star Rating</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000">
                <div class="bg-white max-w-470-px w-100 tw-p-10 marketing-shadow tw-rounded-xl">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between tw-mb-6">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <img src="assets/images/thumbs/testimonial-five-img1.png" alt="img">
                            <div>
                                <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-2 d-block">John Smith</span>
                                <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                            </div>
                        </div>
                        <span class="tw-text-17 text-main-50"><i class="ph-fill ph-quotes"></i></span>
                    </div>
                    <p class="fw-medium tw-text-405 text-neutral-300 tw-mb-10">People says about, vulputate at sapien sit amet, auctor iaculis lorem. In vel hend rerit nisi. Amet Vestibulum eget risus velit.</p>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <ul class="d-flex align-items-center tw-gap-1">
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-medium tw-text-4 text-neutral-200">5 Star Rating</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1200">
                <div class="bg-white max-w-470-px w-100 tw-p-10 marketing-shadow tw-rounded-xl">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between tw-mb-6">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <img src="assets/images/thumbs/testimonial-five-img1.png" alt="img">
                            <div>
                                <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-2 d-block">John Smith</span>
                                <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                            </div>
                        </div>
                        <span class="tw-text-17 text-main-50"><i class="ph-fill ph-quotes"></i></span>
                    </div>
                    <p class="fw-medium tw-text-405 text-neutral-300 tw-mb-10">People says about, vulputate at sapien sit amet, auctor iaculis lorem. In vel hend rerit nisi. Amet Vestibulum eget risus velit.</p>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <ul class="d-flex align-items-center tw-gap-1">
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-medium tw-text-4 text-neutral-200">5 Star Rating</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1300">
                <div class="bg-white max-w-470-px w-100 tw-p-10 marketing-shadow tw-rounded-xl">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between tw-mb-6">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <img src="assets/images/thumbs/testimonial-five-img1.png" alt="img">
                            <div>
                                <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-2 d-block">John Smith</span>
                                <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                            </div>
                        </div>
                        <span class="tw-text-17 text-main-50"><i class="ph-fill ph-quotes"></i></span>
                    </div>
                    <p class="fw-medium tw-text-405 text-neutral-300 tw-mb-10">People says about, vulputate at sapien sit amet, auctor iaculis lorem. In vel hend rerit nisi. Amet Vestibulum eget risus velit.</p>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <ul class="d-flex align-items-center tw-gap-1">
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-medium tw-text-4 text-neutral-200">5 Star Rating</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="swiper testimonial-five-slider-two">
        <div class="swiper-wrapper tw-mb-10 tw-mt-14">
            <div class="swiper-slide">
                <div class="bg-white max-w-470-px w-100 tw-p-10 marketing-shadow tw-rounded-xl">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between tw-mb-6">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <img src="assets/images/thumbs/testimonial-five-img1.png" alt="img">
                            <div>
                                <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-2 d-block">John Smith</span>
                                <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                            </div>
                        </div>
                        <span class="tw-text-17 text-main-50"><i class="ph-fill ph-quotes"></i></span>
                    </div>
                    <p class="fw-medium tw-text-405 text-neutral-300 tw-mb-10">People says about, vulputate at sapien sit amet, auctor iaculis lorem. In vel hend rerit nisi. Amet Vestibulum eget risus velit.</p>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <ul class="d-flex align-items-center tw-gap-1">
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-medium tw-text-4 text-neutral-200">5 Star Rating</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-white max-w-470-px w-100 tw-p-10 marketing-shadow tw-rounded-xl">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between tw-mb-6">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <img src="assets/images/thumbs/testimonial-five-img1.png" alt="img">
                            <div>
                                <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-2 d-block">John Smith</span>
                                <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                            </div>
                        </div>
                        <span class="tw-text-17 text-main-50"><i class="ph-fill ph-quotes"></i></span>
                    </div>
                    <p class="fw-medium tw-text-405 text-neutral-300 tw-mb-10">People says about, vulputate at sapien sit amet, auctor iaculis lorem. In vel hend rerit nisi. Amet Vestibulum eget risus velit.</p>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <ul class="d-flex align-items-center tw-gap-1">
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-medium tw-text-4 text-neutral-200">5 Star Rating</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-white max-w-470-px w-100 tw-p-10 marketing-shadow tw-rounded-xl">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between tw-mb-6">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <img src="assets/images/thumbs/testimonial-five-img1.png" alt="img">
                            <div>
                                <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-2 d-block">John Smith</span>
                                <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                            </div>
                        </div>
                        <span class="tw-text-17 text-main-50"><i class="ph-fill ph-quotes"></i></span>
                    </div>
                    <p class="fw-medium tw-text-405 text-neutral-300 tw-mb-10">People says about, vulputate at sapien sit amet, auctor iaculis lorem. In vel hend rerit nisi. Amet Vestibulum eget risus velit.</p>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <ul class="d-flex align-items-center tw-gap-1">
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-medium tw-text-4 text-neutral-200">5 Star Rating</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-white max-w-470-px w-100 tw-p-10 marketing-shadow tw-rounded-xl">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between tw-mb-6">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <img src="assets/images/thumbs/testimonial-five-img1.png" alt="img">
                            <div>
                                <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-2 d-block">John Smith</span>
                                <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                            </div>
                        </div>
                        <span class="tw-text-17 text-main-50"><i class="ph-fill ph-quotes"></i></span>
                    </div>
                    <p class="fw-medium tw-text-405 text-neutral-300 tw-mb-10">People says about, vulputate at sapien sit amet, auctor iaculis lorem. In vel hend rerit nisi. Amet Vestibulum eget risus velit.</p>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <ul class="d-flex align-items-center tw-gap-1">
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-medium tw-text-4 text-neutral-200">5 Star Rating</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-white max-w-470-px w-100 tw-p-10 marketing-shadow tw-rounded-xl">
                    <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between tw-mb-6">
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap">
                            <img src="assets/images/thumbs/testimonial-five-img1.png" alt="img">
                            <div>
                                <span class="fw-semibold tw-text-405 text-neutral-950 tw-mb-2 d-block">John Smith</span>
                                <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                            </div>
                        </div>
                        <span class="tw-text-17 text-main-50"><i class="ph-fill ph-quotes"></i></span>
                    </div>
                    <p class="fw-medium tw-text-405 text-neutral-300 tw-mb-10">People says about, vulputate at sapien sit amet, auctor iaculis lorem. In vel hend rerit nisi. Amet Vestibulum eget risus velit.</p>
                    <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                        <ul class="d-flex align-items-center tw-gap-1">
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                            <li class="tw-text-5 text-warning-500 ">
                                <i class="ph-fill ph-star"></i>
                            </li>
                        </ul>
                        <span class="fw-medium tw-text-4 text-neutral-200">5 Star Rating</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    </div>
</section>  
<!-- =================================== testimonial section end ============================= -->