<!-- =========================== contact width top section start ============================ -->
 <div class="tw-mb--330-px z-3 position-relative">
    <div class="container max-w-1320-px w-100">
        <div class="position-relative">
            <img src="assets/images/thumbs/contact-width-top-img1.png" alt="img" class="position-absolute top-0 tw-start-0 d-xl-block d-none">
            <img src="assets/images/thumbs/contact-width-top-img2.png" alt="img" class="position-absolute top-0 tw-end-0 tw-mt-80-px d-xl-block d-none z-3">
            <div class="bg-warming-600 marketing-shadow tw-rounded-xl max-w-970-px w-100 tw-pb-17 tw-pt-94-px mx-auto position-relative">
                <img src="assets/images/thumbs/contact-width-top-img3.png" alt="img" class="position-absolute bottom-0 tw-end-0 tw-me-13 tw-mb-140-px d-lg-block d-none">
                <img src="assets/images/thumbs/contact-width-top-img1.png" alt="img" class="position-absolute top-0 tw-start-0 tw-ms-11 tw-mt-140px d-lg-block d-none tw-w-15 tw-h-15">
                <img src="assets/images/thumbs/banner-img3.png" alt="img" class="position-absolute top-0 tw-start-0 tw-ms-50 translate-middle-y">
                <img src="assets/images/thumbs/contact-width-top-img4.png" alt="img" class="position-absolute bottom-0 tw-ms-190px tw-start-0 tw-mb-10 d-lg-block d-none">
                <span class="tw-text-160-px position-absolute top-0 tw-end-0 text-primary-300 tw-mt-505 tw-me-6 d-lg-block d-none">
                    <i class="ph ph-quotes"></i>
                </span>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="max-w-570-px w-100 text-center">
                        <div class="tw-mb-13">
                            <span class="fw-semibold tw-text-5 text-neutral-950 tw-mb-3 d-block">John Smith</span>
                            <span class="fw-medium tw-text-4 text-neutral-500">Small Business Owner</span>
                        </div>
                        <div class="swiper contact-width-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <p class="fw-medium tw-text-6 text-neutral-600 tw-mb-15">
                                        "This course made learning Spanish incredibly fun and easy! I was speaking full sentences within a few weeks."
                                    </p>
                                </div>
                                <div class="swiper-slide">
                                    <p class="fw-medium tw-text-6 text-neutral-600 tw-mb-15">
                                        "This course made learning Spanish incredibly fun and easy! I was speaking full sentences within a few weeks."
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center tw-gap-2">
                            <button type="button" id="contact-button-prev" class="tw-w-11 tw-h-11 bg-white text-main-600 tw-text-4 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                <i class="ph-bold ph-caret-left"></i>
                            </button>
                            <button type="button" id="contact-button-next" class="tw-w-11 tw-h-11 bg-white text-main-600 tw-text-4 rounded-circle hover-bg-main-600 hover-text-white tw-duration-300 d-flex align-items-center justify-content-center">
                                <i class="ph-bold ph-caret-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- =========================== contact width top section end ============================ -->