<!-- ================= testimonial section start ==================== -->
<section class="bg-img position-relative">
    <div class="pb-120 tw-pt-186-px">
        <div class="container">
            <div class="row gy-4 align-items-center">
                <div class="col-xl-5">
                    <div class="position-relative">
                        <img src="assets/images/thumbs/testimonial-two-img1.png" alt="" class="testimonial-two-img" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="testimonial-two-shape-one tw-px-12 tw-py-12 bg-white tw-rounded-xl tw-banner-two-border position-absolute bottom-0 tw-start-0 tw-ms--90px tw-mb-17 animation-upDown">
                            <h1 class="fw-bold text-danger-600 tw-mb-5 counter">99%</h1>
                            <span class="fw-normal tw-text-405 text-neutral-300">
                                Student Satisfaction is 
                                <br>
                                Our Courses
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="tw-mb-8 mx-auto tw-ps-15">
                        <span class="fw-medium tw-text-305 text-danger-600 tw-py-1 tw-px-5 bg-danger-50 tw-rounded-sm tw-mb-5 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">MY TESTIMONIALS</span>
                        <h3 class="fw-semibold text-neutral-600 tw-mb-7" data-aos="fade-up" data-aos-duration="800">What Student Say!</h3>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap" data-aos="fade-up" data-aos-duration="1000">
                            <ul class="d-flex align-items-center tw-gap-1">
                                <li class="tw-text-5 text-danger-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-danger-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-danger-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-danger-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-5 text-danger-600">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-normal tw-text-405 text-neutral-300">Overall Rating 4.7 / 3285 reviews on Google</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-4 flex-sm-nowrap flex-wrap">
                        <button type="button" class="button-prev tw-w-12 tw-h-12 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4 text-neutral-700 hover-bg-danger-600 hover-border-bottom-3px hover-text-white tw-duration-300 flex-shrink-0 testimonial-two-shadow">
                            <i class="ph-bold ph-caret-left"></i>
                        </button>
                        <div class="swiper testimonial-slider overflow-hidden w-100">
                            <div class="swiper-wrapper d-flex align-items-center w-100">
                                <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1200">
                                    <div class="bg-white tw-px-8 tw-py-7 tw-rounded-xl max-w-596-px w-100 mx-auto tw-banner-two-border">
                                        <div class="tw-mb-8 d-flex align-items-center tw-gap-2  ">
                                            <img src="assets/images/logo/testimonial-google-logo.png" alt="">
                                             <ul class="d-flex align-items-center tw-gap-1">
                                                <li class="tw-text-5 text-danger-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-5 text-danger-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-5 text-danger-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-5 text-danger-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-5 text-danger-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-10 line-clamp-6">
                                            “ I am writing on behalf of my brother who was a patient in your hospital. I would like to thank you on behalf of my entire family for the help and consideration shown to me in was a very difficult time. Again, I would like to thank you.”
                                        </p>
                                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                            <div class="d-flex align-items-center tw-gap-3">
                                                <img src="assets/images/thumbs/testimonial-two-img2.png" alt="img">
                                                <div>
                                                    <span class="fw-medium tw-text-405 text-neutral-950 tw-mb-1 d-block">John Smith</span>
                                                    <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                                                </div>
                                            </div>
                                            <img src="assets/images/icon/testimonial-two-icon.png" alt="icon">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1200">
                                    <div class="bg-white tw-px-8 tw-py-7 tw-rounded-xl max-w-596-px w-100 mx-auto tw-banner-two-border">
                                        <div class="tw-mb-8 d-flex align-items-center tw-gap-2  ">
                                            <img src="assets/images/logo/testimonial-google-logo.png" alt="">
                                             <ul class="d-flex align-items-center tw-gap-1">
                                                <li class="tw-text-5 text-danger-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-5 text-danger-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-5 text-danger-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-5 text-danger-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                                <li class="tw-text-5 text-danger-600">
                                                    <i class="ph-fill ph-star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-10 line-clamp-6">
                                            “ I am writing on behalf of my brother who was a patient in your hospital. I would like to thank you on behalf of my entire family for the help and consideration shown to me in was a very difficult time. Again, I would like to thank you.”
                                        </p>
                                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                            <div class="d-flex align-items-center tw-gap-3">
                                                <img src="assets/images/thumbs/testimonial-two-img2.png" alt="img">
                                                <div>
                                                    <span class="fw-medium tw-text-405 text-neutral-950 tw-mb-1 d-block">John Smith</span>
                                                    <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                                                </div>
                                            </div>
                                            <img src="assets/images/icon/testimonial-two-icon.png" alt="icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="button-next tw-w-12 tw-h-12 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-4 text-neutral-700 hover-bg-danger-600 hover-border-bottom-3px hover-text-white tw-duration-300 flex-shrink-0 testimonial-two-shadow">
                            <i class="ph-bold ph-caret-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ================= testimonial section end ==================== -->




<div class="bg-danger-600 py-60 tw-border-bottom-8px position-relative">
    <img src="assets/images/shape/testimonial-two-bottom-shape.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-12 tw-me-17 d-xl-block d-none scale-animation">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="600">
                <div class="d-flex align-items-center tw-gap-4 animation-item">
                    <span class="bg-primary-200 rounded-circle tw-w-84-px tw-h-84-px d-flex align-items-center justify-content-center">
                        <img src="assets/images/icon/testimonial-tw-bottom-icon1.png" alt="" class="animate__bounce">
                    </span>
                    <div>
                        <h2 class="fw-medium text-white tw-mb-3 tw-line-height-1 counter">89k+</h2>
                        <span class="fw-medium tw-text-4 text-white">Active Students</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800">
                <div class="d-flex align-items-center tw-gap-4 animation-item">
                    <span class="bg-primary-200 rounded-circle tw-w-84-px tw-h-84-px d-flex align-items-center justify-content-center">
                        <img src="assets/images/icon/testimonial-tw-bottom-icon2.png" alt="" class="animate__bounce">
                    </span>
                    <div>
                        <h2 class="fw-medium text-white tw-mb-3 tw-line-height-1 counter">270</h2>
                        <span class="fw-medium tw-text-4 text-white">Faculty Courses</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="d-flex align-items-center tw-gap-4 animation-item">
                    <span class="bg-primary-200 rounded-circle tw-w-84-px tw-h-84-px d-flex align-items-center justify-content-center">
                        <img src="assets/images/icon/testimonial-tw-bottom-icon3.png" alt="" class="animate__bounce">
                    </span>
                    <div>
                        <h2 class="fw-medium text-white tw-mb-3 tw-line-height-1 counter">39+</h2>
                        <span class="fw-medium tw-text-4 text-white">Awards Winning</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="d-flex align-items-center tw-gap-4 animation-item">
                    <span class="bg-primary-200 rounded-circle tw-w-84-px tw-h-84-px d-flex align-items-center justify-content-center">
                        <img src="assets/images/icon/testimonial-tw-bottom-icon4.png" alt="" class="animate__bounce">
                    </span>
                    <div>
                        <h2 class="fw-medium text-white tw-mb-3 tw-line-height-1 counter">654+</h2>
                        <span class="fw-medium tw-text-4 text-white">Best Professors</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>