<!-- ================= testimonial section start ==================== -->
<section class="bg-img position-relative" style="background-image: url(assets/images/bg/testimonials-bg-img.png);">
    <img src="assets/images/shape/about-us-shape1.png" alt="shape" class="position-absolute bottom-0 tw-end-0 tw-mb-142px animated-upDown">
    <div class="pb-120 tw-pt-186-px tw-mb-262px">
        <div class="container">
            <div class="row gy-4 align-items-center">
                <div class="col-xl-5">
                    <div>
                        <span class="tw-py-1 tw-px-5 tw-rounded-sm text-warning-500 bg-gray-800 tw-mb-5 fw-medium tw-text-305 tw-letter-space-2-px" data-aos="fade-up" data-aos-duration="600">
                            OUR TESTIMONIALS
                        </span>
                        <h3 class="testimonial-title fw-medium tw-w-430-px w-100 text-white tw-mb-8" data-aos="fade-up" data-aos-duration="800">What Students Think and Say About Eduly</h3>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap" data-aos="fade-up" data-aos-duration="1000">
                            <ul class="d-flex align-items-center tw-gap-1">
                                <li class="tw-text-4 text-warning-500 ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-4 text-warning-500 ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-4 text-warning-500 ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-4 text-warning-500 ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                                <li class="tw-text-4 text-warning-500 ">
                                    <i class="ph-fill ph-star"></i>
                                </li>
                            </ul>
                            <span class="fw-medium tw-text-405 text-white">Overall Rating 4.7 / 3285 reviews on Zocdoc</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="d-flex align-items-center tw-gap-4 flex-md-nowrap flex-wrap">
                        <button type="button" class="button-prev tw-w-11 tw-h-11 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-305 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300 flex-shrink-0">
                            <i class="ph-bold ph-caret-left"></i>
                        </button>
                        <div class="swiper testimonial-slider overflow-hidden w-100">
                            <div class="swiper-wrapper d-flex align-items-center w-100">
                                <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1200">
                                    <div class="bg-white tw-px-10 tw-py-7 tw-rounded-lg max-w-596-px w-100 mx-auto">
                                        <ul class="d-flex align-items-center tw-gap-1 tw-mb-8">
                                            <li class="tw-text-6 text-warning-500 ">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-500 ">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-500 ">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-500 ">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-500 ">
                                                <i class="ph-bold ph-star"></i>
                                            </li>
                                        </ul>
                                        <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-10 line-clamp-6">
                                            Eduly’s intuitive shared inbox makes it easy for team members organize prioritize and. In this episode. urvived not only five centuries. Edhen an unknown printer took a galley of type and scrambl I would like to thank you for the services you provide and their families.”
                                        </p>
                                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                            <div class="d-flex align-items-center tw-gap-405 flex-wrap">
                                                <img src="assets/images/thumbs/testimonial-img1.png" alt="">
                                                <div>
                                                    <span class="fw-medium tw-text-405 text-neutral-950 tw-mb-1 d-block">John Smith</span>
                                                    <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                                                </div>
                                            </div>
                                            <img src="assets/images/icon/testimonial-icon1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1200">
                                    <div class="bg-white tw-px-10 tw-py-7 tw-rounded-lg max-w-596-px w-100 mx-auto">
                                        <ul class="d-flex align-items-center tw-gap-1 tw-mb-8">
                                            <li class="tw-text-6 text-warning-500 ">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-500 ">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-500 ">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-500 ">
                                                <i class="ph-fill ph-star"></i>
                                            </li>
                                            <li class="tw-text-6 text-warning-500 ">
                                                <i class="ph-bold ph-star"></i>
                                            </li>
                                        </ul>
                                        <p class="fw-normal tw-text-405 text-neutral-300 tw-mb-10 line-clamp-6">
                                            Eduly’s intuitive shared inbox makes it easy for team members organize prioritize and. In this episode. urvived not only five centuries. Edhen an unknown printer took a galley of type and scrambl I would like to thank you for the services you provide and their families.”
                                        </p>
                                        <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
                                            <div class="d-flex align-items-center tw-gap-405 flex-wrap">
                                                <img src="assets/images/thumbs/testimonial-img1.png" alt="">
                                                <div>
                                                    <span class="fw-medium tw-text-405 text-neutral-950 tw-mb-1 d-block">John Smith</span>
                                                    <span class="fw-medium tw-text-4 text-neutral-300">Small Business Owner</span>
                                                </div>
                                            </div>
                                            <img src="assets/images/icon/testimonial-icon1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="button-next tw-w-11 tw-h-11 bg-white rounded-circle d-flex align-items-center justify-content-center tw-text-305 text-main-600 hover-bg-main-600 hover-text-white tw-duration-300 flex-shrink-0">
                            <i class="ph-bold ph-caret-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>





<!-- ================= testimonial section end ==================== -->
<div class="container">
    <div class="position-relative">
        <img src="assets/images/thumbs/testimonial-img2.png" alt="" class="testimonial-img tw-mt--262px mx-auto d-flex" data-aos="zoom-in" data-aos-duration="1500">
        <div>
            <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button tw-w-120-px tw-h-120-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-0 top-50 tw-start-50 translate-middle">
            <span class="tw-w-104-px tw-h-104-px rounded-circle bg-warning-500 tw-text-7 d-flex align-items-center justify-content-center text-neutral-600">
                <i class="ph-fill ph-play"></i>
            </span>
        </a>
        </div>
        <span class="testimonial-shape__one position-absolute top-0 tw-start-0 tw-mt--44px d-lg-block d-none animation-scalation animate__wobble__two">
            <img src="assets/images/shape/marketing-shap1.png" alt="" class="">
        </span>
    </div>
</div>