
<!-- ====================== Top header start ====================== -->
<div class="bg-main-two-600">
  <div class="container max-w-1700-px">
    <div class="d-flex align-items-center justify-content-between tw-gap-3 flex-wrap">
      <div class="d-flex align-items-center tw-gap-5 flex-wrap py-2">
        <div class="d-flex align-items-center tw-gap-1">
          <span class="tw-text-305 text-white tw-mt-2">
            <i class="ph-fill ph-envelope"></i>
          </span>
          <a href="mailto:contact@domain.edu" class="fw-bold text-white tw-text-4 hover-underline">
            contact@domain.edu
          </a>
        </div>
        <div class="d-flex align-items-center tw-gap-1">
          <span class="tw-text-305 text-white tw-mt-2">
            <i class="ph-fill ph-phone"></i>
          </span>
          <a href="tel:+1-3435-2356-222" class="fw-bold text-white tw-text-4 hover-underline">
            +1-3435-2356-222
          </a>
        </div>
      </div>
      <div class="d-lg-block d-none">
        <div class="d-flex align-items-center tw-gap-6">
          <div class="d-flex align-items-center tw-gap-6 py-2">
            <a href="javascript:void(0)" class="fw-bold tw-text-4 text-white hover-underline">
              Alumni
            </a>
            <a href="javascript:void(0)" class="fw-bold tw-text-4 text-white hover-underline">
              Calendar
            </a>
            <a href="javascript:void(0)" class="fw-bold tw-text-4 text-white hover-underline">
              Portal
            </a>
          </div>
          <a href="javascript:void(0)" class="tw-py-4 tw-px-8 bg-main-600 text-white d-xl-block d-none hover-underline">
            Support Eduly
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ====================== Top header end ====================== -->
