<!-- ====================== Top header new start ====================== -->
<div class="top-header-new py-lg-4 py-md-3 py-2">
    <div class="container max-w-1360-px">
        <div class="d-flex justify-content-between tw-gap-4 align-items-center">
            <!-- Logo Start -->
            <div class="logo d-flex align-items-center">
                <a href="index.html" class="link">
                    <img src="assets/images/logo/logo.png" alt="Logo" class="max-w-200-px">
                </a>
            </div>
            <!-- Logo End  -->

            <div class="flex-grow-1 d-flex justify-content-end tw-gap-3 align-items-center">
                <!-- form location Start -->
                <form action="#" class="max-w-900-px w-100 d-md-flex d-none">
                    <div
                        class="text-heading d-flex align-items-center text-sm w-100 tw-gap-4 rounded-pill tw-py-205 tw-ps-4 tw-pe-105  border new-shadow bg-white">
                        <div class="search-category d-md-inline-flex d-none">
                            <select class="category-select form-select border-0 tw-focus-shadow-none" name="state">
                                <option value="1" selected disabled>All categories</option>
                                <option value="1">Grocery</option>
                                <option value="1">Breakfast & Dairy</option>
                                <option value="1">Vegetables</option>
                                <option value="1">Milks and Dairies</option>
                                <option value="1">Pet Foods & Toy</option>
                                <option value="1">Breads & Bakery</option>
                                <option value="1">Fresh Seafood</option>
                                <option value="1">Fronzen Foods</option>
                                <option value="1">Noodles & Rice</option>
                                <option value="1">Ice Cream</option>
                            </select>
                        </div>

                        <span class="tw-w-px tw-h-6 bg-neutral-20 d-md-inline-flex d-none"></span>

                        <div class="position-relative flex-grow-1">
                            <input type="text"
                                class="border-0 focus-outline-0 bg-transparent placeholder-text-sm placeholder-text-neutral-500 tw-text-sm w-100 tw-pe-150-px-res"
                                placeholder="Search for products, categories or brands...">
                            <button type="submit"
                                class="btn responsive-btn btn-main hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-205 tw-px-6 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border d-inline-flex align-items-center tw-gap-205 position-absolute top-50 translate-middle-y tw-end-0 tw-duration-200 group group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold d-lg-flex d-none">Search</span>
                                <span class="d-flex tw-text-xl group-hover-text-white z-1">
                                    <i class="ph ph-magnifying-glass"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- form location start -->

                <button type="button" class="open-search tw-text-505 d-md-none d-flex">
                    <i class="ph-bold ph-magnifying-glass"></i>
                </button>

                <div class="group flex-shrink-0 d-sm-flex d-none">
                    <a href="account-page.html"
                        class="btn responsive-btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-7 group active--translate-y-2 tw-p-1 rounded-pill border-main-600 border"
                        data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold">Log in</span>
                    </a>
                </div>

                <div class="group flex-shrink-0">
                    <a href="account-page.html"
                        class="btn responsive-btn btn-main-three-new hover-style-two button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-7 group active--translate-y-2 tw-p-1 rounded-pill border-main-three-600 border"
                        data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label fw-bold">Sign Up</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ====================== Top header new end ====================== -->