<!-- ========================= univercity section start ====================== -->
<div class="bg-main-50 pb-100">
    <div class="container">
        <div class="d-flex align-items-center tw-gap-5 flex-xl-nowrap flex-wrap">
            <div class="tw-max-w-625-px w-100">
                <span class="tw-mb-15 w-100" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="assets/images/thumbs/univercity-three-img1.png" alt="img" class="w-100">
                </span>
                <div class="max-w-500-px w-100">
                    <div class="d-flex align-items-center justify-content-evenly flex-wrap tw-gap-5">
                        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <h3 class="fw-semibold tw-mb-2 counter text-purple-600">
                                689+
                            </h3>
                            <span class="fw-normal tw-text-405 text-neutral-400">
                                Courses
                            </span>
                        </div>
                        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            <h3 class="fw-semibold tw-mb-2 counter text-red-600">
                                90%
                            </h3>
                            <span class="fw-normal tw-text-405 text-neutral-400">
                                Success Rate
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="bg-white tw-px-12 tw-py-15 tw-px-media-32-px tw-rounded-lg tw-mt-17 tw-ms--80-px position-relative z-2">
                <ul class="nav nav-tabs d-flex border-bottom-0 flex-wrap tw-gap-5 tw-mb-12" id="myTab" role="tablist"
                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <li class="nav-item">
                        <button class="nav-link rounded-pill active" id="about-us" data-bs-toggle="tab"
                            data-bs-target="#about-us-pane" type="button" role="tab" aria-controls="about-us-pane"
                            aria-selected="true">About Us</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link rounded-pill" id="business-tab" data-bs-toggle="tab"
                            data-bs-target="#business-tab-pane" type="button" role="tab"
                            aria-controls="business-tab-pane" aria-selected="false">Business</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link rounded-pill" id="marketing-tab" data-bs-toggle="tab"
                            data-bs-target="#marketing-tab-pane" type="button" role="tab"
                            aria-controls="marketing-tab-pane" aria-selected="false">Marketing</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="about-us-pane" role="tabpanel" aria-labelledby="about-us"
                        tabindex="0">
                        @@include('../partials/_univercity-three-tab.html')
                    </div>
                    <div class="tab-pane fade" id="business-tab-pane" role="tabpanel" aria-labelledby="business-tab"
                        tabindex="0">
                        @@include('../partials/_univercity-three-tab.html')
                    </div>
                    <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab"
                        tabindex="0">
                        @@include('../partials/_univercity-three-tab.html')
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================= univercity section end ====================== -->