<!-- =========================== univercity tab section start =========================== -->
<div class="bg-main-50 tw-py-1 tw-ps-105 tw-pe-4 rounded-pill d-inline-flex align-items-center tw-gap-205 tw-mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
    <span class="tw-w-6 tw-h-6 bg-white border-main-100 border rounded-circle d-flex align-items-center justify-content-center text-main-600 tw-text-305">
        <i class="ph-fill ph-star-four"></i>
    </span>
    <span class="fw-normal tw-text-4 text-main-600">
        About Our University
    </span>
</div>
<h3 class="fw-semibold text-neutral-950 tw-mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
    Online Learning Solutions That Meet Your Needs.
</h3>
<p class="fw-normal tw-text-405 text-neutral-400 tw-mb-13" data-aos="fade-up" data-aos-duration="800" data-aos-delay="350">
    Our mission is to provide a transformative educational experience that equips students with the knowledge, skills, and values necessary to thrive in their chosen fields.
</p>
<div class="d-flex align-items-center tw-gap-7 flex-wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
    <div class="max-w-222-px w-100 animation-item">
        <span class="tw-mb-10">
            <img src="assets/images/icon/univercity-three-tab-icon1.png" alt="icon" class="animate__wobble">
        </span>
        <div>
            <h6 class=" tw-mb-3">
                Academic Excellence
            </h6>
            <p class="fw-normal tw-text-4 text-neutral-400">
                Excepteur sint occaecat cupidatat non the proident sunt in culpa
            </p>
        </div>
    </div>
    <div class="max-w-222-px w-100 animation-item">
        <span class="tw-mb-10">
            <img src="assets/images/icon/about-eduly-icon1.png" alt="icon" class="animate__wobble">
        </span>
        <div>
            <h6 class=" tw-mb-3">
                Life Development
            </h6>
            <p class="fw-normal tw-text-4 text-neutral-400">
                Excepteur sint occaecat cupidatat non the proident sunt in culpa
            </p>
        </div>
    </div>
</div>
<!-- =========================== univercity tab section end =========================== -->