<!-- =================== view details section start ======================== -->
<section class="py-100 position-relative">
    <img src="assets/images/shape/view-details-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 tw-mt-204-px tw-ms-100-px animation-upDown d-xl-block d-none z-n1">
    <div class="container">
        <div class="group">
            <div class="bg-white tw-py-4 tw-px-4 tw-rounded-xl border-main-50 border group-hover-shadow-about-us-three tw-duration-300 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="d-flex align-items-center tw-gap-8 flex-lg-nowrap flex-wrap">
                    <span class="tw-max-w-370-px w-100">
                        <img src="assets/images/thumbs/view-details-img1.png" alt="img" class="tw-max-w-370-px w-100">
                    </span>
                    <div class="max-w-715-px">
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap justify-content-between tw-mb-4">
                            <span class="tw-py-2 tw-px-4 rounded-pill border-main-600 border text-main-600">
                                Development
                            </span>
                            <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                <ul class="d-flex align-items-center tw-gap-1">
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    (4.50)
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                                <span class="tw-text-405 text-main-600">
                                    <i class="ph-bold ph-graduation-cap"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-400">
                                    Lessons: <strong>34</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                                <span class="tw-text-405 text-main-600">
                                    <i class="ph-bold ph-user"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-400">
                                    Students :<strong> 654+</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                                <span class="tw-text-405 text-main-600">
                                    <img src="assets/images/thumbs/view-details-img4.png" alt="img">
                                </span>
                                <span class="fw-semibold tw-text-4 text-neutral-200">
                                    Emily Johnson
                                </span>
                            </div>
                        </div>
                        <h4 class="tw-text-details-two-32-px fw-medium text-neutral-950 tw-mb-405">
                            <a href="_course-details.html">
                                3D Animation & Motion Graphics Essentials
                            </a>
                        </h4>
                        <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-5">
                            In this course, We'll learn how to create websites by structuring and styling your pages with HTML and CSS with our top instructor.
                        </p>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                            <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                                <h5 class="fw-semibold text-main-600 ">
                                    $745.00
                                </h5>
                                <h5 class="fw-semibold text-neutral-100">
                                    $945.00
                                </h5>
                            </div>
                            <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-main-600 border" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold tw-text-4">View Details</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="bg-white tw-py-4 tw-px-4 tw-rounded-xl border-main-50 border group-hover-shadow-about-us-three tw-duration-300 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="d-flex align-items-center tw-gap-8 flex-lg-nowrap flex-wrap">
                    <span class="tw-max-w-370-px w-100">
                        <img src="assets/images/thumbs/view-details-img2.png" alt="img" class="tw-max-w-370-px w-100">
                    </span>
                    <div class="max-w-715-px">
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap justify-content-between tw-mb-4">
                            <span class="tw-py-2 tw-px-4 rounded-pill border-main-600 border text-main-600">
                                Development
                            </span>
                            <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                <ul class="d-flex align-items-center tw-gap-1">
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    (4.50)
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                                <span class="tw-text-405 text-main-600">
                                    <i class="ph-bold ph-graduation-cap"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-400">
                                    Lessons: <strong>34</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                                <span class="tw-text-405 text-main-600">
                                    <i class="ph-bold ph-user"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-400">
                                    Students :<strong> 654+</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                                <span class="tw-text-405 text-main-600">
                                    <img src="assets/images/thumbs/view-details-img4.png" alt="img">
                                </span>
                                <span class="fw-semibold tw-text-4 text-neutral-200">
                                    Emily Johnson
                                </span>
                            </div>
                        </div>
                        <h4 class="tw-text-details-two-32-px fw-medium text-neutral-950 tw-mb-405">
                            <a href="_course-details.html">
                                The Future Generation Learning for AI
                            </a>
                        </h4>
                        <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-5">
                            In this course, We'll learn how to create websites by structuring and styling your pages with HTML and CSS with our top instructor.
                        </p>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                            <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                                <h5 class="fw-semibold text-main-600 ">
                                    $745.00
                                </h5>
                                <h5 class="fw-semibold text-neutral-100">
                                    $945.00
                                </h5>
                            </div>
                            <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-main-600 border" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold tw-text-4">View Details</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="bg-white tw-py-4 tw-px-4 tw-rounded-xl border-main-50 border group-hover-shadow-about-us-three tw-duration-300 tw-mb-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="d-flex align-items-center tw-gap-8 flex-lg-nowrap flex-wrap">
                    <span class="tw-max-w-370-px w-100">
                        <img src="assets/images/thumbs/view-details-img3.png" alt="img" class="tw-max-w-370-px w-100">
                    </span>
                    <div class="max-w-715-px">
                        <div class="d-flex align-items-center tw-gap-2 flex-wrap justify-content-between tw-mb-4">
                            <span class="tw-py-2 tw-px-4 rounded-pill border-main-600 border text-main-600">
                                Development
                            </span>
                            <div class="d-flex align-items-center tw-gap-2 flex-wrap">
                                <ul class="d-flex align-items-center tw-gap-1">
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                    <li class="tw-text-5 text-main-600">
                                        <i class="ph-fill ph-star"></i>
                                    </li>
                                </ul>
                                <span class="fw-normal tw-text-4 text-neutral-100">
                                    (4.50)
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-4 flex-wrap tw-mb-4">
                            <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                                <span class="tw-text-405 text-main-600">
                                    <i class="ph-bold ph-graduation-cap"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-400">
                                    Lessons: <strong>34</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                                <span class="tw-text-405 text-main-600">
                                    <i class="ph-bold ph-user"></i>
                                </span>
                                <span class="fw-normal tw-text-4 text-neutral-400">
                                    Students :<strong> 654+</strong>
                                </span>
                            </div>
                            <div class="d-flex align-items-center tw-gap-105 flex-wrap">
                                <span class="tw-text-405 text-main-600">
                                    <img src="assets/images/thumbs/view-details-img4.png" alt="img">
                                </span>
                                <span class="fw-semibold tw-text-4 text-neutral-200">
                                    Emily Johnson
                                </span>
                            </div>
                        </div>
                        <h4 class="tw-text-details-two-32-px fw-medium text-neutral-950 tw-mb-405">
                            <a href="_course-details.html">
                                Business Solution at any Time with Strategy
                            </a>
                        </h4>
                        <p class="fw-normal tw-text-4 text-neutral-400 tw-mb-5">
                            In this course, We'll learn how to create websites by structuring and styling your pages with HTML and CSS with our top instructor.
                        </p>
                        <div class="d-flex align-items-center tw-gap-3 flex-wrap justify-content-between">
                            <div class="d-flex align-items-center tw-gap-1 flex-wrap">
                                <h5 class="fw-semibold text-main-600 ">
                                    $745.00
                                </h5>
                                <h5 class="fw-semibold text-neutral-100">
                                    $945.00
                                </h5>
                            </div>
                            <a href="course-details.html" class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 tw-py-4 tw-px-6 group active--translate-y-2 tw-p-1 tw-pe-8 rounded-pill border-main-600 border" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label fw-bold tw-text-4">View Details</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =================== view details section end ======================== -->