<!-- ======================= why choose us section start ========================== -->
 <section class="py-110">
    <div class="container">
        <div class="tw-mb-80-px text-center">
            <span class="tw-py-2 tw-px-5 bg-main-50 text-main-600 tw-rounded-sm fw-medium tw-text-305 tw-mb-6"  data-aos="fade-up" data-aos-duration="600">
                WHY CHOOSE US
            </span>
            <h4 class="fw-medium text-neutral-600"  data-aos="fade-up" data-aos-duration="800">We Offer Wide Range of Courses</h4>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6"  data-aos="fade-up" data-aos-duration="600">
                <div class="max-w-352-px w-100 animation-item">
                    <div class="text-center">
                        <img src="assets/images/icon/why-choos-us-icon1.png" alt="icon" class="tw-mb-10 animate__bounce">
                        <h6 class="fw-medium tw-text-6 text-neutral-800 tw-mb-7">Grammar Base</h6>
                        <p class="fw-normal tw-text-405 text-neutral-300">World-class training and development programs developed by top teachers Habitant duis voluptate.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6"  data-aos="fade-up" data-aos-duration="800">
                <div class="max-w-352-px w-100 animation-item">
                    <div class="text-center">
                        <img src="assets/images/icon/why-choos-us-icon2.png" alt="icon" class="tw-mb-10 animate__bounce">
                        <h6 class="fw-medium tw-text-6 text-neutral-800 tw-mb-7">World's Best Tutor</h6>
                        <p class="fw-normal tw-text-405 text-neutral-300">World-class training and development programs developed by top teachers Habitant duis voluptate.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6"  data-aos="fade-up" data-aos-duration="1000">
                <div class="max-w-352-px w-100 animation-item">
                    <div class="text-center">
                        <img src="assets/images/icon/why-choos-us-icon3.png" alt="icon" class="tw-mb-10 animate__bounce">
                        <h6 class="fw-medium tw-text-6 text-neutral-800 tw-mb-7">Classified Certificate</h6>
                        <p class="fw-normal tw-text-405 text-neutral-300">World-class training and development programs developed by top teachers Habitant duis voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ======================= why choose us section end ========================== -->

<!-- ======================= why choose us bottom start ============================ -->
<div class="container">
    <div class="d-flex align-items-center tw-gap-3 justify-content-between flex-wrap">
        <div data-aos="fade-up" data-aos-duration="600">
            <h3 class="fw-bold text-gradient-600 tw-mb-4 counter">89k+</h3>
            <span class="fw-medium tw-text-4 text-neutral-300">Active Students</span>
        </div>
        <span class="tw-w-px tw-h-17 bg-gray-200" data-aos="fade-up" data-aos-duration="600"></span>
        <div data-aos="fade-up" data-aos-duration="800">
            <h3 class="fw-bold text-gradient-600 tw-mb-4 counter">270K+</h3>
            <span class="fw-medium tw-text-4 text-neutral-300">Faculty Courses</span>
        </div>
        <span class="tw-w-px tw-h-17 bg-gray-200" data-aos="fade-up" data-aos-duration="800"></span>
        <div data-aos="fade-up" data-aos-duration="1000">
            <h3 class="fw-bold text-gradient-600 tw-mb-4 counter">4239+</h3>
            <span class="fw-medium tw-text-4 text-neutral-300">Awards Winning</span>
        </div>
        <span class="tw-w-px tw-h-17 bg-gray-200" data-aos="fade-up" data-aos-duration="1000"></span>
        <div data-aos="fade-up" data-aos-duration="1200">
            <h3 class="fw-bold text-gradient-600 tw-mb-4 counter">654+</h3>
            <span class="fw-medium tw-text-4 text-neutral-300">Best Professors</span>
        </div>
    </div>
</div>
<!-- ======================= why choose us bottom end ============================ -->