<!-- =================== why choose us top section start ================= -->
<div class="tw-mt--400-px z-3">
    <div class="container">
        <div class="position-relative">
            <span class="w-100 h-100">
                <img src="assets/images/thumbs/why-shoose-us-six-top-img.png" alt="img" class="bg-img" data-aos="zoom-in" data-aos-duration="1500">
            </span>
            <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button tw-w-120-px tw-h-120-px bg-white rounded-circle d-flex align-items-center justify-content-center position-absolute top-50 tw-start-50 translate-middle">
                <span class="tw-w-104-px tw-h-104-px rounded-circle bg-warning-500 tw-text-7 d-flex align-items-center justify-content-center text-neutral-600">
                    <i class="ph-fill ph-play"></i>
                </span>
            </a>
        </div>
    </div>
</div>
<!-- =================== why choose us top section end ================= -->




<!-- ============================= why choose us section start ============================= -->
 <section class="py-110 position-relative">
    <img src="assets/images/shape/blog-six-shape1.png" alt="shape" class="position-absolute top-0 tw-start-0 d-lg-block d-none tw-ms-405 tw-mt--256px animation-scalation">
    <img src="assets/images/shape/why-choos-us-six-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 z-n1 d-lg-block d-none">
    <div class="container">
        <div class="tw-mb-80-px text-center">
            <span class="tw-py-2 tw-px-5 bg-main-50 text-main-600 tw-rounded-sm fw-medium tw-text-305 tw-mb-6 tw-letter-space-2-px"  data-aos="fade-up" data-aos-duration="600">
                WHY CHOOSE US
            </span>
            <h2 class="h4 fw-medium text-neutral-600"  data-aos="fade-up" data-aos-duration="800">We Offer Wide Range of Courses</h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6"  data-aos="fade-up" data-aos-duration="600">
                <div class="max-w-352-px w-100 animation-item">
                    <div class="text-center">
                        <img src="assets/images/icon/why-choos-us-icon1.png" alt="icon" class="tw-mb-10 animate__bounce">
                        <h6 class="fw-medium tw-text-6 text-neutral-800 tw-mb-7">Grammar Base</h6>
                        <p class="fw-normal tw-text-405 text-neutral-300">World-class training and development programs developed by top teachers Habitant duis voluptate.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6"  data-aos="fade-up" data-aos-duration="800">
                <div class="max-w-352-px w-100 animation-item">
                    <div class="text-center">
                        <img src="assets/images/icon/why-choos-us-icon2.png" alt="icon" class="tw-mb-10 animate__bounce">
                        <h6 class="fw-medium tw-text-6 text-neutral-800 tw-mb-7">World's Best Tutor</h6>
                        <p class="fw-normal tw-text-405 text-neutral-300">World-class training and development programs developed by top teachers Habitant duis voluptate.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6"  data-aos="fade-up" data-aos-duration="1000">
                <div class="max-w-352-px w-100 animation-item">
                    <div class="text-center">
                        <img src="assets/images/icon/why-choos-us-icon3.png" alt="icon" class="tw-mb-10 animate__bounce">
                        <h6 class="fw-medium tw-text-6 text-neutral-800 tw-mb-7">Classified Certificate</h6>
                        <p class="fw-normal tw-text-405 text-neutral-300">World-class training and development programs developed by top teachers Habitant duis voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ============================= why choose us section end ============================= -->