<!-- ======================= working process section start ======================== -->
<section class="bg-neutral-50">
    <div style="background-image: url(assets/images/bg/working-process-two-bg-img1.png);" class="bg-img pt-100 position-relative">
        <img src="assets/images/shape/working-process-two-shape1.png" alt="shape" class="position-absolute top-0 tw-end-0 tw-me-120px tw-mt--20-px d-lg-block d-none animation-scalation">
        <img src="assets/images/shape/popular-catagories-two-shape1.png" alt="shape" class="position-absolute top-50 tw-end-0 tw-me-100-px d-lg-block d-none animation-scalation">
        <img src="assets/images/shape/working-process-two-shape2.png" alt="shape" class="position-absolute bottom-0 tw-start-0 tw-mb-120-px d-lg-block d-none animation-upDown">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-6">
                    <div class="max-w-530-px w-100">
                        <div class="tw-py-1 tw-ps-105 tw-pe-4 bg-main-50 rounded-pill d-inline-flex align-items-center tw-gap-3 tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <span class="tw-w-6 tw-h-6 border-main-100 border bg-white rounded-circle text-main-600 d-flex align-items-center justify-content-center tw-text-305">
                                <i class="ph-fill ph-star-four"></i>
                            </span>
                            <span class="fw-normal tw-text-4 text-main-600">
                               Popular Categories
                            </span>
                        </div>
                        <h3 class="fw-semibold text-white tw-mb-7" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            Simple Steps to Success and Find Your Courses
                        </h3>
                        <p class="fw-normal tw-text-4 text-white tw-mb-12" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                            Use the list below to bring attention to your product’s key differentiator. equity invested markets.
                        </p>
                        <span class="w-100 tw-mb--40-px z-2 position-relative w-100 tw-mb-mediy-0" data-aos="zoom-in" data-aos-duration="1500">
                            <img src="assets/images/thumbs/working-process-two-img1.png" alt="img" class="w-100">
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pb-60">
                        <div class="d-flex align-items-center tw-gap-8 group flex-sm-nowrap flex-wrap">
                            <div class="position-relative tw-w-80-px">
                                <span class="tw-h-220-px tw-mt-4 tw-w-05 bg-neutral-10 position-absolute top-0 top-50 tw-start-0 tw-start-50 translate-middle group-hover-bg-main-600 tw-duration-300 d-sm-block d-none">
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle tw-mb--26-px group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle tw-mb--13-px group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                </span>
                                <span class="tw-w-80-px tw-h-80-px bg-white text-main-600 rounded-circle d-flex align-items-center justify-content-center tw-text-6 fw-semibold group-hover-text-white z-1 position-relative group-hover-bg-main-600 tw-duration-300">
                                    01
                                </span>
                            </div>
                            <div>
                                <div class="position-relative bg-white tw-py-8 tw-px-7 tw-rounded-xl group-hover-bg-main-600 tw-duration-300">
                                    <h5 class="fw-semibold text-neutral-500 tw-mb-4 group-hover-text-white tw-duration-300">
                                        Schedule a meeting
                                    </h5>
                                    <p class="fw-normal tw-text-4 text-neutral-400 group-hover-text-white tw-duration-300">
                                        Learn about how them you went down prying the wedding ring off his cold, dead finger. I don’t know what you did, Fry, but once again.
                                    </p>
                                    <span class="tw-w-505 tw-h-6 bg-white tw-rounded-working-two position-absolute top-50 tw-start-0 translate-middle-y tw-ms--20-px group-hover-bg-main-600 tw-duration-300"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-8 group tw-mt-8 flex-sm-nowrap flex-wrap">
                            <div class="position-relative tw-w-80-px">
                                <span class="tw-h-220-px tw-mt-4 tw-w-05 bg-neutral-10 position-absolute top-0 top-50 tw-start-0 tw-start-50 translate-middle group-hover-bg-main-600 tw-duration-300 d-sm-block d-none">
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle tw-mb--26-px group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle tw-mb--13-px group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                </span>
                                <span class="tw-w-80-px tw-h-80-px bg-white text-main-600 rounded-circle d-flex align-items-center justify-content-center tw-text-6 fw-semibold group-hover-text-white z-1 position-relative group-hover-bg-main-600 tw-duration-300">
                                    02
                                </span>
                            </div>
                            <div>
                                <div class="position-relative bg-white tw-py-8 tw-px-7 tw-rounded-xl group-hover-bg-main-600 tw-duration-300">
                                    <h5 class="fw-semibold text-neutral-500 tw-mb-4 group-hover-text-white tw-duration-300">
                                        Schedule a meeting
                                    </h5>
                                    <p class="fw-normal tw-text-4 text-neutral-400 group-hover-text-white tw-duration-300">
                                        Learn about how them you went down prying the wedding ring off his cold, dead finger. I don’t know what you did, Fry, but once again.
                                    </p>
                                    <span class="tw-w-505 tw-h-6 bg-white tw-rounded-working-two position-absolute top-50 tw-start-0 translate-middle-y tw-ms--20-px group-hover-bg-main-600 tw-duration-300"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-8 group tw-mt-8 flex-sm-nowrap flex-wrap">
                            <div class="position-relative tw-w-80-px">
                                <span class="tw-h-220-px tw-mt-4 tw-w-05 bg-neutral-10 position-absolute top-0 top-50 tw-start-0 tw-start-50 translate-middle group-hover-bg-main-600 tw-duration-300 d-sm-block d-none">
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle tw-mb--26-px group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle tw-mb--13-px group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                </span>
                                <span class="tw-w-80-px tw-h-80-px bg-white text-main-600 rounded-circle d-flex align-items-center justify-content-center tw-text-6 fw-semibold group-hover-text-white z-1 position-relative group-hover-bg-main-600 tw-duration-300">
                                    03
                                </span>
                            </div>
                            <div>
                                <div class="position-relative bg-white tw-py-8 tw-px-7 tw-rounded-xl group-hover-bg-main-600 tw-duration-300">
                                    <h5 class="fw-semibold text-neutral-500 tw-mb-4 group-hover-text-white tw-duration-300">
                                        Show Commitment
                                    </h5>
                                    <p class="fw-normal tw-text-4 text-neutral-400 group-hover-text-white tw-duration-300">
                                        Learn about how them you went down prying the wedding ring off his cold, dead finger. I don’t know what you did, Fry, but once again.
                                    </p>
                                    <span class="tw-w-505 tw-h-6 bg-white tw-rounded-working-two position-absolute top-50 tw-start-0 translate-middle-y tw-ms--20-px group-hover-bg-main-600 tw-duration-300"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tw-gap-8 group tw-mt-8 flex-sm-nowrap flex-wrap">
                            <div class="position-relative tw-w-80-px">
                                <span class="tw-h-220-px tw-mt-4 tw-w-05 bg-neutral-10 position-absolute top-0 top-50 tw-start-0 tw-start-50 translate-middle group-hover-bg-main-600 tw-duration-300 d-sm-block d-none">
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle tw-mb--26-px group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle tw-mb--13-px group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                    <span class="tw-text-5 text-neutral-700 position-absolute bottom-0 tw-start-50 translate-middle group-hover-text-main-600 tw-duration-300">
                                        <i class="ph-bold ph-caret-down"></i>
                                    </span>
                                </span>
                                <span class="tw-w-80-px tw-h-80-px bg-white text-main-600 rounded-circle d-flex align-items-center justify-content-center tw-text-6 fw-semibold group-hover-text-white z-1 position-relative group-hover-bg-main-600 tw-duration-300">
                                    04
                                </span>
                            </div>
                            <div>
                                <div class="position-relative bg-white tw-py-8 tw-px-7 tw-rounded-xl group-hover-bg-main-600 tw-duration-300">
                                    <h5 class="fw-semibold text-neutral-500 tw-mb-4 group-hover-text-white tw-duration-300">
                                        Transformation Completed
                                    </h5>
                                    <p class="fw-normal tw-text-4 text-neutral-400 group-hover-text-white tw-duration-300">
                                        Learn about how them you went down prying the wedding ring off his cold, dead finger. I don’t know what you did, Fry, but once again.
                                    </p>
                                    <span class="tw-w-505 tw-h-6 bg-white tw-rounded-working-two position-absolute top-50 tw-start-0 translate-middle-y tw-ms--20-px group-hover-bg-main-600 tw-duration-300"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= working process section end ======================== -->