/* hover bg class start */
@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: var(--#{$color}-#{$shade}) !important;
    }
  }
}

// hover background
@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .hover-bg-#{$color}-#{$shade} {
      &:hover {
        background-color: var(--#{$color}-#{$shade}) !important;
      }
    }
  }
}

.hover-bg-white {
  &:hover {
    background-color: hsl(var(--white)) !important;
  }
}
.hover-bg-black {
  &:hover {
    background-color: hsl(var(--black)) !important;
  }
}

.bg-white {
  &-08 {
    background-color: hsl(var(--white) / 0.08);
  }
  &-13 {
    background-color: hsl(var(--white) / 0.13);
  }
  &-7 {
    background-color: hsl(var(--white) / 0.7);
  }
  &-06 {
    background-color: hsl(var(--white) / 0.06);
  }
}
/* hover bg class end */
.tw-mb-main-10 {
  background-color: #E8F8F5;
}
.bg-neutral-12-persent {
  background-color: #0208421F;
}
.bg-white-32-persent {
  background-color: #FFFFFF52;
}
.bg-white-44-persent {
  background-color: #FFFFFF70;
}