/* Font Size Class Start */
.text {
  &-inherit {
      font-size: inherit;
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}  
/* Font Size Class End */


@each $property, $value in $spaces {
    .tw-text-#{$property} {
      font-size: $value;
    }
}  
/* Font Size Class End */

.tw-text-88-px {
  font-size: clamp(2.25rem, -0.171rem + 5.0436vw, 5.5rem);
}

.tw-text-82-px {
  font-size: clamp(2rem, -0.8881rem + 6.0168vw, 5.125rem);
}
.tw-text-details-two-32-px {
  font-size: clamp(1.25rem, 1.0623rem + 1.0008vw, 2rem);
}
.tw-text-148-px {
  font-size: clamp(2.375rem, -1.6157rem + 10.2326vw, 9.25rem);
}
.tw-text-36-px {
  font-size: clamp(1.5rem, -1.6157rem + 10.2326vw, 2.25rem);
}