/* Gap Css start */
@each $property, $value in $spaces {
  .tw-gap-#{$property} {
    gap: var(--size-#{$property});
  }
}

.tw-gap {
  &-26-px {
    gap: clamp(1rem, 0.0938rem + 4.5vw, 1.625rem);
  }
  &-30-px {
    gap: clamp(1.5rem, 0.0938rem + 4.5vw, 1.875rem);
  }
  &-42-px {
    gap: clamp(1.5rem, 0.0938rem + 4.5vw, 2.625rem);
  }
  &-56-px {
    gap: clamp(1.5rem, -4.48rem + 7.98vw, 3.5rem);
  }
  &-74-px {
    gap: clamp(1.5rem, -24.8393rem + 28.0952vw, 4.625rem);
  }
  &-140-px {
    gap: clamp(1.375rem, -6.3733rem + 16.1423vw, 8.75rem);
  }
}
.tw-gap-112-px {
  gap: 112px;
  @media (max-width: 1199px) {
    gap: 0;
  }
}
.tw-gap-100-px {
  gap: clamp(1.875rem, 0.6807rem + 6.3694vw, 6.25rem);
}
/* Gap Css end */
