// ================= gradient css start =================
.banner-bg-gradient {
    background: linear-gradient(90deg, #F5ECF7 0%, #EBF5FD 100%);
}
// ================= gradient css end =================