/* ======================== Group Css Start =============================== */
.group {
  &:hover {
    .group-hover-text {
      &-white {
        color: hsl(var(--white)) !important;
      }
      &-black {
        color: #000 !important;
      }
      &-main-600 {
        color: var(--main-600) !important;
      }
    }
    .group-hover-bg {
      &-white {
        background-color: hsl(var(--white)) !important;
      }
      &-main-600 {
        background-color: var(--main-600) !important;
      }
      &-warning-600 {
        background-color: var(--warning-600) !important;
      }
      &-danger-700 {
        background-color: var(--denger-700) !important;
      }
    }
    .group-hover-shadow {
      &-about-us-three {
        box-shadow: 6px 6px 2px 0px #031B1624;
      }
    }
  }
  &-hover-text-transition {
    transition: inherit;
  }
}

.tw-invisible {
  visibility: hidden;
}
.tw-blcok {
  display: block;
}
.tw-none {
  display: none;
}

.group-item {
  &:hover {
    .group-hover-item-visible {
      visibility: visible;
    }
    .group-hover-item-invisible {
      visibility: hidden;
      opacity: 0;
    }
    .group-hover-item-opacity-1 {
      opacity: 1 !important;
    }
    .group-hover-item-mt-0 {
      margin-top: 0;
    }
    .group-hover-item-scale-12 {
      transform: scale(1.2);
    }
    .group-hover-item-scale-1 {
      transform: scale(1);
    }
    .group-hover-item-translate-x-0 {
      transform: translateX(0);
    }
    .group-hover-item-d-block {
      display: block !important;
    }
    .group-hover-item-d-none {
      display: none !important;
    }
    .group-hover-item-text-invert-white {
      filter: brightness(0) invert(1);
    }
    .group-hover-item-text-invert-black {
      filter: brightness(0) invert(0);
    }
  }
}
/* ======================== Group Css End =============================== */