/* Height Css Class Start */
@each $property, $value in $spaces {
  .tw-h-#{$property} {
    height: $value;
  }
}

.tw-h {
  &-px {
    height: 1px;
  }
  &-screen {
    height: 100vh;
  }
  &-75-px {
    height: 75px;
  }
   &-22-px {
    height: 22px;
  }
  &-80-px {
    height: 80px;
  }
   &-74-px {
    height: 74px;
  }
  &-84-px {
    height: 84px;
  }
  &-88-px {
    height: 88px;
  }
  &-92-px {
    height: 92px;
  }
  &-104-px {
    height: 104px;
  }
  &-110-px {
    height: 110px;
  }
  &-120-px {
    height: 120px;
  }
  &-132-px {
    height: 132px !important;
  }
  &-156-px {
    height: 156px;
  }
  &-158-px {
    height: 162px;
  }
  &-175-px {
    height: 175px;
  }
  &-180-px {
    height: 180px;
  }
  &-200-px {
    height: 200px;
  }
  &-220-px {
    height: 220px;
  }
  &-320-px {
    height: 320px;
  }
  &-386-px {
    height: 386px;
  }
  &-500-px {
    height: 500px;
  }
}

.tw-min-h {
  &-184-px {
    min-height: 184px;
  }
  &-210-px {
    min-height: 210px !important;
  }
}
/* Height Css Class End */
