/* Max width Css Class Start */
.max-w {
    &-186-px {
        max-width: 186px;
    }
    &-200-px {
        max-width: 200px;
    }
    &-206-px {
        max-width: 206px;
    }
    &-214-px {
        max-width: 214px;
    }
    &-222-px {
        max-width: 222px;
    }
    &-240-px {
        max-width: 240px;
    }
    &-250-px {
        max-width: 250px;
    }
    &-260-px {
        max-width: 260px;
    }
    &-270-px {
        max-width: 270px;
    }
    &-274-px {
        max-width: 274px;
    }
    &-294-px {
        max-width: 294px;
    }
    &-300-px {
        max-width: 300px;
    }
    &-330-px {
        max-width: 330px;
    }
    &-340-px {
        max-width: 340px;
    }
    &-352-px {
        max-width: 352px;
    }
    &-360-px {
        max-width: 360px;
    }
    &-400-px {
        max-width: 400px;
    }
    &-420-px {
        max-width: 420px;
    }
    &-450-px {
        max-width: 450px;
    }
    &-470-px {
        max-width: 470px;
    }
    &-490-px {
        max-width: 490px;
    }
    &-500-px {
        max-width: 500px;
    }
    &-520-px {
        max-width: 520px;
    }
    &-530-px {
        max-width: 530px;
    }
    &-550-px {
        max-width: 550px;
    }
    &-570-px {
        max-width: 570px;
    }
    &-596-px {
        max-width: 596px;
    }
    &-500-px {
        max-width: 500px;
    }
    &-590-px {
        max-width: 590px;
    }
    &-620-px {
        max-width: 620px;
    }
    &-640-px {
        max-width: 640px;
    }
    &-650-px {
        max-width: 650px;
    }
    &-680-px {
        max-width: 680px;
    }
    &-700-px {
        max-width: 700px;
    }
    &-715-px {
        max-width: 715px;
    }
    &-770-px {
        max-width: 770px;
    }
    &-810-px {
        max-width: 810px;
    }
    &-820-px {
        max-width: 820px;
    }
    &-856-px {
        max-width: 856px;
    }
    &-920-px {
        max-width: 920px;
    }
    &-900-px {
        max-width: 900px;
    }
    &-970-px {
        max-width: 970px;
    }
    &-1140-px {
        max-width: 1140px;
    }
    &-1245-px {
        max-width: 1245px;
    }
    &-1290-px {
        max-width: 1290px;
    }
    &-1320-px {
        max-width: 1320px;
    }
    &-1400-px {
        max-width: 1400px;
    }
    &-1450-px {
        max-width: 1450px;
    }
    &-1500-px {
        max-width: 1500px;
    }
    &-1599-px {
        max-width: 1599px;
    }
    &-1620-px {
        max-width: 1620px;
    }
    &-1660-px {
        max-width: 1660px;
    }
    &-1700-px {
        max-width: 1700px;
    }
    &-46-persent {
        max-width: 46%;
    }
    &-60-persent {
        max-width: 60%;
    }
}
/* Max width Css Class End */
.tw-media-max-w-480-px {
    max-width: 480px;
}
.tw-max-w-370-px {
    max-width: 370px;
    @media (max-width: 992px) {
        max-width: 100%;
    }
}
.tw-max-w-550-px {
    max-width: 550px;
    @media (max-width: 992px) {
        max-width: 100%;
    }
}
.tw-max-w-625-px {
    max-width: 625px;
    @media (max-width: 1199px) {
        max-width: 100%;
    }
}