
/* Box shadow start */
.common-shadow {
  box-shadow: 0 6px 30px 0px #0000000a;  
}
.marketing-shadow {
  box-shadow: 6px 12px 37.7px 23px #03023208;
}
.testimonial-two-shadow {
  box-shadow: 6px 19px 154px 5px #2B2B2B;
}
.design-courses-four-shadow {
  box-shadow: 14px 18px 84px 82px #0603300A;
}
.beginner-four__shadow {
  box-shadow: 13px 20px 82.3px 17px #0B022C07;
}
.tw-student-four-shadow {
  box-shadow: 11px 20px 111.3px 31px #18042F0A;
}
.tw-header-four-shadow {
  box-shadow: 0px 10px 101.7px 6px #0000001F;
}
.tw-faq-shadow-five {
  box-shadow: 6px 12px 56.9px 71px #0302320D;
}


.banner-two-shadow-one {
  box-shadow: 6px 6px 2px 0px #031B1624;
}
.hover-details-two-shadow-one:hover {
  box-shadow: 6px 6px 2px 0px #031B1624;
}
.tw-student-two-shadow {
  box-shadow: 3px 3px 2px 0px #031B1624;
}
.tw-apply-here-three-shadow {
  box-shadow: 0px 0px 50px 42px #0E05480A;
}

.new-shadow {
  box-shadow: 6px 4px 146.6px 15px #16064721;
}
.new-shadow-two {
  box-shadow: 6px 4px 146.6px 15px #1606471A;
}
.new-shadow-three {
  box-shadow: 6px 14px 125.3px 0px #13085117;
}

/* Box shadow End */
