/* Transform Css Start */
.origin-left {
  transform-origin: left;
}

.object-top {
  object-position: top;
}
.tw-transform--90-deg {
  transform: rotate(-90deg);
}
.tw-transform-90-deg {
  transform: rotate(90deg);
}
/* Transform Css End */
