.banner-search {
    @media (max-width: 768px) {
        padding-left: 30px;
    }
}
.banner-shape-one  {
    @media (max-width: 992px) { 
        margin-top: 370px;
        inset-inline-start: 40px;
    }
    @media (max-width: 899px) {
        margin-top: 330px;
        inset-inline-start: 42px;
    }
    @media (max-width: 799px) {
        margin-top: 260px;
        inset-inline-start: 24px;
    }
}
.banner-shape-two {
    @media (max-width: 992px) {
        margin-bottom: 120px;
        inset-inline-end: 188px;
    }
    @media (max-width: 860px) {
        margin-bottom: 82px;
        inset-inline-end: 136px;
    }
    @media (max-width: 768px) {
        margin-bottom: 56px;
        inset-inline-end: 80px;
    }
    @media (max-width: 440px) {
        margin-bottom: 44px;
        inset-inline-end: 12px;

    }
}



// ================== banner two css start ======================
.tw-border-bottom-7-px {
    border-bottom: 7px solid #2B2B2B;
}
.tw-border-bottom-6-px {
    border-bottom: 6px solid #FF5224;
}
.tw-banner-two-border {
    border-width: 1px 1px 7px 1px;
    border-style: solid;
    border-color: #FF5224;
}
.banner-img-one {
    @media (max-width: 992px) {
        justify-content: center !important;
        margin-right: 0;
    }
}
.banner-two-shape-two {
    @media (max-width: 1650px) {
        margin-right: -10px !important;
    }
    @media (max-width: 1599px) {
        margin-right: 42px !important;
    }
    @media (max-width: 1499px) {
        margin-right: 70px !important;
    }
    @media (max-width: 992px) {
       margin-right: 106px !important;
    }
    @media (max-width: 768px) {
       margin-right: 40px !important;
    }
    @media (max-width: 399px) {
       margin-right: 10px !important;
    }
}

// ================= banner two css end =======================

.banner-four__item {
    @media (max-width: 1199px) {
        justify-content: center;
    }
}
.banner-four__title-one {
    @media (max-width: 1199px) {
        margin-left: 0;
    }
}
.banner-four__title-two {
    @media (max-width: 1199px) {
        margin-left: 0;
    }
}
.banner-four__text {
    @media (max-width: 1199px) {
        margin-top: 0;
    }
}



// =========================== banner five css start =============================
.banner-five-card {
    @media (max-width: 1199px) {
        margin-left: 0;
    }
    @media (max-width: 992px) {
        margin-left: auto;
        margin-right: auto;
    }
}
// =========================== banner five css end =============================



// =========================== banner six css start ===========================
.banner-six-card {
    mask-image: url(../images/bg/banner-six-bg-img1.png);
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: cover;
    width : 100%;
    height: 100%;
    background-color: #FFFBF8;
}

.banner-two-card {
    @media (max-width: 1199px) {
        display: flex; 
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}
// =========================== banner six css end ===========================
