.tw-flex-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @media (max-width: 1199px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 438px) {
        grid-template-columns: 1fr;
    }
}

.brand-card {
    transition: .5s;
    &:hover {
        border-width: 1px 1px 7px 1px;
        border-style: solid;
        border-color: #FF5224;
    }
}


.left-right-gradient::before, .left-right-gradient::after {
    position: absolute;
    content: "";
    width: 48px;
    height: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    background: linear-gradient(90deg, #ffffff, transparent);
    z-index: 2;
}
.left-right-gradient::after {
    background: linear-gradient(90deg, transparent, #ffffff);
    inset-inline-start: auto;
    inset-inline-end: 0;
}