// =========================== faq five css start ================================
.faq-five-title {
    @media (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }
}
.faq-five-accordion {
    @media (max-width: 1199px) {
        margin-left: 0;
    }
}

.nav-faq-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @media (max-width: 1199px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 574px) {
        grid-template-columns: 1fr;
    }
}

// =========================== faq five css end ================================