/* Feature item start */
.feature-item {
    @media (min-width: 1200px) {
        -webkit-mask-image: url("../images/shape/polygon-shape.png");
        mask-image: url("../images/shape/polygon-shape.png");
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        mask-position: center;
    }
}


.text-stroke {
    color: green;
    -webkit-text-fill-color: #F00;
    -webkit-text-stroke: 3px #111;
}

/* Feature item end */