/* Feature item start */
.feature-item {
    @media (min-width: 1200px) {
        -webkit-mask-image: url("../images/shape/polygon-shape.png");
        mask-image: url("../images/shape/polygon-shape.png");
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        mask-position: center;
    }
}


.text-stroke {
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #39404A;
    transition: .4s;

    &:hover {
        -webkit-text-fill-color: #39404A;
    }
}

/* Feature item end */