// preloader
@import "preloader";
// settings panel
@import "settings-panel";
// header bottom
@import "header";
// mega menu
@import "mega-menu";
// mobile menu
@import "mobile-nav-menu";
// scroll top
@import "scroll-top";
// custom cursor
@import "custom-cursor";
// banner
@import "banner";
// footer
@import "footer";
// online courses
@import "online-courses";
// discount 
@import "discount-offer";
// instructor
@import "instructor";
// testimonial
@import "testimonial";
// marketing
@import "marketing";
// about me
@import "about-me-two";
// brand
@import "brand";
// newslatter
@import "newslatter-two";
// oliva barton
@import "oliva-barton-three";
// marquee
@import "marquee-three";
// faq
@import "faq-five";
// upcoming
@import "recent-upcoming-five";
// course
@import "course-filter";
// search
@import "search";
// popup 
@import "popup";
// account page 
@import "account-page";
// teacher
@import "teacher";
// service
@import "service";