.show-socials-icons__item {
    transform: scale(0);
}
.show-socials-icons.active .show-socials-icons__item {
    transform: scale(1);
}
.instructor-text {
    @media (max-width: 1399px) {
        margin-left: 12px;
        max-width: 300px;
    }
    @media (max-width: 1199px) {
        margin-left: 12px;
        max-width: 420px;
    }
     @media (max-width: 992px) {
        max-width: 300px;
    }
    @media (max-width: 768px) {
        max-width: 480px;
    }
    @media (max-width: 537px) {
        margin-left: 40px;
        max-width: 430px;
    }
    @media (max-width: 506px) {
        margin-left: 40px;
        max-width: 390px;
    }
    @media (max-width: 469px) {
        margin-left: 30px;
        max-width: 360px;
    }
    @media (max-width: 432px) {
        margin-left: 50px;
        max-width: 300px;
    }
    @media (max-width: 399px) {
        margin-left: 40px;
        max-width: 290px;
    }
    @media (max-width: 372px) {
        margin-left: 24px;
        max-width: 290px;
    }
    @media (max-width: 346px) {
        margin-left: 14px;
        max-width: 290px;
    }
    @media (max-width: 334px) {
        margin-left: 14px;
        max-width: 270px;
    }
}
.show-social-icon-button {
    @media (max-width: 1399px) {
        margin-right: -24px;
    }
    @media (max-width: 574px) {
        margin-right: 6px;
    }
    @media (max-width: 537px) {
        margin-right: 6px;
    }
    @media (max-width: 442px) {
        margin-right: -12px;
    }
    @media (max-width: 432px) {
        margin-right: 20px;
    }
    @media (max-width: 399px) {
        margin-right: 0px;
    }
    @media (max-width: 355px) {
        margin-right: -15px;
    }
}
.instructor-bottom__icon {
    @media (max-width: 576px) {
        justify-content: center;
    }
}