.newsletter-two__card {
    @media (max-width: 1199px) {
        padding: 52px;
    }
    @media (max-width: 455px) {
        padding: 30px;
    }
}

.newsletter-two-title {
    @media (max-width: 1199px) {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
    }
}
.newsletter-two-title__text {
    @media (max-width: 1199px) {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
    }
}
.newsletter-two__input {
    @media (max-width: 455px) {
        padding-right: 30px;
    }
    @media (max-width: 350px) {
        padding-right: 0px;

    }
}
.newsletter-two-title__form {
    @media (max-width: 455px) {
        max-width: 284px;
    }
}