.play-button::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    background: #FFFFFF4D;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: animate 2.3s ease-out infinite;
    animation: animate 2.3s ease-out infinite;
}
.play-button-two::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: #870D23;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: animate 2.3s ease-out infinite;
    animation: animate 2.3s ease-out infinite;
}
.play-button-three::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: #FFFFFF4D;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: animate 2.3s ease-out infinite;
    animation: animate 2.3s ease-out infinite;
}