// ========================= services css start ==========================
.custom-accord-content {
    display: none;
}

.accord-icon {
    transform: scale(.2);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.custom-accord-btn.active .accord-icon {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.custom-accord-btn.active .text {
    text-decoration: underline;
}

// ========================= services css end ==========================