/* ================================= Tab Css Start =========================== */
.common-tab {
    .nav-item {
        .nav-link {
            &.active {
                color: hsl(var(--white)) !important;
                border-color: hsl(var(--main)) !important;
            }

            &:hover {
                color: var(--main-600);
            }
        }
    }
}


.nav-link {
    color: #1CB098 !important;
    border: 1px solid #1CB098 !important;
    border-radius: 50%;
}

.nav-tabs .nav-link.active {
    background-color: #1CB098 !important;
    color: #fff !important;
}

.online-course__link {
    display: none;
    transition: .5s;
}

.online-course__item {
    transition: .5s;
}

.online-course-card {
    transition: .5s;
}

.online-course__item:hover {
    .online-course-card {
        display: none;
    }

    .online-course__link {
        display: block;
    }
}


.active-main-text-white {
    .nav-link.active {
        background-color: var(--main-600) !important;
        color: #fff !important;
    }
}

/* ================================= Tab Css End =========================== */